ul.list-unstyled.social.social--auth.text-center
  li.social__item(ng-repeat='provider in social.providers')
    a.social__lnk.social__lnk-auth(ng-click='social.auth(provider.title)', href='', ng-class='provider.color', title="{{('social' | translate) + provider.title}}")
      i.social__ico(ng-class='provider.icon')
