.close.full-profile(ng-hide='isUnregistered', ng-click="openFullProfile(user_id, 'call', this)")
  i.app-icon.app-icon-126
.close(ng-click='$close()')
  i.app-icon.app-icon-7
.user
  .user__avatar(ng-show='contact.isRegistered && contact.isProfileFilled')
    .small-thumb-container
      img(ng-src='{{ avatar.Url }}')
  user-presence(contact='contact', ng-show='contact.isRegistered && contact.isProfileFilled')
  .user__name(ng-bind='profile.FullName', ng-show='contact.isRegistered && contact.isProfileFilled')
  user-presence(contact='contact', ng-show="!contact.isProfileFilled && contact.isRegistered && !profile.BanStatus != 'Banned' && !profile.BanStatus != 'PermanentlyBanned'")
  a.user__name(ng-bind='profile.FullName', ng-show="!contact.isProfileFilled && contact.isRegistered && !profile.BanStatus != 'Banned' && !profile.BanStatus != 'PermanentlyBanned'")
  i.app-icon.app-icon-143(ng-show='!contact.isRegistered')
  a.user__name(ng-click="goSkype(contact.skypeId, 'userinfo')", ng-bind='contact.skypeId', ng-show='!contact.isRegistered')
  .user__rating(ng-show='!isUnregistered && profile.IsFilled && myProfile.IsFilled')
    span.green(ng-bind='rating.Pro | number')
    | /
    span.red(ng-bind='rating.Contra | number')
  .user__favs(ng-show='!isUnregistered && profile.IsFilled && myProfile.IsFilled')
    i.app-icon.app-icon-57
    |         {{ rating.Thanks | number }}
  .user__trust(ng-show='!isUnregistered && profile.IsFilled && myProfile.IsFilled')
    i.app-icon.app-icon-60
    |         {{ ((rating.TrustLevel > 0) && '+') || '' }}{{ rating.TrustLevel | number }}
  .user__badges(ng-show='!isUnregistered && profile.IsFilled && myProfile.IsFilled')
    i.app-icon(ng-repeat='class in contact.getBadgeIconClasses()', ng-class='class')
  .user__name.text(ng-hide='!isUnregistered || (profile.$resolved && profile.IsFilled)')
    | {{'USER_PROFILE_EMPTY' | translate}}
  div(addthis='', url='{{absUrl}}', title='addThisTitle', description='addThisDescription')
