.content-control
  button.btn.btn-df.btn-primary.btn-small(ng-click='thank()') {{'SAY_THANK' | translate}}
  i.app-icon.app-icon-22(ng-show='thanked')
.contact-list-container.thanks-list-container
  h4.profile-title {{'THANKED' | translate}}
  ul.contact-list
    li(ng-repeat='contact in thanker_contacts')
      a(ng-href='#!{{contact.contact.fullProfileUrl(true)}}', target='_blank')
        user-presence(contact='contact.contact')
        |  {{contact.contact.name}}
        span.badge.badge--gray(ng-bind='contact.count', ng-show='contact.count > 1')
