.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h5.centered
    translate REMIND_ABOUT_CALL
  h4.modal-title.centered(ng-bind='profile.FullName')
.modal-body(ng-controller='RemindersCtrl')
  .modal-inner.call-reminder
    form.modal-form.form-inline(action='', ng-submit='submit()')
      .form-group.form-group--inline
        label
          translate IN
        input(type='text', ng-model='timeout.value', required='', integer='')
        .sel-styled.sel-time
          select(ng-model='timeout.unit')
            option(value='1') {{'MINUTES' | translate}}
            option(value='2') {{'HOURS' | translate}}
            option(value='3') {{'DAYS' | translate}}
        button.btn.btn-df.btn-primary.btn-small(type='submit')
          translate ОК
