.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title.centered
    span {{'CALL_TO_USER' | translate}}
    a(href='')
.modal-body
  .modal-inner.call-reminder
    form.modal-form.form-inline(action='')
      button.btn.btn-df.btn-primary.btn-small(dial='12345') {{'CALL' | translate}}
      button.btn.btn-df.btn-small(ng-click='$close()') {{'CANCEL' | translate}}
