// <div class="modal-header modal-header--blue" ng-include="'views/modal/public-profile/_header.html'" ng-init="hideFullView = true"></div>
.modal-header.modal-header--blue.modal-header--blue-light
  .close(ng-click='$close();')
    i.app-icon.app-icon-7
  ng-include(src="'views/app/public-profile/_content-control.html'")
.modal-body.web-call
  .call-video.center.call-fullscreen
    div(ng-click='$close()')
      i.app-icon.app-icon-call-fullscreen
    .calling-video
      .calling-video-container
        .calling-video-me(ng-show='localConstraints.video')
        // <video muted webrtc-role="me" ng-if="modal.scope.switchableStates.webcam"></video>
        img(ng-if='!localConstraints.video', ng-src='{{myAvatar.Url}}')
      .calling-video-partner
        // <video muted webrtc-role="partner"></video>
      button.btn.btn-df.call-control(ng-click="switchState('video')")
        i.app-icon.app-icon-137(ng-class="stateClass('video')")
      button.btn.btn-df.call-control(ng-click="switchState('audio')")
        i.app-icon.app-icon-139(ng-class="stateClass('audio')")
      button.btn.btn-df.call-control(ng-click='close(); hangup()')
        i.app-icon.app-icon-141
