i.app-icon.app-icon-7.close(ng-click='$close()')
.modal-body(ng-switch='currentStep', ng-controller='VoteWizardController')
  .modal-inner.doverie-steps(ng-switch-when='pro-1')
    h4
      | {{'VOTE_RULES' | translate}}
    p.sub-title
      | {{'CLICKING_BUTTON' | translate}}
      span.green "{{'YES' | translate}}"
      |             {{'IM_TRUST' | translate}}
    .err.err-warn(ng-show='showInvalid')
      i.app-icon.app-icon-96
      |  
      translate NO_CHOSEN_ITEMS
    form.modal-form.form-inline(action='')
      span(ng-repeat='reason in valid_trust_reasons.Pro', value='reasons[reason]', title='trust_reasons_locale[reason]', styled-checkbox='')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-click="switchStep('pro-2')")
          | {{'AGREED' | translate}}
        button.btn.btn-df.btn-small(ng-click='$close()') {{'CANCEL' | translate}}
  .modal-inner.doverie-steps.center(ng-switch-when='pro-2')
    h4
      | {{'ARE_YOU_AGREED' | translate}}
    .form-actions
      button.btn.btn-df.btn-primary.btn-small(ng-click="switchStep('thanks')") {{'YES' | translate}}
      button.btn.btn-df.btn-small(ng-click="switchStep('pro-1')") {{'NO' | translate}}
  .modal-inner.doverie-steps(ng-switch-when='contra-1')
    h4
      | {{'VOTE_RULES' | translate}}
    p.sub-title
      | {{'CLICKING_BUTTON' | translate}}
      span.red "{{'NO' | translate}}"
      |             {{'IM_NO_TRUST' | translate}}
    p {{'YOU_CAN_UNTRUST' | translate}}:
    ol.list-ordered
      li {{'TO_BLACKLIST' | translate}}
      li {{'NO_BLACKLIST' | translate}}
    form.modal-form.form-inline(action='')
      .doverie-steps-actions
        button.btn.btn-df.btn-primary.btn-small.btn-net-s1(ng-click="switchStep('contra-2-blacklist')")
          | {{'NOT_TRUST_TO_BLACKLIST' | translate}}
      .doverie-steps-actions
        button.btn.btn-df.btn-primary.btn-small.btn-net-s1(ng-click="switchStep('contra-2')")
          | {{'NOT_TRUST_NO_BLACKLIST' | translate}}
        button.btn.btn-df.btn-small.pull-right(ng-click='$close()') {{'CANCEL' | translate}}
  .modal-inner.doverie-steps(ng-switch-when='contra-2-blacklist')
    h4
      | {{'VOTE_RULES' | translate}}
    p.sub-title {{'NOT_TRUST_TO_BLACKLIST' | translate}}
    .err.err-warn(ng-show='showInvalid')
      i.app-icon.app-icon-96
      |             {{'NO_CHOSEN_ITEMS' | translate}}
    form.modal-form.form-inline(action='')
      .form-body
        label(ng-repeat='reason in valid_trust_reasons.Contra', value='reasons[reason]', title='trust_reasons_locale[reason]', styled-checkbox='')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-click="switchStep('contra-blacklist-entry')") ОК
        button.btn.btn-df.btn-small(ng-click="switchStep('contra-1')") {{'CANCEL' | translate}}
  .modal-inner.doverie-steps(ng-switch-when='contra-blacklist-entry')
    h2 {{'ADDING_RECORD_TO_BLACKLIST' | translate}}
    form.modal-form(action='', ng-submit="switchStep('contra-3')")
      .form-body
        .form-group
          label {{'COMPANY_NAME' | translate}}
          input(ng-model='blacklistEntry.Title', type='text', required='')
        .form-group
          label {{'CONTACT_AND_OTHERS' | translate}}
          .container-textarea
            textarea.large(ng-model='blacklistEntry.Details', required='')
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea.large(ng-model='blacklistEntry.Reason', required='')
        .form-group
          label {{'BRANCH' | translate}}
          room-select(room='blacklistEntry.RoomId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
  .modal-inner.doverie-steps(ng-switch-when='contra-2')
    h4
      | {{'VOTE_RULES' | translate}}
    p.sub-title {{'NO_BLACKLIST' | translate}}
    .err.err-warn(ng-show='showInvalid')
      i.app-icon.app-icon-96
      |             {{'NO_CHOSEN_ITEMS' | translate}}
    form.modal-form(action='', ng-submit="switchStep('contra-3')")
      .form-body
        label(ng-repeat='reason in valid_trust_reasons.ContraWithoutBlacklist', value='reasons[reason]', title='trust_reasons_locale[reason]', styled-checkbox='')
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea(ng-model='customReason.reason', placeholder="{{'BLACKLIST_SOURCE' | translate}}")
      .form-actions
        button.btn.btn-df.btn-primary.btn-small ОК
        button.btn.btn-df.btn-small(ng-click="switchStep('contra-1')") {{'CANCEL' | translate}}
  .modal-inner.doverie-steps.center(ng-switch-when='contra-3')
    h4
      | {{'NO_TRUST_CONFIRM_1' | translate}}
      span.red {{'NO_TRUST_CONFIRM_2' | translate}}
      |             {{'NO_TRUST_CONFIRM_3' | translate}}
    .form-actions
      button.btn.btn-df.btn-primary.btn-small(ng-click="switchStep('thanks')") {{'YES' | translate}}
      button.btn.btn-df.btn-small(ng-click="switchStep('contra-1')") {{'NO' | translate}}
  .modal-inner.doverie-steps.center(ng-switch-when='thanks')
    h4
      | {{'YOUR_VOTE_ACCEPTED' | translate}}
    button.btn.btn-df.btn-primary.btn-small(ng-click='$close()') ОК
