.doverie-list.full-height
  tabset.app-tabset
    tab(active='tab.firstActive')
      tab-heading
        | {{'TRUST' | translate}}
        span.green(ng-bind='rating.Pro')
      .contact-list-container
        ul.contact-list
          li(ng-repeat='contact in pro_contacts')
            i.app-icon.app-icon-26(metrika="'trust-details'", ng-click="modal.openModal({tpl: 'public-profile/doverie-details', class: '', scope: { userId: user_id, voterContact: contact }}); $event.preventDefault()")
            a(ng-href='#!{{contact.fullProfileUrl(true)}}', target='_blank')
              user-presence(contact='contact')
              span(ng-bind='contact.name')
            a(ng-if='myProfile.IsModerator', ng-click='removeVote(contact.rating.UserId)') X
    tab
      tab-heading
        | {{'NOT_TRUST' | translate}}
        span.red(ng-bind='rating.Contra')
      .contact-list-container
        ul.contact-list
          li(ng-repeat='contact in contra_contacts')
            i.app-icon.app-icon-26.pull-right(ng-click="openModal({tpl: 'public-profile/doverie-details', scope: { userId: user_id, voterContact: contact }}); $event.preventDefault()")
            user-presence(contact='contact')
            a(ng-href='#!{{contact.fullProfileUrl(true)}}', target='_blank', ng-bind='contact.name')  
            a(ng-if='myProfile.IsModerator', ng-click='removeVote(contact.rating.UserId)') X
