.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    a(ng-href='#!{{voterContact.fullProfileUrl(true)}}', target='_blank', ng-bind='voterContact.name')
    |         {{'GOT_OPINION' | translate}}
.modal-body(ng-controller='VoteReasonController')
  .modal-inner.doverie-details
    .form-body
      ul.std-list
        li(ng-repeat='reason in vote_reasons.Reasons', ng-bind='vote_reasons_locale[reason]')
        li(ng-if="vote_reasons.Type == 'WithCustomReason'", ng-bind-html='vote_reasons.HtmlCustomReason')
    .form-actions
      button.btn.btn-df.btn-small(ng-click='$close()') {{'CANCEL' | translate}}
