.content-layout.full-height(ng-controller='ProfileCtrl')
  .my-files.full-height(ng-controller='PublicProfileFilesCtrl')
    tabset.app-tabset
      tab(heading="{{'PRICES' | translate}}")
        .content
          .content-item
            table.table.table--inline.table--prices
              tbody
                tr(ng-repeat='file in prices')
                  td
                    .table__title
                      a(ng-href='{{file.link}}') {{file.Description}}
                    .table__metadata
                      .metadata.right-bordered {{file.date | date:'medium'}}
                      .metadata(ng-show="file.Accessibility=='Everyone'")
                        | {{'AVAILABLE_ALL' | translate}}
                      .metadata(ng-show="file.Accessibility=='Partners'")
                        | {{'AVAILABLE_PARTNERS' | translate}}
                      .metadata(ng-show="file.Accessibility=='Nobody'")
                        | {{'AVAILABLE_ME' | translate}}
                      .metadata.metadata--stat.icons
                        span.icons-item(ng-clickbak="openModal({tpl: 'file-views', class: 'mdl-app modal-file-views', scope: {mobile: mobile}})")
                          i.app-icon.app-icon-101
                          |  {{file.DownloadCount}}
      tab(heading="{{'CV' | translate}}")
        .content
          .content-item
            table.table.table--inline.table--cv
              tbody
                tr(ng-repeat='file in resumes')
                  td
                    .table__title
                      a(ng-href='{{file.link}}') {{file.Description}}
                    .table__metadata
                      .metadata.right-bordered {{file.date | date:shortDate}}
                      .metadata(ng-show="file.Accessibility=='Everyone'")
                        | {{'AVAILABLE_ALL' | translate}}
                      .metadata(ng-show="file.Accessibility=='Partners'")
                        | {{'AVAILABLE_PARTNERS' | translate}}
                      .metadata(ng-show="file.Accessibility=='Nobody'")
                        | {{'AVAILABLE_ME' | translate}}
                      .metadata.metadata--stat.icons
                        span.icons-item(ng-clickbak="openModal({tpl: 'file-views', class: 'mdl-app modal-file-views', scope: {mobile: mobile}})")
                          i.app-icon.app-icon-101
                          |  {{file.DownloadCount}}
