div(ng-controller='PublicProfileCtrl')
  .modal-header.modal-header--blue.modal-header--blue-light(ng-include="'views/modal/public-profile/_header.html'")
  .modal-body.public-profile
    .profile-left-bar(ng-include="'views/app/public-profile/_leftBar.html'")
    .modal-inner(ng-if='modal.profile.route', ng-include="'views/modal/public-profile/' + modal.profile.route + '.html'")
