.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  ng-include(src="'views/app/public-profile/_content-control.html'")
.modal-body
  div(map='', save='save', style='height: 100%')
