.content-control
  i.app-icon.app-icon-24(save-dom='#user-messages')
  i.app-icon.app-icon-25(print-dom='#user-messages')
.content.messages(ng-controller='UserMessagesCtrl')
  #user-messages.find-messages(scrolldown='true', humble-scroll='true', humble-scroll-down-on='private-conversation-messages-rendered')
    div(ng-if='messages.length > 0')
      div(ng-repeat='message in messages')
        .find-messages__item(ng-if='$index == 0 || messages[$index - 1].stamp.getDate() != message.stamp.getDate()')
          .chat-date
            i.chat-date__ico.icon-clock
            |  {{message.stamp | date: 'd MMMM yyyy'}}
        .find-messages__item
          .send-author
            .chat-timestamp.pull-right {{message.stamp | date:'H:mm'}}
            a(ng-click='message.contact.showProfile()') {{message.contact.name}}
          .message
            span(xmsg='message.xmlBody')
    div(ng-if='messages.length == 0')
      translate NO_MESSAGES
  .chat-history-pagination(ng-include="'views/app/_paginator-history.html'")
