h4.profile-title
  | {{'YOUR_USER_NOTES' | translate}}
  span.bold.red(ng-show='userDescriptionSaved') {{'NOTES_SAVED' | translate}}
.container-textarea.notes-textarea
  textarea(ng-model='user_description.Description')
.notes-control
  button.btn.btn-df.btn-primary.btn-small.pull-left(type='submit', ng-click='saveDescription()')
    | {{'SAVE' | translate}}
  button.btn.btn-df.btn-small.pull-right(type='button', ng-click="user_description.Description = ''")
    | {{'CLEAR' | translate}}
script.
  //iPad keyboard dirty fix
  if (check.ipad()) {
  $('input, textarea').on('blur', function() {
  $(window).scrollTop(0);
  });
  }
