.content-control
  h2.modal-profile-title {{'USER_PARTNERS' | translate}}
.contact-list-container.partners-list-container
  ul.contact-list
    li(ng-repeat='contact in partner_contacts')
      a(ng-href='#!{{contact.fullProfileUrl(true)}}', target='_blank')
        user-presence(contact='contact')
        |  {{contact.name}}
