.center(ng-show='isMyPartner()')
  h3.modal-profile-title
    i.app-icon.app-icon-97
    |  {{'YOUR_PARTNER' | translate}}
  button.btn.btn-df.btn-primary.btn-small(ng-click='removePartnership()')
    | {{'REMOVE_FROM_PARTNERS' | translate}}
.center(ng-show='!isMyPartner() && isMyOutgoingPartner()')
  h4.modal-profile-title.partner-title
    | {{'PARTNER_REQUEST_SENT' | translate}}
    span {{'WAIT_FOR_DECISION' | translate}}
  .partner-text {{'SECOND_REQUEST_TIP' | translate}}
  button.btn.btn-df.btn-primary.btn-small(ng-click='acceptPartnership(); inviteResent = true', ng-hide='inviteResent')
    | {{'SEND_SECOND_REQUEST' | translate}}
  h4(ng-show='inviteResent') {{'REQUEST_SENT' | translate}}
.center(ng-show='!isMyPartner() && isMyIncomingPartner()')
  h4.modal-profile-title.partner-title
    | {{'PARTNER_REQUEST' | translate}}
    span {{'MAKE_DECISION' | translate}}
  button.btn.btn-df.btn-primary.btn-small(ng-click='acceptPartnership()') {{'ACCEPT_REQUEST' | translate}}
  button.btn.btn-df.btn-primary.btn-small(ng-click='removePartnership()') {{'DECLINE_REQUEST' | translate}}
div(ng-show='!isMyPartner() && !(isMyOutgoingPartner() || isMyIncomingPartner())')
  h4.modal-profile-title
    | {{'ADDING_USER_TO_PARTNERS' | translate}}
  .partner-add
    button.btn.btn-df.btn-primary.btn-small(ng-click='acceptPartnership()') {{'SEND_INVITE' | translate}}
