.content-layout(ng-hide="modal.isset('no-prices')")
  .content-control
    input.input-block-level(type='text', placeholder="{{'SearchPrices' | translate}}")
  .my-files(ng-controller='ProfileCtrl')
    .content-item(ng-repeat='file in Files')
      .title
        a(href='#') {{file.title}}
      .content-text.clearfix
        span.date {{file.date}}
        span {{'AVAILABLE_TO_ALL' | translate}}
        span.icons
          span.icons-item
            i.app-icon.app-icon-101
            |  20
.center(ng-show="modal.isset('no-prices')")
  h4.modal-profile-title.prices-title
    | {{'NO_FILES_THERE' | translate}}
    span {{'YOU_CAN_ASK_USER' | translate}}
  button.btn.btn-df.btn-primary.btn-small(ng-click="modal.profile.setRoute('send')")
    | {{'CONTACT_WITH_USER' |
    | translate}}
  .prices-text
    | {{'PRICE_LOADER_DESCR' | translate}}
