div(ng-show="!isUnregistered && profile.IsFilled && profile.BanStatus != 'PermanentlyBanned' && profile.BanStatus != 'Banned'")
  .prfl__item.no-brd
    .prfl__img
      .middle-thumb-container
        img(ng-src='{{ avatar.Url }}', alt='profile.FullName')
    .prfl__cnt
      .prfl__ttl.lnks-check
        span.lnks-check__txt(ng-bind='profile.FullName')
        a.lnk-dashed-color.lnks-check__item.align-top(ng-if="currentLang == 'ru'", metrika="'profile-to-user-check'", ng-href="{{appPath('individuals', { moduleName: 'check', roomId: 1 })}}")
          translate CheckUser
      dl.dl-horizontal.dl-users.dl-cmp-group(ng-repeat='position in profile.Positions', ng-if='position.IsConfirmed')
        dt
          translate COMPANY
        dd.lnks-check
          a(ui-sref='app.companies-room-item({roomId: position.Company.RoomUrlName, companyId: position.Company.Id})', ng-bind='position.Company.FullName')
          a.lnk-dashed-color.lnks-check__item.align-top(ng-if="currentLang == 'ru'", metrika="'profile-to-company-check'", ui-sref="app.check-room-tab({tabName: 'company', roomId: 1, state: 'search', query: position.Company.FullName})")
            translate CheckCompany
        dt(ng-if='position.Title')
          translate POSITION
        dd(ng-if='position.Title', ng-bind='position.Title')
      dl.dl-horizontal.dl-users.dl-cmp-group(ng-if='profile.Positions.length == 0')
        dt
          translate COMPANY
        dd.lnks-check
          span(ng-bind='profile.Company')
          a.lnk-dashed-color.lnks-check__item.align-top(ng-if="currentLang == 'ru'", ui-sref="app.check-room-tab({tabName: 'company', roomId: 1, state: 'search', query: profile.Company})")
            translate CheckCompany
        dt(ng-if='profile.Job')
          translate POSITION
        dd(ng-if='profile.Job', ng-bind='profile.Job')
      dl.dl-horizontal.dl-users
        dt(ng-show='profile.TaxId')
          translate INN
        dd(ng-show='profile.TaxId', ng-bind='profile.TaxId')
  .doverie
    .doverie-track
      .doverie-line
        .doverie-yes(ng-style="{ width: (rating.Pro / ((rating.Pro/1) + (rating.Contra/1))) * 190 + 'px' }")
        .doverie-no(ng-style="{ width: (rating.Contra / ((rating.Pro/1) + (rating.Contra/1))) * 190  + 'px' }")
      .doverie-text(ng-show='myProfile.IsFilled')
        span
          translate TRUST
          |&nbsp;
          span.green(ng-bind='rating.Pro | number')
        span
          translate NOT_TRUST
          |&nbsp;
          span.red(ng-bind='rating.Contra | number')
        i.app-icon.app-icon-88(metrika="'trust-list'", ng-click="modal.route('doverie-list')")
      .doverie-text.red(ng-hide='myProfile.IsFilled', translate='DATA_NOT_AVAILABLE')
    .doverie-control
      .doverie-text(ng-class='{ grey: !myProfile.IsFilled }')
        translate DO_YOU_TRUST_USER
      .btn-group(metrika="'user-trusts'")
        button.btn.btn-df.btn-small(type='button', ng-class='{ active: rating.MyTrust > 0, disabled: !myProfile.IsFilled }', ng-click='setTrust(true)')
          translate YES
        button.btn.btn-df.btn-small(type='button', ng-class='{ active: rating.MyTrust < 0, disabled: !myProfile.IsFilled }', ng-click='setTrust(false)')
          translate NO
  .profile-details
    .prfl__item
      dl.dl-horizontal.prfl__dl
        dt(ng-if='profile.Country')
          translate COUNTRY
        dd(ng-if='profile.Country', ng-bind='profile.Country')
        dt(ng-if='profile.City')
          translate CITY
        dd(ng-if='profile.City', ng-bind='profile.City')
        dd(ng-if='profile.Coordinates')
          a(href='', ng-click="modal.openModal({tpl: 'public-profile/map', class: 'mdl-app modal-profile modal-userMap', scope: {profile: profile, avatar: avatar, rating: rating}})", translate='WATCH_ON_MAP')
    .prfl__item(ng-if='!myProfile.IsFilled')
      .profile-details__err.red
        translate CONTACTS_AVAILABLE_TO_USERS_WITH_PROFILE
    .prfl__item(ng-if='myProfile.IsFilled')
      dl.dl-horizontal.prfl__dl
        dt(ng-if='profile.Phone')
          translate PHONE
        dd(ng-if='profile.Phone')
          a(ng-href="{{ 'tel:' + profile.Phone }}", ng-bind='profile.Phone')
        dt(ng-if='profile.Mobile')
          translate MOBILE_PHONE
        dd(ng-if='profile.Mobile')
          a(ng-href="{{ 'tel:' + profile.Mobile}}", ng-bind='profile.Mobile')
        dt(ng-if='profile.Fax')
          translate FAX
        dd(ng-if='profile.Fax', ng-bind='profile.Fax')
        dt
          | Email
        dd
          a.lnk-icon(href='', pm-restricted, ui-sref="app.user-private-chat({ id: profile.UserId })")
            i.lnk-icon__ico.icon-messages
        dt(ng-if='profile.SkypeAccount')
          | Skype
        dd(ng-if='profile.SkypeAccount')
          a(ng-click="goSkype(profile.SkypeAccount, 'userinfo')", ng-bind='profile.SkypeAccount')
        dt(ng-if='profile.Website')
          translate SITE
        dd(ng-if='profile.Website')
          a(target='_blank', ng-href='{{:: profile.Website }}', ng-bind='profile.Website')
    .prfl__item(ng-show='profile.AboutInformation')
      dl.dl-horizontal.prfl__dl
        dt
          translate ABOUT_ME
        dd(ng-bind='profile.AboutInformation')
    .prfl__item(ng-show='profile.Interests')
      dl.dl-horizontal.prfl__dl
        dt
          translate INTERESTS
        dd(ng-bind='profile.Interests')
    .prfl__item
      ul.lst-interest
        li.lst-interest__ttl
          h3
            translate INTERESTED_IN
        li(ng-repeat='room in userRooms', ng-bind='room.title')
.empty-profile(ng-show="!(profile.BanStatus == 'PermanentlyBanned' || profile.BanStatus == 'Banned') && (isUnregistered || (profile && profile.$resolved && !profile.IsFilled))")
  .content-item
    h4.modal-profile-title.center
      | {{:: 'USER_DIDNT_FILLED_PROFILE' | translate}}
      span.bold.red {{:: 'TRUST_RATE' | translate}} 0
  .content-item.center
    .title(ng-hide='profile.IsLegacySkypeUser', translate='EMPTY_PROFILE_DESCR')
    button.btn.btn-df.btn-small.btn-primary(ng-click="modal.route('send')", ng-hide='isUnregistered || profile.IsLegacySkypeUser', translate='SEND_MESSAGE')
    h4(ng-hide='!isUnregistered || (isUnregistered && myProfile.IsFilled)', translate='CONTACTS_AVAILABLE_TO_USERS_WITH_PROFILE')
.empty-profile(ng-show="profile.BanStatus == 'Banned'")
  .content-item
    h4.modal-profile-title.center(translate='userBanned')
.empty-profile(ng-show="profile.BanStatus == 'PermanentlyBanned'")
  .content-item
    h4.modal-profile-title.center(translate='userBannedAndDeleted')
