.content-layout(ng-controller='modalRecommends')
  .content-control
    form.form-inline(action='')
      .sel-styled
        select(ng-model='selectedSection')
          option(value='0', selected='') {{'ALL_DIVISIONS' | translate}}
          option(ng-repeat='section in sections', value='{{section.Id}}') {{section.Label}}
  .content
    .content-item
      div(paginator='pagination')
      table.table.table--inline.table--recommends
        tbody
          tr(ng-repeat='rec in myFilteredRecommends | startFrom:currentPage * pageSize | limitTo:pageSize')
            td
              .table__message
                .table__title
                  a(href='{{rec.Link}}', target='_blank') {{rec.Link}}
                |                  {{rec.Description}}
              .icons
                span.icons-item(ng-click='vote(rec, 1)')
                  i.app-icon.app-icon-118
                  |  {{rec.Pro}}
                span.icons-item(ng-click='vote(rec, -1)')
                  i.app-icon.app-icon-120
                  |  {{rec.Contra}}
      div(paginator='pagination')
