#WebRTCCtrl.web-call-wrap.full-height(ng-controller='WebRTCCtrl', ng-class='containerClass()')
  .web-call(ng-switch='', on='action')
    .web-call-inner.call-error.center(ng-switch-when='failure', ng-init='pluginNotif = false')
      .plugin-notif(ng-show='pluginNotif')
        | {{'WAIT_FOR_PLUGIN_INIT' | translate}}
        br
        button.btn.btn-df(ng-click='pluginNotif = false') OK
      ipad
        .calling-avatars
          .avatar
            .middle-thumb-container
              img(ng-src='{{opponentAvatar.Url}}')
        .red.bold(style='margin-top:-20px;')
          | {{'YOUR_DEVICE_INVALID' | translate}}
          p
            a(ng-href='skype:{{opponentProfile.SkypeAccount}}?call')
              button.btn.btn-df {{'TRY_TO_CALL_BY_SKYPE' | translate}}
      noipad
        i.web-call-img.i-alert
        .red.bold
          | {{'YOUR_BROWSER_INVALID' | translate}}
        |  {{'INSTALL_MODERN_BROWSER' | translate}}
        ul.browsers
          li
            a.text-hide.browser-chrome(href='http://www.google.com/intl/ru/chrome/browser/', target='_blank') Chrome
        a.btn.btn-df(href='https://www.google.com/intl/ru/chrome/browser/?brand=CHMO#eula', target='_blank')
          | {{'INSTALL_BROWSER'
          | | translate}}
    .web-call-inner.call-connect.center(ng-switch-when='connect')
      i.web-call-img.i
      .red.bold
        translate PLUG_THE_MIC
        br
        translate OR_WEBCAM
      button.btn.btn-df.btn-primary(dial='user_id')
        i.app-icon.app-icon-131
        translate RE_CALL
    .web-call-inner.call-connect.center(ng-switch-when='participant_device_error')
      i.web-call-img.i
      .red.bold
        translate PARTICIPANT_DEVICE_ERROR
      button.btn.btn-df.btn-primary(dial='user_id')
        i.app-icon.app-icon-131
        translate RE_CALL
    .web-call-inner.call-calling.center(ng-switch-when='calling')
      .calling-avatars.clearfix
        .avatar.pull-left
          .middle-thumb-container
            img(ng-src='{{myAvatar.Url}}')
        #circleG.pull-left
          #circleG_1.circleG
          #circleG_2.circleG
          #circleG_3.circleG
        .avatar.pull-right
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      button.btn.btn-df.call-control(metrika="'video-call'", ng-click="switchState('video')")
        i.app-icon.app-icon-137(ng-class="stateClass('video')")
      button.btn.btn-df.call-control(metrika="'audio-call'", ng-click="switchState('audio')")
        i.app-icon.app-icon-139(ng-class="stateClass('audio')")
      button.btn.btn-df.call-control(ng-click='hangup()')
        i.app-icon.app-icon-141
    .web-call-inner.call-active.center(ng-switch-when='active')
      .calling-avatars.clearfix
        .pull-left
          .calling-video-me(ng-show='localConstraints.video')
          .avatar(ng-if='!localConstraints.video')
            .middle-thumb-container
              img(ng-src='{{myAvatar.Url}}')
          // <video muted webrtc-role="me" ng-if="switchableStates.webcam"></video>
        .avatar.pull-right
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      button.btn.btn-df.call-control(ng-click="switchState('video')")
        i.app-icon.app-icon-137(ng-class="stateClass('video')")
      button.btn.btn-df.call-control(ng-click="switchState('audio')")
        i.app-icon.app-icon-139(ng-class="stateClass('audio')")
      button.btn.btn-df.call-control(ng-click='hangup()')
        i.app-icon.app-icon-141
    .web-call-inner.call-video.center(ng-switch-when='video')
      i.app-icon.app-icon-call-fullscreen(ng-click='openFullScreenCall()')
      .calling-video
        .calling-video-container
          .calling-video-me(ng-show='localConstraints.video')
          .avatar(ng-if='!localConstraints.video')
            .middle-thumb-container
              img(ng-src='{{myAvatar.Url}}')
        .calling-video-partner
          // <video muted webrtc-role="partner">
      button.btn.btn-df.call-control(ng-click="switchState('video')")
        i.app-icon.app-icon-137(ng-class="stateClass('video')")
      button.btn.btn-df.call-control(ng-click="switchState('audio')")
        i.app-icon.app-icon-139(ng-class="stateClass('audio')")
      button.btn.btn-df.call-control(ng-click='hangup()')
        i.app-icon.app-icon-141
    .web-call-inner.call-video.call-video-error.center(ng-switch-when='video_failure')
      i.app-icon.app-icon-call-fullscreen(ng-click="modal.openModal({tpl: 'public-profile/call-full', class: 'call-full modal-profile', scope: this })")
      .calling-video
        .calling-video-me(webrtc-role='me')
        .calling-video-partner
      .red.bold
        | {{'CANT_SEE_YOU' | translate}}
      |             {{'PLUG_THE_MIC' | translate}} {{'OR_WEBCAM' | translate}}
      br
      button.btn.btn-df.call-control(ng-click='hangup()')
        i.app-icon.app-icon-141
    .web-call-inner.call-no-answer.center(ng-switch-when='no_answer')
      .calling-avatars
        .avatar
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      .red.bold
        | {{'CALL_FAILED' | translate}}
      button.btn.btn-df.btn-primary(dial='user_id')
        i.app-icon.app-icon-131
        | {{'RE_CALL' | translate}}
      button.btn.btn-df(ng-click="openModal({tpl: 'public-profile/call-reminder', class: 'mdl-app modal-small', readyScope: this})")
        i.app-icon.app-icon-91
        | {{'REMIND_LATER' | translate}}
    .web-call-inner.call-no-answer.center(ng-switch-when='busy')
      .calling-avatars
        .avatar
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      .red.bold
        | {{'USER_BUSY' | translate}}
      button.btn.btn-df.btn-primary(dial='user_id')
        i.app-icon.app-icon-131
        | {{'RE_CALL' | translate}}
      button.btn.btn-df(ng-click="openModal({tpl: 'public-profile/call-reminder', class: 'mdl-app modal-small', readyScope: this})")
        i.app-icon.app-icon-91
        | {{'REMIND_LATER' | translate}}
    .web-call-inner.call-no-answer.center(ng-switch-when='offline')
      .calling-avatars
        .avatar
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      .red.bold
        | {{'USER_OFFLINE' | translate}}
      button.btn.btn-df(ng-click="openModal({tpl: 'public-profile/call-reminder', class: 'mdl-app modal-small', readyScope: this})")
        i.app-icon.app-icon-91
        | {{'REMIND_ABOUT_CALL' | translate}}
    .web-call-inner.call-no-answer.not-supported.center(ng-switch-when='receiver-unsupported')
      .calling-avatars
        .avatar
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      .red.bold
        | {{'USER_INVALID' | translate}}
      |             {{'RECOMMEND_HIM' | translate}}
      br
      | {{'MODERN_BROWSER' | translate}}
      br
      button.btn.btn-df(ng-click='recommend()') {{'SEND_RECOMMENDATION' | translate}}
    .web-call-inner.call-no-answer.not-supported.center(ng-switch-when='receiver-unsupported-mobile')
      .calling-avatars
        .avatar
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      .red.bold
        | {{'USER_INVALID' | translate}}
    .web-call-inner.call-calling.center(ng-switch-when='waiting')
      .calling-avatars.clearfix
        .avatar.pull-left
          .middle-thumb-container
            img(ng-src='{{myAvatar.Url}}')
        #circleG.pull-left
          #circleG_1.circleG
          #circleG_2.circleG
          #circleG_3.circleG
        .avatar.pull-right
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      .red.bold.text-below-avatars {{'CONNECTION_ESTABLISHED' | translate}}
      button.btn.btn-df.call-control(ng-click="switchState('video')")
        i.app-icon.app-icon-137(ng-class="stateClass('video')")
      button.btn.btn-df.call-control(ng-click="switchState('audio')")
        i.app-icon.app-icon-139(ng-class="stateClass('audio')")
      button.btn.btn-df.call-control(ng-click='hangup()')
        i.app-icon.app-icon-141
    .web-call-inner.call-end.center(ng-switch-when='done')
      .calling-avatars
        .avatar
          .middle-thumb-container
            img(ng-src='{{opponentAvatar.Url}}')
      .green.bold
        | {{'CALL_ENDED' | translate}}
        span.call-time ({{ callDuration }})
      .call-rating
        .call-rating__ttl {{'RATE_CALL_QUALITY' | translate}}
        rating(value='userVote.rating', max='5')
      button.btn.btn-df.btn-primary(dial='user_id')
        i.btn-df__ico.icon-call
        translate RE_CALL
  private-chat.chat-in-call(auto-read='true', user-id='user_id', ng-if='user_id')
