.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_VIDEO' | translate}}
.modal-body(ng-controller='VideosRemoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='video.user')
        .metadata {{video.created | date:'medium'}}
      .modal__metadata
        .metadata.right-bordered
          | {{'BRANCH' | translate}}: 
          a(href='') {{video.room}}
        .metadata
          | {{'CATEGORY' | translate}}: 
          a(href='') {{video.section}}
    .modal-heading
      .table__video.pull-left
        img(ng-src='{{ modal.thumb }}')
      .modal-heading__cnt
        a.modal-heading__txt(ng-href='') {{video.name}}
        .modal-heading__descr
          span(ng-bind-html='video.description | linky')
    form.modal-form(action='', ng-submit='remove(video)')
      .form-body
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea(ng-model='video.reason')
        .form-group
          label {{'NOTE_MODERATOR' | translate}}
          .container-textarea
            textarea.small(ng-model='video.note')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'DELETE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
