.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_VIDEO' | translate}}
.modal-body
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='video.user')
        .metadata {{video.date}}
      .modal__metadata
        .metadata.right-bordered
          | {{'BRANCH' | translate}}: 
          a(href='') {{video.room}}
        .metadata
          | {{'CATEGORY' | translate}}: 
          a(href='') {{video.section}}
    .modal-heading
      .table__video.pull-left
        img(src='http://i2.ytimg.com/vi/2S99-jIuiF4/default.jpg')
      .modal-heading__cnt
        a.modal-heading__txt(ng-href='') {{video.Name}}
        .modal-heading__descr
          span(ng-bind-html='video.Description | linky')
    form.modal-form(action='', ng-submit='edit(video)')
      .form-body
        .form-group
          .container-textarea
            textarea
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
