.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_VIDEO' | translate}}
.modal-body(ng-controller='VideosMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='video.user')
        .metadata {{video.created | date:'medium'}}
    .modal-heading
      .table__video.pull-left
        img(ng-src='{{video.thumb}}')
      .modal-heading__cnt
        a.modal-heading__txt(ng-href='') {{video.name}}
        .modal-heading__descr
          span(ng-bind-html='video.description | linky')
    form.modal-form(action='', ng-submit='move(video)')
      .form-body
        .form-group.lst-typeahead.lst-typeahead--rel
          label {{'BRANCH' | translate}}
          room-select(room='video.roomId')
        .form-group
          label {{'CATEGORY' | translate}}
          .sel-styled
            select(required='', ng-model='video.sectionId', ng-options='section.Id as section.Name for section in sections')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading || !video.sectionId', type='submit')
          | {{'MOVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
