.btn {
  padding: $btn-padding;
  text-decoration: none;

  &:active {
    box-shadow: none;
  }

  &--default {
    background: transparent;
    padding: 0;
    border: 0 none;
  }
  &--primary {
    @include btn-theme($primary-color);
  }
  &--primary-light {
    @include btn-theme($primary-light-color);
  }
  &--extra {
    @include btn-theme($extra-color);
  }
  &--light {
    @include btn-theme($light-color);
  }
  &--transparent {
    @include btn-theme($transparent-dark);
  }
  &--primary,
  &--primary-light,
  &--extra,
  &--light {
    line-height: $btn-line-height;
  }
  &--fs-lg {
    font-size: 24px;
  }
  &--lg {
    font-size: 24px;
    padding: $btn-pl-padding-v $btn-pl-padding-h ($btn-pl-padding-v - 1);
  }
  &--md {
    font-size: 18px;
  }
  &--sm {
    font-size: 14px;
    padding: $btn-sm-padding-v $btn-sm-padding-h ($btn-sm-padding-v - 1);
  }
  &--text-sm {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 14px;
  }
  &--wide {
    padding-left: 100px;
    padding-right: 100px;
  }
  &--100 {
    width: 100%;
  }
}

.btn-back {
  padding: 0;
  padding-right: 12px;
  height: 30px;
  border: 0;

  &__icon {
    height: 30px;
    width: 34px;
    background: $primary-color;
    display: inline-block;
    margin-right: 12px;

    &::after {
      content: '';
      background-image: url('../images/sprite/sprite.png');
      @include sprite($arrow-right);
      position: relative;
      top: 8px;
      margin: auto;
    }
    &--plus {
      &::after {
        content: '+';
        background-image: none;
        font-size: 25px;
        height: 25px;
        top: 0;
      }
    }
  }
  &:hover &__icon {
    background: darken($primary-color, 10);
  }
}
