.dl {
  margin-top: 0;
  margin-bottom: 0;

  &__dt {
    float: left;
    width: 140px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: $font-family-bold;
  }
  &__dd {
    margin-left: 150px;
  }
  &__dt,
  &__dd {
    padding-bottom: 5px;
  }
}
