.dropdown-menu {
  box-shadow: none;
}

.drpdwn {

  &__btn {
    text-align: center;
    border: 1px solid transparent;
    padding-left: $drpdwn-padding-h;
    padding-right: $drpdwn-padding-h;

    &:hover {
      border-color: $color-border;
    }

    .open & {
      border-color: $color-border;
      border-bottom-color: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__ttl {
    color: $color-drpdwn;
    border-bottom: 1px dashed $color-drpdwn;
  }
  &__caret {
    border-top-color: $color-drpdwn;
    margin-left: 6px;
  }
  &__menu {
    margin: 0;
    border-color: $color-border;
    border-top: 0 none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    right: 0;
  }
}

.drpdwn-menu {

  &__lnk {
    color: $color-drpdwn-menu-item;
    text-decoration: none;
    padding-left: 8px!important;
    padding-right: 8px!important;

    &:hover {
      color: $color-drpdwn!important;
      text-decoration: none;
      background: transparent!important;
    }
  }
}
