textarea {
  resize: none;
}

.form-group {
  margin-bottom: $form-group-padding;

  &__item {
    margin-bottom: $form-group-padding;
  }
  &--bordered {
    margin-bottom: $form-group-padding;
    padding-bottom: $form-group-padding + 5;
    border-bottom: 1px solid $color-border-light;
  }
}

.form-label {
  font-family: $font-family-bold;
  font-size: 18px;
}

.form-control {
  font-size: 14px;
  padding-left: $btn-styled-padding-h;
  padding-right: $btn-styled-padding-h;

  &--lg {
    $input-padding: $btn-padding + 5px;

    font-size: 18px;
    padding-top: $input-padding;
    padding-bottom: $input-padding - 1;
    height: 18px * $btn-line-height + $input-padding * 2 - 1;
  }
  .err & {
    border-color: $color-extra!important;
    box-shadow: 0 0 6px lighten($color-extra, 50%);
  }
}

.form-info {
  padding-top: 10px;
  color: $gray-middle-2;
}

.form-set {
  padding-bottom: 20px;

  &--bordered {
    border-bottom: 1px solid $color-border-gray;
    margin-bottom: 40px;
  }
}

.chckbx,
.radiobtn {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  &--inline {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;
    &:first-child {
      margin-left: 0;
    }
  }
}

input {
  &[type="radio"],
  &[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 5px;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    & + span  {
      display: inline-block;
      position: relative;
      font-family: $font-family-light;

      &::before {
        content: '';
        display: inline-block;
        vertical-align: top;
        background-color: transparent;
        border: 2px solid $border-color-checkbox;
        transition : border 0.2s ease-out;
        margin-right: $checkbox-padding;
      }
      &::after {
        content: '';
        position: absolute;
        opacity: 0;
      }
    }
    &:checked {
      & + span {
        &::after {
          opacity: 1;
        }
      }
    }
    &:focus {
      + span {
        &::before {
          border-color: darken($border-color-checkbox, 10);
        }
      }
    }
  }
  &[type="checkbox"] {
    & + span {
      line-height: $checkbox-size;

      &::before {
        width: $checkbox-size;
        height: $checkbox-size;
        border-radius: $border-radius-checkbox;
      }
      &::after {
        width: 13px;
        height: 8px;
        top: 6px;
        left: 5px;
        border: 2px solid $border-color-checkbox;
        border-top: none;
        border-right: none;
        background: transparent;
        transform: rotate(-45deg);
      }
    }
  }
  &[type="radio"] {
    & + span {
      line-height: $radio-size;
      &::before {
        width: $radio-size;
        height: $radio-size;
        border-radius: 50%;
      }
      &::after {
        width: $radio-size - 12;
        height: $radio-size - 12;
        top: 6px;
        left: 6px;
        background-color: $border-color-checkbox;
        border-radius: 50%;
      }
    }
  }
}

.lst-tags {
  @include inline-list();

  &__item {
    font-family: $font-family-light;

    &:not(:last-child):after {
      content: ',';
    }
  }
  &__close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: $blue-gray-lighter;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;

    &:hover,
    &:focus {
      background: $red;
    }
  }
  &__close-ico {
    @include sprite($close-sm);
    margin: auto;
  }
}

.form-actions {
  margin-top: 40px;

  &__btn {
    & + & {
      margin-left: 15px;
    }
  }
}

.file-upload {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: $color-link;

  &__input {
    cursor: inherit;
    display: block;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    -webkit-user-select: none;
  }
}

.upload {
  @include clearfix();

  &__img {
    float: left;
    width: 220px;
    margin-right: 35px;
  }
  &__pic {
    margin-bottom: 10px;
  }
  &__lnk {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.files {

  &__list {
    padding-bottom: 15px;
  }
  &__item {
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    display: inline-block;
    width: 340px;
    border-bottom: 1px solid $color-border-light;
  }
  &__del {
    position: absolute;
    top: 19px;
    left: calc(100% + 20px);
  }
  &__upload {
    margin-bottom: 15px;
  }
}

.upload-files {
  position: relative;
  @include clearfix();

  &__left {
    width: 220px;
    float: left;
  }
  &__right {
    float: left;
    width: 360px;
    padding-left: 20px;
    position: relative;
  }
}

.required {
  position: relative;

  &::after {
    content: '*';
    color: $color-extra;
    position: absolute;
    font-size: 24px;
    line-height: 1;
    top: 0;
    right: -15px;
  }
}
