.gallery,
.gallery-nav {
  width: 860px;
  &--md {
    width: 560px;
  }
}
.gallery {
  margin-bottom: 10px;
}

.gallery-nav {
  padding-left: 40px;
  padding-right: 40px;

  &__item {
    img {
      width: 90px!important;
      height: 60px!important;
    }
  }

  .slick-prev,
  .slick-next {
    background: $blue-gray-lighter-2;
    border-radius: 0;
    width: 30px;
    height: 60px;
    top: 0;

    &::after {
      top: 21px;
      border-color: $blue;
    }

    &:hover,
    &:focus {
      background: $blue-gray;
      &::after {
        border-color: white;
      }
    }
  }
  .slick-prev {
    left: 0;

    &::after {
      left: 12px;
    }
  }
  .slick-next {
    right: 0;

    &::after {
      right: 12px;
    }
  }
}
