.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $outer-margin;
  padding-left: $outer-margin;
  width: $main-width + $outer-margin * 2;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

.row.reverse {
  flex-direction: row-reverse;
}

.grid.reverse {
  flex-direction: column-reverse;
}

.grid,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-offset-1,
.grid-offset-2,
.grid-offset-3,
.grid-offset-4,
.grid-offset-5,
.grid-offset-6,
.grid-offset-7,
.grid-offset-8,
.grid-offset-9,
.grid-offset-10,
.grid-offset-11,
.grid-offset-12 {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}

.grid {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.grid-1 {
  flex-basis: 8.333333333%;
  max-width: 8.333333333%;
}

.grid-2 {
  flex-basis: 16.666666667%;
  max-width: 16.666666667%;
}

.grid-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-4 {
  flex-basis: 33.333333333%;
  max-width: 33.333333333%;
}

.grid-5 {
  flex-basis: 41.666666667%;
  max-width: 41.666666667%;
}

.grid-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-7 {
  flex-basis: 58.333333333%;
  max-width: 58.333333333%;
}

.grid-8 {
  flex-basis: 66.666666667%;
  max-width: 66.666666667%;
}

.grid-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-10 {
  flex-basis: 83.333333333%;
  max-width: 83.333333333%;
}

.grid-11 {
  flex-basis: 91.666666667%;
  max-width: 91.666666667%;
}

.grid-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.grid-offset-1 {
  margin-left: 8.333333333%;
}

.grid-offset-2 {
  margin-left: 16.666666667%;
}

.grid-offset-3 {
  margin-left: 25%;
}

.grid-offset-4 {
  margin-left: 33.333333333%;
}

.grid-offset-5 {
  margin-left: 41.666666667%;
}

.grid-offset-6 {
  margin-left: 50%;
}

.grid-offset-7 {
  margin-left: 58.333333333%;
}

.grid-offset-8 {
  margin-left: 66.666666667%;
}

.grid-offset-9 {
  margin-left: 75%;
}

.grid-offset-10 {
  margin-left: 83.333333333%;
}

.grid-offset-11 {
  margin-left: 91.666666667%;
}

.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

.grid {
  &--xs {
    max-width: 220px;
    flex-basis: 220px;
  }
}
