.icon {
  vertical-align: middle;

  &--edit {
    @include sprite($edit);
    margin-right: 10px;
    display: inline-block;
  }
  &--edit-dark {
    @include sprite($edit-dark);
    margin-right: 10px;
    display: inline-block;
  }
  &--star {
    @include sprite($star);
    margin-right: 10px;
    display: inline-block;
  }
  &--star-green {
    @include sprite($star-green);
    margin-right: 10px;
    display: inline-block;
  }
  &--list {
    @include sprite($list);
    margin-right: 10px;
    display: inline-block;
  }
  &--map {
    @include sprite($map);
    margin-right: 10px;
    display: inline-block;
  }
  &--back {
    @include sprite($back);
    margin-right: 10px;
    display: inline-block;
  }
  &--pdf {
    @include sprite($pdf);
    margin-right: 10px;
    display: inline-block;
  }
  &--doc {
    @include sprite($doc);
    margin-right: 10px;
    display: inline-block;
  }
  &--jpg {
    @include sprite($jpg);
    margin-right: 10px;
    display: inline-block;
  }
  &--xls {
    @include sprite($xls);
    margin-right: 10px;
    display: inline-block;
  }
  &--zip {
    @include sprite($zip);
    margin-right: 10px;
    display: inline-block;
  }
  &--photo {
    @include sprite($photo);
    margin-right: 10px;
    display: inline-block;
  }
}
