$modal-padding: 60px;

.modal-close {
  float: right;
  color: $color-link;
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover,
  &:focus {
    color: $color-link-hover;
  }
}

.modal-dialog {
  width: 762px;
}

.modal-title {
  padding-bottom: 0;
}

.modal-body {
  padding: 0 $modal-padding;
}
.modal-header {
  border-bottom: 0;
}
.modal-footer {
  border-top: 0;
  text-align: left;
}
.modal-header,
.modal-footer {
  padding: ($modal-padding / 2) $modal-padding;
}

.modal-content {
  border-radius: 0;
}
