.pagination {
  padding-top: 25px;

  &__item {
    display: inline-block;
    & + & {
      margin-left: 6px;
    }
  }
  &__lnk {
    $btn-color: $blue-gray-lighter-2;
    font-size: 18px;
    font-family: $font-family-light;
    width: 40px;
    background: $btn-color;
    color: $color-text;
    padding-bottom: 5px;

    &:hover,
    &:focus {
      background: darken($btn-color, 6);
    }
    .active & {
      background-color: $blue-gray;
      color: white;
    }
  }
  &__btn {
    $btn-color: $primary-light-color;
    background: $btn-color;
    color: white;

    &:hover,
    &:focus {
      background: darken($btn-color, 6);
      color: white;
    }
  }
}
