$close-sm: -4px -4px 8px 8px;
$arrow-right: -4px -20px 16px 12px;
$registration: -4px -40px 14px 14px;
$login: -4px -62px 14px 14px;
$lock: -4px -84px 12px 14px;
$star-green: -4px -106px 16px 15px;
$exit: -4px -129px 16px 15px;
$star: -4px -152px 16px 15px;
$settings: -4px -175px 16px 16px;
$edit-dark: -4px -199px 16px 16px;
$edit: -4px -223px 16px 16px;
$sign-up: -4px -247px 29px 17px;
$key: -4px -272px 22px 18px;
$map: -4px -298px 26px 19px;
$list: -4px -325px 24px 21px;
$photo: -4px -354px 24px 21px;
$user: -4px -383px 18px 22px;
$search: -4px -413px 23px 23px;
$vk: -4px -444px 24px 24px;
$instagram: -4px -476px 24px 24px;
$fb: -4px -508px 24px 24px;
$back: -4px -540px 24px 24px;
$doc: -4px -572px 22px 28px;
$xls: -4px -608px 22px 28px;
$jpg: -4px -644px 22px 28px;
$pdf: -4px -680px 22px 28px;
$docx: -4px -716px 22px 28px;
$zip: -4px -752px 22px 28px;
$png: -4px -788px 22px 28px;
$gif: -4px -824px 22px 28px;
$ppt: -4px -860px 22px 28px;
$xlsx: -4px -896px 22px 28px;
$pptx: -4px -932px 22px 28px;
$KTPP: -4px -968px 27px 39px;
$ok-lg: -4px -1015px 48px 48px;
$in-lg: -4px -1071px 48px 48px;
$tw-lg: -4px -1127px 48px 48px;
$vk-lg: -4px -1183px 48px 48px;
$fb-lg: -4px -1239px 48px 48px;
$pptx-lg: -4px -1295px 44px 56px;
$png-lg: -4px -1359px 44px 56px;
$ppt-lg: -4px -1423px 44px 56px;
$pdf-lg: -4px -1487px 44px 56px;
$jpg-lg: -4px -1551px 44px 56px;
$xls-lg: -4px -1615px 44px 56px;
$docx-lg: -4px -1679px 44px 56px;
$xlsx-lg: -4px -1743px 44px 56px;
$doc-lg: -4px -1807px 44px 56px;
$gif-lg: -4px -1871px 44px 56px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../images/sprite/sprite.png');
}

