.table {
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  text-align: right;

  &__th {
    font-family: $font-family-bold;
    font-size: 18px;

    &:first-child {
      text-align: left;
    }
    &:not(:last-child) {
      border-right: 20px solid white;
    }
  }
  &__td {
    padding-top: 15px;

    &:first-child {
      width: 45%;
      text-align: left;
    }
    &:not(:last-child) {
      border-right: 20px solid white;
    }
  }
  &__th,
  &__td {
    border-bottom: 1px solid $color-border-light;
    padding-bottom: 10px;
  }
}
