/*.tab-content {

  & > .tab-pane {
    display: block;
    height: 0;
  }
  & > .active {
    height: auto;
  }
}*/

.nav-tabs {
  border: 0 none;

  & > li {
    margin-bottom: 0;
  }
}

.tabpanel {
  &__nav {
    border-bottom: 1px solid $blue-2;
  }
  &__content {
    margin-top: 45px;
  }
}

.tabs {

  &__lnk {
    background: $blue-gray-lighter-2!important;
    border: 0 none!important;
    border-radius: 0!important;
    font-size: 18px;
    color: $gray-middle-2;
    text-decoration: none;
    padding: 14px 50px 12px!important;
    line-height: 1!important;
    margin-right: 10px!important;

    &:hover {
      background: #dae0e2!important;
      color: $gray-middle-2;
    }

    .active & {
      background: $blue-2!important;
      color: white!important;
    }

    &--7 {
      padding: 14px 10px 12px!important;
      width: 158px;
      height: 62px;
      text-align: center;
    }
  }
}
