tabset.app-tabset
  tab
    tab-heading
      i.app-icon.app-icon-39(tooltip="{{'ALL' | translate}}", tooltip-placement='bottom')
    input.form-control.input-sm.chat-contact-list-search(type='text', placeholder="{{'SEARCHING' | translate}}", ng-model='listFilter.query', ng-model-options='{ debounce: 300 }', metrika="'chat-contacts-search'")
    .chat-contact-list.with-form
      ul
        li(ng-repeat='contact in filteredUsers.All.online')
          a(ng-click='contact.showProfile()')
            i.app-icon.app-icon-21.chat-contact-list__status
            span.chat-contact-list__item
              span.contact-fullname(ng-bind='::contact.FullName')
              span.contact-company(ng-if='contact.Positions.length == 0', ng-bind='::contact.Company')
              span.contact-company(ng-if='contact.Positions.length > 0', ng-bind='::contact.Positions[0].Company.FullName')
        li(ng-repeat='contact in filteredUsers.All.offline')
          a(ng-click='contact.showProfile()')
            i.app-icon.app-icon-30.chat-contact-list__status
            span.chat-contact-list__item
              span.contact-fullname(ng-bind='::contact.FullName')
              span.contact-company(ng-if='contact.Positions.length == 0', ng-bind='::contact.Company')
              span.contact-company(ng-if='contact.Positions.length > 0', ng-bind='::contact.Positions[0].Company.FullName')
        li(ng-if='rosterInitiated')
          a(ui-sref='app.users-room({roomId:$roomName})')
            i.icon-users.chat-contact-list__status
            span.chat-contact-list__item
              translate TotalUsers
              | :
              b(ng-bind='roomUsers')
  tab
    tab-heading
      i.app-icon.app-icon-40(metrika="'chat-show-experts'", tooltip="{{'EXPERTS' | translate}}", tooltip-placement='bottom')
    .chat-contact-list
      ul
        li(ng-repeat='contact in filteredUsers.experts.online')
          a(ng-click='contact.showProfile()')
            i.app-icon.app-icon-21.chat-contact-list__status
            span.chat-contact-list__item
              span.contact-fullname(ng-bind='::contact.FullName')
              span.contact-company(ng-if='contact.Positions.length == 0', ng-bind='::contact.Company')
              span.contact-company(ng-if='contact.Positions.length > 0', ng-bind='::contact.Positions[0].Company.FullName')
        li(ng-repeat='contact in filteredUsers.experts.offline')
          a(ng-click='contact.showProfile()')
            i.app-icon.app-icon-30.chat-contact-list__status
            span.chat-contact-list__item
              span.contact-fullname(ng-bind='::contact.FullName')
              span.contact-company(ng-if='contact.Positions.length == 0', ng-bind='::contact.Company')
              span.contact-company(ng-if='contact.Positions.length > 0', ng-bind='::contact.Positions[0].Company.FullName')
  tab
    tab-heading
      i.app-icon.app-icon-41(metrika="'chat-show-moderators'", tooltip="{{'MODERATORS' | translate}}", tooltip-placement='bottom')
    .chat-contact-list
      ul
        li(ng-repeat='contact in filteredUsers.moderators.online')
          a(ng-click='contact.showProfile()')
            i.app-icon.app-icon-21.chat-contact-list__status
            span.chat-contact-list__item
              span.contact-fullname(ng-bind='::contact.FullName')
              span.contact-company(ng-if='contact.Positions.length == 0', ng-bind='::contact.Company')
              span.contact-company(ng-if='contact.Positions.length > 0', ng-bind='::contact.Positions[0].Company.FullName')
        li(ng-repeat='contact in filteredUsers.moderators.offline')
          a(ng-click='contact.showProfile()')
            i.app-icon.app-icon-30.chat-contact-list__status
            span.chat-contact-list__item
              span.contact-fullname(ng-bind='::contact.FullName')
              span.contact-company(ng-if='contact.Positions.length == 0', ng-bind='::contact.Company')
              span.contact-company(ng-if='contact.Positions.length > 0', ng-bind='::contact.Positions[0].Company.FullName')
  tab
    tab-heading
      i.app-icon.app-icon-42(metrika="'chat-show-lawyers'", tooltip="{{'LAWYERS' | translate}}", tooltip-placement='bottom')
    .chat-contact-list
      ul
        li(ng-repeat='contact in filteredUsers.lawyers.online')
          a(ng-click='contact.showProfile()')
            i.app-icon.app-icon-21.chat-contact-list__status
            span.chat-contact-list__item
              span.contact-fullname(ng-bind='::contact.FullName')
              span.contact-company(ng-if='contact.Positions.length == 0', ng-bind='::contact.Company')
              span.contact-company(ng-if='contact.Positions.length > 0', ng-bind='::contact.Positions[0].Company.FullName')
        li(ng-repeat='contact in filteredUsers.lawyers.offline')
          a(ng-click='contact.showProfile()')
            i.app-icon.app-icon-30.chat-contact-list__status
            span.chat-contact-list__item
              span.contact-fullname(ng-bind='::contact.FullName')
              span.contact-company(ng-if='contact.Positions.length == 0', ng-bind='::contact.Company')
              span.contact-company(ng-if='contact.Positions.length > 0', ng-bind='::contact.Positions[0].Company.FullName')
.chat-promoted(ng-switch="randomPromoted.type")
  i.icon-star2.chat-promoted__star
  a(ng-switch-when="Advertisement",
  ng-bind="randomPromoted.item.title",
  ui-sref="app.merchants-room-tab-offer({ tabName: 'board', roomId: $roomId, offerId: randomPromoted.item.id })").chat-promoted__lnk
  a(ng-switch-when="Nothing", ui-sref="app.merchants-room({ roomId: $rootRoomId, layout: 'my' })").chat-promoted__lnk
    translate PinChat
  a(ng-switch-default,
  ng-bind="randomPromoted.item.title", ui-sref="app.merchants-offer-id({ id: randomPromoted.item.id })").chat-promoted__lnk
