input.form-control.input-sm.chat-contact-list-search(type='text', ng-model='contactListFilter1.$', placeholder="{{'SEARCHING' | translate}}")
.chat-contact-list
  ul
    li(ng-repeat="contact in contacts | filter:contactListFilter1 | orderBy:'order'")
      a(ng-click='contactClick(contact)', ng-class='{active: selectedContact.id == contact.id}')
        span.badge(ng-if='contact.messengerCounter.count') {{ contact.messengerCounter.count }}
        |  {{ contact.profile.FullName }}
