div(messenger-inputs='')
  .chat-filter.filter
    form.form-inline.chat-filter__form(action='', ng-submit='showFilteredMessages(customFilterQuery, roomId)')
      input.form-control.input-sm.chat-filter__inpt(required='', type='text', placeholder="{{'SearchChat' | translate}}", ng-model='customFilterQuery')
      button.btn.btn-df.btn-primary.chat-filter__btn(type='submit') {{'SEARCH' | translate}}
    .chat-history(ng-include="'views/app/chat/chat-history.html'")
  .private-messages(scroll-glue='', humble-scroll='true', humble-scroll-on-down='chat-messages-read')
    div(ng-repeat='message in messages', right-click-menu="[{label: 'QUOTE', action: 'makeQuote(message, $text)', class: 'quotable-action', icon: 52}]")
      .chat-messages__item.chat-item(ng-if='$index == 0 || messages[$index - 1].stamp.getDate() != message.stamp.getDate()')
        .chat-item__left
        .chat-item__center
          .chat-date
            i.chat-date__ico.icon-clock
            |  {{ message.stamp | date:'d MMMM yyyy' }}
        .chat-item__right
      .chat-messages__item.chat-item(ng-if='message.hidden != true')
        .chat-item__left
        .chat-item__center
          .send-author
            .chat-timestamp.pull-right
              .dropdown.drdwn.chat-actions(popup-adjust='bottom', ng-hide='message.deleted')
                i.app-icon.app-icon-69.dropdown-toggle
                ul.chat-actions__lst.dropdown-menu.dropright
                  li.chat-actions-lst__item(ng-show='message.mine')
                    a.chat-actions-lst__lnk(href='', ng-click='startEditing(message.id) && replaceNewMessageText(getMessageText(message))')
                      i.chat-actions-lst__ico.icon-edit
                      translate EDIT
                  li.chat-actions-lst__item
                    a.chat-actions-lst__lnk(href='', ng-click='replaceNewMessageText(getMessageText(message), {select: true})')
                      i.chat-actions-lst__ico.icon-copy
                      translate COPY
                  li.chat-actions-lst__item
                    a.chat-actions-lst__lnk(href='', ng-click="appendNewMessageText(getMessageText(message, 'quote'), {lineBreak: true})")
                      i.chat-actions-lst__ico.icon-quote
                      translate QUOTE
                  li.chat-actions-lst__item(ng-show='message.mine')
                    a.chat-actions-lst__lnk(href='', ng-click='conversation.deleteMessage(message)')
                      i.chat-actions-lst__ico.icon-close2
                      translate DELETE
              |              {{message.stamp | date:'H:mm'}}
              i.app-icon.app-icon-68.chat-timestamp__edited(ng-show='message.edited')
            div
              .auth__user(user-name='message.contact.profile', ng-bind='message.contact.profile.FullName')
              .user-company(ng-bind='message.contact.profile.Company')
          quotable.message(quotable='message', ng-style='{ color: messageColor(message) }')
            span.message-del(ng-if='message.deleted') {{'MESSAGE_REMOVED' | translate}}
            span(xmsg='message.xmlBody', highlight='chatSearch', ng-hide='message.deleted')
            i.app-icon.app-icon-unwatched
        .chat-item__right
    div(ng-repeat='fileUpload in fileUploads')
      .chat-messages__item.chat-item(ng-if='fileUpload.active')
        .chat-item__left
        .chat-item__center
          .send-author
            div
              .auth__user(user-name='message.contact.profile', ng-bind='::$root.myProfile.FullName')
              .user-company(ng-bind='::$root.myProfile.Company')
          .message
            .file-transfer.file-loading
              .file-pic
              .file-title(ng-bind='::fileUpload.name')
              .file-sub
                .load-line
                  .load-complete(ng-style="{width: fileUpload.progress + '%'}")
                |                  {{ fileUpload.progress }}%
                span.file-size
                  | ({{ fileUpload.loaded / 1024 | number:0 }}Kb/{{ fileUpload.total / 1024 | number:0}}Kb)
                span.file-cancel(ng-click='fileUpload.abort()')
                  i.app-icon.app-icon-130
                  |  {{'CANCEL_DOWNLOAD' | translate}}
        .chat-item__right
  form.chat-input.chat-item
    .chat-item__left
    .chat-item__center
      .text-input-textarea(ng-file-drop='onFileSelect($files)')
        i.dragover__ico.icon-paperclip
        // <ng-include src="'views/app/chat/chat-tune.html'"></ng-include>
        ul.chat-tune
          li.chat-tune__item.chat-smiles.dropdown.drdwn
            a.chat-tune__lnk.chat-smiles__lnk.dropdown-toggle(href='')
              i.icon-smile.chat-smiles__ico
            .chat-smiles__drdw.dropdown-menu.dropright.dropup.clearfix
              ul.smiles-list.smiles-big
                li(ng-click='appendNewMessageText(emoticon.Shortcuts[0])', ng-repeat='emoticon in emoticons.big')
                  img(ng-src='{{ emoticon.ImageUrl }}', alt='{{ emoticon.Name }}')
              ul.smiles-list.smiles-small
                li(ng-click='appendNewMessageText(emoticon.Shortcuts[0])', ng-repeat='emoticon in emoticons.small')
                  img(ng-src='{{ emoticon.ImageUrl }}', alt='{{ emoticon.Name }}')
          li.chat-tune__item
            label.chat-file-upload(for='privateFile')
              i.chat-tune__lnk.icon-paperclip
              input#privateFile.ng-hide(type='file', ng-file-select='onFileSelect($files)', multiple='')
        #chatInput.text-input-text(ng-style="{ 'background-color': !!newMessage.editingMessageId && '#eeffee' }")
          textarea#chat-paste-zone(message-input-to="'conversation-' + conversation.id", ng-style="{ 'background-color': !!newMessage.editingMessageId && '#eeffee' }", ng-model='newMessage.text', ng-keyup='keyup($event)')
    .chat-item__right
      button.btn.btn-df.btn-primary.chat-input__btn(type='submit', ng-click='sendMessage(newMessage)')
        i.app-icon.app-icon-66
        |  
        translate.responsive-hide SEND
