.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title
    translate MAIL_SETTINGS
.modal-body
  .modal-inner
    form.modal-form(ng-submit="mailSettings.save()")
      .form-body
        .form-group
          .sel-styled
            select(ng-model="mailSettings.mailingDays" ng-change="mailSettings.selectDays()")
              option(value="Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday" translate="MailSettings.EveryDay")
              option(value="Monday,Wednesday,Friday" translate="MailSettings.MWF")
              option(value="Wednesday" translate="MailSettings.Wednesday")
              option(value="" translate="MailSettings.Never")
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit')
          translate SAVE
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate CANCEL