.content-item
  .paginator
    ui-pagination(total-items='reviewsAdmin.totalItems', page='reviewsAdmin.currentPage', on-select-page='reviewsAdmin.changePage(page)', items-per-page='10')
  table.table.table--admin.table--admin-reviews(ng-class='')
    tbody
      tr(ng-class="{'table__tr--active': !review.isApproved}", ng-repeat='review in reviewsAdmin.reviews')
        td
          .table__metadata
            .metadata.right-bordered
              .auth__user(user-name='review.user')
            .metadata {{review.created | date:'medium'}}
            .metadata.metadata--stat.icons
              span.icons-item
                a(ng-click="newWinRoute([ review.roomUrlName, 'item', review.id ])")
                  i.app-icon.app-icon-95
                  |  {{review.commentsCount.Count}}
              div(vote='review.vote')
            .metadata.metadata--stat.submargin.icons.hide
              span.icons-item
                a(ng-href='')
                  i.app-icon.app-icon-comm
          .table__message
            | {{review.text}}
        td.table-actions.my-edit-controls
          div(ng-hide='review.isDeleted')
            button.btn.btn-df.btn-primary(ng-hide='review.isApproved', ng-click='reviewsAdmin.approve(review)')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'admin/reviews/edit', class: 'mdl-app modal-admin', cb: reviewsAdmin.reload, scope: {review: review}})")
              i.app-icon.app-icon-79
            button.btn.btn-df(ng-hide='review.isDeleted', ng-click="openModal({tpl: 'admin/reviews/delete', class: 'mdl-app modal-admin', cb: reviewsAdmin.reload, scope: {review: review}})")
              i.app-icon.app-icon-99
          button.btn.btn-df(ng-show='review.isDeleted', ng-click='reviewsAdmin.restore(review)')
            i.app-icon.app-icon-deleted
  .paginator
    ui-pagination(total-items='reviewsAdmin.totalItems', page='reviewsAdmin.currentPage', on-select-page='reviewsAdmin.changePage(page)', items-per-page='10')
