.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate AddBid
.modal-body
  .modal-inner
    p
      translate AddBidDescription
    .modal-heading.bl-media.bl-good
      .bl-media__l-obj
        img.thumb__object(ng-if='bidAdd.offer.pictures.length != 0', ng-src='{{bidAdd.offer.pictures[0].thumbnailLink}}')
      .bl-media__body
        a.bl-good__ttl(href='', ui-sref='app.merchants-room-tab-offer({roomId: bidAdd.offer.roomUrlName, tabName: kind, offerId: bidAdd.offer.id})', ng-bind='::bidAdd.offer.title', ng-click='$close()')
        .status
          translate IN_STOCK
          | : {{::bidAdd.offer.currentAmount}} {{ ::bidAdd.priceUnits[bidAdd.offer.priceUnit] }}
        .price
          span(ng-bind='::bidAdd.offer.priceValue')
          |  {{::bidAdd.currencyCodes[bidAdd.offer.currencyCode]}} / {{::bidAdd.priceUnits[bidAdd.offer.priceUnit]}}
    form.modal-form.bid-form(name='createBidForm', action='', ng-submit='bidAdd.addBid()')
      .form-body
        .form-group.clearfix
          .bid-form__col1.pull-left(style='width: 80%')
            .bid-form__col.bid-price.pull-left
              label.bid-price__lbl(for='bidPrice')
                translate YOUR_PRICE
              input#bidPrice.form-control.bid-price__input(min='1', required='', ng-model='bidAdd.bid.OfferedMoney', type='number', placeholder='{{::bidAdd.offer.priceValue}}')
              |&nbsp;
              span(ng-bind='::bidAdd.currencyCodes[bidAdd.offer.currencyCode]')
            .bid-form__col.bid-value.pull-left
              label.bid-value__lbl(for='bidValue')
                translate SpecifyNumber
              input#bidValue.form-control.bid-value__input(required='', ng-model='bidAdd.bid.Amount', max='{{bidAdd.offer.currentAmount}}', type='number', name='bidValue', min='1', placeholder="{{'Quantity' | translate}}")
              |&nbsp;
              span(ng-bind='::bidAdd.priceUnits[bidAdd.offer.priceUnit]')
          //
            <div class="bid-form__col2 pull-right">
            <label>
            <translate>REGION</translate>
            </label>
            <div class="sel-styled">
            <select>
            <option value="1">1</option>
            <option value="2">2</option>
            </select>
            </div>
            </div>
        .form-group.clearfix
          .bid-form__col1.pull-left
            .container-textarea.bid-comment
              textarea.bid-comment__txt(ng-model='bidAdd.bid.Comment', placeholder="{{'AdditionalComment' | translate}}")
          .bid-form__col2.pull-right
            .form-group
              label
                translate PaymentDate
              .input-group.datepicker-container.dropdown.drdwn(popup-adjust='bottom')
                input.form-control(min='bidAdd.minDate', is-open='pickers.open1', required='', show-weeks='false', show-button-bar='false', min-date='minDate', datepicker-popup='', ng-model='bidAdd.bid.ExpectedPaymentDateTime', type='text')
                span.input-group-btn(ng-click='bidAdd.openPicker1($event)')
                  button.btn.btn-df(type='button')
                    i.btn-df__ico.btn-df__ico--single.icon-calendar
            .form-group
              label
                translate ReceiptDate
              .input-group.datepicker-container.dropdown.drdwn(popup-adjust='bottom')
                input.form-control(min='bidAdd.minDate', is-open='pickers.open2', show-weeks='false', show-button-bar='false', min-date='minDate', datepicker-popup='', ng-model='bidAdd.bid.ExpectedReceiptDateTime', type='text')
                span.input-group-btn(ng-click='bidAdd.openPicker2($event)')
                  button.btn.btn-df(type='button')
                    i.btn-df__ico.btn-df__ico--single.icon-calendar
        .form-group
          .chckbx.chckbx-sm
            .chckbx__inpt.chckbx-sm__inpt
              input#Reserve(type='checkbox', name='Reserve', ng-model='bidAdd.bid.ReserveOnly', checked='')
              label(for='Reserve')
            .chckbx__lbl.chckbx-sm__lbl
              translate AskForReserve
              i.icon-hint.icon-help(popover="{{'BidReserveHint' | translate}}", popover-trigger='mouseenter')
      .form-actions
        button.btn.btn-df.btn-primary(type='submit')
          translate SEND
        button.btn.btn-df.btn-small(type='button', ng-click='$close()', translate='CANCEL')
