.modal-header.text-center
  i.app-icon.app-icon-7.close(ng-click='$close()')
  i.icon-handshake.icon-xlg.icon-green
.modal-body.text-center(ng-controller='MerchantsBidsConfirmedCtrl as confirmed')
  .modal-inner
    h4.modal-heading
      translate BidConfirmed
      | !
    p
      translate BidConfirmedText1
      |&nbsp;
      | {{bid.offeredMoney}} {{offer.currencyCode}}
      |&nbsp;
      translate PRICE_FOR
      |&nbsp;
      | {{bid.amount}} {{offer.priceUnit}} с {{confirmed.user.FullName}}
      |&nbsp;
      translate FROM
      |&nbsp;
      profile-position(profile='confirmed.user')
      | !
      |&nbsp;
      translate BidConfirmedText2
    ul.lst-contacts
      li.lst-contacts__item
        a.lst-contacts__lnk(ui-sref='app.user-profile({ id: confirmed.user.UserId })')
          i.lst-contacts__ico.icon-user
          span.lst-contacts__txt
            translate PROFILE
      li.lst-contacts__item
        a.lst-contacts__lnk(ng-href="{{ '/my-messages?user-id=' + confirmed.user.UserId }}")
          i.lst-contacts__ico.icon-messages
          span.lst-contacts__txt
            translate SEND_MESSAGE
      li.lst-contacts__item
        a.lst-contacts__lnk(ng-href="{{ 'skype:' + confirmed.user.SkypeAccount + '?userinfo' }}")
          i.lst-contacts__ico.icon-skype
          span.lst-contacts__txt Skype
      li.lst-contacts__item
        a.lst-contacts__lnk(ng-href="{{ 'mailto:' + confirmed.user.Email }}")
          i.lst-contacts__ico.icon-email
          span.lst-contacts__txt(ng-bind='confirmed.user.Email')
      li.lst-contacts__item
        a.lst-contacts__lnk(ng-href="{{ 'skype:' + confirmed.user.Phone + '?call' }}")
          i.lst-contacts__ico.icon-call
          span.lst-contacts__txt(ng-bind='confirmed.user.Phone')
.modal-footer.centered
  button.btn.btn-df.btn-primary(ng-click='$close()')
    translate Continue
