.modal-header.text-center
  i.app-icon.app-icon-7.close(ng-click='$close()')
  i.icon-bid.icon-xlg.icon-green
.modal-body.text-center
  .modal-inner
    h4.modal-heading
      translate BidSuccessful
      | !
    p
      translate BidSuccessfulAuthorNotified
    a(ui-sref='app.my-bids.other-goods')
      translate YourBids
.modal-footer.text-center
  button.btn.btn-df.btn-primary(type='button', ng-click='$close()')
    translate Continue
