.user
  .user__avatar
    .small-thumb-container
      img(ng-src='{{ avatar.Url }}')
  user-presence(contact='contact')
  a.user__name(ng-click="profileMode == 'popup' ? showUserPopup(profile) : openFullProfile(user_id, 'profile')", ng-bind='profile.FullName')
  .user__rating(ng-show='profile.IsFilled')
    span.green(ng-bind='rating.Pro | number')
    | /
    span.red(ng-bind='rating.Contra | number')
  .user__favs(ng-show='profile.IsFilled')
    i.app-icon.app-icon-57
    |         {{rating.Thanks | number}}
  .user__trust(ng-show='profile.IsFilled')
    i.app-icon.app-icon-60
    |         {{ ((rating.TrustLevel > 0) && '+') || '' }}{{ rating.TrustLevel | number }}
  .user__badges(ng-show='profile.IsFilled')
    i.app-icon(ng-repeat='class in contact.getBadgeIconClasses()', ng-class='class')
  .user__share(ng-show='profile.IsFilled')
    div(addthis='', title='addThisTitle', description='addThisDescription')
  .user__name.text(ng-show='!profile.IsFilled')
    | {{'USER_PROFILE_EMPTY' | translate}}
