ul.nav-myprfl(ng-controller='PublicProfileMenuCtrl', ng-if="profile.BanStatus != 'Banned' && profile.BanStatus != 'PermanentlyBanned'")
  ng-if
    li.nav-myprfl__item
      a.nav-myprfl__lnk(ng-class="{active: modal.is('profile')}", href='', click-action="modal.route('profile')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        i.nav-myprfl__ico.icon-user
        translate PROFILE
    li.nav-myprfl__item(ng-hide='!profile.IsFilled || profile.Positions.length == 0')
      a.nav-myprfl__lnk(ui-sref='app.companies-room-item({ roomId: profile.Positions[0].Company.RoomUrlName, companyId: profile.Positions[0].Company.Id })')
        i.nav-myprfl__ico.icon-companies
        translate UsersCompany
    li.nav-myprfl__item(ng-hide='isUnregistered || profile.IsLegacySkypeUser')
      a.nav-myprfl__lnk(ng-class="{active: modal.is('send')}", href='', click-action="modal.route('send')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        i.nav-myprfl__ico.icon-messages
        translate SEND_MESSAGE
    li.nav-myprfl__item(ng-hide='!isMyPartner() || isUnregistered || (profile && profile.$resolved && !profile.IsFilled)')
      a.nav-myprfl__lnk(ng-class="{active: modal.is('partner')}", href='', click-action="modal.route('partner')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        span.nav-myprfl__ico.icon-in-partner
          i.icon-user
          i.icon-check
        translate IN_YOUR_PARTNERS
    li.nav-myprfl__item(ng-hide='isMyPartner() || isUnregistered || (profile && profile.$resolved && !profile.IsFilled)')
      a.nav-myprfl__lnk(ng-class="{active: modal.is('partner')}", href='', metrika="'add-partner'", click-action="modal.route('partner')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        i.nav-myprfl__ico.icon-user-add
        translate ADD_TO_PARTNERS
    li.nav-myprfl__item(ng-hide='isUnregistered || (profile && profile.$resolved && !profile.IsFilled)')
      a.nav-myprfl__lnk(ng-class="{active: modal.is('thanks')}", href='', metrika="'say-thank'", click-action="modal.route('thanks')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        i.nav-myprfl__ico.icon-star2
        translate SAY_THANK
    li.nav-myprfl__item
      a.nav-myprfl__lnk(ng-class="{active: modal.is('notes')}", href='', click-action="modal.route('notes')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        i.nav-myprfl__ico.icon-edit
        translate ADD_DESCR
    li.nav-myprfl__dvdr
    li.nav-myprfl__item(ng-hide='isUnregistered || (profile && profile.$resolved && !profile.IsFilled)')
      a.nav-myprfl__lnk(ng-class="{active: modal.is('files')}", href='', metrika="'user-files'", click-action="modal.route('files')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        i.nav-myprfl__ico.icon-files
        translate FILES
    li.nav-myprfl__item(ng-hide='isUnregistered || (profile && profile.$resolved && !profile.IsFilled)')
      span.nav-myprfl__bdg.badge.badge--gray(ng-bind='partner_contacts.length', ng-show='partner_contacts.length > 0')
      a.nav-myprfl__lnk(ng-class="{active: modal.is('partners')}", href='', click-action="updatePartners(); modal.route('partners')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        i.nav-myprfl__ico.icon-users
        translate PARTNERS
    li.nav-myprfl__item(ng-hide='isUnregistered || (profile && profile.$resolved && !profile.IsFilled)')
      span.nav-myprfl__bdg.badge.badge--gray(ng-show='recommends.length > 0') {{recommends.length}}
      a.nav-myprfl__lnk(ng-class="{active: modal.is('recommends'), disable: !myProfile.IsFilled }", href='', metrika="'user-recommends'", click-action="myProfile.IsFilled && modal.route('recommends')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        i.nav-myprfl__ico.icon-heart
        translate MEMBER_RECOMMENDS
  li.nav-myprfl__item
    a.nav-myprfl__lnk(ng-class="{active: modal.is('messages')}", href='', metrika="'user-messages'", click-action="modal.route('messages')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
      i.nav-myprfl__ico.icon-search
      translate FIND_MESSAGES_IN_CHAT
  li.nav-myprfl__dvdr
  li.nav-myprfl__item(ng-if='contact.skypeId')
    a.nav-myprfl__lnk(ng-class='{ disable: !myProfile.IsFilled }', href='', metrika="'profile-skype-menu'", click-action="goSkype(profile.SkypeAccount || contact.skypeId, 'userinfo')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
      i.nav-myprfl__ico.icon-user
      translate SKYPE_PROFILE
      | {{modal.isSkype}}
  li.nav-myprfl__item(ng-if='contact.skypeId')
    a.nav-myprfl__lnk(ng-class='{ disable: !myProfile.IsFilled }', href='', metrika="'profile-skype-menu'", click-action="goSkype(profile.SkypeAccount || contact.skypeId, 'chat')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
      i.nav-myprfl__ico.icon-messages
      translate SKYPE_MESSAGE
  li.nav-myprfl__item(ng-if='contact.skypeId')
    a.nav-myprfl__lnk(ng-class='{ disable: !myProfile.IsFilled }', href='', metrika="'profile-skype-menu'", click-action="goSkype(profile.SkypeAccount || contact.skypeId, 'add')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
      i.nav-myprfl__ico.icon-notebook
      translate ADD_TO_SKYPE
  li.nav-myprfl__item(ng-init='isCallOpen = false', ng-hide='isUnregistered')
    a.nav-myprfl__lnk(ng-class="{'non-click': isCallOpen, disable: !myProfile.IsFilled }", href='', ng-click='isCallOpen = !isCallOpen')
      i.nav-myprfl__ico.icon-call
      translate CALL
    ul.subnav-myprfl(ng-show='myProfile.IsFilled && (isCallOpen || isWebCallActive())')
      li.nav-myprfl__item.subnav-myprfl__item(ng-hide='profile.IsLegacySkypeUser', dial='user_id', ng-class="{active: is('web-call') || isWebCallActive() }")
        a.nav-myprfl__lnk.subnav-myprfl__lnk
          i.nav-myprfl__ico.icon-call
          translate DIRECT_CALL
      li.nav-myprfl__item.subnav-myprfl__item(ng-if='profile.SkypeAccount', click-action="goSkype(profile.SkypeAccount || contact.skypeId, 'call')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
        a.nav-myprfl__lnk.subnav-myprfl__lnk
          i.nav-myprfl__ico.icon-skype
          translate CALL_BY_SKYPE
  li.nav-myprfl__item(ng-show='isUnregistered')
    a.nav-myprfl__lnk(ng-class='{ disable: !myProfile.IsFilled }', href='', click-action="goSkype(profile.SkypeAccount || contact.skypeId, 'call')", click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
      i.nav-myprfl__ico.app-icon.app-icon-143
      translate CALL_BY_SKYPE
  li.nav-myprfl__item(ng-hide='profile.IsLegacySkypeUser')
    a.nav-myprfl__lnk(ng-class='{ disable: !myProfile.IsFilled }', href='', metrika="'remind-call'", click-action='remindToCall()', click-condition='loggedIn', click-otherwise='modals.alertUnregistered()')
      i.nav-myprfl__ico.icon-alarm
      translate REMIND_ABOUT_CALL
