.full-height
  .profile-left-bar(ng-include="'views/app/public-profile/_leftBar.html'")
  .full-height.profile.with-left-bar.public-profile.modal-profile.public-profile-static
    .content-control(ng-include="'views/app/public-profile/_content-control.html'")
    ui-view
