.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title
    translate Sms.Buy
form.modal-form(name='buySms', ng-submit='smsPurchase.buyPlan(smsPurchase.planId)')
  .modal-body
    .modal-inner
      p
        translate Sms.BuyText
      .form-body
        .form-group.btn-checkgroup
          button.btn.btn-checkgroup__item(
          ng-click="smsPurchase.planId = plan.id"
          ng-class="{ active: plan.id == smsPurchase.planId }",
          type='button',
          ng-repeat="plan in smsPurchase.plans"
          )
            i.icon-checkmark.btn-checkgroup__ico
            b
              | {{ ::plan.amount }}
              |&nbsp;
              translate SMS
              |&nbsp;
              translate PRICE_FOR
            span.btn-checkgroup__txt
              | {{ ::plan.cost }}
              translate RUB
        .form-group
          .chckbx.chckbx-sm
            .chckbx__inpt.chckbx-sm__inpt
              input#Agree(type='checkbox', name='Agree', required)
              label(for='Agree')
            .chckbx__lbl.chckbx-sm__lbl
              translate Sms.BuyAgreement
  .modal-footer.centered
    button.btn.btn-df.btn-primary(type="submit")
      translate Sms.TopUp
