.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title
    translate Sms.MySubscriptions
.modal-body
  .modal-inner
    button.btn.btn-df.btn-green.pull-right(ng-click="smsNotifications.topUp()")
      translate Sms.TopUp
    .modal-highlight
      translate Sms.Count
      |  
      span.red(ng-if="smsNotifications.balance == 0")
        | 0
        |  
        translate SMS
      span.green(ng-if="smsNotifications.balance > 0")
        | {{ ::smsNotifications.balance }}
        |  
        translate SMS
    p
      translate Sms.MySubscriptionsText
    ul.sms-subscr(ng-if="smsNotifications.subscriptions.length > 0")
      li.sms-subscr__item(ng-repeat="subscription in smsNotifications.subscriptions",
        ng-hide="subscription.removed")
        a.lnk-ico.pull-right(href='', ng-click="smsNotifications.removeSubscription(subscription)")
          i.icon-close2
        translate Sms.Sent
        |  
        b.green 
          | {{ ::subscription.smsSent }}
          |  
          translate SMS
        |  
        translate Sms.SentTo
        |  
        b {{ ::subscription.phone }}
        br
        translate TYPE
        | :  
        b
          translate Sms.Subscriptions.{{ ::subscription.type }}
        |  
        translate Sms.Words
        | :   
        b(ng-repeat="keyword in subscription.keywords") {{ ::keyword }}&nbsp;       
    .sms-no-subscr(ng-if="smsNotifications.subscriptions.length == 0")
      h3.red.text-center
        translate Sms.NoSubscriptionsTitle
      .bl-good.text-sm
        translate Sms.NoSubscriptionsText

.modal-footer.centered
  button.btn.btn-df.btn-create(ng-click="smsNotifications.createSubscription()")
    translate Sms.CreateNewSubscription
