.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title
    translate Sms.NewSubscriptions
form.modal-form(name='createNewSubscriptions', ng-submit='createSubscription.create(createSubscription.subscription)')
  .modal-body
    .modal-inner
      //-
          "phone": 79101234567,
          "keywords": ["fish", "meat"],
          "type": "everything/buy/notBuy"
      .form-body
        .form-group
          label
            translate EnterYourMobile
          .input-group
            .input-group-addon +
            input.form-control(type="tel", ng-model="createSubscription.subscription.phone",
          placeholder="7XXXXXXXXXX"
          pattern="7[0-9]{10}"
          required)
        .form-group
          label
            translate Sms.SubscriptionType
          .radiobtns
            label.radiobtn.radiobtn--inline(for="typeOptions0")
              input(type="radio", ng-model="createSubscription.subscription.type",
                id="typeOptions0", value="everything", checked)
              span
                translate Sms.SubscriptionType2
            label.radiobtn.radiobtn--inline(for="typeOptions1")
              input(type="radio", ng-model="createSubscription.subscription.type",
                id="typeOptions1", value="buy")
              span
                translate Sms.SubscriptionType0
            label.radiobtn.radiobtn--inline(for="typeOptions2")
              input(type="radio", ng-model="createSubscription.subscription.type",
                id="typeOptions2", value="notBuy")
              span
                translate Sms.SubscriptionType1
        .form-group.form-group--norel
          label.ppvr-styled
            translate Sms.Tags
            i.icon-hint.icon-help(popover='{{"Sms.SubscriptionTagsHint" | translate}}', popover-trigger='mouseenter')
          .lst-typeahead.lst-typeahead--rel
            tags-input(ng-model='createSubscription.subscription.keywords',
            add-on-enter="true"
            add-on-comma="true"
            add-from-autocomplete-only="false"
            placeholder='{{"Sms.SubscriptionTagsPlaceholder" | translate}}')
          b
            translate Sms.Warning
        .form-group
          .chckbx.chckbx-sm
            .chckbx__inpt.chckbx-sm__inpt
              input#Agree(type='checkbox', name='Agree', required)
              label(for='Agree')
            .chckbx__lbl.chckbx-sm__lbl
              translate Sms.Agreement
  .modal-footer.centered
    button.btn.btn-df.btn-primary(ng-click='')
      translate Sms.CreateSubscription
