.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_POST' | translate}}
.modal-body(ng-controller='ChatAdminEditCtrl', ng-init="message.text = message.text.replace('<xmsg>', ''); message.text = message.text.replace('</xmsg>', ''); ")
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='message.user')
        .metadata {{ message.created | date:'medium' }}
      .modal__metadata
        .metadata
          | {{'BRANCH' | translate}}:
          a(href='') {{ roomsHash[message.roomId].DisplayName }}
    form.modal-form(ng-submit='save(message)')
      .form-body
        .form-group
          .container-textarea
            textarea(ng-model='message.text')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
