.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_POST' | translate}}
.modal-body(ng-controller='PremoderatedAdminMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='message.profile.fullName')
    form.modal-form(action='', ng-submit='move(message)')
      .form-body
        .form-group
          .container-textarea.container-textarea--readonly
            textarea(ng-model='message.item.text', readonly='')
        .form-group.lst-typeahead.lst-typeahead--rel
          label {{'BRANCH' | translate}}
          room-select(room='message.roomId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'MOVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
