.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate SEND_MESSAGE
  .modal-body
    form.modal-form(action='', ng-submit='answer.send(answer.message)')
      .form-body
        .form-body
          .form-group
            label
              | Сообщение пользователя:
            p(ng-bind='answer.message.quote')
          .form-group
            label
              | Ваш ответ:
            .container-textarea
              textarea(ng-model='answer.message.answer', ng-required='true')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit')
          translate Отправить
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate Отмена
