.wrap
  .copy Copyright © 2012-2014 promarket.pro
  .foot
    ul.links
      li
        a(ng-click="assignLocation('/')") {{'FOOTER_MENU_1' | translate}}
      li.separator
      li
        a(href='', ng-click="route('/how-it-works')") {{'FOOTER_MENU_2' | translate}}
      li.separator
      li
        a(href='', ng-click="route('/support')") {{'FOOTER_MENU_3' | translate}}
      li.separator
      li
        a(href='', ng-click="route('/legal')") {{'FOOTER_MENU_4' | translate}}
      li.separator
      li
        a(href='', ng-click="route('/developers')") {{'FOOTER_MENU_5' | translate}}
    .partners
      .partners-title {{'PARTNERS_TITLE' | translate}}
      ul
        li
          a.text-hide.partner-1(href='http://www.derzhava.ru/', target='_blank')
            | {{'PARTNER_1' |
            | translate}}
        li
          a.text-hide.partner-2(href='http://www.vbank.ru/', target='_blank')
            | {{'PARTNER_2' |
            | translate}}
  .social
    ul
      li
        a.text-hide.yt(href='http://www.youtube.com/user/ProPromarket', target='_blank') Youtube
      li
        a.text-hide.fb(href='https://www.facebook.com/pages/Promarket/167918216665537', target='_blank') Facebook
      li
        a.text-hide.tw(href='https://twitter.com/PromarketChat', target='_blank') Twitter
      li
        a.text-hide.vk(href='https://vk.com/promarket_messenger', target='_blank') Vk
