.wrap(viewport='true')
  a.logo.text-hide(ng-click="assignLocation('/')") Promarket
  nav
    ul
      li
        a(href='', ng-click="route('/how-it-works')")
          translate HEADER_MENU_1
      li.separator
      li
        a(href='', ng-click="route('/support')")
          translate HEADER_MENU_2
    .user-block.pull-right(ng-show='loggedIn')
      .user-name(style='padding-left: 0px')
        .pull-left
          .small-thumb-container
            img(ng-src='{{myAvatar.Url}}')
        span(style='padding-left: 10px;color:#333;', ng-bind='myProfile.FullName')
    ul(ng-show='!loggedIn')
      li
        a(ng-click="openModal({tpl: 'registration', class: 'mdl mdl-md', scope: {open: openModal}})")
          translate REGISTER
      li.separator
      li
        a(ng-href='/login')
          translate ENTER
script.
  $(document).off('touchmove.bounce');
  if ($('html').hasClass('app')) {
  $('html').removeClass('app').addClass('web');
  }
