#web(ng-controller='HomepageCtrl')
  header(ng-include="'views/web/_header.html'")
  section.head.title
    .wrap
      h1 {{'DEVELOPERS_TITLE' | translate}}
  section.types
    .wrap.clearfix
      ul.std-list.dev-list
        li {{'DEVELOPERS_THESIS_1' | translate}}
        li {{'DEVELOPERS_THESIS_2' | translate}}
        li {{'DEVELOPERS_THESIS_3' | translate}}
      .pull-right.dev-img
  section.wrap.counter
    .counters
      h3 {{'DEVELOPERS_SLOGAN' | translate}}
  section.wrap.dev-content
    ul.std-list
      li {{'DEVELOPERS_OFFER_1' | translate}}
      li {{'DEVELOPERS_OFFER_2' | translate}}
      li {{'DEVELOPERS_OFFER_3' | translate}}
      li {{'DEVELOPERS_OFFER_4' | translate}}
    .dev-skype
      | {{'WRITE_US' | translate}}
      a(href='skype:promarket.pro') promarket.pro
  footer(ng-include="'views/web/_footer.html'")
