#web(ng-controller='HomepageCtrl')
  header(ng-include="'views/web/_header.html'")
  section.head.title
    .wrap
      h1 {{'HOW_IT_WORKS' | translate}}
  section.wrap.how-it-works
    .hiw-slider-wrap
      .hiw-slider(swipe-slider='')
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_1' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-10
              | {{'SLIDER_TITLE_1' | translate}}
            p {{'SLIDER_TEXT_1_1' | translate}}
            p {{'SLIDER_TEXT_1_2' | translate}}
            p {{'SLIDER_TEXT_1_3' | translate}}
            p {{'SLIDER_TEXT_1_4' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_2' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-9
              | {{'SLIDER_TITLE_2' | translate}}
            p {{'SLIDER_TEXT_2_1' | translate}}
            p {{'SLIDER_TEXT_2_2' | translate}}
            p
              | {{'SLIDER_TEXT_2_3' | translate}}
              br
              |  {{'SLIDER_TEXT_2_4' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_3' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-13
              | {{'SLIDER_TITLE_3' | translate}}
            p
              | {{'SLIDER_TEXT_3_1' | translate}} 
              br
              | {{'SLIDER_TEXT_3_2' | translate}}
            p {{'SLIDER_TEXT_3_3' | translate}}
            p {{'SLIDER_TEXT_3_4' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_4' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-12
              | {{'SLIDER_TITLE_4' | translate}}
            p {{'SLIDER_TEXT_4_1' | translate}}
            p {{'SLIDER_TEXT_4_2' | translate}}
            p {{'SLIDER_TEXT_4_3' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_5' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-11
              | {{'SLIDER_TITLE_5' | translate}}
            ul.std-list.list-small
              li {{'SLIDER_TEXT_5_1' | translate}}
              li {{'SLIDER_TEXT_5_2' | translate}}
              li {{'SLIDER_TEXT_5_3' | translate}}
              li {{'SLIDER_TEXT_5_4' | translate}}
              li {{'SLIDER_TEXT_5_5' | translate}}
              li {{'SLIDER_TEXT_5_6' | translate}}
              li {{'SLIDER_TEXT_5_7' | translate}}
            p {{'SLIDER_TEXT_5_8' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_6' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-3
              | {{'SLIDER_TITLE_6' | translate}}
            p {{'SLIDER_TEXT_6_1' | translate}}
            p {{'SLIDER_TEXT_6_2' | translate}}
            p {{'SLIDER_TEXT_6_3' | translate}}
            p
              | {{'SLIDER_TEXT_6_4' | translate}}
              br
              | {{'SLIDER_TEXT_6_5' | translate}}
            p {{'SLIDER_TEXT_6_6' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_7' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-8
              | {{'SLIDER_TITLE_7' | translate}}
            p {{'SLIDER_TEXT_7_1' | translate}}
            p {{'SLIDER_TEXT_7_2' | translate}}
            p {{'SLIDER_TEXT_7_3' | translate}}
            p {{'SLIDER_TEXT_7_4' | translate}}
            p {{'SLIDER_TEXT_7_5' | translate}}
            p {{'SLIDER_TEXT_7_6' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_8' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-5
              | {{'SLIDER_TITLE_8' | translate}}
            p {{'SLIDER_TEXT_8_1' | translate}}
            ul.std-list.list-small
              li {{'SLIDER_TEXT_8_2' | translate}}
              li {{'SLIDER_TEXT_8_3' | translate}}
              li {{'SLIDER_TEXT_8_4' | translate}}
              li {{'SLIDER_TEXT_8_5' | translate}}
              li {{'SLIDER_TEXT_8_6' | translate}}
              li {{'SLIDER_TEXT_8_7' | translate}}
              li {{'SLIDER_TEXT_8_8' | translate}}
              li {{'SLIDER_TEXT_8_9' | translate}}
              li {{'SLIDER_TEXT_8_10' | translate}}
            p {{'SLIDER_TEXT_8_11' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_9' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-14
              | {{'SLIDER_TITLE_9' | translate}}
            ul.std-list
              li {{'SLIDER_TEXT_9_1' | translate}}
              li {{'SLIDER_TEXT_9_2' | translate}}
              li {{'SLIDER_TEXT_9_3' | translate}}
            p {{'SLIDER_TEXT_9_4' | translate}}
            p
              | {{'SLIDER_TEXT_9_5' | translate}}
              br
              | {{'SLIDER_TEXT_9_6' | translate}}
            p {{'SLIDER_TEXT_9_7' | translate}}
        .hiw-slide.clearfix
          .img
            img(src="img/content/how-it-works/{{'SLIDER_IMG_10' | translate}}", alt='')
          .text
            h3
              i.feature-icon.feature-icon-10
              | {{'SLIDER_TITLE_10' | translate}}
            ul.std-list
              li {{'SLIDER_TEXT_10_1' | translate}}
              li {{'SLIDER_TEXT_10_2' | translate}}
              li {{'SLIDER_TEXT_10_3' | translate}}
              li {{'SLIDER_TEXT_10_4' | translate}}
              li {{'SLIDER_TEXT_10_5' | translate}}
            p {{'SLIDER_TEXT_10_6' | translate}}
            p
              a.btn-colorful(href='https://promarket.pro/scapi/download') {{'SLIDER_TEXT_10_7' | translate}}
  footer(ng-include="'views/web/_footer.html'")
