#web(ng-controller='HomepageCtrl')
  header(ng-include="'views/web/_header.html'")
  section.head.title
    .wrap
      h1
        translate INSTALL_TITLE
  section.wrap.clearfix.skype-install
    .skype.pull-left
      h2
        translate INSTALL_INFO_TITLE_1
      p
        translate INSTALL_INFO_1
      p
        translate INSTALL_INFO_2
      p
        translate INSTALL_INFO_3
        a(href='', ng-click="route('/support')")
          translate INSTALL_INFO_4
      small
        translate INSTALL_INFO_5
        br
        translate INSTALL_INFO_6
      .download
        a.btn-colorful.pull-left(ng-click='download()')
          translate DOWNLOAD
    .skype-video.pull-right(ng-if="currentLang == 'ru'")
      iframe(width='600', height='338', src='https://www.youtube.com/embed/ifZ970Zy7mQ?rel=0&wmode=transparent', frameborder='0', allowfullscreen='')
  footer(ng-include="'views/web/_footer.html'")
