#web(ng-controller='HomepageCtrl')
  header(ng-include="'views/web/_header.html'")
  section.head.title
    .wrap
      h1 {{'LEGAL_TITLE' | translate}}
  section.doc-text
    .wrap
      h2 {{'LEGAL_P_TITLE_1' | translate}}
      p {{'LEGAL_P_1_1' | translate}}
      p {{'LEGAL_P_1_2' | translate}}
      p {{'LEGAL_P_1_2_1' | translate}}
      p {{'LEGAL_P_1_3' | translate}}
      p {{'LEGAL_P_1_4' | translate}}
      p {{'LEGAL_P_1_5' | translate}}
      p {{'LEGAL_P_1_6' | translate}}
      p {{'LEGAL_P_1_7' | translate}}
      h2 {{'LEGAL_P_TITLE_2' | translate}}
      p {{'LEGAL_P_2_1' | translate}}
      p {{'LEGAL_P_2_2' | translate}}
      h2 {{'LEGAL_P_TITLE_3' | translate}}
      p {{'LEGAL_P_3_1' | translate}}
      h2 {{'LEGAL_P_TITLE_4' | translate}}
      p {{'LEGAL_P_4_1' | translate}}
      p {{'LEGAL_P_4_2' | translate}}
      h2 {{'LEGAL_P_TITLE_5' | translate}}
      p {{'LEGAL_P_5_1' | translate}}
      p {{'LEGAL_P_5_2' | translate}}
      p
        | {{'LEGAL_P_5_3' | translate}}
        ul.list-unordered
          li {{'LEGAL_P_5_3_1' | translate}}
          li {{'LEGAL_P_5_3_2' | translate}}
          li {{'LEGAL_P_5_3_3' | translate}}
          li {{'LEGAL_P_5_3_4' | translate}}
          li {{'LEGAL_P_5_3_5' | translate}}
          li {{'LEGAL_P_5_3_6' | translate}}
          li {{'LEGAL_P_5_3_7' | translate}}
      h2 {{'LEGAL_P_TITLE_6' | translate}}
      p {{'LEGAL_P_6_1' | translate}}
      p {{'LEGAL_P_6_2' | translate}}
      p {{'LEGAL_P_6_3' | translate}}
      h2 {{'LEGAL_P_TITLE_7' | translate}}
      p {{'LEGAL_P_7_1' | translate}}
      p {{'LEGAL_P_7_2' | translate}}
      p {{'LEGAL_P_7_3' | translate}}
      p {{'LEGAL_P_7_4' | translate}}
      p {{'LEGAL_P_7_5' | translate}}
      p {{'LEGAL_P_7_6' | translate}}
      h2 {{'LEGAL_P_TITLE_8' | translate}}
      p {{'LEGAL_P_8_1' | translate}}
      p {{'LEGAL_P_8_2' | translate}}
      p {{'LEGAL_P_8_3' | translate}}
      p {{'LEGAL_P_8_4' | translate}}
      h2 {{'LEGAL_P_TITLE_9' | translate}}
      p {{'LEGAL_P_9_1' | translate}}
      p {{'LEGAL_P_9_2' | translate}}
      p {{'LEGAL_P_9_3' | translate}}
      h2 {{'LEGAL_P_TITLE_10' | translate}}
      p {{'LEGAL_P_10_1' | translate}}
      h2 {{'LEGAL_P_TITLE_11' | translate}}
      p {{'LEGAL_P_11_1' | translate}}
      p {{'LEGAL_P_11_2' | translate}}
      p {{'LEGAL_P_11_3' | translate}}
      p
        | {{'LEGAL_P_11_3_1' | translate}} 
        b {{'LEGAL_P_11_3_1P' | translate}}
      p {{'LEGAL_P_11_3_2' | translate}}
      p {{'LEGAL_P_11_3_3' | translate}}
      p {{'LEGAL_P_11_4' | translate}}
      p {{'LEGAL_P_11_4_1' | translate}}
      p {{'LEGAL_P_11_5' | translate}}
      p {{'LEGAL_P_11_6' | translate}}
      h2 {{'LEGAL_P_TITLE_12' | translate}}
      p {{'LEGAL_P_12_1' | translate}}
      p {{'LEGAL_P_12_2' | translate}}
      h2 {{'LEGAL_P_TITLE_13' | translate}}
      p {{'LEGAL_P_13_1' | translate}}
      p {{'LEGAL_P_13_2' | translate}}
      p {{'LEGAL_P_13_3' | translate}}
      p {{'LEGAL_P_13_4' | translate}}
      p {{'LEGAL_P_13_5' | translate}}
      p {{'LEGAL_P_13_6' | translate}}
      p {{'LEGAL_P_13_6_a' | translate}}
      p {{'LEGAL_P_13_6_b' | translate}}
      p {{'LEGAL_P_13_6_c' | translate}}
      p {{'LEGAL_P_13_7' | translate}}
      p {{'LEGAL_P_13_8' | translate}}
      p {{'LEGAL_P_13_9' | translate}}
      p {{'LEGAL_P_13_10' | translate}}
      p {{'LEGAL_P_13_11' | translate}}
      h2 {{'LEGAL_P_TITLE_14' | translate}}
      p {{'LEGAL_P_14_0' | translate}}
      p {{'LEGAL_P_14_1' | translate}}
      p {{'LEGAL_P_14_2' | translate}}
      p {{'LEGAL_P_14_3' | translate}}
      p {{'LEGAL_P_14_4' | translate}}
      p
        | {{'LEGAL_P_14_5' | translate}}
        ul.list-unordered
          li {{'LEGAL_P_14_5_1' | translate}}
          li {{'LEGAL_P_14_5_2' | translate}}
          li {{'LEGAL_P_14_5_3' | translate}}
          li {{'LEGAL_P_14_5_4' | translate}}
          li {{'LEGAL_P_14_5_5' | translate}}
          li {{'LEGAL_P_14_5_6' | translate}}
      p {{'LEGAL_P_14_6' | translate}}
      p {{'LEGAL_P_14_7' | translate}}
      p {{'LEGAL_P_14_8' | translate}}
      p {{'LEGAL_P_14_9' | translate}}
      p {{'LEGAL_P_14_10' | translate}}
      p {{'LEGAL_P_14_11' | translate}}
      p {{'LEGAL_P_14_12' | translate}}
      p {{'LEGAL_P_14_13' | translate}}
      h2 {{'LEGAL_P_TITLE_15' | translate}}
      p {{'LEGAL_P_15_1' | translate}}
      p {{'LEGAL_P_15_2' | translate}}
      h2 {{'LEGAL_P_TITLE_16' | translate}}
      p {{'LEGAL_P_16_1' | translate}}
      p {{'LEGAL_P_16_2' | translate}}
      p {{'LEGAL_P_16_3' | translate}}
      p {{'LEGAL_P_16_4' | translate}}
      h2 {{'LEGAL_P_TITLE_17' | translate}}
      p {{'LEGAL_P_17_1' | translate}}
      h2 {{'LEGAL_P_TITLE_18' | translate}}
      p {{'LEGAL_P_18_1' | translate}}
      p {{'LEGAL_P_18_2' | translate}}
      p {{'LEGAL_P_18_3' | translate}}
      ul.list-unordered
        li {{'LEGAL_P_18_3_1' | translate}}
        li {{'LEGAL_P_18_3_2' | translate}}
        li {{'LEGAL_P_18_3_3' | translate}}
      p {{'LEGAL_P_18_3P' | translate}}
      p {{'LEGAL_P_18_4' | translate}}
      h2 
        translate LEGAL_P_TITLE_19
      translate LEGAL_P_19
      translate LEGAL_P_END
  footer(ng-include="'views/web/_footer.html'")
