div
  section.head
    .wrap
      .text
        h1
          translate PROMO_HEADER_1
        h2
          translate PROMO_HEADER_2_1
          br
          translate PROMO_HEADER_2_2
        p
          translate PROMO_TEXT_1
          br
          translate PROMO_TEXT_2
          br
          translate PROMO_TEXT_3
          br
          translate PROMO_TEXT_4
          br
          translate PROMO_TEXT_5
        p
          a(href='', ng-click="route('/how-it-works')")
            translate DETAILS
          |  →
      .video
        iframe(width='500', height='281', ng-cloak='true', ng-src='{{ videoUrl }}', frameborder='0', allowfullscreen='', wmode='Opaque')
  section.types
    .wrap
      .types-select
        h1
          translate PROMO_HEADER_3
        p
          translate CHOOSE_CHAT
          a(href='', ng-click="route('/all')")
            translate VIEW_ALL
        ul.types-icons-list
          li(ng-repeat='icon in roomIcons', ng-class='{ selected: roomsHash[icon.Id].present }', tooltip='{{roomsHash[icon.Id].DisplayName}}')
            a(ng-click="route('/chat/' + icon.Id)", metrika="'home-room'")
              i.type-icon(ng-style='icon.style')
      .skype
        h2
          span
            translate OFFER
            | ™
        p
          translate OFFER_TEXT
          a(href='', ng-click="route('/install')")
            translate DETAILS
        .download
          a.btn-colorful.pull-left(ng-click='download()')
            translate DOWNLOAD
          .download-official OS: Windows XP, Windows Vista, Windows 7, Windows 8
  section.wrap.counter
    .counters
      .counter-item
        translate USERS_ONLINE
        animated-counter(value='{{userCount}}')
      .counter-item
        translate MESSAGES_IN_SYSTEM
        animated-counter(value='{{messageCount}}')
  section.wrap.section
    h3.section-title
      span
        translate BENEFITS
    .features
      dl.feature-item
        dt
          i.feature-icon.feature-icon-1
          translate FEATURE_HEADER_1
        dd
          translate FEATURE_TEXT_1
      dl.feature-item
        dt
          i.feature-icon.feature-icon-2
          translate FEATURE_HEADER_2
        dd
          translate FEATURE_TEXT_2
      dl.feature-item
        dt
          i.feature-icon.feature-icon-3
          translate FEATURE_HEADER_3
        dd
          translate FEATURE_TEXT_3
      dl.feature-item
        dt
          i.feature-icon.feature-icon-14
          translate FEATURE_HEADER_4
        dd
          translate FEATURE_TEXT_4
      dl.feature-item
        dt
          i.feature-icon.feature-icon-5
          translate FEATURE_HEADER_5
        dd
          translate FEATURE_TEXT_5
      dl.feature-item
        dt
          i.feature-icon.feature-icon-6
          translate FEATURE_HEADER_6
        dd
          translate FEATURE_TEXT_6
      dl.feature-item
        dt
          i.feature-icon.feature-icon-7
          translate FEATURE_HEADER_7
        dd
          translate FEATURE_TEXT_7
      dl.feature-item
        dt
          i.feature-icon.feature-icon-8
          translate FEATURE_HEADER_8
        dd
          translate FEATURE_TEXT_8
      dl.feature-item
        dt
          i.feature-icon.feature-icon-9
          translate FEATURE_HEADER_9
        dd
          translate FEATURE_TEXT_9
  section.wrap.section
    h3.section-title
      span
        translate WITH_US
    banner-slider(banner-source='withUs', slide-width='164', slide-interval='6000', items-visible='5')
    blockquote(review-route='5000')
      .review
        p.review-text(ng-bind='Review.item.text')
        p.review-author
          | — 
          a(href='', ng-click="goSkype(Review.item.skypeId, 'userinfo')", ng-bind='Review.item.author')
          span  / {{Review.item.authorPosition}}
