#web(ng-controller='HomepageCtrl')
  header(ng-include="'views/web/_header.html'")
  section.head.title
    .wrap
      h1 {{'SUPPORT_HEADER' | translate}}
  section.support(ng-controller='SupportCtrl')
    .wrap
      .support-form
        h2 {{'SUPPORT_FORM_TITLE' | translate}}
        p {{'SUPPORT_TEXT' | translate}}
        form.form-horizontal(ng-submit='sendFeedback()', replace-with="{{'SUPPORT_SUCCESS' | translate}}")
          .control-group
            label.control-label(for='inputName') {{'NAME' | translate}}
            .controls
              input#inputName.form-control(type='text', ng-model='name', required='')
          .control-group
            label.control-label(for='inputEmail') Email
            .controls
              input#inputEmail.form-control(type='email', ng-model='email', required='')
          .control-group
            label.control-label(for='inputPhone') {{'PHONE' | translate}}
            .controls
              input#inputPhone.form-control(type='text', ng-model='phone', required='')
          .control-group.support-message
            label.control-label(for='inputMessage') {{'MESSAGE' | translate}}
            .controls
              textarea#inputMessage.form-control(ng-model='msg', required='')
          button.btn.btn-df.btn-primary(type='submit')
            | {{'SEND' | translate}}
      .contact
        .contact-phone
          span {{'CONTACT_PHONE' | translate}}
          | {{'CONTACT_DETAILS' | translate}}
        .contact-item
          .contact-item-name {{'CONTACT_NAME_1' | translate}}
          .contact-item-position {{'CONTACT_POSITION_1' | translate}}
          .contact-item-contact
            | Skype: 
            a(ng-click="goSkype('aksimas', 'userinfo')") aksimas
          .contact-item-contact
            | Email: 
            a(ng-href='mailto:anton@promarket.pro') anton@promarket.pro
        .contact-item
          .contact-item-name {{'CONTACT_NAME_2' | translate}}
          .contact-item-position {{'CONTACT_POSITION_2' | translate}}
          .contact-item-contact
            | Skype: 
            a(ng-click="goSkype('promarket.pro', 'userinfo')") promarket.pro
          .contact-item-contact
            | Email: 
            a(ng-href='mailto:pro@promarket.pro') pro@promarket.pro
        .contact-item
          .contact-item-name {{'CONTACT_NAME_3' | translate}}
          .contact-item-position {{'CONTACT_POSITION_3' | translate}}
          .contact-item-contact
            | Skype: 
            a(ng-click="goSkype('promarket.support', 'userinfo')") promarket.support
          .contact-item-contact
            | Email: 
            a(ng-href='mailto:support@promarket.pro') support@promarket.pro
  footer(ng-include="'views/web/_footer.html'")
