table.table.table-offers.table-offers-board
  thead
    tr
      th(translate='TYPE')
      th(translate='AD')
      th
        i.app-icon.app-icon-14
      th
        i.app-icon.app-icon-101
      th
        i.app-icon.app-icon-95
      th.padding(ng-class="{'ipad': isPortrait()}")
      th
        span(translate='PUBLISHED_BY')
  tbody
    tr(ng-repeat='offer in company.ads')
      td.table-type
        .type(ng-class="{green: offer.kind=='Buy', gray: offer.kind=='Sell'}")
          | {{offer.kind.toUpperCase() | translate}}
      td.table-title
        a(metrika="'company-to-ad'", ui-sref="app.merchants-room-tab-offer({roomId:offer.roomUrlName,tabName:'board',offerId:offer.id})", ng-bind='offer.title')
        i.app-icon.app-icon-phone(ng-hide='offer.pictures.length == 0')
      td.table-date {{offer.createDateTime | date:'medium'}}
      td.table-views(ng-bind='offer.viewCount')
      td.table-comments(ng-bind='offer.commentsCount.Count')
      td.padding(ng-class="{'ipad': isPortrait()}")
      td.table-author(ng-include="'views/app/auth/_offer.html'")
