.catalog__block-in.catalog-blank
  i.sprite-first.catalog-blank__img
  .catalog-blank__cnt
    .catalog-blank__txt
      translate Companies.AddSmthMessage
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.goods.length == 0', href='', ng-click='company.addGood()')
      translate ADD_GOODS
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.services.length == 0', ng-click='company.addService()')
      translate ADD_SERVICE
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.jobs.length == 0', metrika="'catalog-add-empty'", ng-click="company.addJob()", href='')
      translate ADD_VACANCY
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.resumes.length == 0', metrika="'catalog-add-empty'", ng-click="openModal({tpl: 'resume-add', class: 'mdl-app modal-job-add'})", href='')
      translate ADD_CV
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.lastPrices.length == 0', ng-click='company.addPrice()', href='')
      translate AddPrices
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.ads.length == 0', ng-click='company.addBoard()')
      translate ADD_AD
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.companies.length == 0', ng-click='company.addCompany()')
      translate ADD_COMPANY
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.blacklists.length == 0', metrika="'catalog-add-blacklist'", ng-click="company.addBlacklist()", href='')
      translate AddBlacklist
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='company.videos.length == 0', metrika="'catalog-add-empty'", ng-click="company.addVideo()", href='')
      translate ADD_VIDEO
