.canopy
  //
    div class="canopy__bg" ng-show="company.info.logoUrl">
    <div class="canopy__bg-inner">
    <img class="canopy__img" ng-if="company.info.logoUrl" ng-src="{{ company.info.logoUrl }}" alt="{{company.info.company.fullName}}">
    <img class="canopy__img" ng-if="!company.info.logoUrl" src="img/content/no-photo-detail.jpg" alt="" />
    </div>
    </div
  .canopy__cnt
    a.btn.btn-df.btn-green.pull-right(ng-if='company.memberMode || company.adminMode', ng-click="openModal({tpl: 'company-invite', class: 'mdl-app modal-large pmp-invite-to-chat-popup', scope: { text: company.inviteText, title: company.inviteTitle }})")
      translate Companies.InviteColleague
    a.btn.btn-df.btn-green.pull-right(ng-if='!company.memberMode && !company.adminMode', ng-click='company.addMember()')
      translate Companies.Apply
    .canopy__block
      i.canopy__block-ico.icon-companies.pull-left
      .canopy__block-txt
        h1.canopy__ttl
          translate Companies.CompanySection
          |  
          span.highlight(ng-bind='company.info.company.fullName')
        a.catalog__check.lnk-color(ng-if="currentLang == 'ru'", metrika="'company-to-company-check'", ng-href="{{appPath('company', { moduleName: 'check' }) + '?state=search&query=' + company.info.company.fullName}}")
          i.icon-search.icon-md.lnk-color__ico
          translate CheckCompany
