ul.nav-top(du-scroll-container='scroll-container', ng-if='!company.singleSearch')
  li.nav-top__item
    a.nav-top__lnk(href='#profile', du-smooth-scroll='', du-scrollspy='')
      translate ABOUT_COMPANY
  li.nav-top__item(ng-if='company.users.length')
    a.nav-top__lnk(href='#users', du-smooth-scroll='', du-scrollspy='')
      translate Employees
  li.nav-top__item(ng-if='company.feedItems.length')
    a.nav-top__lnk(href='#company-chat', du-smooth-scroll='', du-scrollspy='')
      translate CHATS
  li.nav-top__item(ng-if='company.goods.length')
    a.nav-top__lnk(href='#goods', du-smooth-scroll='', du-scrollspy='')
      translate GOODS
  li.nav-top__item(ng-if='company.prices.length')
    a.nav-top__lnk(href='#prices', du-smooth-scroll='', du-scrollspy='')
      translate PRICES
  li.nav-top__item(ng-if='company.ads.length')
    a.nav-top__lnk(href='#ads', du-smooth-scroll='', du-scrollspy='')
      translate ADVS
  li.nav-top__item(ng-if='company.services.length')
    a.nav-top__lnk(href='#services', du-smooth-scroll='', du-scrollspy='')
      translate SERVICES
  li.nav-top__item(ng-if='company.topics.length')
    a.nav-top__lnk(href='#topics', du-smooth-scroll='', du-scrollspy='')
      translate FORUM
  li.nav-top__item(ng-if='company.jobs.length')
    a.nav-top__lnk(href='#jobs', du-smooth-scroll='', du-scrollspy='')
      translate JOB
  li.nav-top__item(ng-if='company.blacklists.length')
    a.nav-top__lnk(href='#blacklists', du-smooth-scroll='', du-scrollspy='')
      translate BLACKLIST
  li.nav-top__item(ng-if='company.videos.length')
    a.nav-top__lnk(href='#videos', du-smooth-scroll='', du-scrollspy='')
      translate VIDEO
ul.nav-top(ng-if='company.singleSearch')
  li.nav-top__item
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id }}")
      translate ALL
  li.nav-top__item(ng-if='company.users.length')
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/users' }}")
      translate Employees
  li.nav-top__item(ng-if="company.counts['chat']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/chat' }}")
      translate CHATS
  li.nav-top__item(ng-if="company.counts['goods']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/goods' }}")
      translate GOODS
  li.nav-top__item(ng-if="company.counts['prices']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/prices' }}")
      translate PRICES
  li.nav-top__item(ng-if="company.counts['ads']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/ads' }}")
      translate ADVS
  li.nav-top__item(ng-if="company.counts['services']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/services' }}")
      translate SERVICES
  li.nav-top__item(ng-if="company.counts['topics']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/forum' }}")
      translate FORUM
  li.nav-top__item(ng-if="company.counts['jobs']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/jobs' }}")
      translate JOB
  li.nav-top__item(ng-if="company.counts['blacklists']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/blacklists' }}")
      translate BLACKLIST
  li.nav-top__item(ng-if="company.counts['videos']")
    a.nav-top__lnk(ng-href="{{ '/companies/' + company.info.company.roomUrlName + '/item/' + company.info.company.id + '/videos' }}")
      translate VIDEO
