.catalog__block-in
  div
    .cmp__actns(ng-if='myProfile.IsModerator || company.adminMode')
      a.btn-edit(ng-click="openModal({tpl: 'company-edit', class: 'mdl-app modal-company-add', scope: { edit: true, company: company.info, roomId: company.info.company.roomUrlName }})")
        i.app-icon.app-icon-79.btn-edit__ico
        |                  {{'EDIT' | translate}}
      a.btn-edit(ng-click='company.delete()')
        translate DELETE
    .cmp__logo.pull-right
      img(ng-if='company.info.logoUrl', ng-src='{{ company.info.logoUrl }}', alt='{{company.info.company.fullName}}')
      img(ng-if='!company.info.logoUrl', src='img/content/no-photo-detail.jpg', alt='')
    .cmp__cnt
      .cmp__share(addthis='', title='company.info.addThisInfo.title', description='company.info.addThisInfo.description')
      dl.dl-horizontal.cmp__dl()
        dt(ng-if='company.info.company.country')
          translate COUNTRY
        dd(ng-if='company.info.company.country', ng-bind='company.info.company.country')
        dt(ng-if='company.info.company.city')
          translate CITY
        dd(ng-if='company.info.company.city', ng-bind='company.info.company.city')
      dl.dl-horizontal.cmp__dl(ng-if='myProfile.IsFilled || company.memberMode')
        dt(ng-if='company.info.company.address')
          translate OFFICE_ADDRESS
        dd(ng-if='company.info.company.address', ng-bind='company.info.company.address')
        dt(ng-if='company.info.company.postalAddress')
          translate POST_ADDRESS
        dd(ng-if='company.info.company.postalAddress', ng-bind='company.info.company.postalAddress')
        dt(ng-if='company.info.company.phone')
          translate PHONE
        dd(ng-if='company.info.company.phone', ng-bind='company.info.company.phone')
        dt(ng-if='company.info.company.fax')
          translate FAX
        dd(ng-if='company.info.company.fax', ng-bind='company.info.company.fax')
        dt
          translate Email
        dd
          a.lnk-icon(pm-restricted, ui-sref="app.user-private-chat({ id: company.adminId })")
            i.lnk-icon__ico.icon-messages
        dt(ng-if='company.info.company.website')
          translate SITE
        dd(ng-if='company.info.company.website')
          a(target='_blank', ng-href="{{ 'http://' + company.info.company.website }}", ng-bind='company.info.company.website')
    .usr-contacts(ng-if='!loggedIn')
      .alert-striped
        translate ViewContactDetails
        |&nbsp;
        a(ng-href='', ng-click="openModal({tpl: 'login', class: 'mdl mdl-md'})")
          translate InlineLogin
        |&nbsp;
        translate OR
        |&nbsp;
        a(ng-href='', metrika="'company-contacts-unreg'", ng-click="openModal({tpl: 'registration', class: 'mdl mdl-md mdl-registration'})")
         translate InlineRegister
        |&nbsp;
        translate InSystem
    .usr-contacts(ng-if='!myProfile.IsFilled && loggedIn &&  !company.memberMode')
      .alert-striped
        translate MerchantsDetail.HideContacts_fill
        |&nbsp;
        a(ng-href='', ui-sref='app.my.profile')
          translate MerchantsDetail.HideContacts_data
        |&nbsp;
        translate MerchantsDetail.HideContacts_your
        |&nbsp;
        a(ng-href='', ui-sref='my-profile')
          translate MerchantsDetail.HideContacts_profile
        |&nbsp;
        translate MerchantsDetail.HideContacts_toBrowsing
  .cmp__item(ng-if='company.info.company.htmlFullDescription')
    h3
      translate ABOUT_COMPANY
    p(ng-bind-html='company.info.company.htmlFullDescription')
  .cmp__item(ng-if='company.info.activities[0].list.length || company.info.activities[1].list.length')
    h3
      translate KIND_OF_ACTIVITY
    .row-fluid
      .input-default.span6
        | {{company.info.activities[0].name}}
        ul
          li(ng-repeat='activity in company.info.activities[0].list')
            a(ng-href="{{ appPath('/activity/' + activity.Id) }}") {{activity.Name}}
      .input-default.span6
        | {{company.info.activities[1].name}}
        ul
          li(ng-repeat='activity in company.info.activities[1].list')
            a(ng-href="{{ appPath('/activity/' + activity.Id) }}") {{activity.Name}}
