.catalog-tbl
  .catalog-tbl__item.catalog-tbl__item--brd.part3(ng-repeat='user in company.users', ng-hide='user.membership.isConfirmed == false && !company.adminMode')
    .cmp__actns(ng-if='company.adminMode')
      a.btn-edit(href='', ng-click="openModal({tpl: 'companies/user-edit', class: 'mdl-app modal-admin', cb: company.editMember, scope: { position: user.membership }})")
        i.app-icon.app-icon-79.btn-edit__ico
        translate EDIT
      a.btn-del(ng-click='company.deleteMember(user.membership.userId, $index)')
        translate DELETE
      a.btn-cnf(ng-if='!user.membership.isConfirmed', ng-click='company.confirmMember(user.membership)')
        translate Confirm
      span.btn-cnf(ng-if='!user.membership.isAdministrator && user.membership.isConfirmed')
        translate CompanyUserConfirmed
    .catalog__logo.pull-left
      .middle-thumb-container
        img(ng-src='{{user.profile.avatar}}', alt='{{company.info.company.fullName}}')
    .catalog__cnt
      .catalog__ttl
        .auth__user(user-name='user.profile')
      .catalog__pos(ng-bind='user.membership.position')
      .catalog__pos(ng-bind='user.membership.unconfirmedPosition')
      .catalog__cmp(ng-bind='user.profile.company')
      a.catalog__check.catalog__check--bottom.lnk-color(ng-if="currentLang == 'ru'", metrika="'company-to-user-check'", ng-href="{{appPath('individuals', { moduleName: 'check', roomId: 1 }) + '?firstname=' + user.FullName + '&innfl=' + profile.TaxId}}")
        i.icon-search.icon-md.lnk-color__ico
        translate CheckUser
