//- mixins
include ../../includes/thumbnails
include ../../includes/blacklists
include ../../includes/vacancies
include ../../includes/videos
include ../../includes/slider-goods
include ../../includes/slider-ads
include ../../includes/slider-prices
include ../../includes/catalog-prices
include ../../includes/catalog-cv
include ../../includes/catalog-ads
include ../../includes/catalog-companies
include ../../includes/catalog-topics
//- end mixins

.catalog.full-height.c-view.companies-details.cnt-nav-left(ng-controller='CompaniesSingleCtrl as company')
  ng-include(src="'views/app/companies/_navCanopy.html'")
  ng-include(src="'views/app/companies/_navTop.html'")
  #scroll-container.c-cnt
    .container-fluid(ng-if='company.singleSearch && company.totalItems > 10')
      .row
        .col-lg-12
          .pgn.pgn--lg.pgn--top
            ui-pagination(total-items='company.totalItems', page='company.page', on-select-page='company.changePage(page)', items-per-page='10')
    .container-fluid.catalog__item(ng-if='company.info.company.isDraft && company.adminMode')
      .row
        .col-lg-12
          a.btn.btn-df.btn-primary.btn-df--sm(ng-click='company.publish()')
            translate Companies.PublishCompany
    #profile.container-fluid.catalog__item.catalog__item--profile(ng-if='!company.singleSearch')
      .catalog-head
        h2.catalog__hd.catalog-head__ttl(ng-bind='company.info.company.fullName')
      .catalog__block
        include _profile
    .container-fluid.catalog__item(ng-if='company.info.company.isDraft && company.adminMode')
      .row
        .col-lg-12
          a.btn.btn-df.btn-primary.btn-df--sm(ng-click='company.publish()')
            translate Companies.PublishCompany
    #users.container-fluid.catalog__item.catalog__item--users(ng-if='company.users !== undefined && company.users.length && !company.singleSearch')
      .row
        .col-lg-12
          .catalog-head
            h2.catalog__hd.catalog-head__ttl
              translate Companies.CompanyStaff
          .catalog__block
            include _users
    #company-chat.container-fluid.catalog__item.catalog__item-chats(ng-show='company.feedItems.length', ng-if='company.feedItems != null', messenger-inputs='')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm(metrika="'company-to-chat'", ng-href="{{ appPath('item/' + company.info.company.id + '/chat') }}")
                translate GoToChat
            h2.catalog__hd.catalog-head__ttl
              translate Companies.StaffsLastMessages
          .catalog__block
            chat-body(feed-items='company.feedItems', template='views/directives/chat/chat-body-catalog.html', date-stamps-reverse='true')
    #prices.container-fluid.catalog__item.catalog__item--prices(ng-if='company.prices !== undefined && company.prices.length')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'company-prices'", ng-href="{{ appPath('item/' + company.info.company.id + '/prices') }}")
                translate AllPrices
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'company-add-price'", ng-click='company.addPrice()', href='')
                translate AddPrices
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularPrices
          .catalog__block
            +catalog-prices('company.prices')
    #goods.container-fluid.catalog__item.catalog__item--goods(ng-if='company.goods != null', ng-show='company.goods.length')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm(ng-if="!company.singleSearch && company.counts['goods'] > 5", ng-href="{{ appPath('item/' + company.info.company.id + '/goods') }}")
                translate AllGoods
              a.btn.btn-df.btn-create.btn-df--sm(ng-if='company.adminMode || company.memberMode', href='', ng-click='company.addGood()')
                translate ADD_GOODS
            h2.catalog__hd.catalog-head__ttl
              translate Companies.PopularGoods
          ul.catalog-thumb.thumbnails.grid
            li.catalog__block.catalog-thumb__item(ng-repeat='offer in company.goods')
              +thumbnails('Catalog', 'company.currencyCodes[offer.currencyCode]', 'company.merchandiseUnits[offer.priceUnit]', 'company.')
    #ads.container-fluid.catalog__item.catalog__item--ads(ng-if='company.ads !== undefined && ((company.empty <= 2 && company.ads.length == 0) || company.ads.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'company-ads'", ng-if="!company.singleSearch && company.counts['ads'] > 5", ng-href="{{ appPath('item/' + company.info.company.id + '/ads') }}")
                translate AllAds
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'company-add-ad'", ng-if='company.adminMode || company.memberMode', ng-click='company.addBoard()')
                translate ADD_AD
            h2.catalog__hd.catalog-head__ttl
              translate Companies.PopularAds
          .catalog__block
            +catalog-ads('company.ads')
    #services.container-fluid.catalog__item.catalog__item--services(ng-if='company.services != null', ng-show='company.services.length')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm(ng-if="!company.singleSearch && company.counts['services'] > 5", ng-href="{{ appPath('item/' + company.info.company.id + '/services') }}")
                translate AllServices
              a.btn.btn-df.btn-create.btn-df--sm(ng-if='company.adminMode || company.memberMode', ng-click='company.addService()')
                translate ADD_SERVICE
            h2.catalog__hd.catalog-head__ttl
              translate Companies.PopularServices
          ul.catalog-thumb.thumbnails.grid
            li.catalog__block.catalog-thumb__item(ng-repeat='offer in company.services')
              +thumbnails('Catalog', 'company.currencyCodes[offer.currencyCode]', 'company.serviceUnits[offer.priceUnit]', '')
    #topics.container-fluid.catalog__item.catalog__item--topics(ng-if='company.topics != null', ng-show='company.topics.length')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm(metrika="'companies-forum'", ng-href="{{ appPath('item/' + company.info.company.id + '/forum') }}")
                translate AllTopics
            h2.catalog__hd.catalog-head__ttl
              translate Companies.PopularTopics
          .catalog__block
            +catalog-topics('company.topics')
    #jobs.container-fluid.catalog__item.catalog__item--jobs(ng-if='company.jobs != null', ng-show='company.jobs.length')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-show='company.jobs.length')
              a.btn.btn-df.btn-primary.btn-df--sm(ng-if="company.counts['jobs'] > 5 && !company.singleSearch", ng-href="{{ appPath('item/' + company.info.company.id + '/jobs') }}")
                translate AllVacancies
              a.btn.btn-df.btn-create.btn-df--sm(ng-if='company.adminMode || company.memberMode', ng-click='company.addJob()', href='')
                translate ADD_VACANCY
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularVacancies
          .catalog__block
            +catalog-tbl-vacancies('job in company.jobs')
    #blacklists.container-fluid.catalog__item.catalog__item--blacklists(ng-if='company.blacklists != null', ng-show='company.blacklists.length')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm(ng-if="!company.singleSearch && company.counts['blacklists'] > 5", ng-href="{{ appPath('item/' + company.info.company.id + '/blacklists') }}", href='')
                translate AllInBlacklist
              a.btn.btn-df.btn-create.btn-df--sm(ng-if='company.adminMode || company.memberMode', ng-click='company.addBlacklist()', href='')
                translate AddToBlacklist
            h2.catalog__hd.catalog-head__ttl
              translate Companies.CompanyBlacklist
          +catalog-obj-blacklists('black in company.blacklists')
    #videos.container-fluid.catalog__item.catalog__item--videos(ng-if='company.videos != null', ng-show='company.videos.length')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-if='company.videos.length')
              a.btn.btn-df.btn-primary.btn-df--sm(ng-if="company.counts['videos'] > 5 && !company.singleSearch", ng-href="{{ appPath('item/' + company.info.company.id + '/videos') }}")
                translate AllVideos
              a.btn.btn-df.btn-create.btn-df--sm(ng-if='company.adminMode || company.memberMode', ng-click='company.addVideo()', href='')
                translate ADD_VIDEO
            h2.catalog__hd.catalog-head__ttl
              translate Companies.NewVideos
          .catalog__block
            +catalog-tbl-videos('video in company.videos')
    hr.catalog__hr(ng-if='(company.adminMode || company.memberMode) && (!company.prices.length || !company.goods.length || !company.services.length || !company.ads.length || !company.jobs.length || !company.blacklists.length)')
    .container-fluid.catalog__item(ng-if='(company.adminMode || company.memberMode) && (!company.prices.length || !company.goods.length || !company.services.length || !company.ads.length || !company.jobs.length || !company.blacklists.length)')
      .row
        .col-lg-12
          .catalog__block
            include _empty
    hr.catalog__hr(ng-if='(company.adminMode || company.memberMode) && (!company.prices.length || !company.goods.length || !company.services.length || !company.ads.length || !company.jobs.length || !company.blacklists.length)')
    .container-fluid(ng-if='company.singleSearch && company.totalItems > 10')
      .row
        .col-lg-12
          .pgn.pgn--lg.pgn--bottom
            ui-pagination(total-items='company.totalItems', page='company.page', on-select-page='company.changePage(page)', items-per-page='10')
