.modal-header.text-center
  i.app-icon.app-icon-7.close(ng-click='$close()')
  i.icon-mailing.icon-xlg.icon-df
  h2.modal-title.text-center
    translate AutomaticMailing 
.modal-body
  .modal-inner
        p
          translate AutomaticMailingDescription
        form.modal-form.mailing-form(name='createMailingForm', ng-submit='')
          .form-body
            .form-group.form-group--norel
              label.ppvr-styled
                translate BRANCHES
                i.icon-hint.icon-help(popover='{{"MailingBranchesHint" | translate}}', popover-trigger='mouseenter')
              .lst-typeahead.lst-typeahead--rel
                tags-input(ng-model='broadcast.roomArray', on-tag-added='broadcast.update()', on-tag-removed='broadcast.update()', placeholder='{{"MailingBranchesPlaceholder" | translate}}')
                  auto-complete(source='broadcast.getRooms($query)', min-length='1')
            .form-group.form-group--norel
              label.ppvr-styled
                translate CitiesRegionsCountries
                i.icon-hint.icon-help(popover='{{"MailingRegionsHint" | translate}}', popover-trigger='mouseenter')
              .lst-typeahead.lst-typeahead--rel
                tags-input(ng-model='broadcast.cityArray', on-tag-added='broadcast.update()', on-tag-removed='broadcast.update()', placeholder='{{"MailingRegionsPlaceholder" | translate}}')
                  auto-complete(source='broadcast.getCities($query)', min-length='1')
            .form-group.m-summary
              table.table.tbl-summary.text-center
                thead
                  tr
                    th.text-center
                      translate TotalUsers
                    th.text-center
                      translate PricePerUser
                    th.text-center
                      translate TotalPrice
                tbody
                  tr
                    td
                      span(ng-bind='broadcast.peopleCount')
                    td
                      | 1
                      translate RUB
                    td
                      span(ng-bind='broadcast.price')
                      |  
                      translate RUB
            p
              translate AutomaticMailingHint
          .form-actions
            button.btn.btn-df.btn-green.pull-right(type='submit', ng-disabled='broadcast.lock || !broadcast.agree || broadcast.price == 0', ng-click='broadcast.sendIt()', metrika="'promote-create'")
              translate SendToAll
            .chckbx.chckbx-sm
              .chckbx__inpt.chckbx-sm__inpt
                input#Agree(type='checkbox', ng-model='broadcast.agree', required='true')
                label(for='Agree')
              .chckbx__lbl.chckbx-sm__lbl
                translate MailingAgreementTxt_1
                |  
                a(href='/legal' target="_blank" ng-click="$close()")
                  translate MailingAgreementLink
                |  
                translate MailingAgreementTxt_2
            
