.modal-header.text-center
  i.app-icon.app-icon-7.close(ng-click='$close()')
  i.sprite-mobilecommerce
.modal-body
  .modal-inner
    form.modal-form(name='phoneNumberForm')
      .form-body
        .form-group
          label
            translate EnterYourMobile
          input(type="tel", placeholder="7XXXXXXXXXX", pattern="7[0-9]{10}", max-length="11", required, ng-model="number")
        .form-actions.text-center
          a.btn.btn-df.btn-primary(ng-href="{{pay.url}}&msisdn={{number}}", ng-disabled="!phoneNumberForm.$valid", target="_blank", ng-click="pay.sent('mobile')")
            translate SendInvoice