.modal-header.text-center
  i.app-icon.app-icon-7.close(ng-click='$close()')
  i.icon-top-item.icon-xlg.icon-df
  h4.modal-title.text-center
    translate PinSuccessful
.modal-body
  .modal-inner
    p
      translate(translate-values="{ duration: duration }") PinSuccessful_1
    p
      translate PinSuccessful_2
      a(ui-sref="app.merchants-room-tab({ roomId: $roomName, tabName: 'merchandise', layout: 'my' })")
        translate FOUND_GOODS
      | ,
      |&nbsp;
      a(ui-sref="app.merchants-room-tab({ roomId: $roomName, tabName: 'service', layout: 'my' })")
        translate FOUND_SERVICES
      | ,
      |&nbsp;
      a(ui-sref="app.merchants-room-tab-type({ roomId: $roomName, tabName: 'board', indexType: 'my' })")
        translate ADS
      | ,
      |&nbsp;
      a(ui-sref="app.merchants-room-tab-type({ roomId: $roomName, tabName: 'prices', indexType: 'my' })")
        translate FOUND_PRICE_LISTS
      | .
    p
      translate PinSuccessful_3
.modal-footer.text-center
  button.btn.btn-df(type='button', ng-click='$close()')
    translate MaybeLater
  button.btn.btn-df.btn-green(type='button', ng-click='pinSuccess.orderBroadcast(offer); $close()')
    translate StartSending
