.modal-header.text-center
  i.app-icon.app-icon-7.close(ng-click='$close()')
  i.icon-top-item.icon-xlg.icon-df
  h4.modal-title.text-center
    translate PinProduct 
.modal-body
  .modal-inner
        p
          translate PinProductDescription_1
        p.text-center
          img(src='img/content/pin-example.png', width='510', height='240', alt='{{"PinProduct" | translate}}')
        p
          translate PinProductDescription_2
        form.modal-form.mailing-form(ng-submit="pin.pin(pin.offer)")
          .form-body
            .form-group.btn-checkgroup
              button.btn.btn-checkgroup__item(type='button',
              ng-click='pin.duration = "Month"' ng-class="{ active: pin.duration == 'Month' }")
                i.icon-checkmark.btn-checkgroup__ico
                b
                  translate PinMonth
                span.btn-checkgroup__txt
                  | {{ pin.prices.Month }}
                  translate RUB
              button.btn.btn-checkgroup__item(type='button',
              ng-click='pin.duration = "Week"' ng-class="{ active: pin.duration == 'Week' }")
                i.icon-checkmark.btn-checkgroup__ico
                b
                  translate PinWeek
                span.btn-checkgroup__txt
                  | {{ pin.prices.Week }}
                  translate RUB
              button.btn.btn-checkgroup__item(type='button',
              ng-click='pin.duration = "ThreeDays"' ng-class="{ active: pin.duration == 'ThreeDays' }")
                i.icon-checkmark.btn-checkgroup__ico
                b
                  translate Pin3Days
                span.btn-checkgroup__txt
                  | {{ pin.prices.ThreeDays }}
                  translate RUB
          .form-actions
            button.btn.btn-df.btn-green.pull-right(type='submit', metrika="'pin-create'")
              translate Pin
            .chckbx.chckbx-sm
              .chckbx__inpt.chckbx-sm__inpt
                input#Agree(type='checkbox', required)
                label(for='Agree')
              .chckbx__lbl.chckbx-sm__lbl
                translate MailingAgreementTxt_1
                |  
                a(href='/legal' target="_blank" ng-click="$close()")
                  translate MailingAgreementLink
                |  
                translate MailingAgreementTxt_2
