.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate {{'CongratulationsProductSuccessfullyCreated.' + promotion.offer.kind}}
.modal-body
  .modal-inner
    p(translate="{{'PromotionTxt.' + promotion.offer.kind}}")
    ul.lst-tips.list-unstyled
     li.lst-tips__item(ng-if="addThisTitle")
        .lst-tips__bl-l
          .valighn-fx
          i.lst-tips__ico.icon-share2.icon-xlg.icon-df
        .lst-tips__bl
          .valighn-fx
          .lst-tips__cnt
            div(addthis='' url='{{promotion.url}}', description='addThisDescription', title='addThisTitle' class="addthis_32x32_style")
            p
              translate {{'PromotionItem1.' + promotion.offer.kind}}
      li.lst-tips__item
        .lst-tips__bl-l
          .valighn-fx
          i.lst-tips__ico.icon-mailing.icon-xlg.icon-df
        .lst-tips__bl
          .valighn-fx
          .lst-tips__cnt
            button.btn.btn-df.btn-primary.lst-tips__btn(ng-click='promotion.orderBroadcast(promotion.offer)', metrika="'promote-click'")
              translate AutomaticMailing
            p 
              translate PromotionItem2            
      li.lst-tips__item
        .lst-tips__bl-l
          .valighn-fx
          i.lst-tips__ico.icon-top-item.icon-xlg.icon-df
        .lst-tips__bl
          .valighn-fx
          .lst-tips__cnt
            button.btn.btn-df.btn-primary.lst-tips__btn(ng-click='promotion.pinOffer(promotion.offer)', metrika="'pin-click'")
              translate {{'PinTop.' + promotion.offer.kind}}
            p
              translate {{'PromotionItem3.' + promotion.offer.kind}}
.modal-footer.centered
  a(ng-click='$close()')
    translate PromotionCancel
