.content-item
  // div ng-hide="threadsLoaded" class="loading" translate="LOADING"></div
  div(paginator='pageOptions')
  table.table.table--admin.table--admin-video(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !video.isApproved }", ng-repeat='video in videos')
        td.table-image
          .table__video
            img(ng-src='{{video.thumb}}')
        td
          .table__metadata
            .metadata.right-bordered
              .auth__addon
                translate ADDED_BY
                | :
              .auth__user(user-name='video.user')
            .metadata {{video.created | date:'medium'}}
          .table__metadata
            .metadata.right-bordered
              | {{'BRANCH' | translate}}:
              room-info(room-id='video.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
            .metadata
              | {{'CATEGORY' | translate}}: 
              a(ng-click="newWinRoute([video.roomUrlName, 'cat', video.sectionId])") {{video.section}}
          .table__message
            .table__title
              a(ng-click="newWinRoute([video.roomUrlName, 'item', video.id])") {{video.name}}
            span(ng-bind-html='video.htmlDescription')
          .icons
            div(vote='video.voteOptions')
            span.icons-item
              a(ng-click="newWinRoute(video.roomUrlName + '/item/'+video.id)")
                i.app-icon.app-icon-95
                |              {{video.commentCount}}
            span.icons-item
              i.app-icon.app-icon-101
              |  {{video.viewCount}}
        td.table-actions.my-edit-controls
          div(ng-hide='video.isDeleted')
            button.btn.btn-df.btn-primary(ng-hide='video.isApproved', ng-click='approve(video)')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'video-edit', class: 'mdl-app modal-admin', scope: { video: video }, cb: reload})")
              i.app-icon.app-icon-79
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/video/move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { video: video }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/video/delete', class: 'mdl-app modal-admin', cb: reload, scope: { video: video }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-click='restore(video)', ng-show='video.isDeleted')
            i.app-icon.app-icon-deleted
  div(paginator='pageOptions')
