.content-sub-control
  button.btn.btn-df.btn-create.btn-small(metrika="'job-add'", ng-click='addResume()')
    | {{'ADD_CV' | translate}}
  form.pull-right(ng-submit="route('/jobs/' + $roomName + '/search/' + query)")
    input.form-control.input-sm.input-xlarge(type='text', placeholder="{{'SearchCV' | translate}}", ng-model='query')
.content
  .content-item
    .paginator
      ui-pagination(total-items='resumeTotalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
    table.table.table--inline.table--cv
      tbody
        tr(ng-repeat='resume in resumes')
          td
            .table__title
              a(ng-if='loggedIn', metrika="'leftmenu-to-cv'", target='_blank', href='{{resume.link}}') {{resume.description}}
              a(ng-if='!loggedIn', metrika="'leftmenu-to-cv'", target='_blank', ng-click='modals.alertUnregistered()') {{resume.description}}
            .table__metadata
              .metadata.right-bordered
                .auth__addon
                  translate ADDED_BY
                  | :
                .auth__user(user-name='resume.user')
              .metadata {{resume.dateTime | date:'medium'}}
          td.table-actions.my-edit-controls
            div(ng-if='loggedIn && (userId == job.UserId || myProfile.IsModerator)')
              button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'resume-edit', class: 'mdl-app modal-job-add', scope: { roomId: roomId, resume: resume }, cb: reload})")
                i.app-icon.app-icon-79
              button.btn.btn-df.btn-small(ng-click='removeResume(resume)')
                i.app-icon.app-icon-99
    .paginator
      ui-pagination(total-items='resumeTotalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
