.content-sub-control
  button.btn.btn-df.btn-small.btn-create(ng-click='addJob()', metrika="'job-add'")
    | {{'ADD_VACANCY' | translate}}
  form.pull-right(ng-submit="route('/jobs/' + $roomName + '/search/' + query)")
    input.form-control.input-sm.input-xlarge(type='text', placeholder="{{'SearchVacancies' | translate}}", ng-model='query')
.content
  .content-item
    .paginator
      ui-pagination(total-items='jobsTotalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
    table.table.table--inline.table--vacancies
      tbody
        tr(ng-class="{ 'job-new': job.isNew, 'content-item': true }", ng-repeat='job in jobs')
          td
            .organization {{job.company}}
            .table__title
              a(ng-if='loggedIn', metrika="'leftmenu-to-job'", ui-sref='app.jobs-room-item({roomId:$roomName, id:job.id, pageNum:currentPage})') {{job.shortName}}
              a(ng-if='!loggedIn', metrika="'leftmenu-to-job'", ng-click='modals.alertUnregistered()') {{job.shortName}}
            .table__metadata
              .metadata.right-bordered
                .auth__addon
                  translate ADDED_BY
                  | :
                .auth__user(user-name='job.user')
              .metadata {{job.dateTime | date:'medium'}}
          td.table-actions.my-edit-controls
            div(ng-if='userId == job.userId || myProfile.IsModerator')
              button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'vacancy-edit', class: 'mdl-app modal-admin', scope: { edit: true, job: job }, cb: reload})")
                i.app-icon.app-icon-79
              button.btn.btn-df.btn-small(ng-click='remove(job)')
                i.app-icon.app-icon-99
    .paginator
      ui-pagination(total-items='jobsTotalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
