.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_RECORD_BLACKLIST' | translate}}
.modal-body(ng-controller='BlacklistsAdminRemoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='modal.user')
        .metadata {{blacklist.dateTime | date:'medium'}}
      .modal__metadata
        .metadata
          | {{'BRANCH' | translate}}: 
          a(href='') {{blacklist.room}}
    .modal-heading
      a.modal-heading__txt(href='') {{blacklist.title}}
    form.modal-form(action='', ng-submit='remove()')
      .form-body
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea.small(ng-model='reason')
        .form-group
          label {{'NOTE_MODERATOR' | translate}}
          .container-textarea
            textarea.small(ng-model='note')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'DELETE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
