.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_RECORD_BLACKLIST' | translate}}
.modal-body(ng-controller='BlacklistsAdminEditCtrl', ng-submit='edit()')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='blacklist.user')
        .metadata {{modal.date}}
    .modal-heading
      a.modal-heading__txt(href='') {{modal.Title}}
    form.modal-form(ng-submit='save(blacklist)')
      .form-body
        .form-group
          .container-textarea
            textarea(ng-model='blacklist.Details')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
