.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_RECORD_BLACKLIST' | translate}}
.modal-body(ng-controller='BlacklistsAdminMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='blacklist.user')
        .metadata {{blacklist.dateTime | date:'medium'}}
    .modal-heading
      a.modal-heading__txt(href='') {{blacklist.title}}
    form.modal-form(action='', ng-submit='move(blacklist)')
      .form-body
        .form-group.lst-typeahead.lst-typeahead--rel
          label {{'BRANCH' | translate}}
          room-select(room='blacklist.roomId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'MOVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
