doctype html
html.no-js
  head
    meta(charset="utf-8")
    title Expo Pro
    meta(name="description", content="")
    meta(name='viewport', content='width=1340')
    link(rel="shortcut icon", href="/favicon.ico")
    // build:css styles/vendor.min.css
    // endbuild
    // build:css({.tmp,app}) styles/main.min.css
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    

  body
    .wrap
      block content
    include ../modules/_footer
    // build:js scripts/vendor/jquery.min.js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbuild
    // build:js scripts/plugins.min.js
    script(src="scripts/plugins/bootstrap.min.js")
    script(src="scripts/plugins/select2.min.js")
    script(src='../bower_components/slick.js/slick/slick.min.js')    
    script(src='scripts/plugins/bootstrap-datepicker.min.js')
    script(src="scripts/plugins/bootstrap-datepicker.ru.min.js")
    // endbuild
    // build:js({app,.tmp}) scripts/main.min.js
    script(src="scripts/main.js")
    // endbuild
