header.header
  .header__inner.container
    .row.header__row
      h1.grid.header__logo.logo
        a.logo__lnk(href="/")
          img.logo__img(src="images/logo_ExpoPro.png", alt="Expo Pro", width="142", height="42")
      .grid.header__right
        .header__right-item
          //begin navtop
          block navtop
          //end navtop
        .header__right-item
          block search
        .header__right-item
          //begin city
          .city
            select#j-city(data-width="200")
              option(value="0") Калининград
              option(value="1") Москва
              option(value="2") Санкт-Петербург
              option(value="3") Нижний Новгород
              option(value="4") Калининград
              option(value="5") Москва
              option(value="6") Санкт-Петербург
              option(value="7") Нижний Новгород
              option(value="8") Калининград
              option(value="9") Москва
              option(value="10") Санкт-Петербург
              option(value="11") Нижний Новгород
              option(value="12") Калининград
              option(value="13") Москва
              option(value="14") Санкт-Петербург
              option(value="15") Нижний Новгород
          //end city
        .header__right-item
          //begin lang
          a.lang(href="#777")
            span.icon.lang__ico
            span.lang__text Eng
          //end lang
        .header__right-item
          //begin sign-up
          .dropdown.sign-up
            button.btn.btn--primary.btn-sign-up(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              span.icon.btn-sign-up__ico
              span.hidden Аккаунт
            ul.drpdwn-sign-up(class="dropdown-menu")
              li.drpdwn-sign-up__item
                a.drpdwn-sign-up__lnk(href="#777")
                  span.icon.drpdwn-sign-up__ico.drpdwn-sign-up__ico--login
                  span Вход
              li.drpdwn-sign-up__item
                a.drpdwn-sign-up__lnk(href="#777")
                  span.icon.drpdwn-sign-up__ico.drpdwn-sign-up__ico--reg
                  span Регистрация
          //end sign-up
block collapse-search
