.container
  .row
    .grid-8
      h2.ttl-lg Условия участия
      p Интерес к выставке вооружения в Украине вызывает наличие в государстве одной из самых многочисленных армий в Европе, которая требует модернизации и перевооружения, достаточно мощного обороннопромышленного комплекса, предприятия которого нуждаются в кооперации с разработчиками передовых технологий для создания производства современных образцов вооружения в интересах вооруженных сил и обеспечения экспорта.
      include ../../components/list-styled
      h3 Подзаголовок
      p Не меньшее внимание уделяется и экспозиции гражданского оружия. В рамках данного раздела выставки демонстрируется самый разнообразный ассортимент (в ценовом диапазоне и по количеству всемирно известных торговых марок) охотничьего, спортивного, исторического и холодного оружия, сопутствующих товаров для охоты и активного отдыха.
      .title-n-link
        a.title-n-link__link(href="#777") + Добавить стенд
        h2.ttl-md.title-n-link__ttl Стенды
      .row
        .grid.stand
          //begin table
          table.table(cellspacing="10")
            thead
              tr
                th.table__th Стенд
                th.table__th Цена ₽
                th.table__th Площадь м2
            tbody
              tr
                td.table__td
                  a.underlined(href="#777") F 1
                td.table__td 1 000 000
                td.table__td 134,5
              tr
                td.table__td
                  a.underlined(href="#777") G 0 (Стандарт)
                td.table__td 1 000 000
                td.table__td 134,5
              tr
                td.table__td
                  a.underlined(href="#777") F 1
                td.table__td 350 000
                td.table__td 134,5
              tr
                td.table__td
                  a.underlined(href="#777") F 1
                td.table__td 1 000 000
                td.table__td 134,5
              tr
                td.table__td
                  a.underlined(href="#777") F 1
                td.table__td 1 000 000
                td.table__td 134,5
              tr
                td.table__td
                  a.underlined(href="#777") F 1
                td.table__td 1 000 000
                td.table__td 134,5
          //end table
          .stand__action
            button.btn.btn--lg.btn--primary-light.stand__btn(type="button") Заказать стенд
        .grid.scheme
          .scheme__ttl Схема площадки
          img.scheme__img(src="images/content/map.jpg", alt="", width="331", height="229")
          .scheme__action
            a.scheme__lnk.underlined(href="#777") Увеличить изображение
    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            button.btn.btn--lg.btn--primary-light.sidebar__btn(type="button") Заказать стенд
            button.btn.btn--light.sidebar__btn(type="button") Добавить стенд
          .sidebar-block.sidebar-lnks
            .sidebar-lnks__item
              a.sidebar-lnks__lnk(href="#777")
                span.icon.icon--list
                | Еще услуги
            .sidebar-lnks__item
              a.sidebar-lnks__lnk(href="#777")
                span.icon.icon--map
                | Карта выставки
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Оганизатор
            | МВЦ «Балтик Экспо»
          .sidebar-block
            img(src="images/content/baltic_expo.jpg", alt="", width="", height="")
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Контактная информация
            | I павильон: +7 (4012) 727-262
            br
            | II павильон: +7 (4012) 727-113
            br
            | III павильон: +7 (4012) 727-252
            br
            | E-mail: ask@crocus-off.ru
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Отрасль
            a(href="#777") Оружие
            | ,
            a(href="#777") Охота и рыбалка
            | ,
            a(href="#777") Спорт
      //end sidebar
