.container
  .row
    .grid-8
      h2.ttl-lg Региональная выставка «Мир Семьи»
      p В выставке принимают участие фирмы, организации, магазины, частные предприниматели, общественные организации, развивающие центры, фонды, агентства, студии и клубы, организаторы всех видов семейного и детского отдыха, а также все, кому близка эта тема, кому есть что предложить для будущих молодоженов,  будущих мам,  детей и их родителей, детей с ограниченными возможностями.

      #j-gallery.gallery
        .gallery__item
          img(src="images/gallery/g_1.jpg", alt="", width="860", height="460")
        .gallery__item
          img(src="images/gallery/g_2.jpg", alt="", width="860", height="460")
        .gallery__item
          img(src="images/gallery/g_3.jpg", alt="", width="860", height="460")
        .gallery__item
          img(src="images/gallery/g_4.jpg", alt="", width="860", height="460")
        .gallery__item
          img(src="images/gallery/g_5.jpg", alt="", width="860", height="460")
        .gallery__item
          img(src="images/gallery/g_7.jpg", alt="", width="860", height="460")
        .gallery__item
          img(src="images/gallery/g_8.jpg", alt="", width="860", height="460")
      #j-gallery-nav.gallery-nav
        .gallery-nav__item
          img(src="images/gallery/g_1.jpg", alt="", width="90", height="60")
        .gallery-nav__item
          img(src="images/gallery/g_2.jpg", alt="", width="90", height="60")
        .gallery-nav__item
          img(src="images/gallery/g_3.jpg", alt="", width="90", height="60")
        .gallery-nav__item
          img(src="images/gallery/g_4.jpg", alt="", width="90", height="60")
        .gallery-nav__item
          img(src="images/gallery/g_5.jpg", alt="", width="90", height="60")
        .gallery-nav__item
          img(src="images/gallery/g_7.jpg", alt="", width="90", height="60")
        .gallery-nav__item
          img(src="images/gallery/g_8.jpg", alt="", width="90", height="60")
    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Оганизатор
            | МВЦ «Балтик Экспо»
          .sidebar-block
            img(src="images/content/baltic_expo.jpg", alt="", width="", height="")
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Контактная информация
            | I павильон: +7 (4012) 727-262
            br
            | II павильон: +7 (4012) 727-113
            br
            | III павильон: +7 (4012) 727-252
            br
            | E-mail: ask@crocus-off.ru
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Отрасль
            a(href="#777") Оружие
            | ,
            a(href="#777") Охота и рыбалка
            | ,
            a(href="#777") Спорт
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Рассказать о выставке
            //begin social
            ul.social.social--left
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--fb-lg
                  span.hidden Facebook
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--tw-lg
                  span.hidden Twitter
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--in-lg
                  span.hidden LinkedIn
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--vk-lg
                  span.hidden Вконтакте
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                    span.icon.lnk-social__ico.lnk-social__ico--ok-lg
                    span.hidden Одноклассники
            //end social
      //end sidebar
