.stand-main.container
  .row
    .grid-8
      h2.ttl-lg Региональная выставка «Мир Семьи»
      p.text-lg Если вы за крепкую и здоровую семью, гармоничное развитие детей и сохранение семейных традиций, ЖДЕМ ВАС на выставку «МИР СЕМЬИ»!
      p(style="text-align: center") <iframe width="600" height="400" src="https://www.youtube.com/embed/kNxm5sgp9pU" frameborder="0" allowfullscreen></iframe>
      p В выставке принимают участие фирмы, организации, магазины, частные предприниматели, общественные организации, развивающие центры, фонды, агентства, студии и клубы, организаторы всех видов семейного и детского отдыха, а также все, кому близка эта тема, кому есть что предложить для будущих молодоженов,  будущих мам,  детей и их родителей, детей с ограниченными возможностями.
      h3 На  выставке для посетителей будут проводиться  консультации специалистов и сотрудников:
      ul.lst-styled
        li.lst-styled__item Центра социальной помощи семье и детям по вопросам социально — психологическим, педагогическим, правовым, экономическим, бытовым, медицинским;
        li.lst-styled__item Центра социальной поддержки населения по вопросам выплат материнского капитала, социальным выплатам;
        li.lst-styled__item Областного центра диагностики и консультирования детей и подростков;
        li.lst-styled__item Центра медицинской профилактики и реабилитации Калининградской области;
        li.lst-styled__item Реабилитационных центров для детей и подростков с ограниченными возможностями «Детство», «Особый ребенок», «Теплый дом», «Мечта», «Доверие», «Жемчужина», «Новые горизонты»;
        li.lst-styled__item Центра социальной поддержки населения;
        li.lst-styled__item Юристов и психологов, логопедов, стоматологов и дефектологов;
        li.lst-styled__item Страховых компаний по защите жизни и здоровья;
      p Специалисты Центра медицинской профилактики и реабилитации Калининградской области организуют акцию «Здоровая семья — здоровая Россия».
      p Все  посетители выставки смогут проверить уровень своего здоровья, оценить состояние основных органов и систем организма и  оставить  информацию на «Кубе здоровья».
      h3 Работа акции организованна по станциям:
      ul.lst-styled
        li.lst-styled__item Здоровое сердце
        li.lst-styled__item Физическая активность-залог долголетия
        li.lst-styled__item Принципы безопасного питания
        li.lst-styled__item Эмоциональное состояние и стрессоустойчивость
        li.lst-styled__item На каждой станции по завершении обследования будут выдаваться стикеры разных цветов, символизирующие различное состояние здоровья.
      p Посетив все станции и разместив стикеры на «Кубе здоровья» посетители помогут создать карту здоровья Калининградской области. Будет работать психодиагностическая лаборатория.
      p Программа «Благополучие семьи», созданная Партнёрством социально ориентированных общественных организаций, направленная на создание семьи, укрепление семейных отношений, воспитание детей в рамках выставки проводит следующие мероприятия: Социальное Пати, Презентации факультетов «Благополучие семьи», Консультации психологов, Юридические консультации, Конкурсы: «Поющая семья», «Моя  спортивная семья», «Танцующая семья» - победителям призы.
      p Выступление танцевального коллектива "Контр-данц", "Мастер-класс причёсок для детей" с дефиле причёсок на подиуме, коллектива студии слинготанца "Радужные слинги".
      p На стенде «Детской Академии Речи» посетители смогут познакомиться и получить бесплатную консультацию у логопеда, а также приобрести абонемент на первый месяц занятий с 10% скидкой.
      p Международное общественное движение "ЗА НРАВСТВЕННОСТЬ!" предложит простые правила, которые делают нашу жизнь лучше и проведет презентации  книги "Покаяние спасет Россию. О Царской семье.", которая рассказывает о жизни семьи и секретах семейного счастья последнего русского царя Николая II и царицы Александры Федоровны Романовых.
      p 23 мая в субботу  в 13.00 Конноспортивный центр «Каприоль» приглашает на Конно-цирковое представление: джигитовка, конные акробаты, игры и конкурсы, показательные выступления пони-клуба.
      p В рамках выставки пройдут мероприятия  Централизованной библиотечной системы,  музеев по программам для детей и подростков;
      p Посетителей выставки ждут мастер-классы мастеров народного творчества, шахматные турниры с живыми шахматными фигурами, флешмобы, концертные и развлекательные программы.
      p На выставке будет организована продажа разнообразных товаров для взрослых, детей и подростков; спорта и отдыха, спортивно-игровые комплексы; здоровья семьи; дома и быта.
      p Ждем ваши предложения!

      
      .block
        //begin companies
        .block__item
          h2 Официальные партнеры
          .row.companies__item.company
            .grid.company__logo
              img(src="images/content/logo_R.png", alt="", width="", height="")
            .grid.company__body
              h4.company__ttl Ростелеком
              .company__text
                | ОАО «Ростелеком» - национальная телекоммуникационная компания России. «Ростелеком» разрабатывает комплексные решения и оказывает услуги на базе собственной магистральной сети связи, которая охватывает всю территорию РФ.
              .company__footer
                a.company__lnk(href="#777") www.rostelecom.ru
          .row.companies__item.company
            .grid.company__logo
              img(src="images/content/logo_Y.png", alt="", width="", height="")
            .grid.company__body
              h4.company__ttl Яндекс
              | ОАО «Ростелеком» - национальная телекоммуникационная компания России. «Ростелеком» разрабатывает комплексные решения и оказывает услуги на базе собственной магистральной сети связи, которая охватывает всю территорию РФ.
              .company__footer
                a.company__lnk(href="#777") www.yandex.ru
        //end companies
        //begin news
        .block__item
          .title-n-link
            a.title-n-link__link(href="#777") + Добавить новость
            h2.title-n-link__ttl Новости выставки
          .row
            .grid-6
              article.media
                .media__pic
                  img(src="images/news_prev.jpg", alt="", width="110", height="90")
                .media__body
                  h4.media__ttl
                   a(href="#777") Мир семьи. Страна детства
                  | 21 мая в Выставочном комплексе "Балтикэкспо" состоится торжественное открытие выставки "Мир семьи. Страна детства - 2015", приуроченной к Международному дню семьи.
            .grid-6
              article.media
                .media__body
                  h4.media__ttl
                   a(href="#777") Акция «Здоровая семья — здоровая Россия».
                  | Специалисты Центра медицинской профилактики и реабилитации Калининградской области организуют акцию «Здоровая семья — здоровая Россия»
        //end news
      

    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            button#btn-order-stand.btn.btn--lg.btn--primary-light.sidebar__btn(type="button") Заказать стенд
            button.btn.btn--light.sidebar__btn(type="button") Добавить стенд
          .sidebar-block.sidebar-lnks
            .sidebar-lnks__item
              a.sidebar-lnks__lnk(href="#777")
                span.icon.icon--list
                | Еще услуги
            .sidebar-lnks__item
              a.sidebar-lnks__lnk(href="#777")
                span.icon.icon--map
                | Карта выставки
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Место проведения
            | Калининград, ул. Октябрьская, 3а
          .sidebar-block
           .sidebar-block__ttl Выставочный центр
           | На Острове напротив Рыбной деревни, Кафедрального собора им. И. Канта, рядом с ТЦ «Виктория»
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Организатор
            | МВЦ «Балтик Экспо»
          .sidebar-block
            img(src="images/content/baltic_expo.jpg", alt="", width="", height="")
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Контактная информация
            | I павильон: +7 (4012) 727-262
            br
            | II павильон: +7 (4012) 727-113
            br
            | III павильон: +7 (4012) 727-252
            br
            | E-mail: ask@crocus-off.ru
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Отрасль
            a(href="#777") Оружие
            | ,  
            a(href="#777") Охота и рыбалка
            | ,  
            a(href="#777") Спорт
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Рассказать о выставке
            //begin social
            ul.social.social--left
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--fb-lg
                  span.hidden Facebook
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--tw-lg
                  span.hidden Twitter
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--in-lg
                  span.hidden LinkedIn
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--vk-lg
                  span.hidden Вконтакте
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                    span.icon.lnk-social__ico.lnk-social__ico--ok-lg
                    span.hidden Одноклассники
            //end social
        .sidebar__item
          .sidebar-block
            a(href="#777")
              span.icon.icon--pdf
              | Скачать пресс-релиз (PDF)
          .sidebar-block
            a(href="#777")
              span.icon.icon--back
              | Выставка в прошлом году
      //end sidebar
.stand-main.container.hidden
  .row
    .grid-6.grid-offset-3
      h2 Заявка на участие
      form
        .form-group
          select.select(data-placeholder="– Компания участник –")
            option(value="")
            option(value="0") Option1
            option(value="1") Option2
            option(value="2") Option3
        .form-group.form-group--bordered
          label.form-label Описание стенда
          textarea.form-control(rows="10")
        .form-group.form-group--bordered
          label.form-label Фотография стенда
          .upload
            img.upload__img(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
            .upload__lnk
              .file-upload
                .file-upload__btn
                  span.icon.icon--photo
                  | Загрузить изображение                
                input.file-upload__input(type="file")
            .addition.upload__addition
              | Поддерживются форматы: jpg, png, gif, bmp
              br
              | Объем файла не более: 1 мб
        .form-group
          label.form-label Выбрать стенд
          select.select(data-placeholder="– А4 – 34,5 м2 (34 500₽) –")
            option(value="")
            option(value="0") Option1
            option(value="1") Option2
            option(value="2") Option3
        .form-group.form-group--bordered
          img(src="images/content/stand-map.jpg", alt="", width="640", height="356")
        .form-group
          label.form-label Отрасль
          select.select(data-placeholder="– Отрасли  –")
            option(value="")
            option(value="0") Option1
            option(value="1") Option2
            option(value="2") Option3
        .form-group
          select.select(data-placeholder="– Подотрасли  –")
            option(value="")
            option(value="0") Option1
            option(value="1") Option2
            option(value="2") Option3
        .form-group.form-group--bordered
          ul.lst-tags
            li.lst-tags__item
              span.lst-tags__text Урал
              button.lst-tags__close(type='button')
                span.icon.lst-tags__close-ico
            li.lst-tags__item
              span.lst-tags__text Центральный ФО
              button.lst-tags__close(type='button')
                span.icon.lst-tags__close-ico
            li.lst-tags__item
              span.lst-tags__text ХМАО
              button.lst-tags__close(type='button')
                span.icon.lst-tags__close-ico
        .form-group
          label.form-label Регион присутствия
          select.select(data-placeholder="– Регион  –")
            option(value="")
            option(value="0") Option1
            option(value="1") Option2
            option(value="2") Option3
        .form-group.form-group--bordered
          ul.lst-tags
            li.lst-tags__item
              span.lst-tags__text Урал
              button.lst-tags__close(type='button')
                span.icon.lst-tags__close-ico
            li.lst-tags__item
              span.lst-tags__text Центральный ФО
              button.lst-tags__close(type='button')
                span.icon.lst-tags__close-ico
            li.lst-tags__item
              span.lst-tags__text ХМАО
              button.lst-tags__close(type='button')
                span.icon.lst-tags__close-ico
        .form-group.form-group--bordered
          label.form-label Каталог товаров/услуг
          select.select(data-placeholder="– Существующие товары/услуги –")
            option(value="")
            option(value="0") Option1
            option(value="1") Option2
            option(value="2") Option3
        .form-group.form-group--bordered
          label.form-label Фотография стенда
          .upload-files
            .upload.upload-files__left
              img.upload__pic(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
              .upload__lnk
                .file-upload
                  .file-upload__btn
                    span.icon.icon--photo
                    | Загрузить изображение                
                  input.file-upload__input(type="file")
              .addition.upload__addition
                | Поддерживются форматы: jpg, png, gif, bmp
                br
                | Объем файла не более: 1 мб
            .upload-files__right
              .form-group
                input.form-control(type='text', placeholder="Название товара/услуги")
              .form-group
                textarea.form-control(rows="5")
              .files
                .files__list
                  .files__item                  
                    a.files__lnk(href="#777")
                      span.icon.icon--doc
                      | Каталог продукции 2015
                    button.btn.btn--default.lnk-dashed.lnk-delete.files__del(type="button")
                      span.close.lnk-delete__ico
                        span.icon.close__ico
                      span.lnk-dashed__text.lnk-delete__text Удалить
                  .files__item
                    a.files__lnk(href="#777")
                      span.icon.icon--xls
                      | Маркетинг-кит 2105
                    button.btn.btn--default.lnk-dashed.lnk-delete.files__del(type="button")
                      span.close.lnk-delete__ico
                        span.icon.close__ico
                      span.lnk-dashed__text.lnk-delete__text Удалить
                .files__upload
                  .file-upload
                    .file-upload__btn.lnk-dashed
                      span + 
                      span.lnk-dashed__text Добавить файлы               
                    input.file-upload__input(type="file")
                .files__addition.addition
                  | Поддерживаемые форматы: pdf, doc, xls, jpg, rar/zip
                  br
                  | Размер одного файла не более 10мб
        .form-group.form-group--bordered
          button.btn.btn--sm.btn--primary-light.btn-back(type="button")
            span.icon.btn-back__icon.btn-back__icon--plus
            span.btn-back__text Добавить товар/услугу
        .form-group
          label.form-label Подключаемые модули
          label.chckbx(for='ModulesOption0')
            input#ModulesOption0(type='checkbox', value='ModulesOption0', name='ModulesOptions', checked)
            span Модуль «поделиться в соц. сетях»
          label.chckbx(for='ModulesOption1')
            input#ModulesOption1(type='checkbox', value='ModulesOption1', name='ModulesOptions')
            span Форма обратной связи
        .form-actions
          button.btn.btn--lg.btn--wide.btn--primary-light.form-actions__btn(type="submit") Создать стенд
          button#btn-cancel-order-stand.btn.btn--lg.btn--extra.form-actions__btn(type="button") Отмена
