//begin contact info
.container
  section.contact-info
    h2.title-n-link__ttl Контактная информация
    .row
      .grid-8
        h3 Калининградский выставочный центр «Балтик-Экспо»
        dl.dl
          dt.dl__dt Адрес:
          dd.dl__dd 236010 Россия, г. Калининград, ул. Ватутина, 20

          dt.dl__dt Телефон:
          dd.dl__dd +7 (4012) 590-650, 590-660

          dt.dl__dt Факс:
          dd.dl__dd +7 (4012) 95-47-88

          dt.dl__dt E-mail:
          dd.dl__dd
            a(href="mailto:info@balticfair.com ") info@balticfair.com

          dt.dl__dt Сайт:
          dd.dl__dd
            a(href="#777") www.balticfair.com

          dt.dl__dt Режим работы:
          dd.dl__dd
            | пн-пт с 9.00 до 18.00
            br
            | (перерыв с 13.00 до 14.00)
      .grid-4
        h3 Контактные лица
        //begin contact
        .contact
          .contact__body
            .contact__name Иванов Иван Сергеевич
            .contact__position менеджер выставки
            .contact__phone +7 (4012) 590-650
            .contact__email
              a(href="#777") akvela@balticfair.com
        //end contact
        //begin contact
        .contact
          .contact__body
            .contact__name Ребинина Аквела
            .contact__position менеджер выставки
            .contact__phone +7 (4012) 590-650
            .contact__email
              a(href="#777") akvela@balticfair.com
        //end contact
  //end contact info

section.g-map
  #j-map.map-canvas
    iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d142032.343838005!2d43.277853!3d56.204546!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1431693079071", width="600", height="500", frameborder="0", style="border:0")
