.content-sub-control
  .btn-group
    button.btn.btn-df(ng-model='bids.type', btn-radio="'active'", ng-click="locationSearch({ type: 'active' })")
      translate ACTIVE
    button.btn.btn-df(ng-model='bids.type', btn-radio="'confirmed'", ng-click="locationSearch({ type: 'confirmed' })")
      translate Confirmed
    button.btn.btn-df(ng-model='bids.type', btn-radio="'reserve'", ng-click="locationSearch({ type: 'reserve' })")
      translate Reserve
    button.btn.btn-df(ng-model='bids.type', btn-radio="'refused'", ng-click="locationSearch({ type: 'refused' })")
      translate Refused
    button.btn.btn-df(ng-model='bids.type', btn-radio="'cancelled'", ng-click="locationSearch({ type: 'cancelled' })")
      translate Cancelled
.content
  .content-item
    p.bg-info(ng-if="bids.type == 'active'")
      translate MyBid.TitleActive
    p.bg-info(ng-if="bids.type == 'confirmed'")
      translate MyBid.TitleConfirmed
    p.bg-info(ng-if="bids.type == 'reserve'")
      translate MyBid.TitleReserve
    p.bg-info(ng-if="bids.type == 'cancelled'")
      translate MyBid.TitleCancelled
    p.bg-info(ng-if="bids.type == 'refused'")
      translate MyBid.TitleRefused
    .table-responsive
      table.table.table--bids
        thead
          tr
            th
              translate MERCHANDISE
            th
              translate Author
            th
              translate YourBid
            th.centered
              translate Reserve
            th.centered
              translate BidDate
            th.centered
              translate PaymentDate
            th.centered
              translate ReceiptDate
            th
              translate Comment
            th
            th
        tbody
          tr(ng-repeat='bid in bids.bids', ng-init='offer = bids.offers[bid.goodsEntryId]')
            td.table-title
              a(ui-sref="app.merchants-room-tab-offer({ roomId: bids.offers[bid.goodsEntryId].roomUrlName, tabName: 'merchandise', offerId: bids.offers[bid.goodsEntryId].id })", ng-bind='::bids.offers[bid.goodsEntryId].title')
            td.table-author(ng-include="'views/app/auth/_bid.html'")
            td.table-bid
              span.price
                span {{::bid.offeredMoney}} {{::currencyCodes[bid.currencyCode]}}
              translate PRICE_FOR
              |&nbsp;
              | {{::bid.amount}} {{::priceUnits[bids.offers[bid.goodsEntryId].priceUnit]}}
            td.table-mark
              i.icon-checkmark.green(ng-if='bid.reserveOnly')
              i.icon-cancel.red(ng-if='!bid.reserveOnly')
            td.table-date
              | {{ ::bid.dateTime | date:'medium' }}
            td.table-date
              | {{ ::bid.expectedPaymentDateTime | date:'medium' }}
            td.table-date
              | {{ ::bid.expectedReceiptDateTime | date:'medium' }}
            td.table-actions
              button.btn.btn-df.btn-create.table-act__btn(metrika="'bid-action-click'", ng-click='bids.cancel(bid)', ng-if="bid.state == 'Pending' || bid.state == 'Reserved'")
                translate Cancel
              button.btn.btn-df.btn-green.table-act__btn(metrika="'bid-action-click'", ng-click="bids.state(bid, 'Accepted', bids.offers[bid.goodsEntryId].user.UserId)", ng-if="bid.state == 'Reserved'")
                translate Accept
