.content-sub-control
  .btn-group
    button.btn.btn-df(ng-model='bids.type', btn-radio="'active'", ng-click="locationSearch({ type: 'active' })")
      translate ACTIVE
    button.btn.btn-df(ng-model='bids.type', btn-radio="'confirmed'", ng-click="locationSearch({ type: 'confirmed' })")
      translate Confirmed
    button.btn.btn-df(ng-model='bids.type', btn-radio="'reserve'", ng-click="locationSearch({ type: 'reserve' })")
      translate Reserve
    button.btn.btn-df(ng-model='bids.type', btn-radio="'refused'", ng-click="locationSearch({ type: 'refused' })")
      translate Refused
    button.btn.btn-df(ng-model='bids.type', btn-radio="'cancelled'", ng-click="locationSearch({ type: 'cancelled' })")
      translate Cancelled
.content
  .content-item
    p.bg-info(ng-if="bids.type == 'active'")
      translate MyBid.TitleYourActive
    p.bg-info(ng-if="bids.type == 'confirmed'")
      translate MyBid.TitleYourConfirmed
    p.bg-info(ng-if="bids.type == 'reserve'")
      translate MyBid.TitleYourReserve
    p.bg-info(ng-if="bids.type == 'cancelled'")
      translate MyBid.TitleYourCancelled
    p.bg-info(ng-if="bids.type == 'refused'")
      translate MyBid.TitleYourRefused
    .container-fluid.bl-mybids
      .row
        .col-lg-3
          label
            translate MERCHANDISE
          ul.nav.nav-pills.nav-bids
            li.nav-bids__item(ng-class="{ 'active': offer.id == bids.offer }", ng-repeat='offer in bids.offers', ui-sref='.({ offer: offer.id })')
              a.nav-bids__lnk(ng-bind='offer.title')
        .col-lg-9
          div(paginator='pageOptions2')
          .table-responsive
            table.table.table--bids
              thead
                tr
                  th
                    translate Author
                  th
                    translate YourBid
                  th.centered
                    translate Reserve
                  th.centered
                    translate BidDate
                  th.centered
                    translate PaymentDate
                  th.centered
                    translate ReceiptDate
                  th
                    translate Comment
                  th
                  th
              tbody
                tr(ng-repeat='bid in bids.offersHash[bids.offer].bids')
                  td.table-author
                    .auth
                      .auth__img
                        img(ng-src='{{bid.userPhoto}}')
                      .auth__cnt
                        .auth__user(user-name='bid.user')
                        profile-position(profile='bid.user')
                  td.table-bid
                    span.price
                      span {{::bid.offeredMoney}} {{::currencyCodes[bid.currencyCode]}}
                    translate PRICE_FOR
                    |  
                    | {{::bid.amount}} {{priceUnits[bids.offersHash[bid.goodsEntryId].PriceUnit]}}
                  td.table-mark
                    i.icon-checkmark.green(ng-if='bid.reserveOnly')
                    i.icon-cancel.red(ng-if='!bid.reserveOnly')
                  td.table-date(ng-bind="::bid.dateTime | date:'medium'")
                  td.table-date(ng-bind="::bid.expectedPaymentDateTime | date:'medium'")
                  td.table-date(ng-bind="::bid.expectedReceiptDateTime | date:'medium'")
                  td.table-comment(ng-bind='bid.comment')
                  td.table-act
                    button.btn.btn-df.btn-primary.table-act__btn(metrika="'bid-action-click'", ng-click="bids.state(bid, 'Reserved')", ng-if="bid.state == 'Pending' && bid.reserveOnly")
                      i.icon-lock
                      translate Reserve
                  td.table-act
                    button.btn.btn-df.btn-create.table-act__btn(metrika="'bid-action-click'", ng-click="bids.state(bid, 'Rejected')", ng-if="bid.state == 'Pending' || bid.state == 'Reserved'")
                      translate Cancel
                    button.btn.btn-df.btn-green.table-act__btn(metrika="'bid-action-click'", ng-click="bids.state(bid, 'Accepted', bid.user.UserId)", ng-if="bid.state == 'Pending' && !bid.reserveOnly")
                      translate Accept
          div(paginator='pageOptions2')
