li.nav-myprfl__item
  a.nav-myprfl__lnk(ng-class="{active: location.match('profile')}" ui-sref="app.my.profile")
    i.nav-myprfl__ico.icon-user
    translate PROFILE
li.nav-myprfl__item
  a.nav-myprfl__lnk(ng-click="myCompany()")
    i.nav-myprfl__ico.icon-companies
    translate MyCompany
li.nav-myprfl__item(ng-if='!pmp')
  a.nav-myprfl__lnk(ui-sref="app.my.messages", ng-class="{active: location.match('my-messages')}")
    i.nav-myprfl__ico.icon-messages
    translate PERSONAL_MESSAGE
li.nav-myprfl__item
  a.nav-myprfl__lnk(ui-sref="app.my.bids.other-goods", ng-class="{active: location.match('my-bids')}")
    i.nav-myprfl__ico.icon-bid
    translate Bids
li.nav-myprfl__item
  a.nav-myprfl__lnk(ui-sref="app.my.partners", ng-class="{active: location.match('partners')}")
    i.nav-myprfl__ico.icon-users
    translate PARTNERS
li.nav-myprfl__item
  a.nav-myprfl__lnk(ui-sref="app.my.files", ng-class="{active: location.match('files')}")
    i.nav-myprfl__ico.icon-files
    translate FILES
li.nav-myprfl__item
  a.nav-myprfl__lnk(ui-sref="app.my.recommends", ng-class="{active: location.match('recommends')}")
    i.nav-myprfl__ico.icon-heart
    translate RECOMMENDED_BY_ME
li.nav-myprfl__item
  a.nav-myprfl__lnk(ng-click='createReminder()')
    i.nav-myprfl__ico.icon-alarm
    translate REMIND_OF
li.nav-myprfl__item
  a.nav-myprfl__lnk(metrika="'my-thanks'", ng-click="openModal({tpl: 'my-thx', class: 'mdl-app modal-thx', scope: { myData: profile }})")
    i.nav-myprfl__ico.icon-star2
    translate THANKED
