.full-height.profile.with-left-bar.my-profile(ng-controller='ProfileCtrl')
  .content.prfl.myprfl(ng-controller='userProfileEditCtrl')
    .prfl__item.myprfl__item.clearfix(ng-hide='hideRatings')
      .pull-left
        .doverie-track
          .doverie-line
            .doverie-yes(ng-style="{ width: (rating.Pro / ((rating.Pro/1) + (rating.Contra/1))) * 190 + 'px' }")
            .doverie-no(ng-style="{ width: (rating.Contra / ((rating.Pro/1) + (rating.Contra/1))) * 190 + 'px' }")
          .doverie-text
            span
              translate TRUST
              |&nbsp;
              span.green(ng-bind='rating.Pro')
            span
              translate NOT_TRUST
              |&nbsp;
              span.red(ng-bind='rating.Contra')
            i.app-icon.app-icon-88(metrika="'my-trusts'", ng-click="route('/my-trust-rates')")
      .pull-right
        .user
          .user__favs
            i.app-icon.app-icon-57
            |          {{ rating.Thanks }}
          .user__trust
            i.app-icon.app-icon-60
            |          {{ (rating.TrustLevel > 0 ? '+' : '-') + rating.TrustLevel }}
    .prfl__item.myprfl__item.myprfl__item-head
      .prfl__img
        .middle-thumb-container
          img(src='img/no-avatar.png', ng-src='{{ avatar.Url }}', alt='')
        form(file-upload='uploaderOptions', ng-controller='profileAvatarChangeCtrl')
          label.file-upload(for='file')
            translate CHANGE_AVATAR
            input#file(type='file', accept='image/jpeg,image/png')
      .prfl__cnt
        dl.dl-horizontal.prfl__dl.myprfl__dl
          dt
            | ID
          dd
            span(ng-bind='profile.UserId')
          dt
            translate Balance
          dd
            span.balance(ng-bind="::balance")
          dt.myprfl__required
            translate FULL_NAME
            span(tooltip="{{'My.ProfileCompanyHint' | translate}}") *
          dd
            span.editable-field(ng-model='profile.FullName', ng-maxlength='35', editable='FullName', dirty-map='dirtyFields', save='updateField')
        dl.dl-horizontal.prfl__dl.myprfl__dl
          dt
            translate PASSWORD
          dd
            a.btn.btn-df.btn-primary.btn-small(ng-click="openModal({tpl: 'change-password', class: 'mdl-app modal-small'})")
              translate CHANGE_PASS
        dl.dl-horizontal.prfl__dl.myprfl__dl.myprfl__dl--cmp(ng-repeat='position in profile.Positions')
          dt.myprfl__required
            translate COMPANY
            span(tooltip="{{'My.ProfileCompanyHint' | translate}}") *
          dd
            span.editable-field
              a(ui-sref='app.companies-room-item({ roomId: position.Company.RoomUrlName, companyId: position.Company.Id })', ng-bind='position.Company.FullName', ng-maxlength='35')
              button.btn.btn-df.btn-small.btn-del(ng-click='deleteCompany(position, $index)')
                i.app-icon.app-icon-7
              a.lnk-dashed-color.myprfl__lnk-sel(ng-if='$index != 0 && position.IsConfirmed', ng-click='makePrimary($index)', tooltip="{{'My.BasicCompanyHint' | translate}}")
                translate My.DoBasic
              .help-block.red.text-xs(ng-if='!position.IsConfirmed')
                translate My.ConfrmExpected
          dt
            translate POSITION
          dd
            span.editable-field(ng-show='!(companyAdded && $index == profile.Positions.length - 1)', ng-class="{ 'lastPosition': $index == profile.Positions.length - 1 }", ng-model='position.Title', editable='{{ position.Company.Id }}', dirty-map='dirtyFields', save='updatePosition')
            span.editable-field(is-open='true', ng-show='companyAdded && $index == profile.Positions.length - 1', ng-class="{ 'lastPosition': $index == profile.Positions.length - 1 }", ng-model='position.Title', editable='{{ position.Company.Id }}', dirty-map='dirtyFields', save='updatePosition')
        dl.dl-horizontal.prfl__dl.myprfl__dl.myprfl__dl--cmp(ng-if='showAddBlock || profile.Positions.length < 1')
          dt.myprfl__required
            translate COMPANY
            span(tooltip="{{'My.ProfileCompanyHint' | translate}}") *
          dd.lst-typeahead
            input.form-control.input-sm(type='text', placeholder="{{:: 'FIND_EXISTING_COMPANY' | translate}}", typeahead-template-url='views/app/companies/_typeahead.html', typeahead-min-length='3', typeahead-editable='false', typeahead-input-formatter='userCompany.company.fullName', typeahead='company as company.fullName for company in getCompanies($viewValue) | filter:$viewValue', ng-model='userCompany.company')
            br
            button.btn.btn-df.btn-small.btn-primary(ng-if='userCompany.company', ng-disabled='!userCompany', ng-click='addCompany(userCompany.company)')
              translate I_WORK_IN_THIS_COMPANY
            button.btn.btn-df.btn-small.btn-create(ng-if='!userCompany.company', ng-click='createCompany()')
              translate CreateCompany
        dl.dl-horizontal.prfl__dl.myprfl__dl.myprfl__dl--cmp(ng-click='showAddBlockFn()', ng-if='!showAddBlock && profile.Positions.length >= 1 && profile.IsFilled')
          dt
          dd
            a
              translate My.AddAdditCompany
        dl.dl-horizontal.prfl__dl.myprfl__dl
          dt
            translate INN
          dd
            span.editable-field(ng-model='profile.TaxId', editable='TaxId', dirty-map='dirtyFields', save='updateField')
          dt
            translate SocialLink
          dd
            div(ng-controller='SocialCtrl as social', ng-include="'views/modal/auth/social.html'")
          dt
            translate SHARE
          dd
            div(addthis='', title='addThisTitle', description='addThisDescription', url='{{shareUrl}}')
      span.bold.red.pull-left(ng-show='avatarError', translate='INVALID_IMAGE')
    .prfl__item.myprfl__item
      dl.dl-horizontal.prfl__dl.myprfl__dl
        dt.myprfl__required
          translate COUNTRY
          span(tooltip="{{'My.ProfileRequiredHint' | translate}}") *
        dd
          span.editable-field(ng-model='profile.Country', editable='Country', dirty-map='dirtyFields', save='updateField')
        dt.myprfl__required
          translate CITY
          span(tooltip="{{'My.ProfileRequiredHint' | translate}}") *
        dd
          span.editable-field(ng-model='profile.City', editable='City', dirty-map='dirtyFields', save='updateField')
        dd
          a(href='', ng-click="openModal({tpl: 'public-profile/map', class: 'mdl-app modal-profile modal-userMap', scope: { profile: profile, avatar: avatar, readOnly: false }})")
            translate MARK_ON_MAP
    .prfl__item.myprfl__item
      dl.dl-horizontal.prfl__dl.myprfl__dl
        dt.myprfl__required
          translate PHONE
          span(tooltip="{{'My.ProfileRequiredHint' | translate}}") *
        dd
          span.editable-field(ng-model='profile.Phone', editable='Phone', dirty-map='dirtyFields', save='updateField')
        dt
          translate MOBILE_PHONE
        dd
          span.editable-field(ng-model='profile.Mobile', editable='Mobile', dirty-map='dirtyFields', save='updateField')
        dt
          translate FAX
        dd
          span.editable-field(ng-model='profile.Fax', editable='Fax', dirty-map='dirtyFields', save='updateField')
        dt
          | Email
        dd
          span(ng-bind='profile.Email', editable='Email', dirty-map='dirtyFields', save='updateField')
        dt
          | Skype
        dd
          span.editable-field(ng-model='profile.SkypeAccount', editable='SkypeAccount', dirty-map='dirtyFields', save='updateField')
        dt
          | ICQ
        dd
          span.editable-field(ng-model='profile.Icq', editable='Icq', dirty-map='dirtyFields', save='updateField')
        dt
          translate SITE
        dd
          span.editable-field(ng-model='profile.Website', editable='Website', dirty-map='dirtyFields', save='updateField')
    .prfl__item.myprfl__item
      dl.dl-horizontal.prfl__dl.myprfl__dl
        dt
          translate ABOUT_ME
        dd
          span.editable-field(ng-model='profile.AboutInformation', editable='AboutInformation', dirty-map='dirtyFields', save='updateField')
    .prfl__item.myprfl__item
      dl.dl-horizontal.prfl__dl.myprfl__dl
        dt
          translate INTERESTS
        dd
          span.editable-field(ng-model='profile.Interests', editable='Interests', dirty-map='dirtyFields', save='updateField')
    .prfl__item.myprfl__item
    .prfl__item.myprfl__item
      ul.lst-interest
        li.lst-interest__ttl
          h3
            translate INTERESTED_IN
        li(ng-repeat='room in userRooms', ng-bind='room.title')
    .prfl__item.myprfl__item.actions.clearfix
      button.btn.btn-df.btn-primary.btn-small.pull-left(ng-click='save()', translate='SAVE')
      button.btn.btn-df.btn-small.pull-left(ng-click="route('/all')", translate='FILL_LATER')
      span.bold.red.pull-left(ng-show='profileSaved', style='line-height: 28px; margin-left: 10px;', translate='CHANGES_SAVED')
