.full-height.profile.with-left-bar.doverie-list(ng-controller='MyTrustRatesCtrl')
  tabset.app-tabset
    tab(heading="{{'TRUST' | translate}}", active='tab.firstActive')
      tab-heading
        a(ng-click='select()', tab-heading-transclude='', style='text-decoration:none;color: #293749;')
          | {{'TRUST'
          | | translate}} 
          span.green {{pro_contacts.length}}
      .contact-list-container
        .contact-list
          ul
            li(ng-repeat='contact in pro_contacts')
              i.app-icon.app-icon-26.pull-right(ng-click="openModal({tpl: 'public-profile/doverie-details', scope: { userId: myProfile.UserId, voterContact: contact }}); $event.preventDefault()")
              a(ng-href='#!{{contact.fullProfileUrl(true)}}', target='_blank')
                user-presence(contact='contact')
                span(ng-bind='contact.name')
              a(ng-if='myProfile.IsModerator', ng-click='removeVote(contact.rating.UserId)') X
    tab(heading="{{'NOT_TRUST' | translate}}")
      tab-heading
        a(ng-click='select()', tab-heading-transclude='', style='text-decoration:none;color: #293749;')
          | {{'NOT_TRUST'
          | | translate}} 
          span.red {{contra_contacts.length}}
      .contact-list-container
        ul.contact-list
          li(ng-repeat='contact in contra_contacts')
            i.app-icon.app-icon-26.pull-right(ng-click="openModal({tpl: 'public-profile/doverie-details', scope: { userId: myProfile.UserId, voterContact: contact }}); $event.preventDefault()")
            i.app-icon.app-icon-26.pull-right(ng-click="openModal({tpl: 'public-profile/doverie-details', class: '', scope: { userId: userId, voterContact: contact }}); $event.preventDefault()")
            i.app-icon.status-icon.pull-left(ng-class='contact.getPresenceIconClass()')
            a(ng-href='#!{{contact.fullProfileUrl(true)}}', target='_blank', ng-bind='contact.name')
            a(ng-if='myProfile.IsModerator', ng-click='removeVote(contact.rating.UserId)') X
