.profile-left-bar.my-profile-left-bar(ng-include="'views/app/my/_leftBar.html'")
.full-height.profile.with-left-bar.private-profile.my-bids
  tabset.app-tabset
    li
      h4.nav-tabs__header {{'Bids' | translate}}
    tab(heading="{{'YourBids' | translate}}", active="state == 'app.my.bids.other-goods'", ui-sref='app.my.bids.other-goods')
      ui-view
    tab(heading="{{'OtherBids' | translate}}", active="state == 'app.my.bids.your-goods'", ui-sref='app.my.bids.your-goods')
      ui-view
