.profile-left-bar.my-profile-left-bar(ng-include="'views/app/my/_leftBar.html'")
.full-height(ng-controller='MessengerCtrl as messenger')
  .full-height.profile.with-left-bar.private-profile.modal-profile.responsive.send-mess-static.with-contact-list(metrika="'my-messages'")
    .content-control(ng-init="profileMode = 'popup'", ng-show='messenger.interlocutorId && profile', ng-include="'views/app/public-profile/_content-control.html'")
    private-chat.private-chat-layout(auto-read='true', user-id='messenger.interlocutorId', ng-show='messenger.interlocutorId')
  contact-list(selected-contact='contact', contacts-loaded='messenger.loadContacts($contacts)', contact-selected='messenger.routeToInterlocutor($userId)')
