.profile-left-bar.my-profile-left-bar(ng-include="'views/app/my/_leftBar.html'")
.full-height.profile.with-left-bar.private-profile.my-files(ng-controller='ProfileCtrl')
  tabset.app-tabset
    tab(heading="{{'PRICES' | translate}}")
      .content-sub-control
        button.btn.btn-df.btn-small.btn-create(ng-click="openModal({tpl: 'merchants/price-add', class: 'mdl-app modal-job-add', scope: { showRoom: true }, cb: reload})")
          | {{'ADD_PRICE_LIST' | translate}}
        form.pull-right(ng-submit='locationSearch( { query: priceQuery } )')
          input.form-control.input-sm.input-large.pull-right(type='text', placeholder="{{'SearchPrices' | translate}}", ng-model='priceQuery')
      .content
        .content-item
          div(paginator='pageOptions')
          table.table.table--inline.table--prices
            tbody
              tr(ng-repeat='file in Files')
                td
                  .table__title
                    a(ng-href='{{file.link}}') {{file.Description}}
                  .table__metadata
                    .metadata.right-bordered {{file.date | date:shortDate}}
                    .metadata(ng-show="file.Accessibility=='Everyone'")
                      | {{'AVAILABLE_ALL' | translate}}
                    .metadata(ng-show="file.Accessibility=='Partners'")
                      | {{'AVAILABLE_PARTNERS' | translate}}
                    .metadata(ng-show="file.Accessibility=='Nobody'")
                      | {{'AVAILABLE_ME' | translate}}
                    .metadata.metadata--stat.icons
                      span.icons-item(ng-clickbak="openModal({tpl: 'file-views', class: 'mdl-app modal-file-views', scope: {mobile: mobile}})")
                        i.app-icon.app-icon-101
                        |  {{file.DownloadCount}}
                td.table-actions
                  a.lnk-action(ng-click='remove(file.Id)')
                    i.app-icon.app-icon-5
                    |  {{'DELETE' | translate}}
          div(paginator='pageOptions')
    tab(heading="{{'CV' | translate}}")
      .content-sub-control
        button.btn.btn-df.btn-primary.btn-small.btn-create(ng-click="openModal({tpl: 'resume-add', class: 'mdl-app modal-job-add', scope: { showRoom: true }, cb: reload})")
          | {{'ADD_CV' | translate}}
        form.pull-right(ng-submit='locationSearch( { query: priceQuery } )')
          input.form-control.input-sm.input-large.pull-right(type='text', placeholder="{{'SearchCV' | translate}}", ng-model='priceQuery')
      .content
        .content-item
          div(paginator='pageOptions2')
          table.table.table--inline.table--cv
            tbody
              tr(ng-repeat='file in resumes | filter:resumeQuery')
                td
                  .table__title
                    a(ng-href='{{file.link}}') {{file.Description}}
                  .table__metadata
                    .metadata.right-bordered {{file.date | date:shortDate}}
                    .metadata(ng-show="file.Accessibility=='Everyone'")
                      | {{'AVAILABLE_ALL' | translate}}
                    .metadata(ng-show="file.Accessibility=='Partners'")
                      | {{'AVAILABLE_PARTNERS' | translate}}
                    .metadata(ng-show="file.Accessibility=='Nobody'")
                      | {{'AVAILABLE_ME' | translate}}
                    .metadata.metadata--stat.icons
                      span.icons-item(ng-clickbak="openModal({tpl: 'file-views', class: 'mdl-app modal-file-views', scope: {mobile: mobile}})")
                        i.app-icon.app-icon-101
                        |  {{file.DownloadCount}}
                td.table-actions
                  a.lnk-action(ng-click='removeResume(file.Id)')
                    i.app-icon.app-icon-5
                    | {{'DELETE' | translate}}
          div(paginator='pageOptions2')
