.profile-left-bar.my-profile-left-bar(ng-include="'views/app/my/_leftBar.html'")
.full-height(ng-controller='ProfileCtrl')
  .full-height.profile.with-left-bar.private-profile.my-partners(ng-controller='PartnersCtrl')
    tabset.app-tabset
      tab(heading="{{'MY_PARTNERS' | translate}}")
        .content-sub-control
          input.form-control.input-sm.input-large(type='text', placeholder="{{'SEARCHING' | translate}}", ng-model='partnersQuery')
        .content
          .content-item
            .partners__item(ng-repeat='partner in partners | filter:partnersQuery')
              .middle-thumb-container.avatar.pull-left
                img(ng-src='{{ partner.avatar.Url }}', alt='')
              .pull-left.partner-body
                .title {{partner.FullName}}
                .user
                  .user__rating
                    span.green {{partner.Ratings.Pro}}
                    | /
                    span.red {{partner.Ratings.Contra}}
                  .user__favs
                    i.app-icon.app-icon-57
                    | {{partner.Ratings.Thanks}}
                  .user__trust
                    i.app-icon.app-icon-60
                    |                          {{((partner.Ratings.TrustLevel > 0) && '+') || ''}} {{partner.Ratings.TrustLevel}}
                dl.dl-horizontal.dl-users.dl-cmp-group
                  dt(ng-show='partner.Company')
                    translate COMPANY
                  dd(ng-show='partner.Company', ng-bind='partner.Company')
                  dt(ng-show='partner.Job')
                    translate POSITION
                  dd(ng-show='partner.Job', ng-bind='partner.Job')
                dl.dl-horizontal.dl-users
                  dt(ng-show='partner.TaxId')
                    translate INN
                  dd(ng-show='partner.TaxId', ng-bind='partner.TaxId')
              .pull-right.partner-control
                .content-text
                  a(href='/user/{{partner.UserId}}/send')
                    | {{'WRITE_MESSAGE'
                    | | translate}}
                .content-text(metrika="'partners-to-profile'")
                  a(href='/user/{{partner.UserId}}/profile')
                    | {{'WATCH_PROFILE'
                    | | translate}}
                .content-text
                  a(href='/user/{{partner.UserId}}/partners')
                    | {{'WATCH_PARTNERS'
                    | | translate}}
                .content-text
                  a(href='', ng-click='removePartner(partner)')
                    | {{'REMOVE_FROM_PARTNERS'
                    | | translate}}
      tab(heading="{{'WAITING_FOR_ACCEPTANCE' | translate}} ({{incomingOffers.length}})")
        .content-sub-control
          input.form-control.input-sm.input-large(type='text', placeholder="{{'SEARCHING' | translate}}", ng-model='incomingQuery')
        .content
          .content-item
            .partners__item(ng-repeat='partner in incomingOffers | filter:incomingQuery')
              .middle-thumb-container.avatar.pull-left
                img(ng-src='{{ partner.avatar.Url }}', alt='')
              .partner-body.pull-left
                .title {{partner.FullName}}
                .content-text
                  span.text-label {{'COMPANY' | translate}}
                  | {{partner.Company}}
                .content-text
                  span.text-label {{'POSITION' | translate}}
                  | {{partner.Job}}
                .content-text(ng-show='partner.inn')
                  span.text-label {{'INN' | translate}}
                  | {{partner.TaxId}}
              .pull-right.partner-control(metrika="'partner-add-or-decline'")
                .content-text
                  button.btn.btn-df.btn-primary.btn-small(replace-with="{{'PARTNER_ADDED' | translate}}", ng-click='acceptPartner(partner); replace()')
                    | {{'ADD_TO_PARTNERS' | translate}}
                .content-text
                  button.btn.btn-df.btn-small(ng-click='declinePartner(partner)')
                    | {{'CANCEL' | translate}}
      tab(heading="{{'MY_BIDS' | translate}} ({{outgoingOffers.length}})")
        .content-sub-control
          input.form-control.input-sm.input-large(type='text', placeholder="{{'SEARCHING' | translate}}", ng-model='outgoingQuery')
        .content
          .content-item
            .partners__item(ng-repeat='partner in outgoingOffers | filter:outgoingQuery')
              .middle-thumb-container.avatar.pull-left
                img(ng-src='{{ partner.avatar.Url }}', alt='')
              .partner-body.pull-left
                .title {{partner.FullName}}
                .content-text
                  span.text-label {{'COMPANY' | translate}}
                  | {{partner.Company}}
                .content-text
                  span.text-label {{'POSITION' | translate}}
                  | {{partner.Job}}
                .content-text(ng-show='partner.inn')
                  span.text-label {{'INN' | translate}}
                  | {{partner.inn}}
              .pull-right.partner-control
                .content-text
                  span.text-label {{'LAST_INVITE' | translate}}:
                  |                      {{partnerOffersIds.outgoing[$index].sent | date:shortDate}}
                .content-text
                  button.btn.btn-df.btn-primary.btn-small(replace-with="{{'REQUEST_SENT' | translate}}", ng-click='offerPartnership(partner); replace()')
                    | {{'SEND_INVITE_AGAIN' | translate}}
                .content-text
                  button.btn.btn-df.btn-small(ng-click='cancelPartnerOffer(partner)')
                    | {{'CANCEL' | translate}}
