.profile-left-bar.my-profile-left-bar(ng-include="'views/app/my/_leftBar.html'")
.full-height(ng-controller='ProfileCtrl')
  .full-height.profile.with-left-bar.private-profile.my-recommends(ng-controller='recommendsCtrl')
    .content-control
      button.btn.btn-df.btn-create.btn-small(ng-click="openModal({tpl: 'recommend-add', class: 'mdl-app modal-medium'})")
          translate ADD
      form.pull-right
        .sel-styled
          select(ng-model='selectedSection')
            option(value='0', selected='') {{'ALL_DIVISIONS' | translate}}
            option(ng-repeat='section in sections', value='{{section.Id}}') {{section.Label}}
    .content
      .content-item
        div(paginator='pagination')
        table.table.table--inline.table--recommends
          tbody
            tr(ng-repeat='rec in filteredRecommends | startFrom:currentPage * pageSize | limitTo:pageSize')
              td
                .table__message
                  .table__title
                    a(href='{{rec.Link}}', target='_blank') {{rec.Link}}
                  |  {{rec.Description}}
                .icons
                  span.icons-item(ng-click='vote(rec, 1)')
                    i.app-icon.app-icon-118
                    |  {{rec.Pro}}
                  span.icons-item(ng-click='vote(rec, -1)')
                    i.app-icon.app-icon-120
                    |  {{rec.Contra}}
              td.table-actions
                a.lnk-action(ng-click='removeRecommend(rec)')
                  i.app-icon.app-icon-5
                  |  
                  translate DELETE
        div(paginator='pagination')
