.content-item(ng-controller='JobsAdminResumesIndexCtrl')
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
  table.table.table--admin.table--admin-cv(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !resume.isApproved }", ng-repeat='resume in resumes')
        td
          .table__metadata
            .metadata.right-bordered
              .auth__user(user-name='resume.user')
            .metadata.right-bordered {{resume.dateTime | date:'medium'}}
            .metadata
              | {{'BRANCH' | translate}}:
              room-info(room-id='resume.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          .table__title
            i.app-icon.app-icon-download
            a(ng-href='{{resume.downloadLink}}') {{resume.description}}
        td.table-actions.my-edit-controls
          div(ng-hide='resume.isDeleted')
            button.btn.btn-df.btn-primary(ng-hide='resume.isApproved', ng-click='approve(resume)')
              i.app-icon.app-icon-124
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle(ng-click='remove(offer)')
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/jobs/cv-move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { resume: resume }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/jobs/cv-delete', class: 'mdl-app modal-admin', cb: reload, scope: { resume: resume }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-show='resume.isDeleted', ng-click='restore(resume)')
            i.app-icon.app-icon-deleted
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
