.content-item(ng-controller='JobsAdminJobsIndexCtrl')
  div(paginator='pageOptions')
  table.table.table--admin.table--admin-vacancies(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !job.isApproved }", ng-repeat='job in jobs')
        td
          .table__metadata
            .metadata.right-bordered
              .auth__user(user-name='job.user')
            .metadata.right-bordered {{job.dateTime | date:'medium'}}
            .metadata
              | {{'BRANCH' | translate}}:
              room-info(room-id='job.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          .table__title
            a(ng-click="openModal({tpl: 'vacancy-view', class: 'mdl-app modal-vacancy-view', scope: {job: job}})") {{job.shortName}}
        td.table-actions.my-edit-controls
          div(ng-hide='job.isDeleted')
            button.btn.btn-df.btn-primary(ng-hide='job.isApproved', ng-click='approve(job)')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'vacancy-edit', class: 'mdl-app modal-admin', scope: { edit: true, job: job }, cb: reload})")
              i.app-icon.app-icon-79
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/jobs/vacancies-move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { job: job }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/jobs/vacancies-delete', class: 'mdl-app modal-admin', cb: reload, scope: { job: job }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-click='restore(job)', ng-show='job.isDeleted')
            i.app-icon.app-icon-deleted
  div(paginator='pageOptions')
