.content-sub-control
  .pull-right
    form.form-inline.pull-right(action='', ng-submit='search(query)')
      input.form-control.input-sm.input-large(ng-model='query', type='text', placeholder="{{'SearchCV' | translate}}")
      button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SEARCH' | translate}}
  .btn-group.pull-left(ng-controller='JobsAdminResumesIndexCtrl')
    button.btn.btn-df.btn-small(type='button', ng-click="goTo('notapproved')", ng-model='searchParams.state', btn-radio="'notapproved'")
      | {{'UNCHECKED' | translate}}
    button.btn.btn-df.btn-small(type='button', ng-click="goTo('active')", ng-model='searchParams.state', btn-radio="'active'")
      | {{'ACTIVE' | translate}}
    button.btn.btn-df.btn-small(type='button', ng-click="goTo('deleted')", ng-model='searchParams.state', btn-radio="'deleted'")
      | {{'DELETED' | translate}}
.content
  ng-include(src="'views/admin/jobs/_cv-list.html'")
