.full-height
  .full-height.cnt-nav-left.jobs.admin(ng-controller='JobsAdminIndexCtrl')
    tabset.app-tabset
      li
        h4.nav-tabs__header {{'JOBS' | translate}}
      tab(ng-repeat='tab in tabs', heading='{{ tab.heading | translate }}', active='tab.active', ui-sref="app.jobs-admin-tab({tab: tab.name})")
        ng-include(src='tab.template', ng-if='tab.active')
