.content-item(ng-controller='CommentsListCtrl')
  // div ng-hide="threadsLoaded" class="loading" translate="LOADING"></div
  div(paginator='pageOptions')
  table.table.table--admin.table--admin-blacklist(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !comment.isApproved }", ng-repeat='comment in comments')
        td
          .table__metadata
            .metadata.right-bordered
              .auth__user(user-name='comment.user')
            .metadata {{comment.dateTime | date:'medium'}}
            div(vote='comment.vote')
            .metadata.metadata--stat.submargin.icons
              span.icons-item
                a(ng-href='{{appPath(path + comment.subjectId)}}')
                  i.app-icon.app-icon-comm
          .table__message
            | {{comment.text}}
        td.table-actions.my-edit-controls
          div(ng-hide='comment.isDeleted')
            button.btn.btn-df.btn-primary(ng-show='!comment.isApproved', ng-click='approve(comment)')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'admin/comments/edit', class: 'mdl-app modal-admin', cb: reload})")
              i.app-icon.app-icon-79
            button.btn.btn-df(ng-click="openModal({tpl: 'admin/comments/delete', class: 'mdl-app modal-admin', cb: reload})")
              i.app-icon.app-icon-99
          button.btn.btn-df(ng-click='restore(comment)', ng-show='comment.isDeleted')
            i.app-icon.app-icon-deleted
  div(paginator='pageOptions')
