.content-item
  // div ng-hide="threadsLoaded" class="loading" translate="LOADING"></div
  div(paginator='pageOptions')
  table.table.table--admin.table--admin-blacklist(ng-class='')
    tbody
      // REVIEW template
      tr(ng-class="{ 'table__tr--active': !blacklist.isApproved }", ng-repeat='blacklist in blacklists')
        td
          .table__metadata
            .metadata.right-bordered
              .auth__addon
                translate ADDED_BY
                | :
              .auth__user(user-name='blacklist.user')
            .metadata.right-bordered {{blacklist.dateTime | date:'medium'}}
            .metadata
              | {{'BRANCH' | translate}}: 
              a(ng-click='newWinRoute([blacklist.roomUrlName])') {{blacklist.room}}
            .metadata.metadata--stat.icons
              span.icons-item
                a(ng-click="newWinRoute([blacklist.roomUrlName, 'item', blacklist.id])")
                  i.app-icon.app-icon-95
                  |  {{blacklist.commentCount}}
              span.icons-item.hide
                a(ng-href='')
                  i.app-icon.app-icon-comm
          .table__title
            a(href='', ng-click="newWinRoute([blacklist.roomUrlName, 'item', blacklist.id])") {{blacklist.title}}
        td.table-actions.my-edit-controls
          div(ng-hide='blacklist.isDeleted')
            button.btn.btn-df.btn-primary(ng-click='approve(blacklist)', ng-hide='blacklist.isApproved')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'blacklist-edit', class: 'mdl-app modal-admin', cb: reload, scope: {blacklist: blacklist}})")
              i.app-icon.app-icon-79
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle(ng-click='remove(blacklist)')
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/blacklist/move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { blacklist: blacklist }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/blacklist/delete', class: 'mdl-app modal-admin', cb: reload, scope: { blacklist: blacklist }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-click='restore(blacklist)', ng-show='blacklist.isDeleted')
            i.app-icon.app-icon-deleted
  div(paginator='pageOptions')
