.full-height(ng-controller='BlacklistsCtrl')
  .full-height.cnt-nav-left.blacklist.admin
    .content-control
      h4 {{'BLACKLIST' | translate}}
    .content-sub-control
      .pull-right
        form.form-inline.pull-right(action='', ng-submit="appRoute('/admin/' + tab + '/' + type + '?query=' + query)")
          input.form-control.input-sm.input-large(ng-model='query', type='text', placeholder="{{'SearchBlacklists' | translate}}")
          button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SEARCH' | translate}}
      .btn-toolbar
        .btn-group
          button.btn.btn-df(type='button', ng-click="appRoute('/admin/', null, true)", ng-model='tab', btn-radio="'list'")
            i.app-icon.app-icon-posts.btn-toolbar__icon
          button.btn.btn-df(type='button', ng-click="appRoute('/admin/comments', null, true)", ng-model='tab', btn-radio="'comments'")
            i.app-icon.app-icon-comment.btn-toolbar__icon
        .btn-group
          button.btn.btn-df.btn-small(type='button', ng-click="goTo('notapproved')", ng-model='searchParams.state', btn-radio="'notapproved'")
            | {{'UNCHECKED' | translate}}
          button.btn.btn-df.btn-small(type='button', ng-click="goTo('active')", ng-model='searchParams.state', btn-radio="'active'")
            | {{'ACTIVE' | translate}}
          button.btn.btn-df.btn-small(type='button', ng-click="goTo('deleted')", ng-model='searchParams.state', btn-radio="'deleted'")
            | {{'DELETED' | translate}}
    .content.content--under-sub
      ng-include(src='template')
