.paginator(ng-if='paginationData.pageCount > 1')
  .current-page.pull-left
    | {{'PAGE' | translate}} {{paginationData.currentPage}} {{'FROM' | translate}} {{paginationData.pageCount}}
  ul.pagination.pull-right(ng-if='paginationData.pageChange')
    //
      <li ng-class="{activePage: paginationData.currentPage == 1}">
      <a class="text" ng-if="paginationData.currentPage != 1" ng-click="paginationData.currentPage = 1">{{'FIRST'
      | translate}}</a>
      <span ng-if="paginationData.currentPage == 1">{{'FIRST' | translate}}</span>
      </li>
    li(ng-class='{activePage: paginationData.currentPage == 1}')
      a.text(ng-if='paginationData.currentPage != 1', ng-click='paginationData.currentPage = paginationData.currentPage - 1') ←
      span.arrow(ng-if='paginationData.currentPage == 1') ←
    li(ng-repeat='page in $paginatorPages', ng-class='{activePage: paginationData.currentPage == page}', ng-click='paginationData.currentPage = page')
      a.text(ng-if='paginationData.currentPage != page') {{page}}
      span(ng-if='paginationData.currentPage == page') {{page}}
    li(ng-class='{activePage: paginationData.currentPage == paginationData.pageCount}')
      a.text(ng-if='paginationData.currentPage != paginationData.pageCount', ng-click='paginationData.currentPage = paginationData.currentPage + 1') →
      span.arrow(ng-if='paginationData.currentPage == paginationData.pageCount') →
    //
      <li ng-class="{activePage: paginationData.currentPage == paginationData.pageCount}">
      <a class="text" ng-if="paginationData.currentPage != paginationData.pageCount"
      ng-click="paginationData.currentPage = paginationData.pageCount">{{'LAST' | translate}}</a>
      <span ng-if="paginationData.currentPage == paginationData.pageCount">{{'LAST' | translate}}</span>
      </li>
  ul.pagination.pull-right(ng-if='paginationData.pagePath', ng-init='pagePath = paginationData.pagePath')
    //
      <li ng-class="{activePage: paginationData.currentPage == 1}">
      <a class="text" ng-if="paginationData.currentPage != 1" ng-href="{{ pagePath(1) }}">{{'FIRST'
      | translate}}</a>
      <span ng-if="paginationData.currentPage == 1">{{'FIRST' | translate}}</span>
      </li>
    li(ng-class='{activePage: paginationData.currentPage == 1}')
      a.text(ng-if='paginationData.currentPage != 1', ng-href='{{ pagePath(paginationData.currentPage - 1) }}') ←
      span.arrow(ng-if='paginationData.currentPage == 1') ←
    li(ng-repeat='page in $paginatorPages', ng-class='{activePage: paginationData.currentPage == page}')
      a.text(ng-href='{{ pagePath(page) }}', ng-if='paginationData.currentPage != page') {{page}}
      span(ng-if='paginationData.currentPage == page') {{page}}
    li(ng-class='{activePage: paginationData.currentPage == paginationData.pageCount}')
      a.text(ng-if='paginationData.currentPage != paginationData.pageCount', ng-href='{{ pagePath(paginationData.currentPage + 1) }}') →
      span.arrow(ng-if='paginationData.currentPage == paginationData.pageCount') →
    //
      <li ng-class="{activePage: paginationData.currentPage == paginationData.pageCount}">
      <a class="text" ng-if="paginationData.currentPage != paginationData.pageCount"
      ng-href="{{ pagePath(paginationData.pageCount) }}">{{'LAST' | translate}}</a>
      <span ng-if="paginationData.currentPage == paginationData.pageCount">{{'LAST' | translate}}</span>
      </li>
