.book {

  ::-webkit-scrollbar {
      width: 0.4rem;
  }

  ::-webkit-scrollbar-track {
      border-radius: 10px;
      background: transparent;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #eee;
  }

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAQAAADf2/zBAAAAEUlEQVR4AWNi4GRi+I8DMQAAdfAIFgE5m6cAAAAASUVORK5CYII=);
  background-position: 0 13rem;
  background-repeat: repeat-x;
  padding: 4.5rem 7rem 13rem;
  position: relative;

  &__heading {
    font-family: $font-stack;
    font-size: 3rem;
  }

  &__content {
    margin-bottom: -0.9rem;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &__panel {
    float: left;
    width: 40%;
  }
  &__article {
    float: left;
    width: 60%;
  }
  &__action {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAQAAADf2/zBAAAAEklEQVQI12NgYGRiYGBiYMSKAAGkABwIQFWaAAAAAElFTkSuQmCC);
    background-position: 0 0;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 13rem;
    padding: 5rem 0;
  }
}

.book-panel {

  &__title {
    margin-bottom: 6rem;
  }
  &__list {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 1rem;
  }
}

.book-article {
  padding-left: 4rem;

  &__title {
    padding-bottom: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__text {
    color: #999;
    max-height: 600px;
    overflow-y: auto;
    padding-right: 1rem;
  }
}


.panel-list {
    counter-reset: listStyle;

    &__item {
      display: block;
      counter-increment: listStyle;
      border-bottom: 1px solid #e6e6e7;
      position: relative;
    }

    &__link {
      padding: 3rem 0;
      display: block;
      color: #000;
      width: 100%;
      position: relative;
      padding-right: 2rem;

      &::before {
        content: counter(listStyle, upper-roman) '.';
        display: inline-block;
        width: 3rem;
        font-family: $font-stack-bold;
        color: $color-primary;
      }
    }
    &__arrow {
      visibility: hidden;
      height: 0.6rem;
      width: 1rem;
      position: absolute;
      top: calc(50% - 0.3rem);
      right: 0;
      fill: $color-primary;

      .active > & {
        fill: #aeafb2;
        transform: rotate(180deg);
      }
    }
}

.panel-sublist {
    counter-reset: listStyle;
    padding: 3rem 0;
    border-top: 1px solid #e6e6e7;
    font-size: 1.6rem;

    &__item {
      counter-increment: listStyle;
      padding-right: 2rem;
      position: relative;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      display: block;
      color: #999;
      padding-left: 3rem;
      position: relative;

      &::before {
        content: counter(listStyle) '.';
        display: inline-block;
        position: absolute;
        left: 0;
        top:0;
        font-family: $font-stack-bold;
        color: #31363e;
        text-align: right;
      }

      .active > & {
        color: #000;
      }
    }
}

.book-action {
  counter-reset: listStyle;
  overflow: hidden;
  padding-left: 7rem;
  padding-right: 7rem;

  &__item {
    display: inline-block;
    counter-increment: listStyle;

    &::after {
      content: '';
      display: inline-block;
      width: 0.1rem;
      height: 2rem;
      background: #e1e1e1;
      margin: 0 4rem;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__button {
    color: #c8c8c8;
    position: relative;
    top: 0.6rem;

    &:hover {
      color: $color-primary;
      &::before {
        background: $color-primary;
      }
    }

    &::before {
      content: counter(listStyle);
      display: inline-block;
      position: absolute;
      right: -0.5rem;
      top: -0.5rem;
      height: 1.6rem;
      width: 1.6rem;
      font-family: $font-stack-bold;
      font-size: 0.8rem;
      line-height: 1.44;
      text-align: center;
      color: #fff;
      text-align: center;
      background: #c8c8c8;
      border: 0.2rem solid #fff;
      border-radius: 50%;
    }

    .active > & {
      color: $color-primary;
      &::before {
        background: $color-primary;
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  body {
    &::after {
      display: none;
      content: 'mobile';
    }
  }
  .remodal-wrapper {
    overflow: hidden;
  }
  .remodal {
    width: 100%;
    margin-bottom: 0;
    height: 100%;

    &__close {
      top: 4.5rem;
      right: 4.5rem;
    }
    &__back {
      display: block;

      .nav-is-visible & {
        display: none;
      }
    }
  }
  .book {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 4.5rem 4.5rem 6rem;

    &__panel,
    &__article {
      float: none;
      width: auto;
    }
    &__panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: transform .5s, opacity .5s;
      transform: translateX(100vw);
      .nav-is-visible &{
        opacity: 1;
        transform: translateX(0);
      }
    }
    &__content {
      margin-bottom: 0;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
    &__action {
      display: none;
      height: 6rem;
      padding-top: 1rem;

      .nav-is-visible &{
        display: block;
      }
    }
  }

  .book-panel {

    &__list {
      overflow-y: auto;
      max-height: 100%;
      height: 100%;
    }
  }

  .book-article {
    height: calc(100% - 12rem);
    overflow-y: auto;
    opacity: 1;
    transition: transform .5s, opacity .5s;
    padding: 0;
    margin-top: 12rem;

    &__text {
      max-height: 100%;
      overflow-y: visible;
    }

    &__title {
      margin-bottom: 0;
      padding-bottom: 2.4rem;
    }

    .nav-is-visible &{
      transform: translateX(-100vw);
      opacity: 0;
    }
  }
  .book-action {
    margin-top: -0.6rem;

    &__item {
      &:after {
        margin: 0 1rem;
        bottom: 1rem;
        position: relative;
        vertical-align: bottom;
      }
    }

    &__button {
      height: 5rem;
      width: 5rem;
      &:before {
        right: calc(50% - 8px);
        top: calc(50% - 8px);
      }
    }

    &__icon {
      display: none;
    }
  }

  .panel-sublist {
    &__item {
      padding: 1rem 0;
    }
  }
}
