.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: 0.2rem solid transparent;
  white-space: nowrap;
  font-size: inherit;
  line-height: inherit;
  border-radius: 5rem;
  user-select: none;
  transition: 0.2s;

  &--clean {
    background: transparent;
    padding: 0;
  }

  &--primary {
    font-size: 1.6rem;
    font-family: $font-stack-bold;
    line-height: 1.15;
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;
    padding: 1.1rem 3rem;

    &:hover,
    &:focus {
      background : #ff3138;
    }
  }

  &--light {
    font-size: 1.6rem;
    font-family: $font-stack-bold;
    line-height: 1.15;
    color: $color-primary;
    background-color: white;
    border-color: $color-primary;
    padding: 1.1rem 3rem;

    &:hover,
    &:focus {
      color: white;
      background-color: $color-primary;
    }
  }

  &--reverse {
    font-size: 1.6rem;
    font-family: $font-stack-bold;
    line-height: 1.15;
    color: white;
    background-color: $color-primary;
    border-color: white;
    padding: 1.1rem 3rem;

    &:hover,
    &:focus {
      color: white;
      background-color: white;
      color: $color-primary;
    }
  }

  &--lg {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.button-arrow {

  &__icon {
    margin-left: 1.7rem;
    height: 0.6rem;
    width: 1rem;
    vertical-align: middle;

    &--left {
      transform: rotate(-90deg);
    }
  }

  &__text {
    vertical-align: middle;
  }

}
