::-webkit-input-placeholder {color:#aaa;}
::-moz-placeholder          {color:#aaa;}
:-moz-placeholder           {color:#aaa;}
:-ms-input-placeholder      {color:#aaa;}

input {
  line-height: normal;
  margin: 0;
  font: inherit;
  color: inherit;
}

.form {

  &__control {
    -webkit-appearance: none;
    border-radius: 0;
    font-family: $font-stack-bold;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    background: white;
    background-image: none;
    display: block;
    width: 100%;
    height: 5.4rem;
    padding: 1.5rem 2.4rem;
    line-height: 1.42857143;

    &:last-child {
      margin-bottom: 0;
    }

    &:focus {
        border-color: #2c97de;
    }
  }

  &__group {
    margin-bottom: 2.2rem;
  }

  &__action {
    margin-top: 3.8rem;
  }
  &__alert {
    margin-top: 1rem;
  }
}

.error {
  border-color: $color-primary;
}
