.svg-arrow-dims { width: 12px; height: 8px; }
	.svg-calc-dims { width: 32px; height: 32px; }
	.svg-clock-dims { width: 31.978px; height: 31.502px; }
	.svg-cool-dims { width: 32px; height: 32px; }
	.svg-doc-dims { width: 27px; height: 32px; }
	.svg-feature1-dims { width: 70.5px; height: 60.5px; }
	.svg-feature2-dims { width: 52px; height: 64px; }
	.svg-feature3-dims { width: 40.088px; height: 64.046px; }
	.svg-play-dims { width: 49.031px; height: 49.015px; }
	.svg-tel-dims { width: 20px; height: 32px; }
