.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_POST_FORUM' | translate}}
.modal-body(ng-controller='ForumAdminPostsMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='post.user')
        .metadata {{ post.createDateTime | date:'medium' }}
      .modal__post
        span(xmsg='post.htmlText')
    form.modal-form(action='', ng-submit='move(post)')
      .form-body
        .form-group.lst-typeahead.lst-typeahead--rel
          label.input-default.input-select(ng-show='!editing') {{'BRANCH' | translate}}
          room-select(room='thread.RoomId')
        .form-group
          label.input-default.input-select(ng-show='!editing') {{'CATEGORY' | translate}}
          .sel-styled
            select(ng-required='true', ng-model='thread.SectionId')
              option(value='{{ section.Id }}', ng-repeat='section in sections')
                | {{ section.Title }}
        .form-group
          label.input-default.input-select(ng-show='!editing') {{'THEME' | translate}}
          input(type='text', ng-required='true', ui-select2='select2thread', ng-model='post.threadId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='!thread.SectionId || !post.threadId', type='submit')
          | {{'MOVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
