.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_POST_FORUM' | translate}}
.modal-body(ng-controller='ForumAdminPostsEditCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='post.user')
        .metadata {{ post.createDateTime | date:'medium' }}
      .modal__post
        span(ng-init='text = post.htmlText', xmsg='text')
    form.modal-form(name='replyForm', ng-submit='update(post)', file-upload='uploadOptions', ng-controller='ForumMessageAttachmentCtrl')
      .form-body
        #message-text-box.text-input-textarea
          textarea#message-text(ng-required='true', redactor='editorOptions', ng-model='post.rawText')
        .file-upload(ng-hide='true')
          div(ng-repeat='item in queue')
            div {{item.name}}
          .form-group
            input#messageFile(ng-disabled='replyInProgress', type='file', name='message-file-upload')
            i.app-icon.app-icon-92
            |  {{'ATTACH_FILE' | translate}}
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
