.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_POST_FORUM' | translate}}
.modal-body(ng-controller='ForumAdminPostsRemoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='post.user')
        .metadata {{ post.createDateTime | date:'medium' }}
      .modal__metadata
        .metadata.right-bordered
          | {{'BRANCH' | translate}}: 
          a(ng-href="{{ appPath('/', {roomId: room.Id}) }}") {{ post.room.DisplayName }}
        .metadata
          | {{'CATEGORY' | translate}}: 
          a(ng-href="{{ appPath(['section', post.section.Id], {roomId: room.Id}) }}")
            | {{ post.section.Title
            | }}
      .modal__metadata
        | {{'THEME' | translate}}:
        a(ng-href="{{ appPath(['topic', post.thread.Id], {roomId: room.Id}) }}")
          | {{
          | post.thread.Title }}
      span(xmsg='post.htmlText')
    div(ng-include="'views/admin/_remove-form.html'", onload='item = post')
