.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_TOPIC' | translate}}
.modal-body(ng-controller='ForumAdminThreadRemoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='thread.lastMessageUser')
          .metadata {{ thread.author.date }}
        .modal__metadata
          .metadata.right-bordered
            | {{'BRANCH' | translate}}:
            a(ng-init='room = roomsHash[thread.roomId]', ng-href="{{ appPath('/', {roomId: room.Id}) }}")
              | {{ room.DisplayName }}
          .metadata
            | {{'CATEGORY' | translate}}:
            a(ng-href="{{ appPath(['section', thread.sectionId]) }}") {{ thread.section.Title }}
      .modal-heading
        i.modal-heading__icon.app-icon.app-icon-topic-new
        a.modal-heading__txt(ng-href="{{ appPath('/topic/' + thread.id, {roomId: thread.roomUrlName}) }}")
          | {{
          | thread.title }}
      div(ng-include="'views/admin/_remove-form.html'", onload='item = thread')
