.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_TOPIC_FORUM' | translate}}
.modal-body(ng-controller='ForumAdminThreadMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          a(href='')
        .metadata
    .modal-heading
      i.modal-heading__icon.app-icon.app-icon-topic-new
      a.modal-heading__txt(ng-href='')
    form.modal-form(action='', name='moveForm', ng-submit='move(thread)')
      .form-body
        .form-group
          label {{'BRANCH' | translate}}
          room-select(room='thread.roomId')
        .form-group
          label {{'CATEGORY' | translate}}
          .sel-styled
            select(ng-required='true', name='roomId', ng-model='thread.sectionId', select2-fix='')
              option(value='{{ section.Id }}', ng-repeat='section in sections')
                | {{ section.Title }}
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='!moveForm.$valid', type='submit')
          | {{'MOVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
