.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_TOPIC' | translate}}
.modal-body(ng-controller='ForumAdminThreadEditCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='thread.lastMessageUser')
        .metadata {{ thread.created | date:'medium' }}
      .modal__metadata
        .metadata.right-bordered
          | {{'BRANCH' | translate}}:
          a(ng-init='room = roomsHash[thread.RoomId]', ng-click="newWinRoute('/', {roomId: thread.room.Id})")
            | {{ thread.room.DisplayName }}
        .metadata
          | {{'CATEGORY' | translate}}: 
          a(href='') {{ thread.section.Title }}
    .modal-heading
      i.modal-heading__icon.app-icon.app-icon-topic-new
      a.modal-heading__txt(ng-href="{{ appPath(['topic', thread.id], {roomId: thread.roomUrlName}) }}")
        | {{
        | thread.title }}
    form.modal-form(action='', ng-submit='update(thread)')
      .form-body
        .form-group
          input(type='text', ng-model='thread.title', ng-required='')
        .form-group
          textarea#message-text(ng-required='true', redactor='editorOptions', ng-model='firstMessage.rawText')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-disabled='progress.active')
          | {{'SAVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
