.full-height.cnt-nav-left.admin
  .content-control
    h4 {{'COMMENTS' | translate}}
  .content-sub-control
    .pull-right
      form.form-inline.pull-right(action='', ng-submit='locationSearch({ query: query })')
        input.form-control.input-sm.input-large(ng-model='query', type='text', placeholder="{{'SEARCHING' | translate}}")
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SEARCH' | translate}}
    .btn-toolbar
      .btn-group
        button.btn.btn-df.btn-small(type='button', ng-click="goTo('notapproved')", ng-model='searchParams.state', btn-radio="'notapproved'")
          | {{'UNCHECKED' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="goTo('active')", ng-model='searchParams.state', btn-radio="'active'")
          | {{'ACTIVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="goTo('deleted')", ng-model='searchParams.state', btn-radio="'deleted'")
          | {{'DELETED' | translate}}
  .content.content--under-sub
    ng-include(src='template')
