.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_CV' | translate}}
.modal-body(ng-controller='JobsAdminResumesRemoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='resume.user')
        .metadata {{resume.dateTime | date:'medium'}}
      .modal__metadata
        .metadata
          | {{'BRANCH' | translate}}: 
          a(href='') {{resume.room}}
    .modal-heading
      i.app-icon.app-icon-download
      a.modal-heading__txt(ng-href='{{resume.link}}') {{resume.description}}
    form.modal-form(action='', ng-submit='remove(resume)')
      .form-body
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea(ng-model='resume.reason')
        .form-group
          label {{'NOTE_MODERATOR' | translate}}
          .container-textarea
            textarea.small(mg-model='resume.note')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'DELETE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
