.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_CV' | translate}}
.modal-body(ng-controller='JobsAdminResumesMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='resume.user')
        .metadata {{resume.dateTime | date:'medium'}}
    .modal-heading
      i.app-icon.app-icon-download
      a.modal-heading__txt(ng-href='{{resume.link}}') {{resume.description}}
    form.modal-form(action='', ng-submit='move(resume)')
      .form-body
        .form-group.lst-typeahead.lst-typeahead--rel
          label {{'BRANCH' | translate}}
          room-select(room='resume.roomId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'MOVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
