.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_VACANCY' | translate}}
.modal-body(ng-controller='JobsAdminJobsRemoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='job.user')
        .metadata {{job.dateTime | date:'medium'}}
      .modal__metadata
        .metadata
          | {{'BRANCH' | translate}}: 
          a(href='') {{job.room}}
    .modal-heading
      a.modal-heading__txt(ng-href='') {{job.shortName}}
    form.modal-form(action='', ng-submit='remove(job)')
      .form-body
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea(ng-model='job.reason')
        .form-group
          label {{'NOTE_MODERATOR' | translate}}
          .container-textarea
            textarea.small(ng-model='job.note')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'DELETE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
