.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_VACANCY' | translate}}
.modal-body
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          a(href='') Александр Ростов
        .metadata 15.03.2012 17:14
      .modal__metadata
        .metadata
          | {{'BRANCH' | translate}}: 
          a(href='') Рыба
    .modal-heading
      a.modal-heading__txt(ng-href='') Менеджер по продажам с\м рыбы и филе (речной ассортимент)
    form.modal-form
      .form-body
        .form-group
          .container-textarea
            textarea
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
