.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_VACANCY' | translate}}
.modal-body(ng-controller='JobsAdminJobsMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='job.user')
        .metadata {{job.dateTime | date:'medium'}}
    .modal-heading
      a.modal-heading__txt(ng-href='') {{job.shortName}}
    form.modal-form(action='', ng-submit='move(job)')
      .form-body
        .form-group
          label {{'BRANCH' | translate}}
          room-select(room='job.roomId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'MOVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
