.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  .chat-history-date
    .pull-left
      span
        b
          // title here
.modal-body
  #chat-filter-messages.modal-inner
    div(ng-init='showDate = true')
      .modal-chat-filter__item
        .chat-item
          .chat-date
            i.chat-date__ico.icon-clock
            |  {{feedItem.stamp | date: 'd MMMM yyyy'}}
        .send-author
          .chat-timestamp.pull-right {{ feedItem.formattedStamp }}
          a(ng-click='feedItem.contact.showProfile()') {{feedItem.contact.name}}
        .message
          span(feed-item='feedItem')
.chat-history-pagination(ng-if='opts.feedItems.length > 0', ng-include="'views/app/_paginator-history.html'")
