.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  i.app-icon.app-icon-24(save-dom='#chat-filter-messages')
  i.app-icon.app-icon-25(print-dom='#chat-filter-messages')
.modal-body.modal-chat-filter
  #chat-filter-messages.modal-inner
    div(ng-if='messages.length > 0')
      div(ng-repeat='message in messages')
        .modal-chat-filter__item(ng-if='dateStamps[$index]')
          .chat-date
            i.chat-date__ico.icon-clock
            |  {{dateStamps[$index].toDate() | date: 'd MMMM yyyy'}}
            br
        .modal-chat-filter__item
          .send-author
            .chat-timestamp.pull-right {{message.stamp | date:'H:mm'}}
            a(ng-click='message.contact.showProfile()') {{message.contact.name}}
          .message
            span(xmsg='message.xmlBody')
    div(ng-if='messages.length == 0')
      translate NO_MESSAGES
.chat-history-pagination(ng-show='messages.length > 0')
  ui-pagination(total-items='totalItems', page='1', initial-select='true', on-select-page='changePage(page)', items-per-page='20')
