.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  i.app-icon.app-icon-24(ng-if='_download', ng-click='download()')
  i.app-icon.app-icon-25(ng-if='_print', ng-click='print()')
  .chat-history-date
    .pull-left
      | {{'MESSAGE_HISTORY' | translate}}: 
      b
        | {{ dateFrom | date: 'd MMMM yyyy' }} 
        span(ng-if="dateTo != 'hidden'") - {{ dateTo | date: 'd MMMM yyyy' }}
#chat-history-messages.modal-body.modal-chat-filter(humble-scroll='true', humble-scroll-up-on='page-changed')
  #chat-filter-messages.modal-inner
    div(ng-if='opts.feedItems.length > 0', ng-init='showDate = true')
      div(ng-repeat='feedItem in opts.feedItems')
        .modal-chat-filter__item(ng-if='opts.dateStamps[$index]')
          .chat-date
            i.chat-date__ico.icon-clock
            |  {{opts.dateStamps[$index].toDate() | date: 'd MMMM yyyy'}}
        .modal-chat-filter__item
          .send-author
            .chat-timestamp.pull-right {{ feedItem.formattedStamp }}
            a(ng-click='feedItem.contact.showProfile()') {{feedItem.contact.name}}
          .message
            span(feed-item='feedItem')
    div(ng-if='opts.feedItems.length == 0')
      translate NO_MESSAGES
.chat-history-pagination(ng-if='opts.feedItems.length > 0', ng-include="'views/app/_paginator-history.html'")
