html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  color: $color-text;
  background-color: $background-color-primary;
  min-width: $main-width + $outer-margin * 2;
}

.wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;

  &:after {
    content: '';
    display: block;
  }
}

.footer, .wrap:after {
	height: $footer-height;
}

*:focus {outline:none!important;}

p {
  margin: 0 0 25px;

  & + h3 {
    padding-top: 0;
  }
}

a {
  color: $color-link;
  text-decoration: underline;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $color-link-hover;
  }
}

ul {
  list-style:none;
  padding:0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*.hr {
  width: 100%;

  &--no-margin {
    margin: 0;
  }
}*/
