html {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family, serif;
  font-weight: 400;
  line-height: 1.125;
  color: $gray-middle;
  margin: 0;
}

h2 {
  font-size: 30px;
  padding-bottom: 25px;

  & + h3 {
    padding-top: 0;
  }
}

h3 {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 15px;
}

h4 {
  font-size: 18px;
  padding-bottom: 10px;
}

b,
strong {
  font-family: $font-family-bold;
  font-weight: 400;
}

&.ttl-center {
  color: $color-text;
  text-align: center;
  padding-bottom: $content-padding;
}
&.ttl-lg {
  font-size: 36px;
}
&.ttl-md {
  font-size: 30px;
  padding-bottom: 30px;
}
&.ttl-sm {
  font-family: $font-family-bold;
  font-size: 18px;
}
