#modal-add-prod-serv.modal.fade
  .modal-dialog
    .modal-content
      form
        .modal-header
          button.btn.btn--default.modal-close.lnk-dashed(type='button', data-dismiss='modal', aria-label='Close')
            span.lnk-dashed__text Закрыть         
          h2.modal-title Добавить товар/услугу
        |       
        .modal-body
          .form-group
            label.form-label Название товара/услуги
            input.form-control(type='text')
          .form-group.form-group--bordered
            label.form-label Анонс
            textarea.form-control(rows="5")
          .form-group.form-group--bordered
            label.form-label Изображение
            .upload
              img.upload__img(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
              .upload__lnk
                .file-upload
                  .file-upload__btn
                    span.icon.icon--photo
                    | Загрузить изображение                
                  input.file-upload__input(type="file")
              .addition.upload__addition
                | Поддерживются форматы: jpg, png, gif, bmp
                br
                | Объем файла не более: 1 мб
          .form-group
            label.form-label Добавить файлы
            .files
              .files__list
                .files__item                  
                  a.files__lnk(href="#777")
                    span.icon.icon--doc
                    | Каталог продукции 2015
                  button.btn.btn--default.lnk-dashed.lnk-delete.files__del(type="button")
                    span.close.lnk-delete__ico
                      span.icon.close__ico
                    span.lnk-dashed__text.lnk-delete__text Удалить
                .files__item
                  a.files__lnk(href="#777")
                    span.icon.icon--xls
                    | Маркетинг-кит 2105                    
                  button.btn.btn--default.lnk-dashed.lnk-delete.files__del(type="button")
                    span.close.lnk-delete__ico
                      span.icon.close__ico
                    span.lnk-dashed__text.lnk-delete__text Удалить
              .files__upload
                .file-upload
                  button.btn.btn--default.lnk-dashed.file-upload__btn(type="button")
                    span + 
                    span.lnk-dashed__text Добавить файлы               
                  input.file-upload__input(type="file")
              .files__addition.addition
                | Поддерживаемые форматы: pdf, doc, xls, jpg, rar/zip
                br
                | Размер одного файла не более 10мб
        .modal-footer            
          button.btn.btn--light(type='button') Добавить в каталог
          button.btn.btn--extra(type='button', data-dismiss='modal') Отменить
