.full-height.cnt-nav-left.reviews
  .content-control
    .btn.btn-df.btn-small(ng-click="appRoute('')", translate='GO_BACK')
  .content
    .content-item
      table.table.table--inline.table--reviews.table--details
        tbody
          tr
            td
              .table__metadata
                .user-name
                  .pull-left
                    .small-thumb-container
                      img(ng-src='{{reviewsShow.item.photo}}', alt='')
                .metadata.right-bordered
                  .auth__user(user-name='reviewsShow.item.user')
                .metadata(ng-bind='reviewsShow.item.date')
              .table__title(ng-bind='reviewsShow.item.text')
              div(addthis='', description='addThisDescription', title='addThisTitle')
              .icons
                div(vote='reviewsShow.voteOptions')
      div(comments-adding='reviewsShow.commentOptions')
