/* Not Mobile */

@media (min-width: $screen-xs) {

  .show-in-mobile {
    display: none;
  }

}

/* Mobile */

@media (max-width: $screen-xs-min) {

  html {
    font-size: 52.5%;
  }

  .hide-in-mobile {
    display: none;
  }
  .show-in-mobile {
    display: block;
  }

  .container {
    padding-left: 4.4rem;
    padding-right: 4.4rem;
  }

  .cover {
    padding-top: 4.4rem;
    padding-bottom: 13.3rem;

    &__title {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
    &__text,
    &__video {
      width: 100%;
      float: none;
    }

    &__video {
      text-align: center;
    }
  }

  .list-numbered {
    &__item {
      width: 100%;
      margin-bottom: 4.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .package-info {
    &__icon {
      width: 100%;
      float: none;
      margin-bottom: 3rem;
      text-align: center;
    }
    &__text {
      text-align: center;
    }
  }

  .sect-reviews {
    .slick-next,
    .slick-prev {
      bottom: 265px;
      top: auto;
    }
  }

  .footer {

    &__copy {
      width: 100%;
      text-align: center;
    }
  }

  .advantages {
    &__action {
      text-align: center;
    }
  }

}

/* Tablet */

@media (min-width: $screen-xs) and (max-width: $screen-md-min) {

  .hide-in-tablet {
    display: none;
  }

  .container {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .cover {
    &__title {
      font-size: 3rem;
    }
    &__text {
      width: 50%;
    }
  }

  .footer {

    &__item {
      width: 50%;
    }
  }

}

/* Mobile and Tablet */

@media (max-width: $screen-md-min) {

  .hide-in-tablet-and-down {
    display: none;
  }

  .header-tel {
    &__number {
      font-size: 2.1rem;
    }
  }

  .howwework {
    &__title {
      margin-bottom: 14rem;
    }
  }

  .price {
    &__content--single,
    &__action {
      float: none;
      text-align: center;
    }
    &__action {
      text-align: center;
      margin-top: 4rem;
      &--sale {
        position: absolute;
        bottom: -1rem;
        left: 7rem;
      }
    }
    &__content--sale {
      width: 54%;
    }
    &__content--sale &__number {
      margin: 0;
    }
    &__countdown {
      width: 46%;
    }
  }
  .countdown {
    &__text {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  .features {
    &__item {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-bottom: 10rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__content {
      height: auto;
      margin-bottom: 5rem;
    }
  }

  .package-info {
    &__content,
    &__action {
      width: 100%;
      max-width: 100%;
      float: none;
    }
    &__action {
      text-align: center;
      margin-top: 4rem;
    }
  }

  .about {

    &__item {
      width: 100%;
      max-width: 100%;
    }
  }

  .request {
    &__title {
      text-align: center;
    }
    &__form,
    &__info {
      float: none;
      width: 100%;
    }
    &__info {
      margin-bottom: 6rem;
    }
  }

  .form {
    &__action {
      text-align: center;
    }
  }

  .cover-video {
    &__text {
      &:before {
        background-size: 112px 66px;
        height: 48px;
      }
    }
  }

}

/* Other */

@media (min-width: $screen-xs) and (max-width: 1120px) {
  .list-numbered {
    &__item {
      width: 48%;
      margin-bottom: 7.3rem;
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }
}

/*Scroollbar fix*/

@media only screen @media (max-width: $screen-sm-min) {
  .book-panel {
    &__list {
      padding-right: 0;
    }
  }
}

@media (max-width: 479px) {
  .summary {
    &__item {
      &:last-child {
        font-family: $font-stack;
        font-size: 2.6rem;
      }
    }
    &__item:last-child &__addon {
      font-size: 1.1rem;
    }
  }
}
