.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_COMMENT' | translate}}
.modal-body(ng-controller='CommentsEditCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='comment.user')
        .metadata {{comment.dateTime | date:'medium'}}
    form.modal-form(ng-submit='save(comment)')
      .form-body
        .form-group
          .container-textarea
            textarea(ng-model='comment.text')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='savingInProgress', type='submit')
          | {{'SAVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
