.dropdown.drdwn(popup-adjust='bottom', ng-if="!feedItem.item.deleted && myProfile.IsFilled && feedItem.type == 'ChatMessage'")
  i.chat-actions__btn.app-icon.app-icon-69.dropdown-toggle
  ul.chat-actions__lst.chat-actions-lst.dropdown-menu.dropright
    li.chat-actions-lst__item(ng-if='(feedItem.item.mine || myProfile.IsModerator) && edit')
      a.chat-actions-lst__lnk(href='', ng-click='edit(feedItem)')
        i.chat-actions-lst__ico.icon-edit
        translate EDIT
    li.chat-actions-lst__item(ng-if='::copy')
      a.chat-actions-lst__lnk(href='', ng-click='copy(feedItem)')
        i.chat-actions-lst__ico.icon-copy
        translate COPY
    li.chat-actions-lst__item(ng-if='::quote')
      a.chat-actions-lst__lnk(href='', ng-click='quote(feedItem)')
        i.chat-actions-lst__ico.icon-quote
        translate QUOTE
    li.chat-actions-lst__item(ng-if='(feedItem.item.mine || myProfile.IsModerator) && delete')
      a.chat-actions-lst__lnk(href='', ng-click='delete(feedItem)')
        i.chat-actions-lst__ico.icon-close2
        translate DELETE
    li.chat-actions-lst__item(ng-if='::share', sharedropdown='')
      a.chat-actions-lst__lnk(href='')
        i.chat-actions-lst__ico.icon-share
        translate SHARE
    li.chat-actions-lst__item
      a.chat-actions-lst__lnk.to-clipboard(href='', ng-if='clipboardUnable', data-clipboard-text='{{"http://promarket.pro/chat/" + $roomName + "?popup=feed-item&feed-item-id=" + feedItem.id}}')
        i.chat-actions-lst__ico.icon-link
        translate CopyLink
.dropdown.drdwn.dropdown-share.dropdown--light
  .dropdown-toggle.dropdown-share-toggle.ng-hide
  .dropdown-menu.dropup
    .addthis_20x20_style(addthis='', hide-plus-icon='true', title='feedItem.item.socialData.title', description='feedItem.item.socialData.description', url="{{'http://promarket.pro/chat/' + $roomName + '?popup=feed-item&feed-item-id=' + feedItem.id}}")
