ul.chat-tune
  li.chat-tune__item.chat-smiles.dropdown.drdwn
    a.chat-tune__lnk.chat-smiles__lnk.dropdown-toggle(href='')
      i.icon-smile.chat-smiles__ico
    .chat-smiles__drdw.dropdown-menu.dropright.dropup.clearfix
      ul.smiles-list.smiles-big
        li(ng-click='appendNewMessageText(emoticon.Shortcuts[0])', ng-repeat='emoticon in emoticons.big')
          img(ng-src='{{ emoticon.ImageUrl }}', alt='{{ emoticon.Name }}')
      ul.smiles-list.smiles-small
        li(ng-click='appendNewMessageText(emoticon.Shortcuts[0])', ng-repeat='emoticon in emoticons.small')
          img(ng-src='{{ emoticon.ImageUrl }}', alt='{{ emoticon.Name }}')
  li.chat-tune__item
    label.chat-file-upload
      i.chat-tune__lnk.icon-paperclip
      input#chatFile.ng-hide(type='file', ng-file-select='onFileSelect($files)', multiple='')
