.chat-history__ttl
  i.chat-history__ico.icon-clock
  |  
  span {{'MESSAGE_HISTORY' | translate}}
ui-datepicker(pick='loadDailyHistoryPopup($date, $pickerScope)', max='today', date='today')
ul.chat-history__days.history-days(ng-click="chatSearch = ''", metrika="'chat-period-search'")
  li.history-days__item
    a.history-days__lnk(ng-class='{ active: period == 0 }', href='', ng-click='loadHistoryPopup(0)', translate='TODAY')
  li.history-days__item
    a.history-days__lnk(ng-class='{ active: period == 1 }', href='', ng-click='loadHistoryPopup(1)', translate='YESTERDAY')
  li.history-days__item
    a.history-days__lnk(ng-class='{ active: period == 3 }', href='', ng-click='loadHistoryPopup(3)', translate='3DAYS')
  li.history-days__item
    a.history-days__lnk(ng-class='{ active: period == 7 }', href='', ng-click='loadHistoryPopup(7)', translate='7DAYS')
  li.history-days__item
    a.history-days__lnk(ng-class='{ active: period == 30 }', href='', ng-click='loadHistoryPopup(30)', translate='30DAYS')
