.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_AD' | translate}}
.modal-body(ng-controller='MerchantsAdminBoardRemoveCtrl', ng-init='item = ad')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='ad.user')
        .metadata {{ad.dateTime |date:'medium'}}
      .modal__metadata
        .metadata
          | {{'BRANCH' | translate}}: 
          a(href='') {{ad.room}}
    .modal-heading
      .type(ng-class="{green: modal.Kind=='Buy', gray: modal.Kind=='Sell'}")
        | {{ad.kind.toUpperCase() |
        | translate}}
      a.modal-heading__txt(ng-href='') {{ad.title}}
    ng-include(src="'views/admin/_remove-form.html'")
