.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_AD' | translate}}
.modal-body(ng-controller='MerchantsAdminBoardMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='ad.user')
        .metadata {{ad.dateTime |date:shortName}}
    .modal-heading
      .type.green.modal-heading__icon {{'SELL' | translate}}
      a.modal-heading__txt(ng-href='') {{ad.title}}
    form.modal-form(action='', ng-submit='move(ad)')
      .form-body
        .form-group.lst-typeahead.lst-typeahead--rel
          label {{'BRANCH' | translate}}
          room-select(room='ad.roomId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='progress.active', type='submit')
          | {{'MOVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
