.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_GOODS' | translate}}
.modal-body(ng-controller='MerchantsAdminOffersRemoveCtrl', ng-init='item = offer')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='item.user')
        .metadata {{item.created | date:'medium'}}
    .modal-heading
      .table-image.pull-left
        .bordered
          img.thumb__object(ng-src='{{item.pictures[0].thumbnailLink}}', ng-if='item.pictures.length > 0')
          img.thumb__object.img-responsive(ng-src='img/content/no-photo.jpg', ng-if='item.pictures.length == 0')
      .table-title.modal-heading__cnt
        .table__metadata
          .metadata
            | {{'BRANCH' | translate}}: 
            a(href='') {{item.room}}
        a.thumb__heading(href='') {{item.title}}
        .table__price
          .price(ng-hide="item.price.amount==''")
            span {{item.priceValue}}
            | {{item.currencyCode | translate}}/{{item.priceUnit | translate}}
          .price(ng-show="item.price.amount==''")
            | {{'NO_PRICE' | translate}}
          .status(ng-show="item.kind == 'Merchandise' && item.isAvailable")
            | {{'IN_STOCK' | translate}}
          .status.gray(ng-show="item.kind == 'Merchandise' && !item.isAvailable")
            | {{'UNDER_ORDER' | translate}}
    ng-include(src="'views/admin/_remove-form.html'")
