.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_GOODS' | translate}}
.modal-body(ng-controller='MerchantsAdminOffersEditCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='offer.user')
        .metadata {{offer.date|date:'medium'}}
    .modal-heading
      .table-image.pull-left
        .bordered
          img.thumb__object(ng-src='{{offer.pictures[0].ThumbnailLink}}')
      .table-title.modal-heading__cnt
        .table__metadata
          .metadata
            | {{'BRANCH' | translate}}: 
            a(href='') {{offer.room}}
        a.thumb__heading(href='') {{offer.Title}}
        .table__price
          .price(ng-hide="offer.price.amount==''")
            span {{offer.PriceValue}}
            | {{offer.CurrencyCode | translate}}/{{offer.PriceUnit |
            |          translate}}
          .price(ng-show="offer.price.amount==''")
            | {{'NO_PRICE' | translate}}
          .status(ng-show="offer.Kind == 'Merchandise' && offer.IsAvailable")
            | {{'IN_STOCK' | translate}}
          .status.gray(ng-show="offer.Kind == 'Merchandise' && !offer.IsAvailable")
            | {{'UNDER_ORDER' | translate}}
    form.modal-form(ng-submit='save(offer)')
      .form-body
        .form-group
          .container-textarea
            textarea(required='', ng-model='offer.Title')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='progress.active', type='submit')
          | {{'SAVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
