.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_GOODS' | translate}}
.modal-body(ng-controller='MerchantsAdminOffersMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='offer.user')
        .metadata {{offer.created | date:'medium'}}
    .modal-heading
      .table-image.pull-left
        .bordered
          img.thumb__object(ng-src='{{offer.pictures[0].thumbnailLink}}')
      .table-title.modal-heading__cnt
        .table__metadata
          .metadata
            | {{'BRANCH' | translate}}: 
            a(href='') {{offer.room}}
        a.thumb__heading(href='') {{offer.title}}
        .table__price
          .price(ng-hide="offer.price.amount==''")
            span {{offer.priceValue}}
            | {{offer.currencyCode | translate}}/{{offer.priceUnit |
            |          translate}}
          .price(ng-show="offer.price.amount==''")
            | {{'NO_PRICE' | translate}}
          .status(ng-show="offer.kind == 'Merchandise' && offer.isAvailable")
            | {{'IN_STOCK' | translate}}
          .status.gray(ng-show="offer.kind == 'Merchandise' && !offer.isAvailable")
            | {{'UNDER_ORDER' | translate}}
    form.modal-form(action='', ng-submit='move(offer)')
      .form-body
        .form-group.lst-typeahead.lst-typeahead--rel
          label {{'BRANCH' | translate}}
          room-select(room='offer.roomId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='progress.active', type='submit')
          | {{'MOVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
