.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'MOVE_PRICE_LIST' | translate}}
.modal-body(ng-controller='MerchantsAdminPricesMoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='price.user')
        .metadata {{price.created | date:'medium'}}
    .modal-heading
      i.app-icon.app-icon-download
      a.modal-heading__txt(ng-href='{{modal.link}}') {{price.description}}
      span.extension (.{{price.format}})
    form.modal-form(action='', ng-submit='move(price)')
      .form-body
        .form-group.lst-typeahead.lst-typeahead--rel
          label {{'BRANCH' | translate}}
          room-select(room='price.roomId')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='progress.active', type='submit')
          | {{'MOVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
