.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_PRICE_LIST' | translate}}
.modal-body(ng-controller='MerchantsAdminPricesRemoveCtrl', ng-init='item = price')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='item.user')
        .metadata {{item.created | date:'medium'}}
      .modal__metadata
        .metadata
          | {{'BRANCH' | translate}}: 
          a(href='') {{item.room}}
    .modal-heading
      i.app-icon.app-icon-download
      a.modal-heading__txt(ng-href='{{item.link}}') {{item.description}}
      span.extension (.{{item.format}})
    ng-include(src="'views/admin/_remove-form.html'")
