.form-group(ng-class="{'has-error': !registrationForm.name.$valid && registrationForm.name.focused}")
  label
    translate REGISTRATION_NAME
  input.form-control.input-lg(name='name', type='text', ng-model='formFields.name', ng-blur='registrationForm.name.focused = true', required='')
.form-error.red.text-center(ng-show='!registrationForm.name.$valid && registrationForm.name.focused')
  | —
  translate FIELD_REQUIRED
.form-group(ng-class="{'has-error': !registrationForm.email.$valid && registrationForm.email.focused}")
  label E-mail
  input.form-control.input-lg(name='email', type='email', ng-model='formFields.email', ng-blur='registrationForm.email.focused = true', required='')
.form-error.red.text-center(ng-show='!registrationForm.email.$valid && registrationForm.email.focused')
  | —
  translate FIELD_REQUIRED
.form-error.red.text-center(ng-show='mailRegistered')
  | —
  translate USERS.ERRORS.MailAlreadyRegistered
.form-group(ng-class="{'has-error': !registrationForm.password.$valid && registrationForm.password.focused}")
  label
    translate PASSWORD
  input.form-control.input-lg(name='password', type='password', ng-model='formFields.password', ng-blur='registrationForm.password.focused = true', required='')
.form-error.red.text-center(ng-show='!registrationForm.password.$valid && registrationForm.password.focused')
  | —
  translate FIELD_REQUIRED
.form-group(ng-class="{'has-error': (registrationForm.passwordRepeat.$valid == false || formFields.password != formFields.passwordRepeat) && registrationForm.passwordRepeat.focused}")
  label
    translate REPEAT_PASSWORD
  input.form-control.input-lg(name='passwordRepeat', type='password', ng-model='formFields.passwordRepeat', ng-blur='registrationForm.passwordRepeat.focused = true', required='')
.form-error.red.text-center(ng-show='formFields.password != formFields.passwordRepeat && registrationForm.passwordRepeat.focused')
  | —
  translate REPEAT_PASSWORD_VALIDATION
.form-txt
  .chckbx
    .chckbx__inpt
      input(id="licenseAgreement{{rand}}", type='checkbox', ng-model='license.accepted', name='licenseAgreement{{rand}}', ng-required='true')
      label(for='licenseAgreement{{rand}}' ng-class="licenseError && 'invalid'")
    .chckbx__lbl
      translate LICENSE_AGREEMENT_1
      |&nbsp;
      a(ng-click='openRules()')
        translate LICENSE_AGREEMENT_2
      |&nbsp;
      translate LICENSE_AGREEMENT_3
      |&nbsp;
      a(href='/legal', target='_blank')
        translate LICENSE_AGREEMENT_4
      |&nbsp;
      translate LICENSE_AGREEMENT_5
