.button {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0;
  font-family: @font-stack-coop;
  font-size: @font-size-base;
  line-height: @line-height-base;
  padding: 0;

  color: inherit;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;

  &--primary {
    color: white;
    font-size: 1.5rem;
    line-height: 1.08;
    font-weight: 700;
    text-transform: uppercase;
    background-color: @color-extra;
    border-radius: 0.6rem;
    box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3);
    padding: 1.7rem 1.2rem 1.5rem 1.2rem;
    transition: 0.1s;
    text-decoration: none;

    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
      box-shadow: inset 0 2px 8px rgba(0, 0, 1, 0.3);
    }
  }

  &--long {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &.disabled {
    background-color: #909295;
    pointer-events: none;

    &:hover,
    &:focus {
      box-shadow: -3.9px 4.6px 7px rgba(0, 0, 1, 0.5);
    }
  }
}
