.descrColgate {
  padding-top: 7rem;
  padding-bottom: 7rem;
  width: 47rem;
  float: right;

  @media (min-width : 2048px) {
    margin-right: 20rem;
    padding-bottom: 20rem;
  }

  &__content {
    background-color: rgba(255, 255, 255, 59%);
    border-radius: 1.5rem;
    padding: 1.4rem 4rem 2rem 2rem;
    margin-left: -2rem;
    color: @color-extra;
    font-size: 2rem;
    line-height: 1.3;
    position: relative;
    width: 47rem;
    margin-top: 18rem;

    @media (min-width : 2048px) {
      margin-top: 0;
    }
  }

  &__button {
    margin-top: 2rem;
    box-shadow: none;
  }

  &__badge {
    right: 0;
    top: -23rem;

    @media (min-width : 2048px) {
      right: -20rem;
      top: 3rem;
    }
  }

}
