.expert {
  padding-left: 12rem;
  padding-bottom: 5rem;

  &__description {
    position: absolute;
    color: #c42313;
    font-size: 1.6rem;
    line-height: 1.3;

    &--top {
      position: relative;
      float: right;
      width: 35rem;
    }

    &--right {
      top: 15rem;
      right: 0;
      width: 24rem;
    }

    &--left {
      top: 4rem;
      left: -13rem;
      width: 26rem;
    }
  }

  &__image {
    width: 58.6rem;
  }

  &__title {
    color: #325fc5;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.17;
  }

  &__top {
    .clearfix();
  }

  &__bottom {
    position: relative;
    top: -1rem;
  }
}
