.footer {
  color: #ccc;
  font-size: 1.4rem;
  background: white;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;

  &__inner {
    width: @width-inner;
    margin-left: auto;
    margin-right: auto;
  }

  &__topLine {
    background: #ccc;
    height: 5.5rem;
    padding-top: 1rem;
  }
  &__topLink {
    color: white;
    font-family: @font-stack-coop;
  }

  &__languages,
  &__nav,
  &__social {
    float: left;
    width: 25%;
  }

  &__nav {
    width: 50%;
    text-align: center;
  }

  &__bottom {
    .clearfix();
  }
}
