@input-height: 4rem;

.error {
  color: @color-extra!important;
}

.select-style {
  position: relative;
  background-color: white;
  border: 0.1rem solid black;
  width: 100%;
  float: left;
  max-width: 100%;
  border-radius: 0.5rem;
  height: @input-height;
  line-height: (3.4 / 2);

  &.error {
    border-color: @color-extra;
  }

  select {
    font-family: @font-stack-coop;
    font-size: @font-size-base;
    line-height: 1.88;
    color:  @color-main;
    max-width: 100%;
    width: 100%;
    padding: 0 3rem 0 1rem;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  select::-ms-expand {
    display: none;
  }
  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 0.8rem;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #ccc;
  }
}

.personalForm {
  margin-top: 7rem;

	&__control {
		-webkit-appearance: none;
	  display: block;
	  width: 100%;
	  height: @input-height;
    font-family: @font-stack-coop;
	  font-size: @font-size-base;
	  line-height: @line-height-base;
	  padding-top: (@input-height - 0.2rem - @font-size-base * @line-height-base) / 2;
	  padding-bottom: (@input-height - 0.2rem - @font-size-base * @line-height-base) / 2;
	  padding-left: 1rem;
	  padding-right: 1rem;
		color: @color-main;
		background-color: white;
		border: 0.1rem solid black;
		border-radius: 0.5rem;

    &.error {
      border-color: @color-extra;
    }
	}

  &__col {
		float: left;
    width: 48%;
		&:first-child {
			margin-right: 4%;
		}

    &--alignRight {
      text-align: right;
    }
  }

	&__group {
		.clearfix();
		margin-bottom: 2rem;
		&--lg {
			margin-bottom: 3rem;
		}
	}

	&__note {
		font-size: 1.6rem;
	}

	&__conditions {
		display: inline-block;
    vertical-align: top;
		font-size: 1.6rem;
		text-decoration: underline;
	}

  &__button {
    padding-left: 5.6rem;
    padding-right: 5.6rem;
  }

  &__actions {
		.clearfix();
	}

  &__submit {
    float: right;
    font-family: @font-stack-coop;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-align: center;

    p {
      margin-bottom: 1.2rem;
    }
  }
}
