.header {
  background: white;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;

  &__inner {
    .clearfix();
    width: @width-inner;
    margin-left: auto;
    margin-right: auto;
    height: 9rem;
    padding-top: 4rem;
  }
}
