.languages {

  &__link {
    display: inline-block;
    padding: 1.6rem 1.4rem;
    color: inherit;
    vertical-align: top;
    line-height: 1.2;

    &.active {
      font-size: 1.8rem;
      line-height: 1;
      margin-top: -1rem;
      padding-top: 2.6rem;
      padding-bottom: 0;
      background: white;

      &:hover,
      &:focus {
        text-decoration: none;
        cursor: default;
      }
    }
  }
}
