.main {
  position: relative;
  -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
      flex: 1 0 auto;

  &__inner {
    width: @width-inner;
    margin-left: auto;
    margin-right: auto;
  }

  &__p {
    & + & {
      margin-top: 3rem;
    }
  }

  &__action {
    margin-bottom: 6rem;
    text-align: center;
  }

  &--general {
    background-image: url(../images/bg-general-left.jpg), url(../images/bg-general-right.jpg);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;

    @media screen and (orientation:portrait) {
      background: url(../images/bg-general-left.jpg) 0 0 no-repeat;
      background-size: contain;
    }
  }

  &__contentSmall {
    box-sizing: content-box;
    padding-left: 40rem;
    width: 38rem;
    margin-top: 4rem;
    padding-bottom: 34rem;
    position: relative;
    min-height: 26rem;
  }

  &__textLarge {
    color: #4c4c4c;
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.17;
    text-transform: uppercase;

    b,
    strong {
      color: @color-second;
      font-style: normal;
      font-weight: bold;
    }
  }

  &__contentRight {
    padding-left: 25rem;
    padding-bottom: 5rem;

    &--result {
      padding-bottom: 9rem;
      background: url(../images/content/lachen-mit-streifen.jpg) 0 0 no-repeat;
      background-size: 34.3rem auto;
      margin-left: -17rem;
      padding-left: 25rem + 17;
      padding-top: 1.4rem;

      @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url(../images/lachen-mit-streifen@2x.jpg);
      }
    }

    &--neu {
      position: relative;
    }
  }

  &__subcontentRight {
    padding-top: 5rem;
    padding-left: 8rem;

    &--sm {
      font-size: 1.6rem;
      .clearfix();

      img {
        float: left;
        height: auto;
        margin-right: 1rem;
        width: 14rem;
        margin-left: -15rem;
      }
    }

    &--noPadding {
      padding-top: 0;
    }
  }

  &--corner {

    &:after {
      content: '';
      background: url(../images/bg-angle.png) 0 100% no-repeat;
      height: 259px;
      width: 259px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }

  &__centered {
    text-align: center;
  }

  &__container {

    width: @width;
    margin-left: auto;
    margin-right: auto;

    &--lady {
      background: url(../images/bg-lady.png) 0 0 no-repeat;
    }
  }
}

.neu {
  position: absolute;
  top: 1rem;
  left: 8rem;
  width: 23.2rem;
}

.digitaler {

  &__image {
    width: 26rem;
  }
}
