.marken {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;

  &__inner {
    padding: 0.6rem 4.7rem;
    width: @width;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-family: @font-stack-coop-cond;
    font-weight: 700;
    color: black;
    font-size: 2rem;
    line-height: 1.3;
  }

  &__subtitle {
    color: black;
    font-size: 2.8rem;
    line-height: 1.3;
  }

  &__content {
    margin-left: -5.2rem;

    a {
      display: block;
      text-decoration: none;
    }

    &--narrow {
      img {
        margin-top: 4rem;
      }
    }
  }

  &__image {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5.2rem;
  }

  &__action {
    text-align: right;
    margin-top: 4rem;
  }
}
