.modal {
  display: none;
  width: 540px;
  background: white;
  padding: 5rem 3rem 2rem;
  border-radius: 5px;
	color: @color-main;
	font-size: 1.6rem;
  line-height: 1.25;
  z-index: 10!important;

  &--teilnahmebedinungen {
    border-radius: 15px;
    box-shadow: 5.7px 8.2px 29px rgba(0, 0, 0, 0.3);
  }

  &__close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    display: block;
    color: #ccc;
    font-size: 1.4rem;
    min-height: 1.8rem;
    background: url(../images/modal-close.png) 100% 0 no-repeat;
    background-size: contain;
    padding-right: 3rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.close-modal {
  display: none;
}

.blocker {
	background: white!important;
}
