.numlist {
  list-style: none;
	counter-reset: numCounter;
  margin-left: -1.2rem;
  line-height: 1.3;

	&__item {
		position: relative;
		padding-left: 8rem;
    padding-bottom: 6rem;

		&:before {
			counter-increment: numCounter;
			content:counter(numCounter);
			font-size: 2.8rem;
			font-weight: 700;
			line-height: 1.3;
			position: absolute;
			top: 0.6rem;
			left: 0;
      width: 5.7rem;
			height: 3.9rem;
      background: url(../images/bg-counter.jpg) 0 0 no-repeat;
      background-size: contain;
			text-align: center;
      color: white;

      @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url(../images/bg-counter@2x.jpg);
      }
		}
	}

  &__text {
    color: @color-second;
    margin-bottom: 2rem;
  }

  &__radio {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    padding-left: 8rem;
    position: relative;
    display: block;

    label {
      display: inline-block;
      position: relative;
      padding-left: 2.8rem;
      margin-bottom: 0;
      cursor: pointer;
    }

    &:last-child {
      margin-bottom: 0;
    }

    input[type="radio"] {
      display: none;

      & + label:before {
        content: "";
        border: 0.2rem solid #4c4c4c;
        border-radius: 50%;
        cursor: pointer;
        left: 0;
        position: absolute;
        vertical-align: middle;
        width: 1.4rem;
        height: 1.4rem;
        margin-top: 0.6rem;
      }

      &:checked + label:before {
          background: @color-extra;
          border-color: @color-extra;
      }
    }

  }
}
