.offer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: table;

  &__col {
    display: table-cell;
    width: 50%;
    padding-bottom: 2rem;
    overflow: hidden;
    position: relative;

    &:first-child {
      text-align: right;
      padding-right: 5rem;

      &:before {
        content: '';
        position: absolute;
        top: 126px;
        right: 1rem;
        width: 110%;
        height: 110%;
        -webkit-transform: rotate(6deg);
            -ms-transform: rotate(6deg);
                transform: rotate(6deg);
        opacity: .76;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
        -webkit-transform-origin: center top;
            -ms-transform-origin: center top;
                transform-origin: center top;
      }
    }
    &:last-child {
      padding-left: 2rem;

      &:before {
        content: '';
        position: absolute;
        top: 126px;
        left: 1rem;
        width: 110%;
        height: 110%;
        -webkit-transform: rotate(-6deg);
            -ms-transform: rotate(-6deg);
                transform: rotate(-6deg);
        opacity: .76;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 20px rgba(0,0,0,.7);
        -webkit-transform-origin: center top;
            -ms-transform-origin: center top;
                transform-origin: center top;
      }
    }
  }

  &__item {
    position: relative;
    vertical-align: bottom;

    &--clickAndWin {
      width: 25rem;
      margin-bottom: -1.7rem;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    &--sale {
      width: 21rem;
      margin-right: 1rem;
      margin-bottom: -1rem;
    }
  }
}
