.ribbon {
  margin-bottom: 6rem;

  &__pic {
    width: @width-inner;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
  }

  &__badge {
    top: -3rem;
    left: 2.4rem;
    right: 0;
    width: 235px;
  }

  &__bg {
    width: 100%;
    overflow: hidden;
  }

  &__inner {
    width: @width-inner;
    margin-left: auto;
    margin-right: auto;
    background: #9c110e;
    background-image: url(../images/bg-gradient.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
    color: white;
    padding: 0.8rem 1rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.3;
    position: relative;
    padding-left: 28rem;

    &:after {
      content: '';
      background: #9c110e;
      position: absolute;
      left: 100%;
      width: 50%;
      height: 100%;
      display: block;
      top: 0;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -4rem;
      width: 4rem;
      background-color: #9c110e;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: data-uri('image/svg+xml;charset=UTF-8', 'svg/triangle.svg');
    }
  }

  &__note {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  &__bold {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2.8rem;
  }

  &__thin {
    font-style: normal;
    text-transform: uppercase;
  }
}
