.slider {
  width: 1280px;
  padding: 0 4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &__image {
    width: auto;
    max-width: none;
    height: auto;
    margin-bottom: 5rem;
  }
}
.simply-scroll-container {
  position: relative;
}
.simply-scroll-clip {
  position: relative;
  overflow: hidden;
}
.simply-scroll-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.simply-scroll-btn {
  position: absolute;
  font-family: @font-stack-coop;
  font-size: 6rem;
  font-weight: 700;
  color: @color-extra;
  z-index: 3;
  cursor: pointer;
  top: 30%;

  &:hover,
  &:focus {
    color: black;
  }

  &.disabled {
    color: #ccc!important;
  }
}
.simply-scroll-btn-left {
  left: -4rem;
  &:before {
    content: "<";
  }
}
.simply-scroll-btn-right {
  right: -4rem;
  &:before {
    content: ">";
  }
}
