.social {
  text-align: right;

  &__item {
    display: inline-block;
    vertical-align: middle;
    padding: 1.1rem;
  }

  &__link {
    display: block;
    font-size: 0;
    color: white;
    background-position: 50% 50%;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;

    & + & {
      margin-left: 1rem;
    }

    &--facebook {
      background-image: data-uri('image/svg+xml;charset=UTF-8', 'svg/facebook.svg');
      height: 2.7rem;
    }

    &--twitter {
      background-image: data-uri('image/svg+xml;charset=UTF-8', 'svg/twitter.svg');
      width: 3rem;
    }

    &--google {
      background-image: data-uri('image/svg+xml;charset=UTF-8', 'svg/googleplus.svg');
    }

    &--email {
      background-image: data-uri('image/svg+xml;charset=UTF-8', 'svg/email.svg');
    }
  }
}
