.superpunkte {
  margin-top: 4rem;

  &__container {
    width: 54.1rem;
    background: #f5f5f5;
    border: 0.2rem solid #e6e6e6;
    height: 20.1rem;
    overflow: hidden;
  }

  &__pic {
    float: left;
    border-right: 0.2rem solid #e6e6e6;
  }

  &__image {
    width: 23.7rem;
  }

  &__content {
    overflow: hidden;
    color: black;
    font-family: @font-stack-coop-cond;
    font-size: 1.6rem;
    line-height: 1.18;

    p {
      padding-left: 0.6rem;
    }
  }

  &__head {
    border-bottom: 0.2rem solid #e6e6e6;
    margin-bottom: 0.8rem;
    height: 4.6rem;

    p {
      display: inline-block;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
    }
  }

  &__logo {
    float: right;
    background: white;
    padding: 0.2rem;
    height: 4.4rem;
    width: 8rem;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    img {
      width: 6rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
  }
}
