.textblockTop {
  padding-top: 6rem;
  padding-left: 25rem;
  padding-bottom: 7rem;

  &__content {
    padding-left: 8.5rem;
  }

  &__highlight {
    color: @color-extra;
    text-transform: uppercase;
    padding-top: 1rem;
  }
}
