.topnav {

  &__item {
    display: inline-block;
    color: #ccc;
    font-family: @font-stack-coop;
    font-size: 1.4rem;
    padding: 1.4rem 0;

    & + & {
      margin-left: 9rem;
    }

    &--location {
      background: url(../images/pin.png) no-repeat 0 50%;
      padding-left: 23px;

      @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url(../images/pin@2x.png);
        background-size: 14px 21px;
      }
    }
  }
}
