.modal-header
  i.app-icon.app-icon-7.close(ng-click="$close('No')")
  h4.modal-title.centered
    translate Modal.Message
.modal-body
  .modal-inner.call-reminder
    h4
      translate Modal.YourAppSended
.modal-footer.centered
  button.btn.btn-df.btn-primary.btn-small(ng-click="$close('OK')") Ok
