.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate EDIT_USER
.modal-body
  .modal-inner
    form.modal-form(action='', ng-submit='$close(position)')
      .form-body
        .form-group
          label
            translate POSITION
          input(type='text', ng-model='position.position')
        .form-group
          label.checkbox.checkbox--styled
            input(ng-model='position.isAdministrator', type='checkbox', styled='')
            translate Administrator
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit')
          translate SAVE
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate CANCEL
