.container
  .row
    .grid-8
      h2 Выставки с участием компании
      //begin media
      article.media.media--ex
        .media__pic
          img(src="images/b_1.png", alt="", width="220", height="109")
        .media__body
          h4.media__ttl
            a(href="#777") VIII Международная выставка вертолетной индустрии HeliRussia 2015
          .media__info.media-info
            .row
              .grid-6
                .media-info__item
                  b Дата проведения
                  br
                  | с 23 мая 2015 по 1 июня 2015
                .media-info__item
                  b Место проведения
                  br
                  | г. Калининград, Центральный выставочный павильен "Балтик ЭКСПО"
              .grid-6
                .media-info__item
                  b Отрасль
                  br
                  | Архитектура и строительство
                .media-info__item
                  b Регион представления
                  br
                  | Россия, Калининград
      //end media
      //begin media
      article.media.media--ex
        .media__pic
          img(src="images/b_2.png", alt="", width="220", height="109")
        .media__body
          h4.media__ttl
            a(href="#777") XVII Санкт-Петербургская международная конная выставка «Иппосфера-2015»
          .media__info.media-info
            .row
              .grid-6
                .media-info__item
                  b Дата проведения
                  br
                  | с 23 мая 2015 по 1 июня 2015
                .media-info__item
                  b Место проведения
                  br
                  | г. Калининград, Центральный выставочный павильен "Балтик ЭКСПО"
              .grid-6
                .media-info__item
                  b Отрасль
                  br
                  | Архитектура и строительство
                .media-info__item
                  b Регион представления
                  br
                  | Россия, Калининград
      //end media
      //begin media
      article.media.media--ex
        .media__pic
          img(src="images/b_3.png", alt="", width="220", height="109")
        .media__body
          h4.media__ttl
            a(href="#777") Мир охоты и рыбалки 2015
          .media__info.media-info
            .row
              .grid-6
                .media-info__item
                  b Дата проведения
                  br
                  | с 23 мая 2015 по 1 июня 2015
                .media-info__item
                  b Место проведения
                  br
                  | г. Калининград, Центральный выставочный павильен "Балтик ЭКСПО"
              .grid-6
                .media-info__item
                  b Отрасль
                  br
                  | Архитектура и строительство
                .media-info__item
                  b Регион представления
                  br
                  | Россия, Калининград
      //end media
    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Контактная информация
            | 236010 Россия, г. Калининград, ул. Ватутина, 20
          .sidebar-block
            .sidebar-block__ttl Телефон
            | +7 (4012) 590-650, 590-660
          .sidebar-block
            .sidebar-block__ttl E-mail
            a(href="mailto:info@balticfair.com") info@balticfair.com
          .sidebar-block
            .sidebar-block__ttl Сайт
            a(href="balticfair.com", target="_blank") balticfair.com
