html
body(style="margin: 0; padding: 0")
  // AddThis Button BEGIN
  script(type='text/javascript').
    var addthis_config = {"data_track_addressbar":false};
  script(type='text/javascript', src='https://s7.addthis.com/js/300/addthis_widget.js#pubid=Promarket')
  // AddThis Button END
  script.
    function addslashes(str) {
    return (str + '')
    .replace(/[\\\"']/g, '\\$&')
    .replace(/\\u0000/g, '\\0');
    }
    var getParameterByName = function (name) {
    name = name.replace(/[\\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\\+/g, " "));
    }
    title = getParameterByName('title');
    url = getParameterByName('url');
    description = getParameterByName('description');
    hidePlusIcon = getParameterByName('hidePlusIcon');
    style = getParameterByName('class');
    url = decodeURIComponent(url);
    title = addslashes(title);
    description = addslashes(description);
    document.write('<div id="addthis" class="addthis_toolbox addthis_default_style ' + style +  '" addthis:title="' + title + '" addthis:description="' + description + '">');
  a.addthis_button_facebook
  a.addthis_button_twitter
  a.addthis_button_google_plusone_share
  a.addthis_button_linkedin
  a.addthis_button_vk
  a.addthis_button_odnoklassniki_ru
  script.
    addthis.layers(function (api) {
    addthis.toolbox(document.getElementById('addthis'), {}, {
    title : title,
    description : description,
    url: url
    });
    })
