.comment-item
  .owner.owner--inline.owner--block
    .avatar--small
      .small-thumb-container
        img(ng-src='{{comment.photo}}')
    .metadata.right-bordered
      .auth__user(user-name='comment.user')
    .metadata {{comment.dateTime | date:'medium'}}
  .comment-text
    .text-quote(ng-if='comment.replyComment')
      i.app-icon.app-icon-67
      p
        .auth__user(user-name='comment.replyComment.user')
        span.text-quote-date {{comment.replyComment.date}}
      p
        | {{comment.replyComment.Text}}
      //
        <p class="text-quote-actions">
        <a href="#">{{'EXPAND' | translate}}</a>
        <a href="#">{{'GO_TO_COMMENT' | translate}}</a>
        </p>
    div
      pre.inherit-font(ng-bind-html='comment.htmlText')

  .icons
    div(vote='comment.voteOptions')
    a(ng-click='answer(comment)') {{'ANSWER' | translate}}
