form.add-comment(action='', ng-show='$root.loggedIn && $root.myProfile.IsFilled', ng-submit='addComment()')
  h4
    translate ADD_COMMENT
    span(ng-show='reply') ({{'ANSWER_FOR' | translate}} {{replyComment.user.FullName}})
  .form-group
    .container-textarea
      textarea#comment-text(ng-disabled='adding', ng-model='commentText', required='')
  .form-group
    button.btn.btn-df.btn-primary.btn-small(type='submit', ng-disabled='adding')
      translate ADD
div(ng-hide='$root.loggedIn')
  hr
  translate MSG_NEED_REG_1
  |  
  a(metrika="'comment-add-unreg'", ng-click='$root.modals.alertUnregistered()')
    translate MSG_NEED_REG_2
  translate TO_COMMENT
div(ng-show='$root.loggedIn && !$root.myProfile.IsFilled')
  hr
  span
    translate MSG_NEED_FILL_PROFILE
  translate TO_COMMENT
div(comments='options')
