.comments(ng-show='comments.length != 0')
  h4(name='comments')
    | {{'COMMENTS_COUNT' | translate}}
    span(ng-if='showFilters')
      a.comments-link(ng-click='all()', ng-class="{ 'active': !showTop }", translate='ALL')
      a.comments-link(ng-click='top()', ng-class="{ 'active': showTop }", translate='BEST')
  .paginator(metrika="'pagination-companies'")
    ui-pagination(total-items='pagination.totalItems', page='pagination.currentPage', on-select-page='pagination.changePage(page)', items-per-page='10')
  .comments-list
    div(ng-repeat='comment in comments', comment='comment', answer-click='answer')
  .paginator(metrika="'pagination-companies'")
    ui-pagination(total-items='pagination.totalItems', page='pagination.currentPage', on-select-page='pagination.changePage(page)', items-per-page='10')
  h4(name='comments')
    | {{'COMMENTS_COUNT' | translate}}
    span(ng-if='showFilters')
      a.comments-link(ng-click='all()', ng-class="{ 'active': !showTop }", translate='ALL')
      a.comments-link(ng-click='top()', ng-class="{ 'active': showTop }", translate='BEST')
