a(ng-if='position', ui-sref='app.companies-room-item({roomId: position.company.roomId || position.Company.RoomUrlName, companyId: position.company.id || position.Company.Id})')
  span.lnclmp-1.lnclmp-1--xs(ng-bind='position.company.fullName || position.Company.FullName')
a(ng-if='!position && profile.UserId == $root.myProfile.UserId', ng-click="$root.openModal({tpl: 'company-add', class: 'mdl-app modal-company-add'})")
  span.lnclmp-1.lnclmp-1--xs(ng-bind='profile.Company')
span.lnclmp-1.lnclmp-1--xs(ng-if='!position && profile.userId != $root.myProfile.UserId', ng-bind='profile.company || profile.Company')
