span
  span.icons-item
    a(href='', ng-click='addVote(1)')
      i.app-icon.app-icon-118
      |  {{vote.Pro}}
  span.icons-item
    a(href='', ng-click='addVote(-1)')
      i.app-icon.app-icon-120
      |  {{vote.Contra}}
