.content-item(ng-if='offer !== undefined')
  .detail-data.clearfix
    .detail-sidebar
      .detail-image
        .detail-image-container(ng-if='offer.pictures.length == 0')
          img(src='img/content/no-photo-detail.jpg', alt='')
        .detail-image-container(ng-if='offer.pictures.length == 1')
          a(zoom-pictures='', ng-click='zoomPictures.single(offer.pictures)')
            .middle-image-container
              img(ng-src='{{offer.pictures[0].thumbnailLink}}', alt='{{offer.title}}')
            span
        .slider.detail-image-container(ng-if='offer.pictures.length > 1', slider-step='250', slides-num='offer.pictures.length')
          .slide
            ul
              li(data-ng-repeat='picture in offer.pictures')
                a(zoom-pictures='', ng-click='zoomPictures.slider(offer.pictures, slider.index - 1)')
                  .middle-image-container
                    img(ng-src='{{picture.thumbnailLink}}', alt='{{offer.title}}')
                  span
          .slider-navigation
            .slider-control.left(ng-click='changeSlide(slider)')
            div(clas='slider-counter') {{slider.index}} / {{slider.slidesNum}}
            .slider-control.right(ng-click='changeSlide(slider)')
      .detail-seller
        .detail-seller__head
          .owner
            .avatar--small
              .small-thumb-container
                img(ng-src='{{offer.userPhoto}}', alt='{{offer.title}}')
            .owner__details
              span.name(user-name='offer.user')
              span(metrika='"merchants-to-company"')
                profile-position(profile='offer.user')
              .lnks-check
                .lnks-check__item.lnks-check__ttl {{'CHECK' | translate}}:
                a.lnk-dashed-color.lnks-check__item(metrika='"merchants-to-company-check"', ng-href='{{appPath("company", { moduleName: "check" }) + "?state=search&query=" + offer.user.Company}}')
                  translate CheckOnlyCompany
                a.lnk-dashed-color.lnks-check__item(metrika='"merchants-to-user-check"', ng-href='{{appPath("individuals", { moduleName: "check", roomId: 1 })}}')
                  translate CheckOnlyUser
        .detail-seller__data(ng-if='myProfile.IsFilled')
          .detail-seller__item
            .ttl {{'PHONE' | translate}}:
            .data
              a(ng-href='') {{offer.userProfile.Phone}}
          .detail-seller__item
            .ttl Email:
            .data
              a(ng-href='mailto:{{offer.userProfile.Email}}') {{offer.userProfile.Email}}
          .detail-seller__item(ng-if='offer.user.SkypeAccount')
            .ttl Skype:
            .data
              a(ng-href='{{"skype:" + offer.user.SkypeAccount + "?userinfo"}}') {{offer.user.SkypeAccount}}
          .detail-seller__item(ng-if='offer.userProfile.Website')
            .ttl {{'SITE' | translate}}:
            .data
              a(target='_blank', ng-href='{{ "http://" + offer.userProfile.Website.replace("http://", "").replace("https://", "") }}') {{offer.userProfile.Website}}
        .alert-striped(ng-if='!loggedIn')
          translate ViewContactDetails
          |&nbsp;
          a(ng-href='', ng-click='openModal({tpl: "login", class: "mdl mdl-md"})')
            translate InlineLogin
          |&nbsp;
          translate OR
          |&nbsp;
          a(ng-href='', metrika='"merchants-contacts-reg"', ng-click='openModal({tpl: "registration", class: "mdl mdl-md mdl-registration"})')
            translate InlineRegister
          |&nbsp;
          translate InSystem
        .alert-striped(ng-if='!myProfile.IsFilled && loggedIn')
          translate MerchantsDetail.HideContacts_fill
          |&nbsp;
          a(ng-href='', ui-sref='app.my.profile')
            translate MerchantsDetail.HideContacts_data
          |&nbsp;
          translate MerchantsDetail.HideContacts_your
          |&nbsp;
          a(ng-href='', ui-sref='app.my.profile')
            translate MerchantsDetail.HideContacts_profile
          |&nbsp;
          translate MerchantsDetail.HideContacts_toBrowsing
    .detail-description.merch-descr
      .activity
        span.icons-item
          i.app-icon.app-icon-14
          | {{offer.created | date:'medium'}}
        span.icons-item
          i.app-icon.app-icon-101
          | {{offer.viewCount}}
        span.icons-item
          i.app-icon.app-icon-95
          | {{offer.commentsCount.Count}}
        a.btn-edit(ng-show='offer.kind == "Merchandise" || offer.kind == "Service"', ng-if='userId == offer.userId', ng-click='openModal({tpl: "merchants/goods-add", class: "mdl-app modal-admin", scope: {kind: kind, offer: offer}, cb: reload})')
          i.app-icon.app-icon-79
          | {{'EDIT' | translate}}
        a.btn-edit(ng-hide='offer.kind == "Merchandise" || offer.kind == "Service"', ng-if='userId == offer.userId', ng-click='openModal({tpl: "merchants/board-add", class: "mdl-app mdl-merchants", scope: { roomId: roomId, editAds: offer }})')
          i.app-icon.app-icon-79
          | {{'EDIT' | translate}}
      .type(ng-hide='offer.kind == "Merchandise" || offer.kind == "Service"')
        | {{offer.kind.toUpperCase() | translate}}
      h1 {{offer.title}}
      .detail-share(addthis='', description='addThisDescription', title='addThisTitle')
      ul.sale-details.list-unstyled
        li.sale-details__item
          .price.sale-details__price(ng-if='offer.priceValue')
            b {{ offer.priceValue }}
            |&nbsp;
            | {{currencyCodes[offer.currencyCode]}}/{{priceUnits[offer.priceUnit]}}
          .region.sale-details__region {{offer.region}}
          //.mrch-tags
            .mrch-tags__ttl
              translate TAGS
              | :
            ul.mrch-tags__cnt.lnk-tags
              li.lnk-tags__item Рыба
              li.lnk-tags__item Икра
        li.sale-details__item(ng-if='offer.isAuction')
          .status.sale-details__status.ppvr-styled
            translate IN_STOCK
            |&nbsp;
            i.icon-hint.icon-help(popover='{{"AuctionInStockHint" | translate}}', popover-trigger='mouseenter')
            |&nbsp;
            span.sale-details__status-value(ng-bind='offer.auctionTotalAmount - offer.auctionReservedAmount - offer.auctionSoldAmount')
            |&nbsp;
            | {{priceUnits[offer.priceUnit]}}
          .status.orange.sale-details__status.ppvr-styled
            translate Reserved
            |&nbsp;
            i.icon-hint.icon-help(popover='{{"AuctionReservedHint" | translate}}', popover-trigger='mouseenter')
            |&nbsp;
            span.sale-details__status-value(ng-bind='offer.auctionReservedAmount')
            |&nbsp;
            | {{priceUnits[offer.priceUnit]}}
          .status.gray.sale-details__status.ppvr-styled
            translate SoldOut
            |&nbsp;
            i.icon-hint.icon-help(popover='{{"AuctionSoldHint" | translate}}', popover-trigger='mouseenter')
            |&nbsp;
            span.sale-details__status-value(ng-bind='offer.auctionSoldAmount')
            |&nbsp;
            | {{priceUnits[offer.priceUnit]}}
          .status.red.sale-details__status(ng-if='offer.auctionTotalAmount == 0')
            translate ItemInactive
          .status.gray.sale-details__status.ppvr-styled
            translate SaleUntil
            |&nbsp;
            i.icon-hint.icon-help(popover='{{"AuctionExpireHint" | translate}}', popover-trigger='mouseenter')
            |&nbsp;
            span.sale-details__status-value(ng-bind='offer.auctionExpireDate | date:"medium"')
      button.btn.btn-df.btn-green(type='button', ng-show='offer.auctionTotalAmount - offer.auctionReservedAmount - offer.auctionSoldAmount > 0', ng-click='doBid(offer)', ng-if='offer.isAuction && offer.user.UserId != myProfile.UserId && !offer.isAuctionExpired')
        translate BuyItem
      button.btn.btn-df.btn-create(type='button', metrika="'entity-promote-click'" ng-click='promote(offer)', ng-if='userId == offer.userId')
        translate Promotion

      .usr-contacts(ng-if='loggedIn && userId != offer.user.UserId && myProfile.IsFilled')
        .usr-contacts__ttl {{'ContactSeller' | translate}}:
        a.usr-contacts__item(ng-href='#!/user/{{offer.user.UserId}}/send')
          i.app-icon.app-icon-28
          | {{'SEND_MESSAGE' | translate}}
        a.usr-contacts__item(dial='offer.user.UserId', dial-popup='false')
          i.app-icon.app-icon-27
          | {{'DIRECT_CALL' | translate}}
        a.usr-contacts__item(ng-if='offer.user.SkypeAccount', ng-href='{{"skype:" + offer.user.SkypeAccount + "?chat"}}')
          i.app-icon.app-icon-143
          | {{'SKYPE_MESSAGE' | translate}}
        a.usr-contacts__item(ng-if='offer.user.SkypeAccount', ng-href='{{"skype:" + offer.user.SkypeAccount + "?call"}}')
          i.app-icon.app-icon-143
          | {{'CALL_BY_SKYPE' | translate}}
      .usr-contacts(ng-if='!loggedIn')
        .alert-striped
          translate ViewContactDetails
          |&nbsp;
          a(ng-href='', ng-click='openModal({tpl: "login", class: "mdl mdl-md"})')
            translate InlineLogin
          |&nbsp;
          translate OR
          |&nbsp;
          a(ng-href='', metrika='"merchants-contacts-reg"', ng-click='openModal({tpl: "registration", class: "mdl mdl-md mdl-registration"})')
            translate InlineRegister
          |&nbsp;
          translate InSystem
      .usr-contacts(ng-if='!myProfile.IsFilled && loggedIn')
        .alert-striped
          translate MerchantsDetail.HideContacts_fill
          |&nbsp;
          a(ng-href='', ui-sref='app.my.profile')
            translate MerchantsDetail.HideContacts_data
          |&nbsp;
          translate MerchantsDetail.HideContacts_your
          |&nbsp;
          a(ng-href='', ui-sref='app.my.profile')
            translate MerchantsDetail.HideContacts_profile
          |&nbsp;
          translate MerchantsDetail.HideContacts_toBrowsing
      .description
        h2(ng-if='kind == "merchandise" || kind == "service"') {{ kind == 'merchandise' ? 'GOODS_DESCR' : 'SERVICE_DESCR' | translate }}:
        h2(ng-if='kind != "merchandise" && kind != "service"')
          translate DESCRIPTION
        pre.inherit-font(ng-bind-html='offer.htmlText')

  div(comments-adding='comments', metrika='"comment-good"', ng-if='kind == "merchandise"')
  div(comments-adding='comments', metrika='"comment-service"', ng-if='kind == "service"')
  div(comments-adding='comments', metrika='"comment-ad"', ng-if='kind != "merchandise" && kind != "service"')
