.full-height(ng-controller='OffersBoardCtrl')
  .content-sub-control.offers__sub-control
    .mrch-actions
      button.btn.btn-df.mrch-actions__btn(ng-click="appRoute('/board/my')", ng-hide='filter == 4 || !loggedIn')
        translate MY
        translate.hidden-xs.hidden-sm MY_ADS2
      button.btn.btn-df.mrch-actions__btn(go-back="appRoute('/board/all')", ng-show='filter == 4')
        translate GO_BACK
      button.btn.btn-df.mrch-actions__btn.btn-create(ng-click='add()', metrika="'merchants-add'")
        translate ADD
        translate.hidden-xs.hidden-sm ADD_AD2
    .mrch-filter
      form.mrch-filter__item.form-inline(action='')
        .form-group
          input.form-control.input-sm.mrch-filter__input(value='', ng-model='query', type='text', placeholder="{{'SEARCHFIELD_PLACEHOLDER2' | translate}}")
        .form-group.lst-typeahead.lst-typeahead--rel
          input.form-control.input-sm.mrch-filter__input(typeahead='region as region for region in getRegions($viewValue)', placeholder="{{'REGION' | translate}}", ng-model='searchRegions')
        .form-group
          .sel-styled
            select.mrch-filter__select(ng-model='period')
              option(value='all-time') {{'ALL_TIME' | translate}}
              option(value='year') {{'FOR_YEAR' | translate}}
              option(value='month') {{'FOR_MONTH' | translate}}
              option(value='week') {{'FOR_WEEK' | translate}}
              option(value='3-days') {{'FOR_DAYS' | translate}}
              option(value='1-day') {{'FOR_DAY' | translate}}
        button.btn.btn-df.btn-primary(ng-click='search(query, searchRegions, period)')
          translate SEARCH
      .mrch-filter__item.btn-group(ng-show="k != 'my'")
        button.btn.btn-df.btn-small(type='button', ng-click="appRoute('/board/all?' + queryString)", ng-model='filter', btn-radio='0', translate='ALL')
        button.btn.btn-df.btn-small(type='button', ng-click="appRoute('/board/sell?' + queryString)", ng-model='filter', btn-radio='1', translate='SELL')
        button.btn.btn-df.btn-small(type='button', ng-click="appRoute('/board/buy?' + queryString)", ng-model='filter', btn-radio='2', translate='BUY')
        button.btn.btn-df.btn-small(type='button', ng-click="appRoute('/board/other?' + queryString)", ng-model='filter', btn-radio='3', translate='OTHER')
      .mrch-filter__item.btn-group(ng-show="k == 'my'")
        button.btn.btn-df.btn-small(type='button', ng-click="appRoute('/board/my?filter=')", ng-model='myfilter', btn-radio="''", translate='ALL')
        button.btn.btn-df.btn-small(type='button', ng-click="appRoute('/board/my?filter=Sell')", ng-model='myfilter', btn-radio="'Sell'", translate='SELL')
        button.btn.btn-df.btn-small(type='button', ng-click="appRoute('/board/my?filter=Buy')", ng-model='myfilter', btn-radio="'Buy'", translate='BUY')
        button.btn.btn-df.btn-small(type='button', ng-click="appRoute('/board/my?filter=Other')", ng-model='myfilter', btn-radio="'Other'", translate='OTHER')
  .content
    .content-item
      include ../../includes/slider-ads
      mixin slider-ads('promotedOffers')

      h4(ng-show='filter == 4')
        translate MY_ADS
        span ({{ count }})
      .b-search-results(ng-show='isSearch')
        a.pull-right(href="{{appPath('board/all')}}", translate='ALL_ADS')
        .search-result
          translate FOUND
          |&nbsp;
          b(ng-bind='totalItems')
          | &nbsp;
          translate ADS
        .txt-request
          translate BY_YOUR_QUERY
          span(ng-bind='outQuery')
          span {{searchRegions.join(', ')}}
          span {{periodNames[period] | translate}}

      .paginator(metrika="'pagination-ads'")
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='16')
      table.table.table-offers.table-offers-board
        thead
          tr
            th(translate='TYPE')
            th(translate='AD')
            th(translate='REGION')
            th
              i.app-icon.app-icon-14
            //-th
              i.app-icon.app-icon-101
            //-th
              i.app-icon.app-icon-95
            th.padding(ng-class="{'ipad': isPortrait()}")
            th
            th.padding(ng-class="{'ipad': isPortrait()}")
            th
              span(ng-hide='filter == 4', translate='PUBLISHED_BY')
        tbody
          tr(ng-repeat='offer in offers')
            td.table-type
              .type(ng-class="{green: offer.kind=='Buy', gray: offer.kind=='Sell'}")
                | {{offer.kind.toUpperCase() | translate}}
            td.table-title
              a(metrika="'leftmenu-to-ad'", ui-sref="app.merchants-room-tab-offer({roomId:offer.roomUrlName,tabName:'board',offerId:offer.id})", ng-bind='offer.title')
              i.app-icon.app-icon-phone(ng-hide='offer.pictures.length == 0')
            td.table-region
              | {{offer.region}}
            td.table-date {{offer.created | date:'medium'}}
            //-td.table-views(ng-bind='offer.viewCount')
            //-td.table-comments(ng-bind='offer.commentsCount.Count')
            td.padding(ng-class="{'ipad': isPortrait()}")
            td.table-btn
              button.btn.btn-df.btn-create(type='button', metrika="'all-entities-promote-click'", ng-click='promote(offer)', ng-if='userId == offer.userId')
                translate Promotion
            td.padding(ng-class="{'ipad': isPortrait()}")
            td.table-author(ng-include="'views/app/auth/_offer.html'", ng-hide='filter == 4')
            td.table-actions.my-edit-controls(ng-show='filter == 4')
              button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'merchants/board-add', class: 'mdl-app mdl-merchants', scope: { roomId: roomId, editAds: offer }, cb: afterAdd})")
                i.app-icon.app-icon-79
              button.btn.btn-df.btn-small(ng-click='remove(offer)')
                i.app-icon.app-icon-99
      .paginator(metrika="'pagination-ads'")
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='16')
