.full-height.cnt-nav-left.offers(ng-controller='MerchantsCtrl')
  tabset.app-tabset
    li
      h4.nav-tabs__header
        translate PRODUCTS_SERVICES
    tab(ng-repeat='tab in tabs', heading='{{:: tab.heading | translate }}', active='tab.active', select='selectTab(tab.name)')
      .content-sub-control(ng-if='tab.active')
        .mrch-actions.pull-right(ng-if='activeTabName == "board"')
          button.btn.btn-df.mrch-actions__btn(ng-click='appRoute("/board/my")', ng-hide='filter == 4 || !loggedIn')
            translate MY_ADS
          button.btn.btn-df.mrch-actions__btn(go-back='appRoute("/board/all")', ng-show='filter == 4')
            translate GO_BACK
          button.btn.btn-df.mrch-actions__btn.btn-create(ng-click='loggedIn ? openModal({tpl: "merchants/board-add", class: "mdl-app mdl-merchants", scope: { roomId: roomId }, cb: afterAdd}) : modals.alertUnregistered()')
            translate ADD_AD
        .pull-right(ng-if='activeTabName == "service"')
          button.btn.btn-df.mrch-actions__btn(ng-show='loggedIn', ng-click='appRoute("/service?layout=my")')
            translate MY_SERVICES
          button.btn.btn-df.mrch-actions__btn(ng-show='$parent.layout == "my"', go-back='appRoute("/" + tab.name)')
            translate GO_BACK
          button.btn.btn-df.mrch-actions__btn.btn-create(ng-click='loggedIn ? openModal({tpl: "merchants/goods-add", class: "mdl-app mdl-merchants", scope: {kind: "service"}, cb: afterCreate}) : modals.alertUnregistered()')
            translate ADD_SERVICE
        .pull-right(ng-if='activeTabName == "merchandise"')
          button.btn.btn-df.mrch-actions__btn(ng-show='loggedIn', ng-click='appRoute("/merchandise?layout=my")')
            translate MY_GOODS
          button.btn.btn-df.mrch-actions__btn(ng-show='$parent.layout == "my"', go-back='appRoute("/" + tab.name)')
            translate GO_BACK
          button.btn.btn-df.mrch-actions__btn(ui-sref='app.my.bids.other-goods')
            span.hidden-xs.hidden-sm
              translate MyBids
          button.btn.btn-df.mrch-actions__btn.btn-create(ng-click='loggedIn ? openModal({tpl: "merchants/goods-add", class: "mdl-app mdl-merchants", scope: {kind: "merchandise"}, cb: afterCreate}) : modals.alertUnregistered()')
            translate ADD_GOODS
        button.btn.btn-df.mrch-actions__btn.pull-left(go-back='appRoute("/" + tab.name)')
            translate GO_BACK
      .content(ng-switch='tab.name', ng-if='tabEnabled && tab.active', ng-init="detailView='views/app/merchants/_detail.html'")
        span(ng-switch-when='board')
          ng-include(src='detailView', ng-controller='OffersAdsDetailCtrl as offerDetail')
        span(ng-switch-when='merchandise')
          ng-include(src='detailView', ng-controller='MerchantsOffersDetailCtrl as offerDetail')
        span(ng-switch-when='service')
          ng-include(src='detailView', ng-controller='MerchantsOffersDetailCtrl as offerDetail')
