.full-height.cnt-nav-left.offers(ng-controller='MerchantsCtrl')
  tabset.app-tabset
    li
      h4.nav-tabs__header(translate='PRODUCTS_SERVICES')
    tab(ng-repeat='tab in tabs', heading='{{ tab.heading | translate }}', active='tab.active', disabled='tab.disabled || routeInProgress || customProgress', select='selectTab(tab.name)')
      ng-include(src='tab.template', ng-if='tab.active')
