.full-height(ng-controller='MerchantsOffersIndexCtrl')
  .content-sub-control.offers__sub-control
    .mrch-actions
      button.btn.btn-df.mrch-actions__btn(ng-show='layout == "my" || query', go-back='appRoute("/" + kind)')
        translate GO_BACK
      button.btn.btn-df.mrch-actions__btn(ng-click='layout = "my"', ng-show='layout != "my" && loggedIn')
        translate MY
        span.hidden-xs.hidden-sm
          translate(ng-show='kind == "merchandise"') MY_GOODS2
          translate(ng-show='kind != "merchandise"') MY_SERVICES2
      button.btn.btn-df.mrch-actions__btn(ui-sref='app.my.bids.other-goods', ng-show='kind == "merchandise"')
        translate MyBids
      button.btn.btn-df.mrch-actions__btn.btn-create(ng-click='add()', metrika='"merchants-add"')
        translate ADD
        span.hidden-xs.hidden-sm
          translate(ng-show='kind == "merchandise"') ADD_GOODS2
          translate(ng-show='kind != "merchandise"') ADD_SERVICE2
    .mrch-filter
      .mrch-filter__item.btn-group(ng-hide='layout == "my"')
        button.btn.btn-df(ng-class='{active: layout == "grid"}', ng-click='layout = "grid"')
          i.btn-df__ico.btn-df__ico--single.icon-grid
        button.btn.btn-df(ng-class='{active: layout == "list"}', ng-click='layout = "list"')
          i.btn-df__ico.btn-df__ico--single.icon-list
      form.mrch-filter__item.form-inline(action='')
        .form-group
          input.form-control.input-sm.mrch-filter__input(ng-model='query', type='text', placeholder='{{"SEARCHFIELD_PLACEHOLDER2" | translate}}')
        .form-group.lst-typeahead.lst-typeahead--rel
          input.form-control.input-sm.mrch-filter__input(typeahead='region as region for region in getRegions($viewValue)', placeholder='{{"REGION" | translate}}', ng-model='searchRegions')
        .form-group
          .sel-styled
            select.mrch-filter__select(ng-model='period')
              option(value='all-time') {{'ALL_TIME' | translate}}
              option(value='year') {{'FOR_YEAR' | translate}}
              option(value='month') {{'FOR_MONTH' | translate}}
              option(value='week') {{'FOR_WEEK' | translate}}
              option(value='3-days') {{'FOR_DAYS' | translate}}
              option(value='1-day') {{'FOR_DAY' | translate}}
        button.btn.btn-df.btn-primary(ng-click='search(query, searchRegions)')
          translate SEARCH
      .mrch-filter__item.input-group.mrch-sort
        span.input-group-addon.mrch-sort__addon
          i.icon-sort
        .sel-styled
          select(ng-model='orderBy')
            option(ng-selected='orderBy == "date/descending"', value='date/descending', translate='SORT_DATE_DESC')
            option(ng-selected='orderBy == "price/descending"', value='price/descending', translate='SORT_PRICE_DESC')
            option(ng-selected='orderBy == "price/ascending"', value='price/ascending', translate='SORT_PRICE_ASC')
  .content.offers__content
    .content-item
      include ../../includes/slider-goods
      mixin slider-goods('promotedOffers', 'currencyCodes', 'priceUnits')

      h4(ng-show='layout == "my"')
        | {{kind == 'merchandise' ? 'MY_GOODS' : 'MY_SERVICES' | translate}}
        |&nbsp;
        span ({{ totalItems }})
      .b-search-results(ng-show='searchMode')
        a.pull-right(ng-click='discardSearch()')
          | {{kind == 'merchandise' ? 'ALL_GOODS' : 'ALL_SERVICES' | translate}}
        .search-result
          translate FOUND
          |&nbsp;
          b(ng-bind='totalItems')
          |&nbsp;
          |  {{kind == 'merchandise' ? 'FOUND_GOODS' : 'FOUND_SERVICES' | translate}}
        .txt-request
          translate BY_YOUR_QUERY
          span {{ query.join(', ') }}
          span {{ searchRegions.join(', ') }}
          span {{periodNames[period] | translate}}

      .paginator(metrika='"pagination-merchants"')
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='16')
      //- GRID view
      ul.thumbnails(ng-show='layout == "grid"')
        li.catalog__block(ng-repeat='offer in offers')
          include ../../includes/thumbnails
          mixin thumbnails('Merchants', 'currencyCodes[offer.currencyCode]', 'priceUnits[offer.priceUnit]', '')
      //- LIST view
      div(ng-controller='MerchantsImportIndexCtrl as importIndex', ng-if='layout == "my"')
        div(ng-repeat='group in importIndex.fullGroups')
          table.table.table-offers.table-list(ng-if='group.state == "Success" && group.importedEntries.length != 0')
            tr
              th(colspan='3') Импорт ({{group.taskCreateTime | date:shortDate}})
              th.text-right(colspan='4')
                a.btn.btn-df.btn-green(ng-click='importIndex.publish(group)') Опубликовать товары
                a.btn.btn-df.btn-create(ng-click='importIndex.delete(group)') Удалить товары
            tr(ng-repeat='entry in group.importedEntries')
              //- | filter: {my: showMyGoods}
              td
                input(type='checkbox', ng-model='entry.selected')
              td.table-image
                a.bordered(ng-click="importIndex.editImported(entry)")
                  img.thumb__object(ng-if='entry.thumbnailUrl', ng-src='{{ entry.thumbnailUrl }}')
                  img.thumb__object(ng-if='!entry.thumbnailUrl', ng-src='img/content/no-photo-small.jpg')
              td.table-title
                a(ng-click="importIndex.editImported(entry)", ng-bind='entry.title')
                p(ng-bind='entry.text')
              td.table-selling
                .price(ng-hide='entry.priceValue==""')
                  span(ng-bind='entry.priceValue')
                  | {{currencyCodes[entry.currencyCode]}}/{{priceUnits[entry.priceUnit]}}
                .price(ng-show='entry.priceValue==""', translate='NO_PRICE')
                .status(ng-show='entry.isAvailable', ng-if='entry.kind == "Merchandise"', translate='IN_STOCK')
                .status.gray(ng-hide='entry.isAvailable', ng-if='entry.kind == "Merchandise"', translate='UNDER_ORDER')
              td.padding(ng-class='{"ipad": isPortrait()}')
              td.padding(ng-class='{"ipad": isPortrait()}')
              td.table-actions.my-edit-controls(ng-show='layout == "my"')
            tr
              th(colspan='3')
              th.text-right(colspan='4')
                a.btn.btn-df.btn-green(ng-click='importIndex.publish(group)') Опубликовать товары
                a.btn.btn-df.btn-create(ng-click='importIndex.delete(group)') Удалить товары
      .padding-bottom--small(ng-show='layout == "list" || layout == "my"')
        include ../../includes/merchants-table-view
        mixin merchants-table-view('Merchants', 'offers', 'currencyCodes[offer.currencyCode]', 'priceUnits[offer.priceUnit]')
      .paginator(metrika='"pagination-merchants"')
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='16')
