.full-height(ng-controller='PricesCtrl')
  .full-height(ng-controller='PricesIndexCtrl')
    .content-sub-control.offers__sub-control
      .mrch-actions
        button.btn.btn-df.mrch-actions__btn(ng-click='appRoute("/prices/my")', ng-show='!my && loggedIn')
          translate MY
          translate.hidden-xs.hidden-sm MY_PRICE_LISTS2
        button.btn.btn-df.mrch-actions__btn(ng-click='appRoute("/prices")', ng-show='my', translate='GO_BACK')
        button.btn.btn-df.mrch-actions__btn.btn-create(metrika='"merchants-add"', ng-click='add()')
          translate ADD
          translate.hidden-xs.hidden-sm ADD_PRICE_LIST2
      .mrch-filter
        form.mrch-filter__item.form-inline(action='')
          .form-group
            input.form-control.input-sm.mrch-filter__input(ng-model='query', type='text', placeholder='{{"SEARCHFIELD_PLACEHOLDER2" | translate}}')
          .form-group.lst-typeahead.lst-typeahead--rel
            input.form-control.input-sm.mrch-filter__input(typeahead='region as region for region in getRegions($viewValue)', placeholder="{{'REGION' | translate}}", ng-model='searchRegions')
          .form-group
            .sel-styled
              select.mrch-filter__select(ng-model='period')
                option(value='all-time') {{'ALL_TIME' | translate}}
                option(value='year') {{'FOR_YEAR' | translate}}
                option(value='month') {{'FOR_MONTH' | translate}}
                option(value='week') {{'FOR_WEEK' | translate}}
                option(value='3-days') {{'FOR_DAYS' | translate}}
                option(value='1-day') {{'FOR_DAY' | translate}}
          button.btn.btn-df.btn-primary(ng-click='search(query, searchRegions, period)')
            translate SEARCH
    .content
      .content-item
        include ../../includes/slider-prices
        mixin slider-prices('promotedPrices')
        
        h4(ng-show='my')
          translate MY_PRICE_LISTS
          span ({{count}})
        .b-search-results(ng-show='searchMode')
          a.pull-right(href='', ng-click='appRoute("/prices")', translate='ALL_PRICE_LISTS')
          .search-result
            translate FOUND
            |  
            b(ng-bind='count')
            |  
            translate FOUND_PRICE_LISTS
          .txt-request(ng-if='searchMode')
            translate BY_YOUR_QUERY
            span(ng-bind='outQuery')
            span(ng-bind='region')
            span {{periodNames[period] | translate}}

        .paginator(metrika='"pagination-prices"')
          ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='16')
        table.table.table-offers.table-offers-prices
          thead
            tr
              th(translate='TITLE_NAME')
              th
                i.app-icon.app-icon-14
              //th
                i.app-icon.app-icon-101
              th.padding(ng-class='{"ipad": isPortrait()}')
              th
              th.padding(ng-class='{"ipad": isPortrait()}')
              th
                span(ng-hide='my', translate='PUBLISHED_BY')
          tbody
            tr(ng-repeat='price in prices')
              td.table-title
                .lnk-download
                  i.app-icon.app-icon-download
                  .lnk-download__body
                    a(ng-if='loggedIn', metrika='"leftmenu-to-price"', ng-href='{{price.link}}', target='download-frame') {{price.description}}
                    a(ng-if='!loggedIn', metrika='"price-download-unreg"', ng-click='$root.modals.alertUnregistered()') {{price.description}}
                    |  
                    span (.{{price.format}})
                    .privacy(ng-show='price.accessibility=="Everyone"', translate='AVAILABLE_ALL')
                    .privacy(ng-show='price.accessibility=="Partners"', translate='AVAILABLE_PARTNERS')
                    .privacy(ng-show='price.accessibility=="Nobody"', translate='AVAILABLE_ME')
              td.table-date {{price.created | date:'medium'}}
              //-td.table-views(ng-bind='price.DownloadCount')
              td.padding(ng-class='{"ipad": isPortrait()}')
              td.table-btn
                button.btn.btn-df.btn-create(type='button', metrika="'all-entities-promote-click'", ng-click='promote(price)', ng-if='userId == price.userId')
                  translate Promotion
              td.padding(ng-class='{"ipad": isPortrait()}')
              td.table-author(ng-include='"views/app/auth/_price.html"', ng-hide='my')
              td.table-actions.my-edit-controls(ng-show='my')
                button.btn.btn-df.btn-small(ng-click='openModal({tpl: "merchants/price-add", class: "mdl-app mdl-merchants-standart", scope: { editPrice: price }, cb: reload})')
                  i.app-icon.app-icon-79
                button.btn.btn-df.btn-small(ng-click='remove(price)')
                  i.app-icon.app-icon-99
        .paginator(metrika='"pagination-prices"')
          ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='16')
