/*
==========================================================================
Fonts
==========================================================================
*/

$font-family: 'latoregular';
$font-family-bold: 'latobold';
$font-family-light: 'latolight';
$font-family-italic: 'latolight_italic';
/*
==========================================================================
Scaffolding
==========================================================================
*/

$font-stack: $font-family, 'Helvetica', 'Arial', sans-serif;
$font-stack-light: $font-family-light, 'Helvetica', 'Arial', sans-serif;
$font-stack-bold: $font-family-bold, 'Helvetica', 'Arial', sans-serif;
$font-size-base: 1.8rem;
$line-height-base: 1.33;

/*
==========================================================================
Colors
==========================================================================
*/

$AlizarinCrimson: #ea252c;
$Cardinal: #d3252c;
$gray-dark: #2f343c;

/*
==========================================================================
Theme
==========================================================================
*/

$color-primary: $AlizarinCrimson;

$color-text-main: black;
$color-link: $color-primary;
$color-link-hover: $Cardinal;

$color-bg-dark: $gray-dark;

/*
==========================================================================
Breakpoints
==========================================================================
*/

$screen-xs: 768px;
$screen-xs-min: 767px;
$screen-sm: 1024px;
$screen-sm-min: 1023px;
$screen-md: 1200px;
$screen-md-min: 1199px;
$screen-lg: 1440px;
$screen-lg-min: 1439px;

$max-width: 1170px;
$min-width: 320px;

/*
==========================================================================
 Z-index
==========================================================================
*/

$z-index-below: -1;
