mixin catalog-obj-blacklists(section)
  ul.catalog-obj
    li.catalog-obj__item.catalog__block(ng-repeat= section)
      .catalog__block-in
        //
          .catalog__logo.pull-left
            .thumb-container
              img(src="http://lorempixel.com/100/100/")
              i.icon-block.icon-object.thumb-container__ico
        .catalog__cnt.catalog__cnt--sm
          a.catalog__ttl(ng-href="{{ appPath('/item/' + black.id, { moduleName: 'blacklist' }) }}")
            span.lnclmp-1(ng-bind='black.title')
          .catalog__brnch
            room-info(room-id='black.roomId')
              a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          .created.created--bottom
            .created__col.created__col1
              .auth__addon
                translate ADDED_BY
                | :
              .auth__user(user-name='black.user')
            .created__col.created__col2
              i.icon-clock.icon-md
              |  {{black.created | date:shordivate}}