mixin catalog-prices(data)
  .catalog-tbl
    .catalog-tbl__item.catalog-tbl__item--brd.part3(ng-repeat='price in ' + data + ' track by $index')
      .lnk-download
        i.catalog-tbl__ico.lnk-download__ico.icon-object.icon-prices
        .lnk-download__body
          a.catalog__ttl(ng-if='loggedIn', pmp-href='{{price.downloadLink}}') 
            span.lnclmp-1(ng-bind='price.description')
          a.catalog__ttl(ng-if='!loggedIn', metrika="'price-download-unreg'", ng-click='$root.modals.alertUnregistered()')
            span.lnclmp-1(ng-bind='price.description')
          |  
          span.catalog__fltp (.{{price.format}})
          .catalog__brnch
            room-info(room-id='price.roomId')
              a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
      .created.created--highlight
        .created__col.created__col1.created__by(ng-include="'views/app/auth/_price.html'")
        .created__col.created__col2
          i.icon-clock.icon-md
          |  {{price.created | date:shordivate}}

