mixin catalog-users(data)
  .catalog-tbl
    .catalog-tbl__item.catalog-tbl__item--brd.part3(ng-repeat='user in '  + data)
      .catalog__logo.pull-left
        .middle-thumb-container
          img(ng-src='{{user.avatar}}')
      .catalog__cnt
        .catalog__ttl
          .auth__user(user-name='user')
        .catalog__pos
          | {{user.job}}
        .catalog__cmp
          | {{user.company}}
        a.catalog__check.catalog__check--bottom.lnk-color(ng-if="currentLang == 'ru'", metrika="'catalog-to-user-check'", ng-href="{{appPath('individuals', { moduleName: 'check', roomId: 1 }) + '?firstname=' + user.FullName + '&innfl=' + profile.TaxId}}")
          i.icon-search.icon-md.lnk-color__ico
          translate CheckUser


