mixin catalog-topics(data)
  .catalog-tbl
    .catalog-tbl__item.catalog-tbl__item--brd.part2(ng-repeat='topic in ' + data)
      .lnk-download
        i.catalog-tbl__ico.lnk-download__ico.app-icon(ng-class="'app-icon-topic-' + topic.status")
        .lnk-download__body
          a.catalog__ttl(ng-href="{{ appPath((type ? 'threads/' + type : '') + '/topic/' + topic.id, { moduleName: 'forum' }) }}")
            span.lnclmp-1(ng-bind='topic.title')
          .catalog__brnch
            room-info(room-id='topic.roomId')
              a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
      .created.created--highlight
        .auth.created__col.created__col1
          .auth__addon
            i.icon-user.icon-md
          span.created__ttl
            .auth__user(user-name='topic.user')
        .created__col.created__col2
          i.icon-clock.icon-md
          |  {{topic.createDateTime | date:shordivate}}


