mixin catalog-companies(data)
  ul.catalog-obj
    li.catalog-obj__item.catalog__block(ng-repeat='company in ' + data)
      .catalog__block-in
        .catalog__logo.pull-left
          .middle-thumb-container
            img(ng-src='{{company.logoUrl}}')
        .catalog__cnt
          a.catalog__ttl(ng-click="appRoute('item/' + company.company.id, { moduleName: 'companies', roomId: company.company.roomUrlName })")
            span.lnclmp-1(ng-bind='company.company.fullName')
          .catalog__descr
            span.lnclmp-2.lnclmp-2--sm(ng-bind-html='company.company.shortDescription')
          .catalog__brnch
            room-info(room-id='company.company.roomId')
              a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          a.catalog__check.catalog__check--bottom.lnk-color(ng-if="currentLang == 'ru'", metrika="'catalog-to-company-check'", ng-href="{{appPath('company', { moduleName: 'check' }) + '?state=search&query=' + company.company.fullName}}")
            i.icon-search.icon-md.lnk-color__ico
            translate CheckCompany

