mixin catalog-ads(data)
  .catalog-tbl
    .catalog-tbl__item.catalog-tbl__item--brd.part2(ng-repeat='offer in ' + data)
      .lnk-download
        .type.pull-right(ng-class="{'type--buy': offer.kind=='Buy', 'type--sell': offer.kind=='Sell'}")
          | {{offer.kind.toUpperCase() | translate}}
        i.catalog-tbl__ico.lnk-download__ico.icon-object.icon-tag
        .lnk-download__body
          a.catalog__ttl(ng-href="{{ appPath('board/offer/' + offer.id, { moduleName: 'merchants' }) }}")
            span.lnclmp-1(ng-bind='offer.title')
          .catalog__brnch
            room-info(room-id='offer.roomId')
              a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
      .created
        .created__col.created__col1.created__by(ng-include="'views/app/auth/_offer.html'")
        .created__col.created__col2
          i.icon-clock.icon-md
          |  {{offer.createDateTime | date:shordivate}}

