mixin catalog-cv(data)
  .catalog-tbl
    .catalog-tbl__item.catalog-tbl__item--sngl(ng-repeat='resume in ' + data)
      .lnk-download
        i.catalog-tbl__ico.lnk-download__ico.icon-object.icon-resume
        .lnk-download__body
          a.catalog__ttl(target='_blank', href='{{resume.downloadLink}}')
            span.lnclmp-1(ng-bind='resume.description')
          .meta-inline
            .meta-inline__item.catalog__brnch
              room-info(room-id='resume.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          .created
            .created__col.created__col1
              .auth__addon
                translate ADDED_BY
                | :
              .auth__user(user-name='resume.user')
            .created__col.created__col2
              i.icon-clock.icon-md
              |  {{resume.created | date:shordivate}}

