mixin forum-content-control(section)
  .content-control
    h4(translate='FORUM')
    if section == 'Main'
      button.btn.btn-df.content-control__btn(ng-click="appRoute('threads/all')")
        translate NEW_PUBS
      button.btn.btn-df.content-control__btn(ng-click="appRoute('threads/popular')")
        translate ACTIVE_THEMES
    if section == 'Section'
      button.btn.btn-df.content-control__btn(ng-click="appRoute('/')")
        translate GO_BACK
      button.btn.btn-df.content-control__btn.btn-create.btn-new-topic(mettika="'forum-add'", ng-if='!section.IsLocked && !hideNewTopicButton', ng-click='addSection()')
        i.icon-plus
        translate NEW_THEME
    if section == 'Topic'
      button.btn.btn-df.content-control__btn(ng-click="appRoute(type ? '/threads/' + type : '/section/' + section.Id)")
        translate GO_BACK
      button.btn.btn-df.content-control__btn(ng-if='!topic.IsLocked', ng-click='answer()')
        translate ANSWER
    if section == 'New'
      button.btn.btn-df.content-control__btn(ng-click="appRoute('/')")
        translate GO_BACK
    form.pull-right(ng-submit='search()')
      input.form-control.input-sm.input-large(type='text', placeholder="{{'FORUM_SEARCH_PLACEHOLDER' | translate}}", ng-model='query')