.forum-users
  h4
    translate WHOS_ON_FORUM
  div
    translate PRESENT
    |  
    strong(ng-bind='stats.current')
    |  
    translate OF_USERS
  .forum-online
    ul.list-unstyled.lst-forum-online
      li.lst-forum-online__item(ng-repeat='user in online')
        .lst-forum-online__lnk.auth__user(user-name='user')
    .text-label
      translate USERS_TODAY
      |  
      strong(ng-bind='stats.today')