mixin merchants-table-view(section, data, currencyCodes, priceUnits)
  - var doBid = ''
  if section == 'Search'
    - var doBid = 'search'

  table.table.table-offers.table-list
    tr(ng-repeat='offer in ' + data)
      td.table-image
        a.bordered(ui-sref='app.merchants-room-tab-offer({roomId:offer.roomUrlName,tabName:kind,offerId:offer.id})')
          img.thumb__object(ng-if='offer.pictures.length > 0', ng-src='{{ offer.pictures[0].thumbnailLink }}')
          img.thumb__object(ng-if='offer.pictures.length == 0', ng-src='img/content/no-photo-small.jpg')
      td.table-title
        a(ui-sref='app.merchants-room-tab-offer({roomId:offer.roomUrlName,tabName:kind,offerId:offer.id})', ng-bind='offer.title')
      td.table-region
        | {{offer.region}}
      td.table-selling
        .price(ng-hide="offer.price.amount==''")
          b
            span(ng-bind='offer.priceValue')
          |&nbsp;
          span(ng-bind= currencyCodes)
          | /
          span(ng-bind= priceUnits)
        .price(ng-show="offer.price.amount==''", translate='NO_PRICE')
        .status(ng-show="offer.kind == 'Merchandise' && offer.isAvailable", translate='IN_STOCK')
        .status.gray(ng-show="offer.kind == 'Merchandise' && !offer.isAvailable", translate='UNDER_ORDER')
      td.table-info
        .activity
          span.icons-item
            i.icon-clock.icon-md
            |  {{offer.created | date:shordivate}}
          //if section == 'Merchants'
            span.icons-item
              i.icon-views.icon-lg
              |
              span(ng-bind='offer.viewCount')
            span.icons-item
              i.icon-chat.icon-md
              |
              span(ng-bind='offer.commentsCount.Count')
      td.table-btn
        button.btn.btn-df.btn-green.thumbnail__btn(ng-hide='offer.isAuctionExpired || (offer.auctionTotalAmount - offer.auctionReservedAmount - offer.auctionSoldAmount) <= 0', ng-click= doBid + 'doBid(offer)', ng-if="offer.kind == 'Merchandise' && offer.isAuction && offer.user.UserId != myProfile.UserId")
          translate BuyItem
        button.btn.btn-df.btn-create(type='button', ng-click='promote(offer)', ng-if='userId == offer.userId')
          translate Promotion
      if section == 'Merchants'
        td.table-author(ng-include='"views/app/auth/_offer.html"', ng-hide='layout == "my"')
        td.table-actions.my-edit-controls(ng-show='layout == "my"')
          button.btn.btn-df(ng-if='!offer.isAuction', ng-click='openModal({tpl: "merchants/goods-add", class: "mdl-app mdl-merchants", scope: {kind: kind, offer: offer}, cb: afterCreate})')
            i.app-icon.app-icon-79
          button.btn.btn-df(ng-if='offer.isAuction', ng-click='Modals.message("Редактирование товара в активной продаже не разрешено. Если вы хотите отредактировать товар, свяжитесь с модераторами Promarket")')
            i.app-icon.app-icon-79
          button.btn.btn-df(ng-click='delete(offer)')
            i.app-icon.app-icon-99
      else
        td.table-author(ng-include='"views/app/auth/_offer.html"')
