mixin slider-ads(data)
  .catalog-slider(ng-if= data + '.length > 0')
    slick(init-onload="true" autoplay="true" slides-to-show=5 slides-to-scroll=1 data= '' + data responsive="breakpoints" on-init="initSlick()")
      .catalog-slider__item.catalog__block(ng-repeat= 'offer in ' + data)
        i.icon-star2.catalog-slider__star
        .catalog__block-in            
          .catalog__cnt.catalog__cnt--sm.text-center
            .catalog-slider__type.type(ng-class="{'type--buy': offer.kind=='Buy', 'type--sell': offer.kind=='Sell'}")
              | {{offer.kind.toUpperCase() | translate}}
            a.catalog__ttl(ng-href="{{ appPath('board/offer/' + offer.id, { moduleName: 'merchants' }) }}")
              span.lnclmp-2(ng-bind='offer.title')            

