mixin slider-goods(data, currencyCodes, priceUnits)
  .catalog-slider(ng-class="{'preload': !showSlick}" ng-if= data + '.length > 0')
    slick(init-onload="true" autoplay="true" slides-to-show=5 slides-to-scroll=1 data= '' + data responsive="breakpoints" on-init="initSlick()")
      .catalog-slider__item.catalog__block(ng-repeat= 'offer in ' + data)
        i.icon-star2.catalog-slider__star
        .catalog__block-in
          .catalog__logo.pull-left
            a.thumb-container(ng-href="{{ appPath((offer.kind | lowercase) + '/offer/' + offer.id, { moduleName: 'merchants' }) }}")
              img(ng-if='offer.pictures.length == 0', ng-src='img/content/no-photo.jpg')
              img(ng-if='offer.pictures.length > 0', ng-src='{{ offer.pictures[0].thumbnailLink }}')
          .catalog__cnt.catalog__cnt--sm
            a.catalog__ttl(ng-href="{{ appPath((offer.kind | lowercase) + '/offer/' + offer.id, { moduleName: 'merchants' }) }}")
              span.lnclmp-2(ng-bind='offer.title')
            .price(ng-hide="offer.price.amount==''")
              b
                span(ng-bind='offer.priceValue')
              | 
              span(ng-bind= '::' + currencyCodes+'[offer.currencyCode]')
              | /
              span(ng-bind= '::' + priceUnits+'[offer.priceUnit]')
            .price(ng-show="offer.price.amount==''", translate='NO_PRICE')