mixin slider-prices(data)
  .catalog-slider(ng-if= data + '.length > 0')
    slick(init-onload="true" autoplay="true" slides-to-show=5 slides-to-scroll=1 data= '' + data responsive="breakpoints" on-init="initSlick()")
      .catalog-slider__item.catalog__block(ng-repeat= 'price in ' + data)
        i.icon-star2.catalog-slider__star
        .catalog__block-in.catalog__block-in--lg
          .catalog__logo.pull-left
            i.icon-prices.icon-df.catalog__ico         
          .catalog__cnt.catalog__cnt--xs.catalog__cnt--middle
            a.catalog__ttl(ng-if='loggedIn',
            ng-href='{{price.downloadLink}}') {{price.description}}
            a.catalog__ttl(ng-if='!loggedIn', metrika="'price-download-unreg'", ng-click='$root.modals.alertUnregistered()') {{price.description}}
            |  
            span.catalog__fltp (.{{price.format}})
