ul.subind-lst
  li.subind-lst__item(ng-repeat='room in childRooms')
      a.subind-lst__lnk(metrika="'forum-room'", ui-sref='app.forum-room({roomId: room.urlName})', ng-bind='room.names[currentLang]')
