mixin thumbnails(section, currencyCodes, priceUnits, doBid)

  .thumbnail
    a.thumbnail__img(ui-sref="app.merchants-room-tab-offer({ offerId: offer.id, tabName: (offer.kind | lowercase), roomId: offer.roomUrlName })")
      img(ng-if='offer.pictures.length == 0', ng-src='img/content/no-photo.jpg')
      img(ng-if='offer.pictures.length > 0', ng-src='{{ offer.pictures[0].thumbnailLink }}')
    .thumbnail__descr
      a.thumbnail__ttl(ui-sref="app.merchants-room-tab-offer({ offerId: offer.id, tabName: (offer.kind | lowercase), roomId: offer.roomUrlName })")
        span.thumbnail__ttl.lnclmp-2(ng-bind='offer.title')
      if section == 'Catalog'
        .catalog__brnch
            room-info(room-id='offer.roomId')
              a(ng-click="newWinRoute('', {roomId: room.urlName})")
                span.lnclmp-1.lnclmp-1--xs(ng-bind='room.title')
      .status(ng-show="offer.kind == 'Merchandise' && offer.isAvailable", translate='IN_STOCK')
      .status.gray(ng-show="offer.kind == 'Merchandise' && !offer.isAvailable", translate='UNDER_ORDER')
      .price(ng-hide="offer.price.amount==''")
        b
          span(ng-bind='offer.priceValue')
        |&nbsp;
        span(ng-bind= currencyCodes)
        | /
        span(ng-bind= priceUnits)
      .price(ng-show="offer.price.amount==''", translate='NO_PRICE')
      .thumbnail__buy
        button.btn.btn-df.btn-green.thumbnail__btn(ng-hide='offer.isAuctionExpired || (offer.auctionTotalAmount - offer.auctionReservedAmount - offer.auctionSoldAmount) <= 0', ng-click= doBid + 'doBid(offer)', ng-if="offer.kind == 'Merchandise' && offer.isAuction && offer.user.UserId != myProfile.UserId")
          translate BuyItem
        button.btn.btn-df.btn-create(type='button', ng-click='promote(offer)', ng-if='userId == offer.userId')
          translate Promotion
  .thumbnail-footer
    .activity
      span.icons-item
        i.icon-clock.icon-md
        |  {{offer.created | date:shordivate}}
      //if section == 'Merchants'
        span.icons-item
          i.icon-views.icon-lg
          |
          span(ng-bind='offer.viewCount')
        span.icons-item
          i.icon-chat.icon-md
          |
          span(ng-bind='offer.commentsCount.Count')
    .owner
      .avatar--small
        .small-thumb-container
          img(ng-src='{{offer.userPhoto}}')
      .name(user-name='offer.user')
      .organization(ng-bind='offer.user.Company')
