mixin catalog-tbl-vacancies(section)
  .catalog-tbl
    .catalog-tbl__item.catalog-tbl__item--sngl(ng-repeat= section)
      .lnk-download
        i.catalog-tbl__ico.lnk-download__ico.icon-object.icon-job
        .lnk-download__body
          a.catalog__ttl(ng-href="{{ appPath('jobs/item/' + job.id, { moduleName: 'jobs' }) }}")
            span.lnclmp-1(ng-bind='job.shortName')
          .meta-inline
            .meta-inline__item.catalog__pos(ng-bind='job.company')
            .meta-inline__item.catalog__brnch
              room-info(room-id='job.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          .created
            .created__col.created__col1
              .auth__addon
                translate ADDED_BY
                | :
              .auth__user(user-name='job.user')
            .created__col.created__col2
              i.icon-clock.icon-md
              |  {{job.dateTime | date:shordivate}}

