mixin catalog-tbl-videos(section)
  .catalog-tbl
    .catalog-tbl__item.catalog-tbl__item--brd.part2(ng-repeat= section)
      .catalog__logo.catalog-video.pull-left
        a.catalog-video__lnk(ng-href="{{ appPath('/item/'+video.id, { moduleName: 'video' }) }}")
          img.catalog-video__img(ng-src='{{video.thumb}}', alt='{{video.name}}')
      .catalog__cnt.catalog__cnt--sm
        a.catalog__ttl(ng-href="{{ appPath('/item/'+video.id, { moduleName: 'video' }) }}")
          span.lnclmp-1(ng-bind='video.name')
        .catalog__descr.lnclmp-1.lnclmp-1--sm(ng-bind-html='video.description')
        .catalog__brnch
          room-info(room-id='video.roomId')
            a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
        .created.created--bottom
          .created__col.created__col1
            .auth__addon
              translate ADDED_BY
              | :
            .auth__user(user-name='video.user')
          .created__col.created__col2
            i.icon-clock.icon-md
            |  {{video.created | date:shordivate}}
