mixin video-content-sub-control(section)
  .content-sub-control
    if section == 'Category'
      button.btn.btn-df.btn-small.content-sub-control__btn(ui-sref='app.video-room({roomId: $roomName})', translate='GO_BACK')
        translate GO_BACK
    if section == 'Details'
      button.btn.btn-df.btn-small.content-sub-control__btn(ng-click="appRoute('/cat/' + item.sectionId)")
        translate GO_BACK
    if section == 'Search'
      button.btn.btn-df.btn-small.content-sub-control__btn(ng-click="appRoute('/')")
        translate GO_BACK
    button.btn.btn-df.btn-small.btn-create.content-sub-control__btn(ng-click='add()')
      translate ADD_VIDEO
    form.pull-right.input-xlarge(ng-submit="appRoute('/search/' + query)")
      input.form-control.input-sm.pull-right.input-xlarge(type='text', ng-model='query', placeholder="{{'SearchVideo' | translate}}")
