.content-item
  .paginator
    ui-pagination(total-items='usersAdminIndex.totalItems', page='usersAdminIndex.currentPage', on-select-page='usersAdminIndex.changePage(page)', items-per-page='10')
  table.table.table--users.table--admin.table--admin-users(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !user.IsApproved }", ng-repeat='user in usersAdminIndex.users')
        td.table-image
          .table__avatar
            img(ng-src='{{user.avatar}}')
        td
          .table__metadata
            .metadata
              | {{'REGISTRATION_DATE' | translate}}:
              span.text-xs.gray-dark {{user.registrationDate | date:'medium'}}
          .table__message
            .table__title
              .auth__user(user-name='user')
              .divider /
              a.table__email(href='') {{user.email}}
          .text-sm.gray-light
            span
              | {{'COMPANY' | translate}}:
              span.gray-dark {{user.company}}
            span.red.hide(ng-if='!user.isFilled') {{'USER_PROFILE_EMPTY' | translate}}
        td.table-actions.my-edit-controls
          div(ng-hide="user.banStatus == 'PermanentlyBanned' || user.banStatus == 'Banned'")
            button.btn.btn-df.btn-primary(ng-show='!user.isApproved', ng-click='usersAdminIndex.approve(user)')
              i.app-icon.app-icon-124
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/users/lock', class: 'mdl-app modal-admin', cb: usersAdminIndex.reload, scope: {user: user}})")
                    i.app-icon.app-icon-b-lock
                    translate LOCK
                li
                  a(href='', ng-click="openModal({tpl: 'admin/users/delete', class: 'mdl-app modal-admin', cb: usersAdminIndex.reload, scope: {user: user}})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-click='usersAdminIndex.restore(user)', ng-show="user.banStatus == 'PermanentlyBanned' || user.banStatus == 'Banned'")
            i.app-icon.app-icon-deleted
  .paginator
    ui-pagination(total-items='usersAdminIndex.totalItems', page='usersAdminIndex.currentPage', on-select-page='usersAdminIndex.changePage(page)', items-per-page='10')
