.full-height.cnt-nav-left.users.admin(ng-controller='UsersCtrl')
  .content-control
    h4 {{'USERS_TITLE' | translate}}
  .content-sub-control
    .pull-right
      form.form-inline.pull-right(action='', ng-submit='usersAdminIndex.search(query)')
        input.form-control.input-sm.input-large(ng-model='query', type='text', placeholder="{{'SearchUsers' | translate}}")
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SEARCH' | translate}}
    .btn-group.pull-left
      button.btn.btn-df.btn-small(type='button', ng-click="usersAdminIndex.goTo('notapproved')", ng-model='usersAdminIndex.searchParams.state', btn-radio="'notapproved'")
        | {{'UNCHECKED' | translate}}
      button.btn.btn-df.btn-small(type='button', ng-click="usersAdminIndex.goTo('active')", ng-model='usersAdminIndex.searchParams.state', btn-radio="'active'")
        | {{'ACTIVE' | translate}}
      button.btn.btn-df.btn-small(type='button', ng-click="usersAdminIndex.goTo('banned')", ng-model='usersAdminIndex.searchParams.state', btn-radio="'banned'")
        | {{'LOCKED' | translate}}
      button.btn.btn-df.btn-small(type='button', ng-click="usersAdminIndex.goTo('deleted')", ng-model='usersAdminIndex.searchParams.state', btn-radio="'deleted'")
        | {{'DELETED' | translate}}
  .content.content--under-sub
    ng-include(src="'views/admin/users/_list.html'")
