.modal-header
  .row
    .col-sm-7
      h2.modal-title.sm
        translate Access.Title
    .col-sm-5
      button.btn.hbtn.lime.rounded.btn-publish-purchase(type='button', ui-sref="home.buy",
      ng-click="$close()")
        translate Buy.Publish
.modal-body
  .modal-inner
    .row
      .col-md-6.col-access
        translate Access.PaymentServices
        ul.list-unstyled.lst-payments(metrika="payments-click")
          li.lst-payments__item
            i.lst-payments__ico.icon-object.icon-credit-card
            translate CreditCards
          li.lst-payments__item
            i.lst-payments__ico.icon-object.icon-mobile
            translate MobileBalance
          li.lst-payments__item
            i.lst-payments__ico.icon-object.icon-money
            translate Cash
          li.lst-payments__item
            i.lst-payments__ico.icon-object.icon-wallet
            translate YandexMoney
            |&nbsp;
            translate OR
            |&nbsp;
            translate WebMoney
          li.lst-payments__item
            i.lst-payments__ico.icon-object.icon-invoice
            translate Bill
        translate Access.AfterPayment
      .col-md-6.col-access
        h3.text-center.orange
          translate Access.Get
        ul.lst-benefits
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-chat
            translate CHATS
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-tag
            translate PRODUCTS_SERVICES
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-companies
            translate COMPANIES_CATALOGUE
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-checks
            translate Access.ContactsCompanies
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-block
            translate BLACKLIST
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-job
            translate JOB
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-comments
            translate FORUM
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-gost
            translate REGULATIONS
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-tv
            translate SECTORAL_VIDEO
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-reviews
            translate REVIEWS_TITLE
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-map
            translate MAP
          li.lst-benefits__item
            i.lst-benefits__ico.icon-object.icon-user
            translate Access.ContactsUsers
    .row
      .col-md-4.col-access.text-center
        h3.orange
          translate Access.Bonus1ttl
        img.col-access__img(src="img/content/feature1.jpg", alt="{{'Access.Bonus1ttl' | translate}}")
        translate Access.Bonus1Text
      .col-md-4.col-access.text-center
        h3.orange
          translate Access.Bonus2ttl
        img.col-access__img(src="img/content/feature2.jpg", alt="{{'Access.Bonus2ttl' | translate}}")
        translate Access.Bonus2Text
        br
        br
        h3.orange
          translate Access.AndMore
      .col-md-4.col-access.text-center
        h3.orange
          translate Access.Bonus3ttl
        img.col-access__img(src="img/content/feature3.jpg", alt="{{'Access.Bonus3ttl' | translate}}")
        translate Access.Bonus3Text
    .row
      .col-xs-12
        form.modal-form(ng-submit="pay.buyPlan(pay.planId)")
          .form-body
            .form-group.btn-checkgroup
              button.btn.btn-checkgroup__item(
              ng-click="pay.planId = plan.monthes"
              ng-class="{ active: plan.monthes == pay.planId }",
              type='button',
              ng-repeat="plan in pay.plans"
              )
                i.icon-checkmark.btn-checkgroup__ico
                b
                  translate Access.Period_{{ $index + 1 }}
                span.btn-checkgroup__txt
                  | {{ plan.dayCost }}
                  translate RUB
                  translate PerDay
                  span.btn-checkgroup__hint
                    |  /
                    | {{ ::plan.cost }}
                    |&nbsp;
                    translate RUB
            .form-group(ng-if="loggedIn")
              button.btn.hbtn.blue.rounded.lg.pull-right(type='submit', metrika="'payment-create'")
                translate Access.Checkout
              .chckbx.chckbx-sm
                .chckbx__inpt.chckbx-sm__inpt
                  input#Agree(type='checkbox', required)
                  label(for='Agree')
                .chckbx__lbl.chckbx-sm__lbl
                  translate MailingAgreementTxt_1
                  |&nbsp;
                  a(href='/legal' target="_blank")
                    translate MailingAgreementLink
                  |&nbsp;
                  translate MailingAgreementTxt_2
