.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
.modal-body
  .modal-inner(ng-init='children = icon._.children()')
    .add-subtype-title
      i.type-icon(ng-style='icon.style')
      |             {{ roomsHash[modal.icon.Id].DisplayName }}
      button.btn.btn-df.add-subtype-button(ng-class='{ grey: icon.present }', ng-click='addChatTab(icon.Id)')
        | {{'COMMON_CHAT' | translate}}
    h4(ng-if='children.length > 0') {{'CHOOSE_SUBDIVISION' | translate}}
    .add-subtype-list(ng-if='children.length > 0 > 0')
      ul
        li(ng-repeat='childRoom in children', ng-bind='childRoom.DisplayName', ng-class='{ selected: childRoom.present }', ng-click='addChatTab(childRoom.Id)')
