.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'ADDING_REVIEW_HEADER' | translate}}
.modal-body
  .modal-inner
    form.modal-form(action='', ng-controller='ReviewsAddCtrl as reviewsAdd', ng-submit='reviewsAdd.addReview()')
      .form-body
        p {{'ADDING_REVIEW_TEXT_1' | translate}}
        p {{'ADDING_REVIEW_TEXT_2' | translate}}
        p {{'ADDING_REVIEW_TEXT_3' | translate}}
        .form-group
          label {{'YOUR_REVIEW_OR_NOTE' | translate}}
          .container-textarea
            textarea(ng-disabled='adding', ng-model='reviewsAdd.reviewText')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-disabled='reviewsAdd.adding')
          | {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
