.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title
    i.app-icon.app-icon-96
    |  
    translate YOURE_NOT_AUTHORIZED
.modal-body.auth-alert
  .modal-inner
    p.text-large(translate='AUTHORIZE_TEXT')
    .form-inline
      button.btn.btn-df.btn-primary(ng-click="$close('openRegisterBox')", translate='REGISTERING')
      |  
      translate OR
      |  
      a(ng-click="$close('openLoginBox')", href='', translate='ENTER')
    .form-inline(ng-controller='SocialCtrl as social', ng-include="'views/modal/auth/social.html'")
    p.text-large
      strong(translate='REGISTRATION_QUESTION')
    p.text-large(translate='REGISTRATION_BENEFIT')
    ul.lst-benefits
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-chat
        translate CHATS
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-tag
        translate PRODUCTS_SERVICES
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-companies
        translate COMPANIES_CATALOGUE
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-checks
        translate CHECK_TITLE
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-block
        translate BLACKLIST
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-job
        translate JOB
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-comments
        translate FORUM
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-gost
        translate REGULATIONS
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-tv
        translate SECTORAL_VIDEO
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-reviews
        translate REVIEWS_TITLE
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-map
        translate MAP
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-user
        translate USERS_MENU
    .auth-promo
      .pull-right
        img(src='img/content/auth-promo.jpg', alt='')
      p(translate='MORE_BENEFITS_1')
      p(translate='MORE_BENEFITS_2')
