.modal-header
  i.icon-close.close(ng-click='$close()')
  h2.modal-title
    translate Modal.Message
.modal-body
  .modal-inner
    p
      translate Modal.YourPswrdChanged
// <script>Audio.play();</script>
