.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title
    i.app-icon.app-icon-96
    |  
    translate YOUR_PROFILE_EMPTY
.modal-body.auth-alert
  .modal-inner
    p.text-large {{'YOU_NEED_TO_FILL_PROFILE' | translate}}
    .form-inline
      button.btn.btn-df.btn-primary(ng-click="appRoute('', { roomId: null, moduleName: 'my-profile' });$close()")
        | {{'FILL_THE_PROFILE' | translate}}
    p.text-large
      strong {{'PROFILE_FILL_QUESTION' | translate}}
    p.text-large {{'PROFILE_FILL_BENEFIT_1' | translate}}
    ul.lst-benefits
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-chat
        translate CHATS
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-tag
        translate PRODUCTS_SERVICES
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-companies
        translate COMPANIES_CATALOGUE
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-checks
        translate CHECK_TITLE
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-block
        translate BLACKLIST
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-job
        translate JOB
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-comments
        translate FORUM
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-gost
        translate REGULATIONS
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-tv
        translate SECTORAL_VIDEO
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-reviews
        translate REVIEWS_TITLE
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-map
        translate MAP
      li.lst-benefits__item
        i.lst-benefits__ico.icon-object.icon-user
        translate USERS_MENU
    .auth-promo
      .pull-right
        img(src='img/content/auth-promo.jpg', alt='')
      p {{'MORE_BENEFITS_1' | translate}}.
      p {{'MORE_BENEFITS_2' | translate}}
