.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate ADDING_RECORD_TO_BLACKLIST
.modal-body(ng-controller='BlacklistsAddCtrl')
  .modal-inner
    form.modal-form(action='', ng-submit='add(blacklist)')
      .form-body
        .form-group
          label
            translate TITLE_NAME
          input(type='text', ng-model='blacklist.title', required='')
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate BRANCH
            translate Fill branch
          room-select(room='roomId')
        .form-group
          label
            translate CONTACTS_LOCATION
          .container-textarea
            textarea(ng-model='blacklist.contacts', required='')
        .form-group
          label
            translate REASON
          .container-textarea
            textarea.large(ng-model='blacklist.reason', required='')
        .form-group
          label
            translate CLAIM_SUM
          input(ng-model='blacklist.sum', type='text', required='')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-show='modal.isDoverie', ng-click="$close('openDoverieThankYouBox')")
          translate SAVE
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-hide='modal.isDoverie')
          translate SAVE
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate CANCEL
