.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'ADDING_RECORD_TO_BLACKLIST' | translate}}
.modal-body(ng-controller='BlacklistsSaveCtrl')
  .modal-inner
    form.modal-form(action='', ng-submit='save(blacklist)')
      .form-body
        .form-group
          label {{'TITLE_NAME' | translate}}
          input(type='text', ng-model='blacklist.title', required='')
        .form-group
          label {{'CONTACTS_LOCATION' | translate}}
          .container-textarea
            textarea(ng-model='blacklist.details', required='')
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea.large(ng-model='blacklist.reason', required='')
        .form-group
          label {{'CLAIM_SUM' | translate}}
          input(ng-model='blacklist.amountClaimed', type='text', required='')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-show='modal.isDoverie', ng-click="$close('openDoverieThankYouBox')")
          | {{'SAVE' | translate}}
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-hide='modal.isDoverie')
          | {{'SAVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
