.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate Language
.modal-body(ng-controller='ChangeLanguageCtrl')
  .modal-inner
    form.modal-form(action='')
      .form-body
        .form-group
          .sel-styled
            select(ng-model='interfaceLanguage')
              option(value='ru') Русский
              option(value='en') English
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='button', ng-click='changeLang()')
          translate SAVE
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate CANCEL
