.modal-header
  i.icon-close.close(ng-click='$close()')
  h4.modal-title
    translate PASSWORD_CHANGE
.modal-body
  .modal-inner
    form.form-horizontal.modal-form.frm.frm-rcvr(action='', ng-if='!passwordChanged', ng-submit='changePassword(newPassword, newPasswordRepeat); $close()')
      .form-body
        .form-group(ng-class="{'has-error': error}")
          .col-xs-12
            label
              translate NEW_PASSWORD
            input.form-control.input-lg(type='password', ng-model='newPassword', tabindex='1')
        .form-group(ng-class="{'has-error': error}")
          .col-xs-12
            label
              translate NEW_PASSWORD_REPEAT
            input.form-control.input-lg(type='password', ng-model='newPasswordRepeat', tabindex='2')
        span(ng-if='opts.passwordChanged')
          translate YOUR_PASSWORD_CHANGED
      .form-group.form-actions
        .col-sm-6
          button.btn.hbtn.silver.rounded.lg(type='button', ng-click='$close()')
            translate CANCEL
        .col-sm-6
          button.btn.hbtn.blue.rounded.lg.frm-auth__btn(type='submit')
            translate SAVE
