.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'PASSWORD_CHANGE' | translate}}
.modal-body(ng-controller='ChangePasswordCtrl')
  .modal-inner
    form.modal-form(action='', ng-submit='changePassword()', ng-controller='PasswordChangeModal', name='changePasswordForm')
      .form-body
        .form-group
          label {{'OLD_PASSWORD' | translate}}
          input.show-validation(type='password', ng-model='oldPassword', ng-class="{ 'ng-invalid': invalidOldPassword }")
        .form-group
          label {{'NEW_PASSWORD' | translate}}
          input(type='password', ng-model='newPassword', required='', name='newPassword')
        .form-group
          label {{'NEW_PASSWORD_REPEAT' | translate}}
          input.show-validation(type='password', ng-model='newPasswordRepeat', name='newPasswordRepeat', ui-validate="'newPassword == $value'", ui-validate-watch="'newPassword'")
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit')
          | {{'SAVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
