.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title(translate='COMPANY_ADDING')
.modal-body
  .modal-inner
    form#companyAdd.modal-form(file-upload='uploadOptions', ng-controller='CompaniesAddCtrl', ng-submit='addCompany(company)')
      .form-body
        .clearfix
          .form-group.modal-col-left
            label(translate='COMPANY_FULL_NAME')
            input(type='text', ng-model='company.fullName', ng-required='true')
          .form-group.modal-col-right
            label
              translate COMPANY_LOGO
              span.grey(translate='LOGO_DESR')
            .input-group
              input#appendedInputButton.form-control(ng-required='true', type='text', ng-model='queue[0].name')
              input#file-upload(type='file', ng-hide='true')
              span.input-group-btn
                label.btn.btn-df.btn-small(for='file-upload', type='button', translate='BROWSE')
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate BRANCH
            translate Fill branch
          room-select(room='company.roomId')
        .form-group
          label(translate='SHORT_DESCRIPTION')
          .container-textarea
            textarea.small(ng-model='company.shortDescription', ng-required='true')
        .form-group
          label(translate='FULL_DESCRIPTION')
          .container-textarea
            textarea(ng-model='company.fullDescription', ng-required='true')
        .clearfix(geo-complete='')
          .form-group.modal-col-left.lst-typeahead.lst-typeahead--rel
            label(translate='COUNTRY')
            input.typText(ng-model='company.country', ng-required='true', typeahead='country as country for country in getCountries($viewValue)', typeahead-loading='loading', typeahead-editable='true', typeahead-template-url='views/bootstrap/typeahead/typeahead-match.html')
          .form-group.modal-col-right.lst-typeahead.lst-typeahead--rel
            label(translate='CITY')
            input.typText(ng-model='company.city', ng-required='true', typeahead='city as city for city in getCities(company.country, $viewValue)', typeahead-loading='loading', typeahead-editable='true', typeahead-template-url='views/bootstrap/typeahead/typeahead-match.html')
        .clearfix
          .form-group.modal-col-left
            label(translate='OFFICE_ADDRESS')
            span.pull-right
              a(href='', ng-click="openModal({tpl: 'mark-map', class: 'mdl-app modal-mark-map', scope: mapModal, cb: checkIn})", translate='MARK_ON_MAP')
            input(ng-class="{'show-validation': showValidation}", type='text', ng-model='company.address', ng-required='true', required='')
          .form-group.modal-col-right
            label(translate='POST_ADDRESS')
            input(type='text', ng-model='company.postalAddress', ng-required='true')
        .clearfix
          .form-group.modal-col-left
            label(translate='PHONE')
            input(type='text', ng-model='company.phone', ng-required='true')
          .form-group.modal-col-right
            label(translate='FAX')
            input(type='text', ng-model='company.fax')
        .clearfix
          .form-group.modal-col-left
            label Email
            input(type='email', ng-model='company.email', ng-required='true')
          .form-group.modal-col-right
            label(translate='COMPANY_SITE')
            input(type='text', placeholder='http://', ng-model='company.website')
        h2(ng-if='activity[0].Activities.length || activity[1].Activities.length')
          | {{'KIND_OF_ACTIVITY' | translate}}
        .clearfix.show-validation(ng-class="{ 'ng-invalid': selectedActivities().length == 0 }", ng-if='activity[0].Activities.length || activity[1].Activities.length')
          .modal-col.show-validation
            | {{activity[0].Name}}
            label.checkbox.checkbox--styled(ng-repeat='activity in activity[0].Activities')
              input(ng-required='selectedActivities().length == 0', ng-model='activity.checked', value='activity.Id', type='checkbox', styled='')
              | {{activity.Name}}
          .modal-col.show-validation
            | {{activity[1].Name}}
            label.checkbox.checkbox--styled(ng-repeat='activity in activity[1].Activities')
              input(ng-required='selectedActivities().length == 0', ng-model='activity.checked', value='activity.Id', type='checkbox', styled='')
              | {{activity.Name}}
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-disabled='progress.active', translate='ADD')
        button.btn.btn-df.btn-small(type='button', ng-click='$close()', translate='CANCEL')
