.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'COMPANY_ADDING' | translate}}
.modal-body
  .modal-inner
    form#companyAdd.modal-form(file-upload='uploadOptions', ng-controller='CompaniesUserEditCtrl', ng-submit='addCompany()')
      .form-body
        .clearfix
          .form-group.modal-col-left
            label {{'COMPANY_FULL_NAME' | translate}}
            input(type='text', ng-model='company.company.fullName', ng-required='true')
          .form-group.modal-col-right
            label
              | {{'COMPANY_LOGO' | translate}}
              span.grey {{'LOGO_DESR' | translate}}
            .input-group
              input#appendedInputButton.form-control(type='text', ng-model='queue[0].name')
              input#file-upload(type='file', ng-hide='true')
              span.input-group-btn
                label.btn.btn-df.btn-small(for='file-upload', type='button')
                  | {{'BROWSE' |
                  | translate}}
            img(ng-src='{{company.logoUrl}}', width='200')
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate BRANCH
            translate Fill branch
          room-select(room='company.company.roomId')
        .form-group
          label {{'SHORT_DESCRIPTION' | translate}}
          .container-textarea
            textarea.small(ng-model='company.company.shortDescription', ng-required='true')
        .form-group
          label {{'FULL_DESCRIPTION' | translate}}
          .container-textarea
            textarea(ng-model='company.company.fullDescription', ng-required='true')
        .clearfix(geo-complete='')
          .form-group.modal-col-left.lst-typeahead.lst-typeahead--rel
            label {{'COUNTRY' | translate}}
            input.typText(ng-model='company.company.country', ng-required='', typeahead='country as country for country in getCountries($viewValue)', typeahead-loading='loading', typeahead-wait-ms='50', typeahead-template-url='views/bootstrap/typeahead/typeahead-match.html')
          .form-group.modal-col-right.lst-typeahead.lst-typeahead--rel
            label {{'CITY' | translate}}
            input.typText(ng-model='company.company.city', ng-required='', typeahead='city as city for city in getCities(company.company.country, $viewValue)', typeahead-loading='loading', typeahead-wait-ms='50', typeahead-template-url='views/bootstrap/typeahead/typeahead-match.html')
        .clearfix
          .form-group.modal-col-left
            label {{'OFFICE_ADDRESS' | translate}}
            span.pull-right
              a(href='', ng-click="openModal({tpl: 'mark-map', class: 'mdl-app modal-mark-map', scope: mapModal, cb: checkIn})")
                | {{'MARK_ON_MAP'
                | | translate}}
            input(ng-class="{'show-validation': showValidation}", type='text', ng-model='company.company.address', ng-required='true', required='')
          .form-group.modal-col-right
            label {{'POST_ADDRESS' | translate}}
            input(type='text', ng-model='company.company.postalAddress', ng-required='true')
        .clearfix
          .form-group.modal-col-left
            label {{'PHONE' | translate}}
            input(type='text', ng-model='company.company.phone', ng-required='true')
          .form-group.modal-col-right
            label {{'FAX' | translate}}
            input(type='text', ng-model='company.company.fax')
        .clearfix
          .form-group.modal-col-left
            label Email
            input(type='text', ng-model='company.company.email', ng-required='true')
          .form-group.modal-col-right
            label {{'COMPANY_SITE' | translate}}
            input(type='text', placeholder='http://', ng-model='company.company.website')
        h2
          | {{'KIND_OF_ACTIVITY' | translate}} {{ activityChecked }}
        .clearfix
          .modal-col
            | {{activity[0].Name}}
            label.checkbox.checkbox--styled(ng-repeat='activity in activity[0].Activities')
              input(ng-model='activity.checked', value='activity.Id', type='checkbox', styled='')
              | {{activity.Name}}
          .modal-col
            | {{activity[1].Name}}
            label.checkbox.checkbox--styled(ng-repeat='activity in activity[1].Activities')
              input(ng-model='activity.checked', value='activity.Id', type='checkbox', styled='')
              | {{activity.Name}}
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-disabled='progress.active')
          | {{'SAVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
