div(ng-controller='InviteCtrl as invite')
  .modal-header
    i.app-icon.app-icon-7.close(ng-click='$close()')
    h2.modal-title {{invite.title}}
  .modal-body.modal-invite
    .modal-inner
      .invite
        i.invite__ico.icon-messages
        form.form-inline(action='', ng-submit='invite.add(invite.inviteEmail)')
          input(type='email', placeholder="{{'PASS_RECOVERY_PLACEHOLDER' | translate}}", ng-model='invite.inviteEmail')
          button.btn.btn-df.btn-small(type='submit') {{'INVITE_NEW' | translate}}
        .invited-list
          span.invited(ng-repeat='invited in invite.list')
            | {{invited}} 
            i.app-icon.app-icon-4(ng-click='invite.delete(invited)')
      ul.collapse-list
        li(ng-click='isOpen = !isOpen', ng-init='isOpen = false', ng-class='{opened: isOpen}')
          | {{'READ_INVITE_TEXT' | translate}}
        .container-textarea(ng-show='isOpen')
          textarea(ng-model='invite.text')
  .modal-footer
    button.btn.btn-df.btn-primary.btn-small(ng-click='invite.send(); $close(invite.isDisabled())', ng-class='{disabled: !invite.list.length}')
      | {{'SEND_INVITE' | translate}}
    button.btn.btn-df.btn-small(ng-click='$close()') {{'CANCEL' | translate}}
