.modal-header
  i.app-icon.app-icon-7.close(ng-click="$close('No')")
  h4.modal-title.centered(translate='Confirmation.Title')
.modal-body
  .modal-inner.call-reminder
    h4(translate='{{confirmationText}}')
.modal-footer.centered
  button.btn.btn-df.btn-primary.btn-small(translate='YES', ng-click="$close('Yes')")
  button.btn.btn-df.btn-primary.btn-small(translate='NO', ng-click="$close('No')")
// <script>Audio.play();</script>
