.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  i.app-icon.app-icon-24(save-dom='#faq-download', save-dom-as='faq.html')
  i.app-icon.app-icon-25(print-dom='#faq-download')
  input.faq-search(ng-model='faqSearch', type='text', placeholder="{{'FAQ_SEARCH_PLACEHOLDER' | translate}}")
.modal-body
  .modal-inner
    ul.modal-faq.collapse-list(ng-init='isOpen = [];')
      li(ng-repeat='q in faq | filter: faqSearch', ng-init='isOpen[$index] = false', ng-class='{opened: isOpen[$index]}')
        span(ng-click='isOpen[$index] = !isOpen[$index]') {{q.q}}
        div(ng-show='isOpen[$index]', ng-bind-html='q.a', ng-click='')
ul#faq-download.modal-faq.collapse-list(ng-hide='true')
  li(ng-repeat='q in faq | filter: faqSearch')
    span {{q.q}}
    div(ng-bind-html='q.a')
