.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title {{'NOTIFICATION_SETTINGS' | translate}}
.modal-body(ng-controller='FeatureNewsSettingsModalCtrl')
  .modal-inner
    form.modal-form(action='')
      .form-body
        p {{'CHOOSE_SECTIONS' | translate}}
        span(ng-repeat='type in types', value='type.value', title='type.label', styled-checkbox='')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-click='save()')
          | {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
