i.app-icon.app-icon-7.close(ng-click='$close()')
.modal-body
  .modal-inner
    h4
      | {{'PRICE_LIST' | translate}}
      a(href='') Рыбторг {{'OFFERS' | translate}}
      span
        strong 18
        |  {{'WATCHES' | translate}}
    .contact-list.price-views
      ul
        li
          a(href='')
            i.app-icon.app-icon-22
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-22
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-22
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-22
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-21
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-21
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-21
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-21
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-21
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-23
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-21
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-21
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-21
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-30
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-31
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-32
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-30
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-30
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-30
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-30
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-31
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-31
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-31
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-31
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-32
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-32
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-32
            |  Александр Ростов
        li
          a(href='')
            i.app-icon.app-icon-32
            |  Александр Ростов
