.modal-header
  .modal-header
    i.app-icon.app-icon-7.close(ng-click='$close()')
.modal-body
  .modal-inner
    form.modal-form(action='')
      .form-body
        .form-group
          label
            | {{'GOST_SEARCH_TIP_1' | translate}}
            span.grey GOST_SEARCH_TIP_2
          input(type='text', placeholder="{{'GOST_SEARCH_EXAMPLE' | translate}}")
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-click="modal.route('/gost'); close()")
          | {{'SEARCH' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
