.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  i.app-icon.app-icon-24(ng-click='download(modal.doc.DownloadUrl)', ng-hide='hideIcons')
  i.app-icon.app-icon-25(ng-click='print()', ng-hide='hideIcons')
ul.gost-preview
  div(ui-jq='jScrollPane')
    li(data-num='{{$index}}', ng-repeat='url in doc.pageUrls', ng-click='showImage($index)')
      img(ng-src='{{url}}')
.modal-body(ui-jq='jScrollPane')
  .gost-view.print(data-num='{{$index}}', ng-repeat='url in doc.pageUrls')
    img(ng-src='{{url}}')
script(ng-if='doc').
  $(function () {
  var preview = $('.gost-preview li');
  var step = 638;
  var offset = [];
  for (var i = 0; i < preview.length + 1; i++) {
  offset[i] = step * i;
  }
  $('.modal-body').on('jsp-scroll-y', function (event, pos, isAtTop, isAtBottom) {
  _.each(offset, function (el, i, list) {
  if (pos >= el && (pos + step / 1.5) < list[i + 1]) {
  setActiveGost(i);
  }
  setActivePreview(pos);
  });
  });
  preview.on('click', function () {
  $('.modal-body').data('jsp').scrollToY($(this).index() * step);
  return false;
  });
  });
  function setActiveGost(index) {
  $('.gost-preview li')
  .removeClass('active')
  .eq(index)
  .addClass('active');
  }
  function setActivePreview(index) {
  $('.gost-preview > div').data('jsp').scrollToY((index - 600) / 5.5);
  }
