.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  a(target='download-frame', ng-href='{{:: imageSrc }}')
    i.app-icon.app-icon-24
.modal-body
  #image-preview.modal-inner
    img(ng-src='{{:: imageSrc }}', resizemodal='')
