.modal-header
  h4.modal-title
    i.feature-icon.feature-icon-14
    |  
    translate INCOMING_CALL
.modal-body
  .modal-inner
    .call-user.clearfix
      .avatar.pull-left
        .middle-thumb-container
          img(ng-src='{{callerAvatar.Url}}')
      .pull-left
        .title
          |  {{callerProfile.FullName}}
        .text
          span.text-label
            translate COMPANY
          |  {{callerProfile.Company}}
        .text
          span.text-label
            translate POSITION
          |  {{callerProfile.Job}}
        .text
          span.text-label
            translate INN
          |  {{callerProfile.TaxId}}
    .form-actions
      button.btn.btn-df.btn-primary.call-answer(ng-disabled='progress', ng-click='answer(this, {audio: true, video: false})', ng-class="{'disabled': unsupported}")
        i.app-icon.app-icon-131(ng-class="{'disabled': unsupported}")
        |  {{'ANSWER' | translate}}
      button.btn.btn-df.btn-primary.call-video(ng-disabled='progress', ng-click='answer(this, {audio: true, video: true})', ng-class="{'disabled': unsupported}")
        i.app-icon.app-icon-133(ng-class="{'disabled': unsupported}")
        |  
        translate ANSWER_WITH_VIDEO
      button.btn.btn-df.call-cancel(ng-click="dialHangup(this, 'auto')")
        i.app-icon.app-icon-135
        |  
        translate CANCEL
    .call-error.center(ng-show='unsupported', ng-init='pluginNotif = false')
      .red
        strong {{'ATTENTION' | translate}}
        noipad {{'YOUR_BROWSER_INVALID' | translate}}
        ipad {{'YOUR_DEVICE_INVALID' | translate}}
      noipad
        translate INSTALL_MODERN_BROWSER
        ul.browsers
          li
            a.text-hide.browser-chrome(href='http://www.google.com/intl/ru/chrome/browser/', target='_blank') Chrome
        a.btn.btn-df(href='https://www.google.com/intl/ru/chrome/browser/?brand=CHMO#eula', target='_blank')
          translate INSTALL_BROWSER
