.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title(translate='ENTER_EMAILS')
.modal-body.modal-invite
  .modal-inner
    p
      translate InviteMessage
    p
      translate YourBalance
      | : 
      b.balance.green(ng-bind="::invite.balance")
    .invite
      i.invite__ico.icon-messages
      form.form-inline(action='', ng-submit='invite.add(invite.inviteEmail)')
        input(type='text', placeholder="{{'PASS_RECOVERY_PLACEHOLDER' | translate}}", ng-model='invite.inviteEmail')
        button.btn.btn-df.btn-small(type='submit', translate='INVITE_NEW')
      .invited-list
        span.invited(ng-repeat='invited in invite.list')
          | {{invited}} 
          i.app-icon.app-icon-4(ng-click='invite.delete(invited)')
    ul.collapse-list
      li(ng-click='invite.toggleText()', ng-class='{opened: invite.textShown}', translate='READ_INVITE_TEXT')
      .container-textarea(ng-show='invite.textShown')
        textarea(ng-model='invite.text')
.modal-footer
  button.btn.btn-df.btn-primary.btn-small(ng-click="invite.send(); $close('openThankYouBox')", ng-disabled='invite.list.length == 0')
    | {{'SEND_INVITE' | translate}}
  button.btn.btn-df.btn-small(ng-click='$close()', translate='CANCEL')
