.modal-header
  i.icon-close.close(ng-click='$close()')
  h2.modal-title
    translate Modal.Authorization
.modal-body
  .modal-inner
    form.modal-form.frm.frm-auth(action='', ng-submit='doLogin()', ng-controller='SessionsCtrl', role='form')
      .form-group
        label E-mail
        input.form-control.input-lg(type='email', ng-model='loginEmail', ng-required='true', tabindex='1')
      .form-group(ng-class="{'has-error': error}")
        label {{'PASSWORD' | translate}}
        input.form-control.input-lg(type='password', ng-model='loginPassword', ng-required='true', tabindex='2')
      .form-group.form-txt.frm-auth__actv
        .chckbx.pull-left
          .chckbx__inpt
            input#rememberMe(type='checkbox', ng-model='rememberMe', tabindex='3', name='rememberMe', checked='')
            label(for='rememberMe')
          .chckbx__lbl
            translate REMEMBER_ME
        .pull-right
          a(href='', ng-click="$close('openPassRestore')")
            translate FORGOT_PASSWORD
      .form-group.form-actions
        button.btn.hbtn.blue.rounded.xlg.frm-auth__btn(type='submit')
          translate ENTER
      .form-group.form-error.red.text-center(ng-show='error')
        | — 
        translate Modal.WrongPassword
.modal-footer.modal-footer--social(ng-controller='SocialCtrl as social', ng-include="'views/modal/auth/social.html'")
