.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
.modal-body
  .modal-inner
    .mark-map(mark-map='mapOptions')
.modal-footer
  button.btn.btn-df.btn-primary.btn-small(type='submit', ng-click="$close('ok')") {{'CHOOSE' | translate}}
  button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
