div(ng-controller='myThanksListCtrl')
  .modal-header.modal-header--blue.modal-header--blue-light
    .close(ng-click='$close()')
      i.app-icon.app-icon-7
    .user
      .user__avatar
        .small-thumb-container
          img(ng-src='{{ myAvatar.Url }}')
      i.app-icon.app-icon-21
      a.user__name(href='') {{myData.FullName}}
      .user__rating
        span.usergreen {{myData.Ratings.Pro}}
        | /
        span.red {{myData.Ratings.Contra}}
      .user__favs
        i.app-icon.app-icon-57
        |  {{myData.Ratings.Thanks | number}}
      .user__trust
        i.app-icon.app-icon-60
        |  {{ ((myData.Ratings.TrustLevel >0) && '+') || '' }}{{myData.Ratings.TrustLevel}}
  .modal-sub-header
    h4.modal-profile-title {{'THANKED' | translate}}
  .modal-body
    .modal-inner
      .contact-list
        ul
          li(ng-repeat='user in thankfulUsers')
            a(href='/user/{{user.UserId}}/profile', target='_blank')
              i.app-icon(ng-class="user.iconClass")
              | {{user.FullName}}
