.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
.modal-body
  .modal-inner
    p
      | {{'NEED_SKYPE_TEXT_1' | translate}} 
      a(href='http://skype.com/ru/download-skype/', target='_blank')
        | {{'NEED_SKYPE_TEXT_2' | translate}}
      |  {{'NEED_SKYPE_TEXT_3' | translate}}
      code {{skypeId}}
