.modal-header
  i.app-icon.app-icon-7.close(ng-click="$close('stopNotif')")
  h4.modal-title.centered
    | {{'REMINDER_TITLE' | translate}}
    span.date {{date}}
#notif.modal-body
  .modal-inner.call-reminder
    h4.green
      | {{text}}
.modal-footer.centered
  button.btn.btn-df.btn-primary.btn-small(ng-click="$close('stopNotif')") ОК
// <script>Audio.play();</script>
