.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title.centered
    translate REMIND_OF
.modal-body(ng-controller='AddReminderModalCtrl')
  .modal-inner.call-reminder
    form.modal-form
      .form-body
        .form-group
          .container-textarea
            textarea.small(ng-model='eventDescription')
        .form-group.form-group--inline
          label
            translate IN
          input(type='text', ng-model='timeout.value', required='', integer='')
          .sel-styled.sel-time
            select(ng-model='timeout.unit')
              option(value='1') {{'MINUTES' | translate}}
              option(value='2') {{'HOURS' | translate}}
              option(value='3') {{'DAYS' | translate}}
          button.btn.btn-df.btn-primary.btn-small(type='submit', ng-click='submit()')
            translate ОК
