.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title {{'NOTIFICATION_SETTINGS' | translate}}
.modal-body(ng-controller='NotificationSettingsModalCtrl')
  .modal-inner
    p {{'CHOOSE_SECTIONS' | translate}}
    form.modal-form(action='')
      .form-body
        span(ng-if='webNotification.supported', value='permission', title="'Браузерные оповещения'", styled-checkbox='', ng-disabled="webNotification.permission == 'denied'", ng-click='webNotification.changeUserPermission(permission)')
        span(ng-repeat='type in types', value='type.value', title='type.label', styled-checkbox='')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-click='save()')
          | {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
