.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'PASSPORT_CHECK_TITLE' | translate}}
.modal-body
  .modal-inner
    form.modal-form.passport-check-form(action='')
      .form-body
        .clearfix
          .form-group
            label {{'SERIES' | translate}}
            input(type='text')
          .form-group
            label {{'NUMBER' | translate}}
            input(type='text')
        .clearfix
          .capcha
            img(src='img/content/capcha.jpg', alt='')
          .form-group
            label {{'NUMBERS_FROM_PIC' | translate}}
            input(type='text')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'CHECK' | translate}}
  .pass-response
    | {{'BY_YOUR_PASSPORT_CHECK_REQUEST_1' | translate}} 4501 № 838856 {{'BY_YOUR_PASSPORT_CHECK_REQUEST_2' |
    | translate}} "{{'PASSPORT_VALID' | translate}}".
