.modal-header
  i.icon-close.close(ng-click='$close()')
  h2.modal-title
    translate PASS_RECOVERY
.modal-body(ng-controller='PasswordRestoreCtrl')
  .modal-inner
    p
      translate PASS_RECOVERY_TEXT
    form.form-horizontal.modal-form.frm.frm-rcvr(action='', ng-submit='restore(email)', role='form')
      .form-group(ng-class="{'has-error': error}")
        .col-xs-12
          input.form-control.input-lg(type='text', ng-model='email', placeholder="{{'PASS_RECOVERY_PLACEHOLDER' | translate}}")
      .form-group.form-actions
        .col-sm-6
          button.btn.hbtn.silver.rounded.lg(type='button', ng-click='$close()')
            translate CANCEL
        .col-sm-6
          button.btn.hbtn.blue.rounded.lg(type='submit')
            translate SEND
      .form-group.form-error.red.text-center(ng-show='error')
        | — 
        translate Modal.WrongAddress
