.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title {{'PASS_RECOVERY' | translate}}
.modal-body
  .modal-inner
    p {{'PASS_RECOVERY_MAIL_SENT' | translate}}
    button.btn.btn-df.btn-primary.btn-small(type='submit', ng-click='$close()') ОК
