.modal-header
  i.icon-close.close(ng-click='$close()')
  h2.modal-title
    translate PAYMENT_SERVICES
.modal-body
  .modal-inner
    h3
      translate SELECT_PAYMENT_METHOD
    ul.lst-paysystem.list-unstyled(metrika="pay-click")
      li.lst-paysystem__item
        a.lst-paysystem__lnk(ng-href="{{pay.url.head + 'AC' + pay.url.tail}}" target="_blank")
          i.sprite-cards
          span.lst-paysystem__txt
            translate CreditCards
      li.lst-paysystem__item
        a.lst-paysystem__lnk(ng-href="{{pay.url.head + 'PC' + pay.url.tail}}" target="_blank")
          i.sprite-wallet
          span.lst-paysystem__txt
            translate YandexMoney 
      li.lst-paysystem__item
        a.lst-paysystem__lnk(ng-href="{{pay.url.head + 'GP' + pay.url.tail}}" target="_blank")
          i.sprite-cash
          span.lst-paysystem__txt
            translate Cash
      li.lst-paysystem__item
        a.lst-paysystem__lnk(ng-href="{{pay.url.head + 'WM' + pay.url.tail}}" target="_blank")
          i.sprite-webmoney
          span.lst-paysystem__txt WebMoney
      li.lst-paysystem__item
        a.lst-paysystem__lnk(href="", ng-click="pay.throughMobile(pay.url.mobile)")
          i.sprite-mobilecommerce
          span.lst-paysystem__txt
            translate MobileBalance

      li.lst-paysystem__item
        a.lst-paysystem__lnk(ng-href="{{pay.url.bill}}", ng-click="pay.sent('bill')")
          span.lst-paysystem__txt
              translate Bill