.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'ADD_LINK' | translate}}
.modal-body(ng-controller='recommendationAddModal')
  .modal-inner.modal-rec-add
    form.modal-form(action='', ng-submit='addRecommendation()')
      .form-body
        .form-group
          label {{'CATEGORY' | translate}}
          .sel-styled
            select(ng-model='selectedSection', ng-options='section.Id as section.Name for section in sections')
        .form-group
          label {{'SITE_ADDRESS' | translate}}
          input(type='text', ng-model='url')
        .form-group
          label {{'SHORT_DESCRIPTION' | translate}}
          .container-textarea
            textarea.small(ng-model='description')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
