.modal-header
  i.icon-close.close(ng-click='$close()')
  h2.modal-title
    translate REGISTER
.modal-body(ng-controller='UserRegistrationCtrl')
  .modal-inner
    form.frm(name='registrationForm', ng-submit='submitRegistration()', role='form')
      ng-include(src="'views/form/registration.html'")
      .form-group.form-actions
        button.btn.hbtn.blue.rounded.lg.frm-auth__btn(type='submit', ng-disabled='registrationInProgress || registrationForm.$invalid', ng-blur='registrationForm.name.focused = true; registrationForm.email.focused = true; registrationForm.password.focused = true; registrationForm.passwordRepeat.focused = true; registrationForm.licenseAgreement.focused = true')
          translate REGISTERING
.modal-footer.modal-footer--social(ng-controller='SocialCtrl as social', ng-include="'views/modal/auth/social.html'")
