.modal-header
  i.icon-close.close(ng-click='$close()')
  h2.modal-title
    translate REGISTER
.modal-body
  .modal-inner
    translate REGISTRATION_MESSAGE_1
    br
    translate REGISTRATION_MESSAGE_2
    |  
    a(href='', ng-click='$close()')
      translate REGISTRATION_MESSAGE_3
    br
    translate REGISTRATION_MESSAGE_4
