.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate ADDING_CV
.modal-body
  .modal-inner
    form.modal-form(ng-controller='JobsNewresumeCtrl', action='', ng-submit='createResume()', name='uploadForm', file-upload='uploadOptions')
      .form-body
        .form-group
          label
            translate TITLE_NAME
          input(type='text', ng-model='fileName', ng-required='true')
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate BRANCH
            translate Fill branch
          room-select(room='roomId')
        .form-group
          label
            translate CHOOSE_FILE
          .file-upload.input-group
            input#appendedInputButton.form-control(type='text', value='{{queue[0].name}}', ng-required='true')
            input#file(type='file')
            span.input-group-btn
              label.btn.btn-df.btn-small(for='file', type='button')
                translate BROWSE
        .form-group
          label.radio.radio--styled
            input(type='radio', ng-model='accessibility', value='Everyone', name='d', styled='')
            translate AVAILABLE_ALL
        .form-group
          label.radio.radio--styled
            input(type='radio', ng-model='accessibility', value='Nobody', name='d', styled='')
            translate AVAILABLE_ME
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-disabled='createInProgress')
          translate ADD
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate CANCEL
