.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_CV' | translate}}
.modal-body
  .modal-inner
    form.modal-form(ng-controller='JobsCvEditCtrl', action='', ng-submit='saveResume(resume)', name='uploadForm', file-upload='uploadOptions')
      .form-body
        .form-group
          label {{'TITLE_NAME' | translate}}
          input(type='text', ng-model='resume.Description', ng-required='true')
        .form-group
          label {{'BRANCH' | translate}}
          .sel-styled
            room-select(room='resume.RoomId')
        .form-group
          label {{'CHOOSE_FILE' | translate}}
          .file-upload.input-group
            input#appendedInputButton.form-control(type='text', value='{{queue[0].name}}')
            input#file(type='file')
            span.input-group-btn
              label.btn.btn-df.btn-small(for='file', type='button') {{'BROWSE' | translate}}
        .form-group
          label.radio.radio--styled
            input(type='radio', ng-model='resume.Accessibility', value='Everyone', name='d', styled='')
            | {{'AVAILABLE_ALL'
            |          | translate}}
        .form-group
          label.radio.radio--styled
            input(type='radio', ng-model='resume.Accessibility', value='Nobody', name='d', styled='')
            | {{'AVAILABLE_ME' |
            |          translate}}
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit', ng-disabled='createInProgress')
          | {{'SAVE' |
          | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
