.modal-header
  i.icon-close.close(ng-click='$close()')
  h2.modal-title
    translate Modal.Rules
.modal-body(ng-controller='RulesCtrl as rules')
  .modal-inner
    ul.list-unstyled.modal-faq.collapse-list
      li(ng-repeat='q in rules.rules', ng-click='isOpen[$index+1] = !isOpen[$index+1]', ng-class='{opened: isOpen[$index+1]}')
        a(id="rule{{$index+1}}" ng-href="{{appPath ? appPath('', {moduleName: 'chat', roomId: $roomName || $rootRoomId || 285}) + '?popup=rules&rule=' + ($index+1) + '#rule' + ($index+1) : ''}}", ng-click='stop($event)')
          | {{q.title}}
        div(ng-show='isOpen[$index+1]')
          | {{q.text}}
ul#rules-download.modal-faq.collapse-list(ng-init='isOpen = [];', ng-hide='true')
  li(ng-repeat='q in rules')
    | {{q.title}}
    div
      | {{q.text}}
