.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
.modal-body
  .modal-inner
    .add-subtype-list(ng-if='userList.length > 0')
      ul
        li(ng-repeat='user in userList', ng-bind='user.companyName', ng-click='showUser(user)')
