.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'VACANCY_ADDING' | translate}}
.modal-body(ng-controller='JobsAddCtrl')
  .modal-inner
    form.modal-form(action='', ng-submit='add(job)')
      .form-body
        .form-group
          label {{'TITLE_NAME' | translate}}
          input(ng-required='true', type='text', ng-model='job.shortName')
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate BRANCH
            translate Fill branch
          room-select(room='job.roomId')
        .form-group
          label {{'POSITION' | translate}}
          input(ng-required='true', type='text', ng-model='job.position')
        .form-group
          label {{'DESCRIPTION' | translate}}
          .container-textarea
            textarea(ng-model='job.description')
        .form-group
          label {{'COMPANY' | translate}}
          input(ng-required='true', type='text', ng-model='job.company')
        .form-group(geo-complete='')
          .form-group.lst-typeahead.lst-typeahead--rel
            label {{'COUNTRY' | translate}}
            input.typText(ng-model='job.country', typeahead='country as country for country in getCountries($viewValue)', typeahead-loading='loading', typeahead-wait-ms='50', typeahead-editable='false', typeahead-on-select='select()', typeahead-template-url='views/bootstrap/typeahead/typeahead-match.html')
          .form-group.lst-typeahead.lst-typeahead--rel
            label {{'CITY' | translate}}
            input.typText(ng-model='job.city', typeahead='city as city for city in getCities(job.country, $viewValue)', typeahead-loading='loading', typeahead-wait-ms='50', typeahead-editable='false', typeahead-template-url='views/bootstrap/typeahead/typeahead-match.html')
        .form-group
          label Email
          input(ng-required='true', type='text', ng-model='job.email')
        .form-group
          label {{'PHONE' | translate}}
          input(ng-required='true', type='text', ng-model='job.phone')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'ADD' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
