.modal-header.modal-header--blue
  .close(ng-click="$close('cancel')")
    i.app-icon.app-icon-7
  i.app-icon.app-icon-24(save-dom='.modal-inner')
  i.app-icon.app-icon-25(print-dom='.modal-inner')
  div(addthis='', description='job.addThisDescription', title='job.addThisTitle')
.modal-body
  .modal-inner
    .content-item
      .title(ng-bind='job.ShortName || job.shortName')
      .author
        translate ADDED_BY
        .auth__user(user-name='job.user')
        .date {{job.dateTime || job.date | date:'medium'}}
    .content-item
      .vacancy-view-item
        h5(translate='POSITION')
        p(ng-bind='job.Position || job.position')
      .vacancy-view-item
        h5(translate='DESCRIPTION')
        p(ng-bind-html='job.HtmlDescription || job.htmlDescription')
      .vacancy-view-item
        h5(translate='COMPANY')
        p(ng-bind='job.Company || job.company')
      .vacancy-view-item
        h5(translate='COUNTRY')
        p(ng-bind='job.Country || job.country')
      .vacancy-view-item
        h5(translate='CITY')
        p(ng-bind='job.City || job.city')
      .vacancy-view-item
        h5 Email
        p
          a(href='mailto:{{job.Email || job.email}}', ng-bind='job.Email || job.email')
      .vacancy-view-item
        h5(translate='PHONE')
        p(ng-bind='job.Phone || job.phone')
