.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'VIDEO_ADDING' | translate}}
.modal-body(ng-controller='VideosSaveCtrl')
  .modal-inner
    form.modal-form(action='', ng-submit='save(video)')
      .form-body
        .form-body
          .form-group
            label {{'TITLE' | translate}}
            input(type='text', ng-model='video.name', ng-required='true')
          .form-group
            label {{'VIDEO_LINK' | translate}} (YouTube)
            input(type='text', ng-model='video.url', ng-required='true')
          .form-group
            label {{'CATEGORY' | translate}}
            .sel-styled
              select(ng-model='video.sectionId', ng-required='true')
                option(ng-selected='sectionId == section.Id', value='{{section.Id}}', ng-repeat='section in sections')
                  | {{section.Name}}
          .form-group
            label {{'SHORT_DESCRIPTION' | translate}}
            .container-textarea
              textarea(ng-model='video.description', ng-required='true')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
