.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate VIDEO_ADDING
.modal-body(ng-controller='VideoAddCtrl')
  .modal-inner
    form.modal-form(action='', ng-submit='add(video)')
      .form-body
        .form-body
          .form-group
            label
              translate TITLE
            input(type='text', ng-model='video.name', ng-required='true')
          .form-group
            label
              translate VIDEO_LINK
              |              (YouTube)
            input(type='text', ng-model='video.url', ng-required='true')
          .form-group.lst-typeahead.lst-typeahead--rel
            label
              translate BRANCH
              translate Fill branch
            room-select(room='roomId', required='true')
          .form-group
            label
              translate CATEGORY
            .sel-styled
              select(ng-model='video.sectionId', ng-required='true')
                option(value='{{section.Id}}', ng-repeat='section in sections')
                  | {{section.Name}}
          .form-group
            label
              translate SHORT_DESCRIPTION
            .container-textarea
              textarea(ng-model='video.description', ng-required='true')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit')
          translate ADD
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate CANCEL
