//begin categories
section.categories
  .container
    h2.ttl-center Выбирайте надежных партнеров в каталоге компаний EXPO.pro
  .categories__inner
    .container
      ul.lst-categories
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Авто-мото-велотехника
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Безопастность и защита
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Бумага и картон
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Бытовая техника
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Вода, газ и тепло
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Дерево, пиломатериалы
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Детские товары
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Дом и сад
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Животные и зоотовары
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Здоровье и красота
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Инструменты
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Мебель и интерьер
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Медицинская техника
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Металлы и прокат
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Недвижимость
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Одежда и обувь
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Оружие и экипировка
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Офиское оборудование
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Подарки и сувениры
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Полиграфия
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Предметы искусства
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Приборы и автоматика
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Продукты и напитки
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Резина и пластмассы
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Сельское хозяйство
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Сервисное оборудование
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Спорт и отдых
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Строительная техника
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Стройматериалы
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Тара и упаковка
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Текстиль и кожа
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Телекоммуникации
        li.lst-categories__item  
          a.lst-categories__lnk(href="#777") Торговля и склад
//end categories
