#collapseSearch.container.collapse
  //begin collapse-search
  .cover-search.collapse-search
    form.cover-search__form
      .form-group
        .input-group
          input.form-control.form-control--lg(type='text', placeholder='Пример поиска: выставки Москвы')
          span.input-group-btn
            button.btn.btn--primary.btn--fs-lg(type='button') Найти
      .cover-search__cols
        .cover-search__col1.cover-search__options
          label.chckbx.chckbx--inline(for='TypeOption0')
            input#TypeOption0(type='checkbox', value='TypeOption0', name='TypeOptions', checked)
            span Выставки
          label.chckbx.chckbx--inline(for='TypeOption1')
            input#TypeOption1(type='checkbox', value='TypeOption1', name='TypeOptions')
            span Компании
          label.chckbx.chckbx--inline(for='TypeOption2')
            input#TypeOption2(type='checkbox', value='TypeOption2', name='TypeOptions')
            span По товару/услуге
      .row.cover-search__row
        .grid-4.cover-search__grid           
          .form-group
            select.select(data-placeholder="Центральный ФО", data-width="265")
              option(value="")
              option(value="0") Option1
              option(value="1") Option2
              option(value="2") Option3
          .form-group
            select.select(data-placeholder="Все Федеральные округа", data-width="265")
              option(value="")
              option(value="0") Option1
              option(value="1") Option2
              option(value="2") Option3
          .form-group
            select.select(data-placeholder="Все Федеральные округа", data-width="265", disabled)
              option(value="")
              option(value="0") Option1
              option(value="1") Option2
              option(value="2") Option3
        .grid-4.cover-search__grid
          .form-group
            select.select(data-placeholder="Отрасли", data-width="265")
              option(value="")
              option(value="0") Option1
              option(value="1") Option2
              option(value="2") Option3
          .form-group
            ul.lst-tags
              li.lst-tags__item
                span.lst-tags__text Медицина и косметика
                button.lst-tags__close(type='button')
                  span.icon.lst-tags__close-ico
              li.lst-tags__item
                span.lst-tags__text Продукты
                button.lst-tags__close(type='button')
                  span.icon.lst-tags__close-ico
              li.lst-tags__item
                span.lst-tags__text Спорт и отдых
                button.lst-tags__close(type='button')
                  span.icon.lst-tags__close-ico
              li.lst-tags__item
                span.lst-tags__text Радиовещание
                button.lst-tags__close(type='button')
                  span.icon.lst-tags__close-ico
        .grid-4.cover-search__grid
          .cover-search__ttl Время проведения          
          #datepicker-range.input-daterange
            .form-group.datepicker-input
              input.form-control(type="text", placeholder="Укажите дату", name="start")
            .form-group.datepicker-input
              input.form-control(type="text", placeholder="Укажите дату", name="end")
    button.btn.btn--default.collapse-search__close(data-toggle="collapse", data-target="#collapseSearch", aria-expanded="false", aria-controls="collapseSearch")
  //end collapse-search
