//begin filter
.sidebar-block
  .sidebar-block__ttl Фильтрация
  form.sidebar__form
  .form-group
    select#js-branches.select(data-placeholder="– Отрасли –", data-val="")
      option(value="")
      option(value="Option1") Option1
      option(value="Option2") Option2
      option(value="Option3") Option3
  .form-group
    select.select(data-placeholder="– Подотрасли –")
      option(value="")
      option(value="0") Option1
      option(value="1") Option2
      option(value="2") Option3
  .form-group
    ul.lst-tags
      li.lst-tags__item
        span.lst-tags__text Медицина и косметика
        button.lst-tags__close(type='button')
          span.icon.lst-tags__close-ico
      li.lst-tags__item
        span.lst-tags__text Продукты
        button.lst-tags__close(type='button')
          span.icon.lst-tags__close-ico
      li.lst-tags__item
        span.lst-tags__text Спорт и отдых
        button.lst-tags__close(type='button')
          span.icon.lst-tags__close-ico
      li.lst-tags__item
        span.lst-tags__text Радиовещание
        button.lst-tags__close(type='button')
          span.icon.lst-tags__close-ico
  .form-group
    select.select(data-placeholder="– Регионы –")
      option(value="")
      option(value="0") Option1
      option(value="1") Option2
      option(value="2") Option3
  .form-group
    ul.lst-tags
      li.lst-tags__item
        span.lst-tags__text Урал
        button.lst-tags__close(type='button')
          span.icon.lst-tags__close-ico
      li.lst-tags__item
        span.lst-tags__text Центральный ФО
        button.lst-tags__close(type='button')
          span.icon.lst-tags__close-ico
      li.lst-tags__item
        span.lst-tags__text ХМАО
        button.lst-tags__close(type='button')
          span.icon.lst-tags__close-ico
  button.btn.btn--light(type="button") Применить                  
//end filter
