footer.footer
  .container.footer__inner
    .footer__row.row
      .grid-2
        img(src="images/logo_ExpoPro-sm.png", alt="Expo Pro", width="71", height="22")
        .copy © 2104–2015
      .grid-4
        .sponsor
          a.sponsor__lnk(href="#777")
            span.icon.sponsor__ico
            span.sponsor__text 
             | Калининградская
             br
             | торгово-промышленная палата
      .grid-4
        //begin navbottom
        nav
          ul.navbottom
            li.navbottom__item
              a.navbottom__lnk(href="#777") Компаниям
            li.navbottom__item
              a.navbottom__lnk(href="#777") Посетителям
          ul.navbottom.navbottom--cols
            li.navbottom__item
              a.navbottom__lnk(href="#777") Выставки
            li.navbottom__item
              a.navbottom__lnk(href="#777") Компании
            li.navbottom__item
              a.navbottom__lnk(href="#777") Услуги
            li.navbottom__item
              a.navbottom__lnk(href="#777") О проекте
        //end navbottom
      .grid-2
        //begin social
        ul.social
          li.social__item
            a.social__lnk.lnk-social(href="#777")
              span.icon.lnk-social__ico.lnk-social__ico--vk
              span.hidden Вконтакте
          li.social__item
            a.social__lnk.lnk-social(href="#777")
              span.icon.lnk-social__ico.lnk-social__ico--fb
              span.hidden Facebook
          li.social__item
            a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--insta
                span.hidden Instagram
        //end social
