extends ../layouts/_header-auth

block navtop
  nav
    ul.navtop
      li.navtop__item
        a.navtop__lnk(href="/exhibitions.html") Выставки
      li.navtop__item
        a.navtop__lnk(href="/catalog-companies.html") Компании
      li.navtop__item
        a.navtop__lnk(href="/services.html") Услуги
      li.navtop__item
        a.navtop__lnk(href="/about.html") О проекте
