extends ../layouts/_header

block navtop
  nav  
    ul.navtop
      li.navtop__item
        a.navtop__lnk(href="/exhibitions.html") Выставки
      li.navtop__item
        a.navtop__lnk(href="/catalog-companies.html") Компании
      li.navtop__item.active
        a.navtop__lnk(href="/services.html") Услуги
      li.navtop__item
        a.navtop__lnk(href="/about.html") О проекте
block search
  //begin search
  button.btn.btn--default.search(type="button", data-toggle="collapse", data-target="#collapseSearch", aria-expanded="false", aria-controls="collapseSearch")
    span.icon.search__ico
    span.hidden Поиск          
  //end search
block collapse-search
  include _collapse-search
