//begin cover
section.cover.cover--exhibition(style="background-image:url('../images/family.jpg')")
  .container.cover__inner
    .row
      .grid-6
        .short-descr
          .short-descr__logo
            img(src="images/family_logo.jpg", alt="", width="220", height="109")
          .short-descr__label.short-descr__label--dark Виртуальная выставка
      .grid-6
        .ex-actions
          .ex-actions__edit
            button.btn.btn--transparent.btn--sm(type="button")
              span.icon.icon--edit
              | Редактировать мероприятие
          .ex-actions__main
            .ex-actions__guide
              button.btn.btn--light.btn--sm(type="button")
                span.icon.icon--star-green
                | Мой гид по выставке (4)
//end cover
