//begin cover
section.cover.cover--home
  .container.cover__inner
    h2.cover__ttl
      | Все выставки и экспоненты
      br
      | на одном портале
    //begin cover-actions
    .cover__actions
      h3.cover__subttl Expo.pro - это выставочный портал для:
      .cover-actions
        a.btn.btn--primary.cover-actions__btn(href="/opportunities.html#for-operators") выставочных операторов
        a.btn.btn--primary.cover-actions__btn(href="/opportunities.html#for-companies") компаний
        a.btn.btn--primary.cover-actions__btn(href="/opportunities.html#for-customers") посетителей
    //end cover-actions

    include _cover-search

    //begin cover-actions
    .cover__actions.cover-actions
      a.btn.btn--primary.cover-actions__btn(href="/how-it-works.html") Как это работает?
    //end cover-actions

//end cover
