//begin cover
section.cover.cover--exhibition(style="background-image:url('../images/family.jpg')")
  .container.cover__inner
    .row
      .grid-6
        .short-descr
          .short-descr__logo
            img(src="images/family_logo.jpg", alt="", width="220", height="109")
          .short-descr__date
            | 25 мая 2015г
          .short-descr__place
            | г. Калининград, ул. Октябрьская, 3а (На Острове напротив Рыбной деревни, Кафедрального собора им. И. Канта, рядом с ТЦ «Виктория»)
            br
            | с 10:00 до 18:00
          .short-descr__label Действующая выставка
          //.short-descr__label.short-descr__label--extra Действующая выставка
      .grid-6
        .ex-actions
          .ex-actions__edit
            button.btn.btn--transparent.btn--sm(type="button")
              span.icon.icon--edit
              | Редактировать мероприятие
          .ex-actions__main
            .ex-actions__buy
              button.btn.btn--extra(type="button") Купить билет
            .ex-actions__guide
              button.btn.btn--light.btn--sm(type="button")
                span.icon.icon--star-green
                | Мой гид по выставке (4)
//end cover
