//begin cover
section.cover
  .container.cover__inner
    .cover-desc
      h2.cover-desc__ttl Услуги
      p.cover-desc__text Мы стараемся учитывать предпочтения всех пользователей и предоставить вам сервис, который позволит оперативно решить поставленные задачи, связанные с выставочной деятельностью:
//end cover
