//begin cover
section.cover
  .container.cover__inner
    .cover-desc
      h2.cover-desc__ttl Контактная информация
      p.cover-desc__text Краткое вступительное описание раздела  — самый западный регион России. Расположена в Центральной Европе. Отделена от остальной России территорией других государств, но соединена морем и является, таким образом, полуэксклавом.
//end cover
