mixin exhibition-item

  img(src="../images/b_4.jpg", alt="", width="379", height="253")
  .date.exhibition-item__date с 23 мая по 14 апреля
  .exhibition-item__desc
    .exhibition-item__desc-inner
      h3.exhibition-item__ttl
        a.exhibition-item__lnk(href="#777") Международная специализированная выставка обуви, сумок и аксессуаров
      .exhibition-item__label.lbl Виртуальная выставка

mixin exhibitions-descr

  .exhibitions__descr.exhibitions-descr
    .exhibitions-descr__text
      | Блоки с анонсами ближайших мероприятий отображаются в разрезе региона (если в регионе выставок немного, остальные блоки заполняются ближайшими по дате выставками)
  dl.dl.exhibitions-descr__dl
    dt.dl__dt Отрасль
    dd.dl__dd Архитектура и строительство

    dt.dl__dt Место
    dd.dl__dd Россия, г. Калининград

    dt.dl__dt Выставочный центр
    dd.dl__dd
      a(href="#777") Балтик Экспо
//begin exhibitions__item
.grid-4.exhibitions__item
  article.item.exhibition-item
    img(src="../images/b_4.jpg", alt="", width="379", height="253")
    .date.exhibition-item__date с 23 мая по 14 апреля
    .exhibition-item__desc
      .exhibition-item__desc-inner
        h3.exhibition-item__ttl
          a.exhibition-item__lnk(href="/exhibition.html") II Региональная выставка «Мир Семьи»
        .exhibition-item__label.lbl Виртуальная выставка
  .exhibitions__descr.exhibitions-descr
    .exhibitions-descr__text
      | Если вы за крепкую и здоровую семью, гармоничное развитие детей и сохранение семейных традиций, ЖДЕМ ВАС на выставку «МИР СЕМЬИ»!
  dl.dl.exhibitions-descr__dl
    dt.dl__dt Отрасль
    dd.dl__dd Архитектура и строительство
    dt.dl__dt Место
    dd.dl__dd Россия, г. Калининград
    dt.dl__dt Выставочный центр
    dd.dl__dd
      a(href="#777") Балтик Экспо
//end exhibitions__item
//begin exhibitions__item
.grid-4.exhibitions__item
  article.item.exhibition-item
    img(src="../images/b_2.png", alt="", width="379", height="253")
    .date.exhibition-item__date с 23 мая по 14 апреля
    .exhibition-item__desc
      .exhibition-item__desc-inner
        h3.exhibition-item__ttl
          a.exhibition-item__lnk(href="#777") XVII Санкт-Петербургская международная конная выставка «Иппосфера-2015»
        .exhibition-item__label.lbl Виртуальная выставка

  .exhibitions__descr.exhibitions-descr
    .exhibitions-descr__text
      | «Иппосфера-2015» соберет коннозаводчиков, владельцев племенных лошадей, представителей конной индустрии и просто любителей лошадей.
  dl.dl.exhibitions-descr__dl
    dt.dl__dt Отрасль
    dd.dl__dd Архитектура и строительство

    dt.dl__dt Место
    dd.dl__dd Россия, г. Калининград

    dt.dl__dt Выставочный центр
    dd.dl__dd
      a(href="#777") Балтик Экспо

//end exhibitions__item
//begin exhibitions__item
.grid-4.exhibitions__item
  article.item.exhibition-item
    img(src="../images/b_3.png", alt="", width="379", height="253")
    .date.exhibition-item__date с 23 мая по 14 апреля
    .exhibition-item__desc
      .exhibition-item__desc-inner
        h3.exhibition-item__ttl
          a.exhibition-item__lnk(href="#777") Мир охоты и рыбалки 2015
        .exhibition-item__label.lbl Виртуальная выставка

  .exhibitions__descr.exhibitions-descr
    .exhibitions-descr__text
      | Выставка будет полезна и интересна широкому кругу: любителям рыбной ловли, охоты, людям, ведущим активный образ жизни и членам их семей
  dl.dl.exhibitions-descr__dl
    dt.dl__dt Отрасль
    dd.dl__dd Архитектура и строительство

    dt.dl__dt Место
    dd.dl__dd Россия, г. Калининград

    dt.dl__dt Выставочный центр
    dd.dl__dd
      a(href="#777") Балтик Экспо

//end exhibitions__item
//begin exhibitions__item
.grid-4.exhibitions__item
  article.item.exhibition-item
    img(src="../images/b_1.png", alt="", width="379", height="253")
    .date.exhibition-item__date с 23 мая по 14 апреля
    .exhibition-item__desc
      .exhibition-item__desc-inner
        h3.exhibition-item__ttl
          a.exhibition-item__lnk(href="#777") VIII Международная выставка вертолетной индустрии HeliRussia 2015
        .exhibition-item__label.lbl Виртуальная выставка
  .exhibitions__descr.exhibitions-descr
    .exhibitions-descr__text
      | В МВЦ «Крокус Экспо» с 21 по 23 мая 2015 года пройдет Международная выставка вертолетной индустрии HeliRussia.
  dl.dl.exhibitions-descr__dl
    dt.dl__dt Отрасль
    dd.dl__dd Архитектура и строительство
    dt.dl__dt Место
    dd.dl__dd Россия, г. Калининград
    dt.dl__dt Выставочный центр
    dd.dl__dd
      a(href="#777") Балтик Экспо
//end exhibitions__item
//begin exhibitions__item
.grid-4.exhibitions__item
  article.item.exhibition-item
    img(src="../images/b_5.jpg", alt="", width="379", height="253")
    .date.exhibition-item__date с 23 мая по 14 апреля
    .exhibition-item__desc
      .exhibition-item__desc-inner
        h3.exhibition-item__ttl
          a.exhibition-item__lnk(href="#777") JUNWEX. Новый Русский Стиль
        .exhibition-item__label.lbl Виртуальная выставка

  .exhibitions__descr.exhibitions-descr
    .exhibitions-descr__text
      | Современные возможности отечественной ювелирной промышленности в переработке богатых запасов драгоценного сырья и ее готовность к активной интеграции.
  dl.dl.exhibitions-descr__dl
    dt.dl__dt Отрасль
    dd.dl__dd Архитектура и строительство

    dt.dl__dt Место
    dd.dl__dd Россия, г. Калининград

    dt.dl__dt Выставочный центр
    dd.dl__dd
      a(href="#777") Балтик Экспо

//end exhibitions__item
//begin exhibitions__item
.grid-4.exhibitions__item
  article.item.exhibition-item
    img(src="../images/b_6.jpg", alt="", width="379", height="253")
    .date.exhibition-item__date с 23 мая по 14 апреля
    .exhibition-item__desc
      .exhibition-item__desc-inner
        h3.exhibition-item__ttl
          a.exhibition-item__lnk(href="#777") Летняя ярмарка НАШ ГОРОД 2015
        .exhibition-item__label.lbl Виртуальная выставка

  .exhibitions__descr.exhibitions-descr
    .exhibitions-descr__text
      | С 26 по 28 июня 2015 года в выставочном центре Балтик-Экспо в Калининграде пройдет летняя ярмарка товаров «Наш город».
  dl.dl.exhibitions-descr__dl
    dt.dl__dt Отрасль
    dd.dl__dd Архитектура и строительство

    dt.dl__dt Место
    dd.dl__dd Россия, г. Калининград

    dt.dl__dt Выставочный центр
    dd.dl__dd
      a(href="#777") Балтик Экспо

//end exhibitions__item
