//begin exhibitions
section.content__item.exhibitions
  .container.exhibitions__inner
    h2.ttl-center
      | Отслеживайте проходящие выставки Online
      br
      | Планируйте свое участие заранее
    .row
      .grid-6
        h3.exhibitions__ttl Выставки в этом месяце
        .exhibitions__carousel
          .j-carousel
            article.item.exhibition-item.active
              img(src="../images/b_4.jpg", alt="", width="580", height="308")
              .date.exhibition-item__date с 21 мая по 23 мая
              .exhibition-item__desc
                .exhibition-item__desc-inner
                  h3.exhibition-item__ttl
                    a.exhibition-item__lnk(href="/exhibition.html") II Региональная выставка «Мир Семьи»
                  .exhibition-item__text Если вы за крепкую и здоровую семью, гармоничное развитие детей и сохранение семейных традиций, ЖДЕМ ВАС на выставку «МИР СЕМЬИ»!

            article.exhibition-item.item
              img(src="../images/b_2.png", alt="", width="580", height="308")
              .date.exhibition-item__date с 21 мая по 24 мая
              .exhibition-item__desc
                .exhibition-item__desc-inner
                  h3.exhibition-item__ttl
                    a.exhibition-item__lnk(href="#777") XVII Санкт-Петербургская международная конная выставка «Иппосфера-2015»
                  .exhibition-item__text «Иппосфера-2015» соберет коннозаводчиков, владельцев племенных лошадей, представителей конной индустрии и просто любителей лошадей.

            article.exhibition-item.item
              img(src="../images/b_3.png", alt="", width="580", height="308")
              .date.exhibition-item__date с 22 мая по 24 мая
              .exhibition-item__desc
                .exhibition-item__desc-inner
                  h3.exhibition-item__ttl
                    a.exhibition-item__lnk(href="#777") Мир охоты и рыбалки 2015
                  .exhibition-item__text Выставка будет полезна и интересна широкому кругу: любителям рыбной ловли, охоты, людям, ведущим активный образ жизни и членам их семей


      .grid-6
        h3.exhibitions__ttl Выставки в этом году
        .exhibitions__carousel
          .j-carousel
            article.item.exhibition-item.active
              img(src="../images/b_1.png", alt="", width="580", height="308")
              .date.exhibition-item__date с 21 мая по 23 мая
              .exhibition-item__desc
                .exhibition-item__desc-inner
                  h3.exhibition-item__ttl
                    a.exhibition-item__lnk(href="#777") VIII Международная выставка вертолетной индустрии HeliRussia 2015
                  .exhibition-item__text Восьмой год подряд в комфортабельных стенах МВЦ «Крокус Экспо» с 21 по 23 мая 2015 года пройдет Международная выставка вертолетной индустрии HeliRussia.



            article.exhibition-item.item
              img(src="../images/b_5.jpg", alt="", width="580", height="308")
              .date.exhibition-item__date с 27 мая по 31 мая
              .exhibition-item__desc
                .exhibition-item__desc-inner
                  h3.exhibition-item__ttl
                    a.exhibition-item__lnk(href="#777") JUNWEX. Новый Русский Стиль
                  .exhibition-item__text C 27 -31 мая в ВДНХ современные возможности отечественной ювелирной промышленности в переработке богатых запасов драгоценного сырья и ее готовность к активной интеграции в мировой рынок украшений.


            article.exhibition-item.item
              img(src="../images/b_6.jpg", alt="", width="580", height="308")
              .date.exhibition-item__date с 26 мая по 28 мая
              .exhibition-item__desc
                .exhibition-item__desc-inner
                  h3.exhibition-item__ttl
                    a.exhibition-item__lnk(href="#777") Летняя ярмарка НАШ ГОРОД 2015
                  .exhibition-item__text С 26 по 28 июня 2015 года в выставочном центре Балтик-Экспо в Калининграде пройдет летняя ярмарка товаров «Наш город»

//end exhibitions
