//begin partners
section.content__item.partners
  .container.partners__inner
    h2.ttl-center Делитесь своими предложениями
    .row.partners__row
      .grid-2.partners__item.partner
        .partner__pic
          img.partner__img(src="images/partner_1.jpg", alt="ООО БАЛТИЙСКИЕ УЗОРЫ", width="134", height="90")
        .partner__desc
          h3.partner__ttl
            a.partner__lnk(href="#777") ООО "БАЛТИЙСКИЕ УЗОРЫ"
          | Ювелирная компания "Балтийские узоры" производит оригинальные изделия с использованием янтаря, бернита и бирюзы.
        a.partner__category(href="#777") Выставка "Янтарь Балтики - 2015"
      .grid-2.partners__item.partner
        .partner__pic
          img.partner__img(src="images/partner_2.jpg", alt="AMX Москва", width="151", height="66")
        .partner__desc
          h3.partner__ttl
            a.partner__lnk(href="#777") ООО «ЯНТАРНАЯ ВОЛНА»
          | Ювелирная компания специализируется на выпуске ювелирных украшений из серебра и золота со вставками янтаря и бирюзы.
        a.partner__category(href="#777") Выставка - "Янтарь Балтики - 2015"
      .grid-2.partners__item.partner
          .partner__pic
            img.partner__img(src="images/partner_3.jpg", alt="ИП ДАРВИН ОЛЕГ СЕРГЕЕВИЧ", width="145", height="64")
          .partner__desc
            h3.partner__ttl
              a.partner__lnk(href="#777") ИП ДАРВИН ОЛЕГ СЕРГЕЕВИЧ
            | DARVIN Ювелирная студия является ведущей компанией на российском рынке производства и продажи ювелирных изделий.
          a.partner__category(href="#777") Выставка "Янтарь Балтики - 2015"
      .grid-2.partners__item.partner

          .partner__pic
            img.partner__img(src="images/partner_4.jpg", alt="ООО Торговый Дом Строитель", width="155", height="57")
          .partner__desc
            h3.partner__ttl
              a.partner__lnk(href="#777") ООО "Торговый Дом Строитель"
            | В наших магазинах Вас встретит широчайший ассортимент продукции для строительства и ремонта.
          a.partner__category(href="#777") Выставка - "Фасад-2015"
      .grid-2.partners__item.partner

          .partner__pic
            img.partner__img(src="images/partner_5.jpg", alt="КСИЛ", width="155", height="57")
          .partner__desc
            h3.partner__ttl
              a.partner__lnk(href="#777") ООО "КСИЛ"
            | Крупнейшее российское предприятие в области изготовления оборудования детских площадок
          a.partner__category(href="#777") Выставка - "Фасад-2015"
      .grid-2.partners__item.partner

          .partner__pic
            img.partner__img(src="images/partner_6.jpg", alt="Капля", width="140", height="47")
          .partner__desc
            h3.partner__ttl
              a.partner__lnk(href="#777") ООО "Капля"
            | Лучшие фильтры для очистки воды. Продажа установок для водоподготовки любой сложности.
          a.partner__category(href="#777") Выставка - "Фасад-2015"
//end partners
