.clearfix() {
		&:before,
		&:after {
				content: " ";
				display: table;
		}
		&:after {
				clear: both;
		}
}
.font-face(@fontname, @fontfile, @fontweight:400, @fontstyle:normal) {
		font-family: '@{fontname}';
		src: url("@{fontfile}.woff2") format("woff2"), url("@{fontfile}.woff") format("woff");
		font-weight: @fontweight;
		font-style: @fontstyle;
}
