.auth
  .auth__img
    img(ng-src='{{bids.offers[bid.goodsEntryId].userPhoto}}')
  .auth__cnt
    .auth__user(user-name='bids.offers[bid.goodsEntryId].user')
    profile-position(profile='bids.offers[bid.goodsEntryId].user')
