.full-height.cnt-nav-left.statistics.admin
  .content-control
    h4
      translate STATISTICS
  .content
    .content-item
      .users
        .users__row-left.pull-left
          i.app-icon.app-icon-user-large.pull-left
          .users__ttl(translate='REGISTERED_USERS')
          .stat__val.stat__val--xlg {{usersCount}}
        .pull-left
          .users__row-right
            i.app-icon.app-icon-user.pull-left
            .stat__val.stat__val {{filledUsersCount}}
            .users__status(translate='PROFILE_FILLED')
          .users__row-right
            i.app-icon.app-icon-user.gray.pull-left
            .stat__val.stat__val {{notFilledUsersCount}}
            .users__status(translate='PROFILE_NOT_FILLED')
      form.modal-form(action='')
        label.input-default.input-select
          span(translate='BRANCH')
          room-select(room='roomId')
      .stat
        .stat__row
          .stat__title
            i.stat__ico.icon-user.green
            translate USERS_ONLINE
          .stat__list
            span.stat__val.stat__val--lg {{usersOnline}}
        hr
        .stat__row
          .stat__title
            i.stat__ico.icon-chat
            translate CHAT
          .stat__list
            span.stat__val {{totalMessagesCount}}
            span(translate='_OF_POSTS')
        hr
        .stat__row
          .stat__title
            i.stat__ico.icon-tag
            translate PRODUCTS_SERVICES
          .stat__list
            .stat__p
              span.stat__val {{adCount}}
              span(translate='_OF_POSTS')
            .stat__p
              span.stat__val {{goodsCount}}
              span(translate='_OF_GOODS')
            .stat__p
              span.stat__val {{servicesCount}}
              span(translate='_OF_SERVICES')
            .stat__p
              span.stat__val {{pricesCount}}
              span(translate='_OF_PRICES')
            .stat__p--comm
              span.stat__val {{merchantsCommentsCount}}
              span(translate='_OF_COMMENTS')
        hr
        .stat__row
          .stat__title
            i.stat__ico.icon-comments
            translate FORUM
          .stat__list
            .stat__p
              span.stat__val {{topicsCount}}
              span(translate='_OF_THEMES')
            .stat__p
              span.stat__val {{postsCount}}
              span(translate='_OF_POSTS')
        hr
        .stat__row
          .stat__title
            i.stat__ico.icon-tv
            translate VIDEO
          .stat__list
            .stat__p
              span.stat__val {{videoCount}}
              span(translate='_OF_POSTS')
            .stat__p--comm
              span.stat__val {{videoCommentsCount}}
              span(translate='_OF_COMMENTS')
        hr
        .stat__row
          .stat__title
            i.stat__ico.icon-companies
            translate COMPANIES_LIST
          .stat__list
            .stat__p
              span.stat__val {{companyCount}}
              span(translate='_OF_COMPANIES')
        hr
        .stat__row
          .stat__title
            i.stat__ico.icon-block
            translate BLACKLIST
          .stat__list
            .stat__p
              span.stat__val {{blacklistCount}}
              span(translate='_OF_POSTS')
            .stat__p--comm
              span.stat__val {{blacklistCommentsCount}}
              span(translate='_OF_COMMENTS')
        hr
        .stat__row
          .stat__title
            i.stat__ico.icon-job
            translate JOB
          .stat__list
            .stat__p
              span.stat__val {{jobsCount}}
              span(translate='_OF_VACANCIES')
            .stat__p
              span.stat__val {{resumeCount}}
              span(translate='_OF_CV')
        hr
        .stat__row
          .stat__title
            i.stat__ico.icon-reviews
            translate REVIEWS_TITLE
          .stat__list
            .stat__p
              span.stat__val {{reviewCount}}
              span(translate='_OF_POSTS')
            .stat__p--comm
              span.stat__val {{reviewCommentsCount}}
              span(translate='_OF_COMMENTS')
