.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_COMPANY' | translate}}
.modal-body(ng-controller='CompaniesRemoveCtrl')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          .auth__user(user-name='company.user')
    .modal-heading
      .companies__logo.pull-right
        img(ng-src='{{company.logoUrl}}')
      .modal-heading__cnt
        a.modal-heading__txt(ng-href='') {{company.company.fullName}}
        .modal-heading__descr
          | {{company.company.shortDescription}}
    form.modal-form(action='', ng-submit='remove(company.company)')
      .form-body
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea(ng-model='company.company.reason')
        .form-group
          label {{'NOTE_MODERATOR' | translate}}
          .container-textarea
            textarea.small(ng-model='company.company.note')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'DELETE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
