.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_COMPANY' | translate}}
.modal-body
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__addon
            translate ADDED_BY
            | :
          a(href='') Александр Ростов
        .metadata 15.03.2012 17:14
    .modal-heading
      .companies__logo.pull-right
        img(src='https://promarket.pro/storage/tchat/files/1/191631adb8cb4939ba55ccac373f972b/logo.jpg')
      .modal-heading__cnt
        a.modal-heading__txt(ng-href='') ООО «РыбПромСтройИнвест»
        .modal-heading__descr
          | Тут краткое описание компании, которое добавили при размещении компании в каталоге. Текст может быть
          | более одной строки. Еще какой-то текст вот тут будет или не будет.
    form.modal-form
      .form-body
        .form-group
          textarea
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
