@mixin font-face($font-name, $file-name) {
  $font-url: "../fonts/" + $file-name;
	@font-face {
    font-family: $font-name;
		src:  url($font-url + '.eot');
    src:  url($font-url + '.eot?#iefix') format('embedded-opentype'),
			    url($font-url + '.woff2') format('woff2'),
          url($font-url + '.woff') format('woff'),
			    url($font-url + '.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
	}
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin btn-theme($btn-color) {
  background: $btn-color;
  color: #fff;
  font-size: 18px;
  border-radius: $border-radius-btn;
  padding: $btn-padding $btn-styled-padding-h ($btn-padding - 1);

  &:hover,
  &:focus,
  &:active,
  &.active {
    background: darken($btn-color, 6);
    color: #fff;
  }
}

@mixin btn-theme-disabled($btn-color) {
  background: $btn-color;

  &:hover,
  &:focus {
    background: $btn-color;
  }
  &:active,
  &.active {
    background: $btn-color;
  }
}

@mixin inline-list() {
  list-style: none;
  padding: 0;

  &__item {
    display: inline-block;
  }
}

@mixin text-style-caps($font-size: 16px) {
  font-size: $font-size;
  text-transform: uppercase;
}

/// Helper mixin to provide simple API to selector nesting
/// @param {String} $selector - Selector
///
///.foo {
///  // ...
///
///  @include when-inside('.no-opacity') {
///    display: none;
///  }
///}

@mixin when-inside($selector) {
  #{$selector} & {
    @content;
  }
}
