//Fonts

$font-family: 'GothamProRegular';
$font-family-bold: 'GothamProMedium';
$font-family-light: 'GothamProLight';

// Scaffolding

$font-stack: ($font-family, 'Helvetica', 'Arial', sans-serif);
$font-size-base: 14px;
$line-height-base: 1.5;

$main-width: 1180px;

//Colors

$gray-darker: #232323;
$gray-dark: #333;
$gray-middle: #525252;
$gray-middle-2: #666;
$gray: #999;
$gray-light: #d7d7d7;
$gray-light-2: #ccc;
$gray-lighter: #f5f5f5;

$blue-dark: #16568b;
$blue: #3579b3;
$blue-2: #197bb5;
$blue-light: #51a1e4;
$blue-light-2: #98bcff;
$blue-lighter: #cfd8dc;

$blue-gray: #4a4f58;
$blue-gray-light: #777e8b;
$blue-gray-lighter: #b0bec5;
$blue-gray-lighter-2: #eceff1;
$blue-gray-lighter-3: #dae0e2;

$transparent-dark: rgba(#232323, 0.8);

$red: #dd2c00;
$red-2: #d50000;

$green: #8bc34a;

$yellow: #fff568;

//Theme colors

$color-text: $gray-dark;
$color-text-light: $gray;
$color-border: $blue-lighter;
$color-border-light: $blue-gray-lighter-2;
$color-border-gray: $gray-light-2;
$color-extra: $red;

$color-link: $blue;
$color-link-hover: $blue-light;

$background-color-primary: white;
$primary-color: $blue-dark;
$primary-light-color: $blue-2;
$extra-color: $red-2;
$light-color: $green;
$highlight-color: $yellow;

//Grid

$gutter-width: 20px;
$outer-margin: $gutter-width / 2;
$gutter-compensation: -($gutter-width / 2);
$half-gutter-width: $gutter-width / 2;

//Layout

$content-padding: 50px;

//Header

$header-height: 80px;
$header-margin: 25px;
$logo-width: 142px;

$color-navtop: $blue-gray;
$color-navtop-hover: $blue-gray-light;
$color-navtop-active: $blue-dark;


//Footer
$footer-height: 101px;

//Button

$border-radius-btn: 5px;
$btn-padding: 7px;
$btn-styled-padding-h: 20px;
$btn-line-height: 1.4;

$btn-pl-padding-v: 15px;
$btn-pl-padding-h: 35px;

$btn-sm-padding-v: 5px;
$btn-sm-padding-h: 10px;

// Drpdwn

$color-drpdwn: $blue;
$color-drpdwn-menu-item: $gray-dark;
$border-radius-drpdwn: 5px;
$drpdwn-padding-h: $btn-styled-padding-h;

//Form

$checkbox-size: 24px;
$checkbox-padding: 10px;
$radio-size: 24px;
$border-color-checkbox: $blue-gray-lighter;
$border-radius-checkbox: 5px;
$form-group-padding: 20px;
$input-border-radius: 4px;
$input-border-color: $gray-light-2;
