.container
  .row
    .grid
      .block
        //begin block1
        .block__item
          .title-n-link
            a.title-n-link__link(href="#777")
              span.icon.icon--edit-dark
              | Редактировать
            h2.title-n-link__ttl О компании
          p Ювелирная компания "Балтийские узоры" производит оригинальные изделия с использованием янтаря, бернита и бирюзы. Для производства украшений используется отборный балтийский янтарь. Природа создала янтарь совершенным, и мы в своих изделиях стараемся сохранить и подчеркнуть естественную красоту камня. Все этапы создания ювелирного изделия проходят на нашем предприятии, что даёт возможность постоянно контролировать его качество.
          p Многолетний  опыт обработки янтаря применяется и в работе с  бирюзой, а также с относительно новым материалом на рынке ювелирных изделий – бернитом.
          .company-info
            .row
              .grid-6
                .company-info__ttl Контактная информация
                | Россия, г. Калининград,
                | ул. Театральная, д. 34, офис 118
                | Калининград: +7 (4012) 50-77-58
                | Москва: +7 (499) 709-73-87
                | www.expowebsite.ru
                br
                br
                b Зверев Виталий Владимирович
                | Генеральный директор
                | ИНН: 7728168999
              .grid-6
                .company-info__ttl Реквизиты
                b Номер счета:
                | 40897890604550023665
                b Банк получателя:
                | АО «Альфа-Банк», г. Москва
                b БИК:
                | 044525593
                b Кор. Счет:
                | 30101810212300000599
                b ИНН Банка:
                | 7728168971
                b КПП Банка:
                | 775001001
        //end block1
        //begin block2
        .block__item
          .title-n-link
            a.title-n-link__link(href="#777") + Добавить новость
            h2.title-n-link__ttl Новости компании
          //begin media
          article.media.media--stack
            .media__pic
              img(src="images/partner_1.jpg", alt="", width="110", height="90")
            .media__body
              h4.media__ttl
               a(href="#777") ООО «Балтийские узоры»
              | Ювелирная компания "Балтийские узоры" производит оригинальные изделия с использованием янтаря, бернита и бирюзы.
          article.media.media--stack
            .media__body
              h4.media__ttl
               a(href="#777") ООО «Балтийские узоры»
              | Ювелирная компания "Балтийские узоры" производит оригинальные изделия с использованием янтаря, бернита и бирюзы.
          //end media
        //end block2
        //begin block3
        .block__item
          .past-events
            h2.past-events__ttl Прошедшие мероприятия
            .past-events__cnt
              a.past-events__link(href="#777") Выставка инфраструктуры аэропортов и гражданской авиации
              a.past-events__link(href="#777") Международная выставка нижнего белья
              a.past-events__link(href="#777") 12-я Всероссийская стоматологическая выставка-ярмарка
              a.past-events__link(href="#777") 7-й международный фестиваль технологий продвижения и рекламы
              a.past-events__link(href="#777") Международная специализированная выставка товаров для дома премиум-класса
              a.past-events__link(href="#777") Выставка-продажа щенков и котят разных пород
              a.past-events__link(href="#777") Выставка полиуретановых материалов, технологий производства полиуретанов
              a.past-events__link(href="#777") Международная специализированная выставка Высокого Интерьера премиум-класса
        //end block3


    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            button.btn.btn--lg.btn--primary-light.sidebar__btn(type="button") Создать выставку
        .sidebar__item
          .sidebar-block
            h2 Сотрудники
            .media.media--stack
              .media__pic
                img(src="images/content/employee-0.jpg", alt="", width="110", height="130")
              .media__body
                b
                  | Сердюков
                  br
                  | Леонид Валерьевич
                br
                | Менеджер по организации конгресс-мероприятий
                .media__footer
                  | +7 (4012) 590-672, 590-650
                  br
                  a(href="mailto:congress@kaliningrad-cci.ru") congress@kaliningrad-cci.ru
            .media.media--stack
              .media__pic
                img(src="images/content/employee-1.jpg", alt="", width="110", height="130")
              .media__body
                b
                  | Сердюкова
                  br
                  | Марина Николаевна
                br
                | Вице-президент, Руководитель правового департамента
                .media__footer
                  | +7 (4012) 590-672, 590-650
                  br
                  a(href="mailto:congress@kaliningrad-cci.ru") congress@kaliningrad-cci.ru
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Отрасль
            a(href="#777") Оружие
            | ,
            a(href="#777") Охота и рыбалка
            | ,
            a(href="#777") Спорт
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Регион представления
            | СЗО, Москва и МО, Калининградская область, Уфа, Челябинск, Новосибирск
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Рассказать о компании
            //begin social
            ul.social.social--left
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--fb-lg
                  span.hidden Facebook
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--tw-lg
                  span.hidden Twitter
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--in-lg
                  span.hidden LinkedIn
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--vk-lg
                  span.hidden Вконтакте
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                    span.icon.lnk-social__ico.lnk-social__ico--ok-lg
                    span.hidden Одноклассники
            //end social
      //end sidebar
