.container
  .title-n-link
    a.title-n-link__link(href="#777") + Добавить новость
    h2.title-n-link__ttl Новости выставки
  .row
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="images/n_1.jpg", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl
           a(href="#777") Форум «Передовые Технологии Автоматизации. ПТА - Санкт-Петербург 2015»
          | 28 мая 2015 года на VIII компания «Ракурс» представит отечественные разработки в рамках секции «Импортозамещение в сфере автоматизации: продукты и решения».            
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="images/n_6.jpg", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl
            a(href="#777") В Минэнерго России состоялось заседание межведомственного координационного совета по вопросам энергосбережения
          | 15 мая 2015 года в Минэнерго России состоялось заседание межведомственного координационного совета по вопросам энергосбережения и повышения энергоэффективности.
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="../images/n_8.png", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl
           a(href="#777") «Связь-Экспокомм-2015» и первый Большой Медиа- Коммуникационный Форум – главное весеннее событие отрасли связи и телекоммуникаций
          | 12 мая в Экспоцентре на Красной Пресне состоялось открытие 27-й международной выставки телекоммуникационного оборудования, систем управления, информационных технологий и услуг связи «Связь- Экспокомм-2015»
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="images/n_3.jpg", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl
           a(href="#777") Выставка Сhina E-Brand Expo 2015 успешно завершилась
          | 15-го мая 2015 года в ЦВК «ЭКСПОЦЕНТР» была официально завершена 4-дневная выставка электроники и электроприборов русско-китайских брендов 2015 года.
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="images/n_4.jpg", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl
           a(href="#777") Smile-Expo открывает рынок антитабачных ингаляторов в России
          | 19-20 июня в Москве состоится уникальное для Восточной Европы событие: Первая конференция и выставка электронных антитабачных ингаляторов, электронных сигарет, VAPEXPO-2015
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="images/n_5.jpg", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl
           a(href="#777") Конференция «Предприятия плитной промышленности: оптимизация и управление затратами» на Woodex Moscow 2015
          | 25 ноября 2015 года в Москве в рамках международной выставки Woodex Moscow состоится традиционная Конференция по древесным плитам.
    .grid-4.box
      article.media.box__inner
        .media__body
          .media__date 13.03.2015
          h4.media__ttl
            a(href="#777") Ростелеком с длинным заголовком и без изображения
          | ОАО «Ростелеком» - национальная телекоммуникационная компания России. «Ростелеком» разрабатывает комплекс ные решения.
