.container
  .row
    .grid-8
      .block
        //begin block1
        .block__item
          .title-n-link
            a.title-n-link__link(data-toggle="modal", href="#modal-add-prod-serv") + Добавить товары/услуги
            h2.title-n-link__ttl Продукция компании
          //begin media
          article.media.media--product
            .media__pic
              img(src="images/content/stand_3.jpg", alt="", width="240", height="153")
            .media__body
              .title-n-link
                a.title-n-link__link.title-n-link__link--h4(href="#777")
                  span.icon.icon--edit-dark
                  | Редактировать
                h4.media__ttl.title-n-link__ttl Янтарь
              | Syntha-6 – протеиновая смесь содержит протеины с быстрым, средним и медленным периодом высвобождения питательных веществ, что гарантирует постоянной приток аминокислот в мышцы в течение долгого времени.
              .media__lnks.media-lnks
                a.media-lnks__item(href="#777")
                  span.icon.icon--doc
                  | Каталог продукции 2015
                a.media-lnks__item(href="#777")
                  span.icon.icon--xls
                  | Маркетинг-кит 2105
          article.media.media.media--product
            .media__pic
              img(src="images/content/stand_3.jpg", alt="", width="240", height="153")
            .media__body
              .title-n-link
                a.title-n-link__link.title-n-link__link--h4(href="#777")
                  span.icon.icon--edit-dark
                  | Редактировать
                h4.media__ttl.title-n-link__ttl Бернит
              | Syntha-6 – протеиновая смесь содержит протеины с быстрым, средним и медленным периодом высвобождения питательных веществ, что гарантирует постоянной приток аминокислот в мышцы в течение долгого времени.
              .media__lnks.media-lnks
                a.media-lnks__item(href="#777")
                  span.icon.icon--pdf
                  | Каталог продукции 2015
                a.media-lnks__item(href="#777")
                  span.icon.icon--jpg
                  | Маркетинг-кит 2105
          article.media.media.media--product
            .media__body
              .title-n-link
                a.title-n-link__link.title-n-link__link--h4(href="#777")
                  span.icon.icon--edit-dark
                  | Редактировать
                h4.media__ttl.title-n-link__ttl Бирюза
              | Syntha-6 – протеиновая смесь содержит протеины с быстрым, средним и медленным периодом высвобождения питательных веществ, что гарантирует постоянной приток аминокислот в мышцы в течение долгого времени.
              .media__lnks.media-lnks
                a.media-lnks__item(href="#777")
                  span.icon.icon--zip
                  | Каталог продукции 2015
          //end media
        //end block1
