.text-quote.ng-scope
  i.app-icon.app-icon-67
  p.text-quote-content
    span(xmsg='message.HtmlText')
    br
  p
    | –
    span.text-quote-author
      a(href='', ng-click='$parent.showUserPopup(message.user.UserId)', ng-bind='message.user.FullName')
    span.text-quote-date {{message.date | date}}
