.content-item
  .container-fluid.s-inds
    .row
      .col-md-8.col-md-offset-2
        ul.lst-inds.clearfix
          li.lst-inds__item
            a.lnk-dark.lst-inds__lnk(href='', ui-sref='app.forum-room({roomId: "497-Consumer-goods"})')
              .lst-inds__img
                img.img-circle(src='img/content/industries/pic-00.jpg', width='154', height='154', alt="{{'ConsumerGoods' | translate}}")
              .lst-inds__ttl
                span
                  translate ConsumerGoods
          li.lst-inds__item
            a.lnk-dark.lst-inds__lnk(href='', ui-sref='app.forum-room({roomId: "496-Industrial-goods"})')
              .lst-inds__img
                img.img-circle(src='img/content/industries/pic-01.jpg', width='154', height='154', alt="{{'ManufacturedGoods' | translate}}")
              .lst-inds__ttl
                span
                  translate ManufacturedGoods
          li.lst-inds__item
            a.lnk-dark.lst-inds__lnk(href='', ui-sref='app.forum-room({roomId: "281-Services"})')
              .lst-inds__img
                img.img-circle(src='img/content/industries/pic-02.jpg', width='154', height='154', alt="{{'ServicesForBusiness' | translate}}")
              .lst-inds__ttl
                span
                  translate ServicesForBusiness
