.paginator
  ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
table.table.table-forum-topics.forum-topics-list(ng-class="{ 'mt-zero': pagination.pageCount == 1 }")
  thead
    tr
      th
      th {{'THEMES' | translate}}
      th.topic-popular
      th.forum-sponsors
      th.padding
      th.icons
      th
        i.app-icon.app-icon-101
      th.forum-comments
        i.app-icon.app-icon-95
      th.padding
      th {{'LAST_MESSAGE' | translate}}
  tbody
    tr(ng-repeat='topic in threads')
      td.forum-status
        i.app-icon(ng-class="'app-icon-topic-' + topic.status")
      td.table-title
        a(ng-href="{{ appPath((type ? 'threads/' + type : '') + '/topic/' + topic.id) }}") {{topic.title}}
        i.app-icon.app-icon-41.moder-topic-icon(ng-if='myProfile.IsModerator', ng-click="newWinRoute( '/admin/?threadId=' + topic.id, { roomId: null } )")
      td.topic-popular
        div(ng-show='topic.popular')
          i.app-icon.app-icon-topic-popular
          |      {{'POPULAR_THEME' | translate}}
      td.table-sponsor
        div(ng-init='sponsor=topic', ng-include="'views/app/forum/_sponsor-logo.html'")
      td.padding
      td.icons
        div(vote='topic.voteOptions')
      td.table-views {{topic.viewCount}}
      td.table-comments {{topic.messageCount}}
      td.padding
      td.table-author(ng-include="'views/app/auth/_topic.html'")
.paginator
  ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
