.full-height(ng-controller='ForumIndexCtrl')
  .full-height.cnt-nav-left.forum.forum-category(ng-controller='ForumSearchCtrl')
    .content-control
      h4 {{'FORUM' | translate}}
      button.btn.btn-df.btn-small(ng-click="appRoute('/')") {{'GO_BACK' | translate}}
      form.pull-right(ng-submit='search()')
        input.form-control.input-sm.input-large(type='text', placeholder="{{'FORUM_SEARCH_PLACEHOLDER' | translate}}", ng-model='query')
    .content
      .content-item
        ul.breadcrumb
          li
            a(ng-href="{{ appPath('/') }}")
              translate FORUM_LIST
        ng-include(src="'views/app/forum/_topics-list.html'")
        include ../../includes/forum-users
