.full-height.cnt-nav-left.forum.forum-category(ng-controller='ForumSectionCtrl')
  include ../../includes/forum-content-control
  mixin forum-content-control('Section')
  .content
    .content-item
      ul.breadcrumb
        li
          a(ui-sref='app.forum-room({roomId: $room.quirks.forum.parentForumRoomId})', ng-bind='rootSection.Title')
        li(ng-if='section')
          a(ng-href="{{ appPath('/section/' + section.Id) }}", ng-bind='section.Title')
        li(ng-if="indexType == 'popular'", translate='ACTIVE_THEMES')
        li(ng-if="indexType == 'all'", translate='NEW_PUBS')
      h4(ng-bind='section.Title')
      ng-include(src="'views/app/forum/_topics-list.html'")
      include ../../includes/forum-users
