.content-item
  // div ng-hide="threadsLoaded" class="loading" translate="LOADING"></div
  table.table.table--admin
    tbody
      tr(ng-repeat='post in posts', ng-class="{'table__tr--active': !post.isApproved}")
        td(ng-init='')
          .clearfix
            .pull-left
              .table__metadata
                .metadata.right-bordered
                  | {{'BRANCH' | translate}}:
                  room-info(room-id='post.roomId')
                    a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
                .metadata
                  | {{'CATEGORY' | translate}}:
                  a(ng-click="newWinRoute(['section', post.section.Id], {roomId: post.roomUrlName})")
                    | {{
                    | post.section.Title }}
              .table__metadata
                | {{'THEME' | translate}}: 
                a(ng-click="newWinRoute(['topic', post.thread.Id], {roomId: post.roomUrlName})")
                  | {{
                  | post.thread.Title }}
              .table__metadata
                .metadata.right-bordered
                  .auth__addon
                    translate ADDED_BY
                    | :
                  .auth__user(user-name='post.user')
                .metadata {{ post.createDateTime | date:'medium' }}
                // <a class="metadata" href="">{{'GO_TO_MESSAGE_IN_THEME' | translate}}</a>
            .my-edit-controls.pull-right
              div(ng-hide="searchParams.state == 'deleted'")
                button.btn.btn-df.btn-primary(ng-hide='post.isApproved', ng-click='approve(post)')
                  i.app-icon.app-icon-124
                button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'admin/forum/post-edit', class: 'mdl-app modal-admin', cb: reload, scope: {post: post}})")
                  i.app-icon.app-icon-79
                .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
                  button.btn.btn-df.btn-moderate.dropdown-toggle(ng-click='remove(post)')
                    i.app-icon.app-icon-moderate
                  ul.dropdown-menu.dropdown-moderate__menu
                    li
                      a(href='', ng-click="openModal({tpl: 'admin/forum/post-move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { post: post }})")
                        i.app-icon.app-icon-move
                        translate MOVE
                    li
                      a(href='', ng-click="openModal({tpl: 'admin/forum/post-delete', class: 'mdl-app modal-admin', cb: reload, scope: { post: post }})")
                        i.app-icon.app-icon-99
                        translate DELETE
              button.btn.btn-df(ng-show="post.deletedStatus == 'Deleted'", ng-click='restore(post)')
                i.app-icon.app-icon-deleted
          .table__message
            span(xmsg='post.htmlText')
  .paginator(paginator='pageOptions', watch='posts.length')
