.content-sub-control
  .pull-right
    form.form-inline.pull-right(action='', ng-submit='locationSearch({query: searchParams.query})')
      input.form-control.input-sm.input-large(ng-model='searchParams.query', ng-required='', type='text', placeholder="{{'FORUM_SEARCH_PLACEHOLDER' | translate}}")
      button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SEARCH' | translate}}
  .btn-group.pull-left
    button.btn.btn-df.btn-small(type='button', ng-click="locationSearch({'search-state': 'notapproved', 'threadId': null})", ng-model='searchParams.state', btn-radio="'notapproved'")
      | {{'UNCHECKED' | translate}}
    button.btn.btn-df.btn-small(type='button', ng-click="locationSearch({'search-state': 'active', 'threadId': null})", ng-model='searchParams.state', btn-radio="'active'")
      | {{'ACTIVE' | translate}}
    button.btn.btn-df.btn-small(type='button', ng-click="locationSearch({'search-state': 'deleted', 'threadId': null})", ng-model='searchParams.state', btn-radio="'deleted'")
      | {{'DELETED' | translate}}
