.content-item
  // div ng-hide="threadsLoaded" class="loading" translate="LOADING"></div
  table.table.table--admin(ng-class='')
    tbody
      tr(ng-repeat='thread in threads', ng-class="{'table__tr--active': !thread.isApproved}")
        td.table-status
          i.app-icon(ng-class="'app-icon-topic-' + thread.status")
        td.table-title
          a(ng-click="newWinRoute('/topic/' + thread.Id, {roomId: thread.roomUrlName})") {{ thread.title }}
          .table__metadata.location
            .metadata.right-bordered
              | {{'BRANCH' | translate}}:
              room-info(room-id='thread.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
            .metadata
              | {{'CATEGORY' | translate}}:
              a(ng-click="newWinRoute([thread.roomUrlName, 'section', thread.sectionId])")
                | {{ thread.section.Title
                | }}
        td.table-icons.icons
          div(vote='thread.voteOptions')
          span.icons-item
            i.app-icon.app-icon-95
            |  {{ thread.messageCount }}
        td.padding
        td.table-author(ng-include="'views/app/auth/_thread.html'")
        td.table-actions.my-edit-controls
          div(ng-hide="searchParams.state == 'deleted'")
            button.btn.btn-df.btn-primary(ng-hide='thread.isApproved', ng-click='approve(thread)')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'admin/forum/topic-edit', class: 'mdl-app modal-admin', scope: {thread: thread}})")
              i.app-icon.app-icon-79
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle(ng-click='remove(thread)')
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li(ng-if='thread.isLocked')
                  a(href='', ng-click='open(thread)')
                    i.app-icon.app-icon-unlock
                    translate OPEN
                li(ng-if='!thread.isLocked')
                  a(href='', ng-click='close(thread)')
                    i.app-icon.app-icon-lock
                    translate CLOSE
                li(ng-if='thread.isPinned')
                  a(href='', ng-click='unpin(thread)')
                    i.app-icon.app-icon-unpin
                    translate UNPIN
                li(ng-if='!thread.isPinned')
                  a(href='', ng-click='pin(thread)')
                    i.app-icon.app-icon-unpin
                    translate PIN
                li
                  a(href='', ng-click="openModal({tpl: 'admin/forum/topic-move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: {thread: thread}})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/forum/topic-delete', class: 'mdl-app modal-admin', cb: reload, scope: {thread: thread}})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-click='restore(thread)', ng-show="searchParams.state == 'deleted'")
            i.app-icon.app-icon-deleted
  .paginator(paginator='pageOptions', watch='threads.length')
