.full-height.cnt-nav-left.forum.admin(ng-controller='ForumCtrl')
  tabset.app-tabset
    li
      h4.nav-tabs__header {{'FORUM' | translate}}
    tab(ng-repeat='tab in tabs', heading='{{ tab.heading | translate }}', active='tab.active', select='selectTab(tab.name)', disabled='tab.disabled || routeInProgress || customProgress')
      ng-include(src='tab.template', ng-if='tab.active')
