.categories {

  &__inner {
    background: $gray-lighter;
  }  
}

.lst-categories {
  column-count: 6;
  padding-top: 15px;
  padding-bottom: 15px;

  &__lnk {
    font-family: $font-family-light;
    font-size: 12px;
    color: $gray-middle-2;
    text-decoration: underline;
    padding: 5px 0;
    display: inline-block;
  }
}
