.contact-info {
  margin-bottom: 45px;
}

.contact {

  & + & {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $color-border-light;
  }

  &,
  &__body {
    overflow: hidden;
  }

  &__pic,
  &__body {
    display: table-cell;
    vertical-align: top;
  }

  &__pic {
    width: 110px;
    height: 90px;
    padding-right: 20px;
  }
  &__name {
    font-family: $font-family-bold;
  }
  &__position {
    padding-bottom: 10px;
  }
}

.map-canvas {
  width: 100%;
  height: 500px;
  background-color: $gray-light-2;

  iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

#j-map {
  
  iframe {
    pointer-events:none;
  }
}
