.cover {
  background-image: url('../images/bg-cover.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #f0f0f0;
  padding-top: 66px;
  padding-bottom: 66px;
  min-height: 400px;
  width: 100%;

  &--home {
    min-height: 580px;
    background-image: url('../images/bg-cover-home.jpg');
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &--exhibition {
    padding: 0;
  }

  &__ttl {
    color: white;
    font-size: 60px;
    line-height: 1;
    padding-bottom: 0;
  }
  &__subttl {
    color: white;
    padding-top: 0;
    padding-bottom: 10px;
  }
  &__actions,
  &__search {
    margin-top: 30px;
  }
}

@media (min-width: 2000px) {
  .cover {
    background-size: cover;
  }
}

.cover-search {
  background: $transparent-dark;
  color: white;
  padding: 40px 110px 36px;
  border-radius: 10px;
  text-align: left;

  &__col1 {
    display: inline-block;
  }
  &__col2 {
    float: right;
  }
  &__ttl {
    font-family: $font-family-bold;
    margin-bottom: 25px;
  }
  &__row {
    margin-right: -40px;
    margin-left: -40px;
    padding-top: $form-group-padding;
  }
  &__grid {
    padding-left: 40px;
    padding-right: 40px;
    &:not(:last-child) {
      border-right: 1px solid #6b6d6d;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }
  }
}

.cover-actions {

  &__btn {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.cover-search-more {

  &__lnk {
    font-family: $font-family-light;
    border-bottom: 1px dashed white;

    &,
    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}

.lnk-more {
  &__show {
      display: none;
  }
  &__hide {
    display: inline-block;
  }

  &.collapsed &__show {
    display: inline-block;
  }
  &.collapsed &__hide {
    display: none;
  }
}

.cover-desc {
  width: 700px;
  background: $transparent-dark;
  font-family: $font-family-light;
  color: white;
  padding: 25px 40px;

  &__ttl {
    color: white;
    font-size: 36px;
  }
  p {
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

$short-descr-padding: 20px;
.short-descr {
  background: white;
  width: 260px;
  padding: $short-descr-padding;

  &__date {
    color: $gray-middle;
    font-size: 24px;
    padding-top: $short-descr-padding;
    line-height: 1.1;
  }
  &__place {
    font-size: 12px;
    padding-top: $short-descr-padding;
  }
  &__label {
    font-family: $font-family-bold;
    font-size: 12px;
    padding-top: $short-descr-padding;
    color: $light-color;

    &--dark {
      color: $gray-darker;
    }
    &--extra {
      color: $color-extra;
    }
  }
}
