.footer {
  border-top: 1px solid $color-border-light;

  &__row {
    align-items: center;
    height: 100px;
  }
}

.copy {
  margin-top: 8px;
}

.sponsor {
  text-align: center;

  &__lnk {
    display: inline-block;
    text-align: left;
    color: $color-text;
    line-height: 1.1;

    &:hover {
      color: $color-text;
    }
  }
  &__ico {
    @include sprite($KTPP);
    margin-right: 10px;
  }
  &__text {
    border-bottom: 1px solid $gray-light;
  }
  &__ico,
  &__text {
    display: inline-block;
    vertical-align: middle;
  }
}
