.headline {
  padding-bottom: $content-padding;

  &__title {
    padding-bottom: 0;
  }
  &__back {
    text-align: right;
  }
  &--bordered {
    border-bottom: 1px solid $color-border-light;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

.headline-back {

  &__btn {
    padding-top: 5px;
  }
}
