.header {
  border-bottom: 1px solid #eceff1;

  &__logo {
    max-width: $logo-width + $gutter-width;
  }

  &__right {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &__right-item {
    display: inline-block;
  }
}

.logo {

  &__lnk {
    display: block;
    margin: auto;
  }
}

.search {

  &__ico {
    @include sprite($search);
  }
}

.city {
  margin-left: $header-margin;

  &__btn {
    min-width: 170px;
  }
}

.lang {
  font-family: $font-family-light;
  color: $gray;
  margin-left: $header-margin;
  text-decoration: underline;

  &__ico {
    @include sprite($lock);
    display: inline-block;
    margin-right: 5px;
  }
}

.btn-sign-up {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: $header-margin;
  padding: 0;

  &:hover,
  &:focus,
  .open & {
    background: $primary-light-color;
  }

  &__ico {
    @include sprite($key);
    margin: auto;

    &--account {
      @include sprite($user);
    }
  }
}

.drpdwn-sign-up {
  background: $blue-dark;
  right: 0;
  left: auto;
  top: calc(100% + 12px);
  padding: 10px 0;
  border-radius: 10px;
  margin: 0;

  &::before {
    content: '';
    position: absolute;
    top: -17px;
    right: 10px;
    background-image: url('../images/sprite/sprite.png');
    @include sprite($sign-up);
  }

  &__lnk {
    background: transparent!important;
    color: white!important;
    opacity: 0.7;
    padding: 5px 15px!important;

    &:hover {
      color: white!important;
      text-decoration: underline!important;
      opacity: 1;
    }
  }
  &__ico {
    display: inline-block!important;
    vertical-align: middle;
    margin-right: 12px;

    &--login {
      @include sprite($login);
    }
    &--reg {
      @include sprite($registration);
    }
    &--settings {
      @include sprite($settings);
    }
    &--exit {
      @include sprite($exit);
    }
  }
}
