.content {
  padding-top: $content-padding;

  &__item {
    padding-bottom: $content-padding;
  }
}

.block {

  &__item {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-border-light;
    margin-bottom: 24px;

    &--pt {
      padding-top: 24px;
    }

    &:last-child {
      border: 0 none;
      margin-bottom: 0;
    }

    h3 {
      padding-top: 0;

      &:last-child {
        padding-bottom: 0;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }

    ul {
      li {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.social {
  text-align: right;
  @include inline-list();
  margin-left: -6px;

  &--left {
    text-align: left;
  }

  &__item {
    margin-left: 6px;
  }
}

.lnk-social {

  &__ico {

    &--vk {
      @include sprite($vk);
    }
    &--fb {
      @include sprite($fb);
    }
    &--insta {
      @include sprite($instagram);
    }
    &--fb-lg {
      @include sprite($fb-lg);
    }
    &--vk-lg {
      @include sprite($vk-lg);
    }
    &--in-lg {
      @include sprite($in-lg);
    }
    &--tw-lg {
      @include sprite($tw-lg);
    }
    &--ok-lg {
      @include sprite($ok-lg);
    }
  }
}

.actions {
  margin-top: 40px;

  &__btn {
    & + & {
      margin-left: 20px;
    }
  }
}
