.media {

  &,
  &__body {
    overflow: hidden;
  }

  &__pic,
  &__body {
    display: table-cell;
    vertical-align: top;
  }

  &__pic {
    width: 130px;
    height: 90px;
    padding-right: 20px;
    text-align: center;

    &--sm {
      height: auto;
    }
  }
  &__pic-del {
    text-align: center;
    margin-top: 10px;

  }
  &__img {
    margin-bottom: 15px;
    max-height: 90px;
  }
  &__footer {
    padding-top: 10px;
  }
  &__footer &__label {
    float: right;
  }
  &__info {
    padding-top: 10px;
  }
  &__date {
    font-size: 12px;
    color: #999;
    margin-bottom: 2px;
  }
  &__label {
    display: inline-block;
    font-size: 12px;
    color: white;
    background: $light-color;
    padding: 3px 10px 2px;

    &--extra {
      background: $extra-color;
    }
  }
  &__lnks {
    padding-top: 10px;
  }

  &--stack {
    & + & {
      margin-top: 30px;
    }
  }
  &--product &__pic {
    width: 260px;
    height: 153px;
  }
  &--ex &__pic {
    width: 240px;
    height: 109px;
  }
  &--ex,
  &--product {
    &:not(:last-child) {
      padding-bottom: 25px;
      border-bottom: 1px solid $color-border-light;
      margin-bottom: 25px;
    }
  }
  &--account &__pic {
    width: 240px;
    height: 259px;
  }
  &--account &__body {
    width: (780px - 240);
  }
}

.media-lnks {

  &__item {
    margin-right: 40px;
  }
}

.media-info {
  font-size: 12px;

  &__item {
    & + & {
      margin-top: 10px;
    }
  }
}
