.navtop {
  display: flex;

  &__item {
    margin-left: $header-margin;
    margin-right: $header-margin;
  }
  &__lnk {
    display: flex;
    align-items: center;
    height: $header-height;
    font-size: 18px;
    color: $color-navtop;
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-navtop-hover;
    }

    .active & {
      color: $color-navtop-active;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $color-navtop-active;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 3px;
        background: $color-navtop-active;
      }
    }
  }
}

$navbottom-padding: 25px;

.navbottom {
  display: inline-block;
  vertical-align: middle;

  &:first-child {
    padding-right: $navbottom-padding;
    margin-right: $navbottom-padding;
    border-right: 1px solid $color-border-gray;
  }

  &--cols {
    column-count: 2;
    column-gap: $navbottom-padding;
  }
}
