.partner {
  position: relative;

  &__pic {
    width: 180px;
    height: 120px;
    display: flex;
    border-bottom: 1px solid $color-border;
  }
  &__img {
    margin: auto;
    height: 60px;
    width: auto;
  }
  &__ttl {
    font-family: $font-family;
  }
  &__lnk {
    text-decoration: none;
  }
  &__desc {
    height: 255px;
    overflow: hidden;
  }
}
