.collapse-search {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  	height: 20px;
  	width: 20px;

  	&::before,
  	&::after {
  		content: '';
  	  position: absolute;
      height: 2px;
      width: 20px;
      top: 50%;
      left: 0;
  	  background: white;
  	}
  	&::before {
  		-webkit-transform: rotate(45deg);
    					transform: rotate(45deg);
  	}
  	&::after {
  		-webkit-transform: rotate(-45deg);
  						transform: rotate(-45deg);
  	}
  }
}

.highlight {
  background-color: $highlight-color;
  padding: 6px 5px 4px;
}
