.sidebar {
  padding-top: 10px;
  padding-left: 90px;

  h2 {
    margin-top: -10px;
  }

  &__item {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-border-light;
    margin-bottom: 24px;

    &:last-child {
      border-width: 0;
    }
  }
  &__btn {
    display: block;
    width: 100%;

    & + & {
      margin-top: 10px;
    }
  }
  &__form {
    padding-top: 10px;
  }
}

.sidebar-lnks {
  &__item {
    font-size: 12px;
    display: inline-block;
    width: 49%;
  }
}

.sidebar-block {

  & + &,
  &--pd {
    padding-top: 24px;
  }
  &__ttl {
    font-family: $font-family-bold;
  }
}
