.thumbnails {
  padding-bottom: 15px;
}

.thumbnail {
  margin-bottom: 70px;

  &__pic {
    position: relative;
    overflow: hidden;
    height: 192px;

    img {
      width: auto;
      height: 100%;
    }
  }
  &__lnk {
    text-decoration: none;
  }
  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
