.app__header
  a.app__logo(href='', ng-click='header.goToMain()')
    img(src='img/logo-app.svg', alt='Promarket', width='141', height='32')
  ul.app__actions.nav-actions
    li.nav-actions__item.dropdown.drdwn(ng-show='loggedIn')
      .nav-actions__lnk.dropdown-toggle
        i.nav-actions__ico.icon-info
      ul.dropdown-menu
        li
          a(href='', ng-click="route('/how-it-works')")
            translate HOW_IT_WORKS
        li
          a(href='', ng-click="openModal({tpl: 'faq', class: 'mdl-app modal-faq-rules', scope: {faq: FAQ}})")
            translate Q_A
        li
          a(href='', ng-click="openModal({tpl: 'rules', class: 'mdl mdl-md'})")
            translate CHAT_RULES
        li
          a(href='', ng-click="route('/support')")
            translate SUPPORT_HEADER
    li.nav-actions__item
      form.search-form(ng-submit='header.search(query)')
        .input-group.lst-typeahead.lst-typeahead--rel
          input.form-control.input-sm.search-form__input(required='', type='text', ng-model='query', typeahead-min-length='1', typeahead='room as (room.names[currentLang] || room) for room in header.searchSuggestions.get($viewValue) | filter:$viewValue', typeahead-on-select='header.search($item)', placeholder="{{ 'SEARCHFIELD_PLACEHOLDER2' | translate}}")
          span.input-group-btn
            button.btn.search-form__btn(type='submit')
              i.icon-search.search-form__ico
  ul.app__actions.nav-actions.pull-right(ng-show='loggedIn && !jail')
    li.nav-actions__item
      button.btn.btn-df.btn-create.nav-actions__btn.hidden-xs.hidden-sm(ng-click="")
        translate Buy.PublishPurchase
    li.nav-actions__item
      button.btn.btn-df.btn-create.nav-actions__btn(ng-click="header.smsSettings()")
        i.nav-actions__ico.nav-actions__ico--lg.icon-sms
        |&nbsp;
        translate.visible-lg-inline-block Sms.Subscription
        |&nbsp;
    li.nav-actions__item.dropdown.drdwn(ng-controller='NotificationsCtrl')
      .nav-actions__lnk.event-dropdown-toggle
        .alert-num(ng-show='bidsNotificationCounter > 0', ng-bind='bidsNotificationCounter') 1
        i.nav-actions__ico.nav-actions__ico--lg.icon-bid
      .dropdown-menu.dropright.notification
        .notification__ttl
          translate Bids
          a.notification__act(ui-sref='app.my.bids.other-goods')
            | мои ставки
        ul.notification__lst
          li.notification__item(metrika="'bid-notify-click'", ng-if='bidsNotifications.length > 0', ng-repeat='notification in bidsNotifications', ng-class='{highlight: !notification.IsRead}', notification-readable='notification')
            i.notification__close.icon-close2(ng-click='deleteNotification(notification.Id)')
            .notification__date(ng-bind='::notification.date')
            a.notification__lnk(href='', ng-click='route(notification.Link)', ng-if='notification.Link')
              span(xmsg='notification.NotificationText')
            .notification__msg(ng-if='!notification.Link')
              span(xmsg='notification.NotificationText')
          li.notification__item(ng-if='!bidsNotifications.length')
            translate NOTIFICATIONS.NO_NOTIFICATIONS
    li.nav-actions__item.nav-actions__item--brdr
      .nav-actions__lnk(ng-class="{'active': inLocation('my-messages')}", metrika="'header-messages'", ng-click="route('/my-messages' + (header.messengerCounters.state.all.lastUserId ? '?user-id=' + header.messengerCounters.state.all.lastUserId : ''))")
        .alert-num.blink(ng-show='header.messengerCounters.state.all.count > 0', ng-bind='header.messengerCounters.state.all.count')
        i.nav-actions__ico.icon-messages
    li.nav-actions__item.nav-actions__item--brdr.dropdown.drdwn(ng-controller='NotificationsCtrl')
      .nav-actions__lnk.event-dropdown-toggle
        .alert-num(ng-show='notificationCounter > 0', ng-bind='notificationCounter')
        i.nav-actions__ico.icon-notif
      .dropdown-menu.dropright.notification
        .notification__ttl
          translate NOTIFICATIONS.NOTIFICATIONS
          a.notification__act(href='', ng-click="openModal({tpl: 'notification-settings', class: 'mdl-app modal-small'})")
            translate SETTINGS
        ul.notification__lst
          li.notification__item(ng-if='notifications.length > 0', ng-repeat='notification in notifications', ng-class='{highlight: !notification.IsRead}', notification-readable='notification')
            i.notification__close.icon-close2(ng-click='deleteNotification(notification.Id)')
            .notification__date(ng-bind='::notification.date')
            a.notification__lnk(href='', ng-click='route(notification.Link)', ng-if='notification.Link')
              span(xmsg='notification.NotificationText')
            .notification__msg(ng-if='!notification.Link')
              span(xmsg='notification.NotificationText')
          li.notification__item(ng-if='!notifications.length')
            translate NOTIFICATIONS.NO_NOTIFICATIONS
    li.nav-actions__item.nav-actions__item--brdr
      .nav-actions__lnk(ng-click='header.showInvite()', tooltip="{{:: 'INVITE_TO_CHAT' | translate}}", tooltip-placement='bottom')
        .alert-num.alert-num--bottom
          span.balance +100
        i.nav-actions__ico.icon-user-add
    li.nav-actions__item.nav-actions__item--brdr.dropdown.drdwn
      .nav-actions__lnk.lnk-prf.dropdown-toggle
        .pull-left
          .lnk-prf__ava
            img.lnk-prf__img(ng-src='{{myAvatar.Url}}', width='20', height='20')
        .lnk-prf__txt(ng-bind='myProfile.FullName')
      ul.dropdown-menu.dropright.nav-myprfl(ng-controller='MyProfileMenuCtrl', ng-include="'views/app/my/_navMyProfile.html'")
    li.nav-actions__item.nav-actions__item--brdr.dropdown.drdwn
      .nav-actions__lnk.dropdown-toggle
        i.nav-actions__ico.icon-conf
      ul.dropdown-menu.dropright
        li
          a(ng-click="openModal({tpl: 'change-language', class: 'mdl-app modal-small'})")
            translate ChangeLanguage
        li
          a(ng-click="openModal({tpl: 'change-password', class: 'mdl-app modal-small'})")
            translate CHANGE_PASS
        li
          a(ng-click="openModal({tpl: 'feature-news-settings', class: 'mdl-app modal-small'})")
            translate NOTIFICATION_SETTINGS
        li
          a(ng-click="header.mailSettings()")
            translate MAIL_SETTINGS
        li.divider
        li
          a(ng-click='logout()')
            translate EXIT
  ul.app__actions.nav-actions.pull-right(ng-show='!loggedIn')
    li.nav-actions__item
      button.btn.btn-df.btn-create.nav-actions__btn(ng-click="")
        translate Buy.PublishPurchase
    li.nav-actions__item
      .nav-actions__lnk.lnk-login(ng-click="openModal({tpl: 'login', class: 'mdl mdl-md'})")
        i.nav-actions__ico.icon-login.lnk-login__ico
        translate ENTER
    li.nav-actions__item.lnk-join(ng-show='!loggedIn')
      button.lnk-join__btn(type='button', ng-click="openModal({tpl: 'registration', class: 'mdl mdl-md mdl-registration'})")
        span
          translate Join
          i.lnk-join__ico.icon-arrow-right
    li.nav-actions__item.nav-actions__item--apps.hidden-sm.hidden-xs
      span.lnk-dwnld__hint.visible-lg-inline-block
        translate DownloadApp
      a.lnk-dwnld(metrika="'ios-download'", ng-if="currentLang == 'ru'", href='https://93018.api-03.com/serve?action=click&publisher_id=93018&site_id=73470&offer_id=323494', target='_blank')
        i.icon-apple.lnk-dwnld__ico
        br
        | iOS
      a.lnk-dwnld(metrika="'ios-download'", ng-if="currentLang == 'en'", href='https://93018.api-03.com/serve?action=click&publisher_id=93018&site_id=73470&offer_id=323496', target='_blank')
        i.icon-apple.lnk-dwnld__ico
        br
        | iOS
      a.lnk-dwnld(metrika="'android-download'", href='https://93018.api-03.com/serve?action=click&publisher_id=93018&site_id=72494&offer_id=323156', target='_blank')
        i.icon-android.lnk-dwnld__ico
        br
        | Android
      a.lnk-dwnld(href='', ng-click='header.downloadClient()', target='_blank')
        i.icon-windows.lnk-dwnld__ico
        br
        | Windows
script.
  $(document).on('touchmove.bounce');
  if ($('html').hasClass('web')) {
  $('html').removeClass('web').addClass('app');
  }
