ul.left-bar-nav(left-bar-scroll='')
  li.left-bar__slide.up
    a.left-bar__slidelnk(href='') {{ piece }}
  li.left-bar__slide.up(ng-show='showLeftBarControls')
    a.left-bar__slidelnk(href='')
      i.app-icon.app-icon-arrow-up
  li.left-bar__item(ng-if="piece == 'admin'", ng-click="route('/comments/' + piece)", ng-class="{'active': $moduleName == 'comments'}", tooltip="{{'COMMENTS' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-list3
      i.app-icon.app-icon-86.left-bar__notif(ng-if="adminCounters.comments > 0 && piece == 'admin'")
    .left-bar__ttl
      translate COMMENTS
  li.left-bar__item(ng-if="piece != 'admin'", ng-click="route('/catalog/' + piece)", ng-class="{'active': $moduleName == 'catalog'}", tooltip="{{'Summary' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-report
    .left-bar__ttl
      translate Summary
  li.left-bar__item(ng-click="route('/chat/' + piece)", ng-class="{'active': $moduleName == 'chat'}", tooltip="{{'CHATS' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-chat
      i.app-icon.app-icon-86.left-bar__notif(ng-if="notifications.Chat || adminCounters.chat > 0 && piece == 'admin'")
    .left-bar__ttl
      translate CHATS
  li.left-bar__item(ng-show='show.GoodsAndServices', ng-click="route('/merchants/' + piece)", ng-class="{active: $moduleName == 'merchants'}", tooltip="{{'PRODUCTS_SERVICES' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-tag
      i.app-icon.app-icon-86.left-bar__notif(ng-if="notifications.GoodsAndServices || notifications.PriceLists || adminCounters.merchants > 0 && piece == 'admin'")
    .left-bar__ttl
      translate PRODUCTS_SERVICES
  li.left-bar__item(ng-show='show.Companies', ng-click="route('/companies/' + piece)", ng-class="{active: $moduleName == 'companies'}", tooltip="{{'COMPANIES_CATALOGUE' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-companies
      i.app-icon.app-icon-86.left-bar__notif(ng-if="notifications.Companies || adminCounters.companies > 0 && piece == 'admin'")
    .left-bar__ttl
      translate COMPANIES_CATALOGUE
  li.left-bar__separator
  li.left-bar__item(ng-if="currentLang == 'ru'", ng-show="piece != 'admin'", ng-click="route('/check/' + $roomName)", ng-class="{active: $moduleName == 'check'}", tooltip="{{'CHECK_TITLE' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-checks
      i.app-icon.app-icon-86.left-bar__notif
    .left-bar__ttl
      translate CHECK_TITLE
  li.left-bar__item(ng-show='show.Blacklist', ng-click="route('/blacklist/' + piece)", ng-class="{active: $moduleName == 'blacklist'}", tooltip="{{'BLACKLIST' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-block
      i.app-icon.app-icon-86.left-bar__notif(ng-if="notifications.Blacklist || adminCounters.blacklist > 0 && piece == 'admin'")
    .left-bar__ttl
      translate BLACKLIST
  li.left-bar__item(ng-show='show.Jobs', ng-click="route('/jobs/' + piece)", ng-class="{active: $moduleName == 'jobs'}", tooltip="{{'JOB' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-job
      i.app-icon.app-icon-86.left-bar__notif(ng-if="notifications.Jobs || adminCounters.jobs > 0 && piece == 'admin'")
    .left-bar__ttl
      translate JOB
  li.left-bar__separator
  li.left-bar__item(ng-show='show.Forum', ng-click="route('/forum/' + piece)", ng-class="{active: $moduleName == 'forum'}", tooltip="{{'FORUM' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-comments
      i.app-icon.app-icon-86.left-bar__notif(ng-if="notifications.Forum || adminCounters.forum > 0 && piece == 'admin'")
    .left-bar__ttl
      translate FORUM
  li.left-bar__item(ng-if="!adminTab", ng-click="route('/gost/' + piece)", ng-class="{active: $moduleName == 'gost'}", tooltip="{{'REGULATIONS' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-gost
    .left-bar__ttl
      translate REGULATIONS
  li.left-bar__item(ng-show='show.Video', ng-click="route('/video/' + piece)", ng-class="{active: $moduleName == 'video'}", tooltip="{{'SECTORAL_VIDEO' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-tv
      i.app-icon.app-icon-86.left-bar__notif(ng-if="notifications.UserVideos || adminCounters.video > 0 && piece == 'admin'")
    .left-bar__ttl
      translate SECTORAL_VIDEO
  li.left-bar__separator
  li.left-bar__item(ng-show='show.Reviews', ng-click="route('/reviews/' + piece)", ng-class="{active: $moduleName == 'reviews'}", tooltip="{{'REVIEWS_TITLE' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-reviews
      i.app-icon.app-icon-86.left-bar__notif(ng-if="notifications.Feedback || adminCounters.reviews > 0 && piece == 'admin'")
    .left-bar__ttl
      translate REVIEWS_TITLE
  li.left-bar__item(ng-if="!adminTab", ng-click="route('/map/' + piece)", ng-class="{active: $moduleName == 'map'}", tooltip="{{'MAP' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-map
    .left-bar__ttl
      translate MAP
  li.left-bar__separator(ng-if="piece == 'admin'", ng-show='myProfile.IsModerator')
  li.left-bar__item(ng-class="{active: $moduleName == 'users'}", ng-click="route('/users/' + piece)", tooltip="{{'USERS_MENU' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-user
      i.app-icon.app-icon-86.left-bar__notif(ng-if="adminCounters.user > 0 && piece == 'admin'")
    .left-bar__ttl
      translate USERS_MENU
  li.left-bar__item(ng-if="piece == 'admin'", ng-click="route('/statistics/' + $roomName + '/admin')", ng-class="{active: $moduleName == 'statistics'}", tooltip="{{'Statistics' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-chart
    .left-bar__ttl
      translate Statistics
  li.left-bar__item(ng-if="piece == 'admin'", ng-click="route('/purchases/admin')", ng-class="{active: $moduleName == 'purchases'}", tooltip="{{'Buy.Purchases' | translate}}", tooltip-placement='right')
    .left-bar__img
      i.left-bar__ico.icon-money
    .left-bar__ttl
      translate Buy.Purchases
  li.left-bar__slide.down(ng-show='showLeftBarControls')
    a.left-bar__slidelnk(href='')
      i.app-icon.app-icon-arrow-down
