div(ng-if='appConfigLoaded')
  header.app__navbar(ng-if='$showHeader')
    div(ui-view="header")
    div(ui-view="rooms")
  .app__layout(ng-class="{'app__layout--full': loggedIn}")
    nav.nav-left(ui-view="leftMenu"
    ng-hide="app.$state.current.leftMenu.hide"
    ng-class="app.$state.current.leftMenu.class")
    .full-height.main-ui-view(ui-view='', ng-cloak='true')
