.rooms-bar
  ul.nav-rooms
    li.nav-rooms__item.dropdown(ng-repeat='room in navRooms.navChain')
      .nav-rooms__lnk.nav-rooms__more(ng-click='navRooms.toggleDivider()', ng-if='navRooms.navChain.length > 3 && navRooms.divider == $index && !(navRooms.navChain.length <= 3) && navRooms.divider != navRooms.navChain.length - 1') ...
      div(ng-if='$index == 0 || $index < navRooms.divider - navRooms.divDec || ($index > navRooms.divider && $index >= navRooms.navChain.length - 2) || (navRooms.navChain.length <= 3) || navRooms.divider == navRooms.navChain.length - 1', popup-adjust='right')
        a.nav-rooms__lnk(ng-href='{{ roomPath(room.urlName) }}')
          span.nav-rooms__txt {{ room.names[currentLang] }}
          span.nav-rooms__arw.text-hide(ng-if='room.childs.length > 0')
            | ArrowDown
        a.nav-rooms__star.rooms-star(href='', ng-click='navRooms.star(room)', tooltip="{{ room.star ? 'RoomsNav.DeleteBookmark' : 'RoomsNav.AddBookmark' | translate }}", tooltip-placement='right')
          i.icon-star.rooms-star__ico(ng-class="{ 'icon-star2': room.star }")
        .dropdown-menu.nav-rooms__drm(role='menu', ng-if='room.childs.length > 0')
          ul.nav-subrooms(metrika="'subindustry-click'")
            li.nav-subrooms__item.clearfix(role='presentation', ng-repeat='room in room.childs')
              a.nav-subrooms__lnk(ng-href='{{ roomPath(room.urlName) }}', role='menuitem')
                span.nav-subrooms__txt {{ room.names[currentLang] }}
              a.nav-subrooms__star.rooms-star(href='', ng-click='navRooms.star(room)', ng-if='loggedIn', tooltip="{{ room.star ? 'RoomsNav.DeleteBookmark' : 'RoomsNav.AddBookmark' | translate }}", tooltip-placement='right')
                i.icon-star.rooms-star__ico(ng-class="{ 'icon-star2': room.star }")
  .subnav-rooms-bg(ng-if='loggedIn && !userRooms.length')
    .subnav-norooms
      a.subnav-norooms__star.rooms-star(href='', ng-click='navRooms.star(navRooms.allRooms[$roomId])',  tooltip="{{'SubscribeTooltip' | translate}}", tooltip-placement='right')
        i.icon-star.rooms-star__ico
      span.subnav-norooms__txt
        translate RoomsNav.SubscribeSubsector
  .subnav-rooms-bg(ng-if='loggedIn && userRooms.length')
    .rooms-star.subnav-rooms-star(tooltip="{{ 'RoomsNav.AllBookmarksTooltip' | translate }}", tooltip-placement='right')
      i.icon-star2.rooms-star__ico
    ul.subnav-admn(ng-if='myProfile.IsModerator')
      li.subnav-rooms__item.subnav-admn__item
        a.subnav-rooms__lnk.subnav-admn__lnk(ng-class='{ active: !$roomId }', ng-href="{{appPath('/admin', {roomId: null})}}")
          i.subnav-admn__ico.icon-moderator
          span.subnav-rooms__txt
            translate MODERATOR
        a.subnav-rooms__badge.subnav-admn__badge(href='', ng-show='adminCounters.total > 0')
          span.badge(ng-bind='adminCounters.total')
        a.subnav-admn__conf(href='')
          i.subnav-admn__conf-ico.icon-conf(ng-click="openModal({tpl: 'admin/settings', class: 'mdl-app modal-admin-settings', scope: {}})")
    ul.subnav-rooms(ng-model='navRooms.currentFirst', ui-sortable="{placeholder: 'sortable-placeholder', connectWith: '.subnav-lst', update: navRooms.sortStars}")
      li.subnav-rooms__item.for-sort(ng-repeat='room in navRooms.currentFirst')
        a.subnav-rooms__lnk(ng-href='{{ roomPath(room.urlName) }}', ng-class='{ active: room.id == $roomId }')
          span.subnav-rooms__txt {{ room.names[currentLang] }}
        a.subnav-rooms__badge(ng-href="{{ appPath('', { moduleName: 'chat', roomId: room.urlName }) }}", ng-if='navRooms.allRooms[room.id].newMessagesCount > 0')
          span.badge(ng-bind='navRooms.allRooms[room.id].newMessagesCount')
    .subnav-rooms__more.subnav-drn.dropdown(ng-if='navRooms.currentSecond.length > 0')
      a.subnav-rooms__lnk.dropdown-toggle(href='')
        span.subnav-rooms__count(translate='RoomsNav.MoreBookmark', translate-values='{ count: navRooms.currentSecond.length }')
        span.badge.subnav-drn__badge(ng-if='navRooms.totalNew > 0') {{ navRooms.totalNew }}
      .dropdown-menu
        .subnav-drn__info
          i.app-icon.app-icon-arrow-white-lg.subnav-drn__ico
          .subnav-drn__txt
            translate RoomsNav.DragToBookmark
        ul.subnav-lst.clearfix(role='menu', ng-model='navRooms.currentSecond', ui-sortable="{placeholder: 'sortable-placeholder', connectWith: '.subnav-rooms'}")
          li.subnav-lst__item(role='presentation', ng-repeat='room in navRooms.currentSecond')
            a.subnav-lst__lnk(role='menuitem', ng-href='{{ roomPath(room.urlName) }}')
              span.subnav-lst__txt(ng-bind='room.names[currentLang]')
            a.subnav-lst__badge(ng-if='navRooms.allRooms[room.id].newMessagesCount > 0')
              span.badge(ng-bind='navRooms.allRooms[room.id].newMessagesCount')
            a.subnav-lst__del(ng-click='navRooms.star(room)')
              i.app-icon.app-icon-del-white
