.current-page.pull-left
  | {{'PAGE' | translate}} {{paginationData.currentPage}} {{'FROM' | translate}}
  | {{paginationData.pageCount}}
.pull-right
  ul.pagination
    li(ng-class='{activePage: paginationData.currentPage == 1}')
      a.text(ng-if='paginationData.currentPage != 1', ng-click='paginationData.currentPage = paginationData.currentPage - 1') ←
      span.arrow(ng-if='paginationData.currentPage == 1') ←
    li(ng-class='{activePage: paginationData.currentPage == page}', ng-click='paginationData.currentPage = page', ng-repeat='page in paginationData.pagesToShow')
      a.text(ng-if='paginationData.currentPage != page') {{page}}
      span(ng-if='paginationData.currentPage == page') {{page}}
    li(ng-class='{activePage: paginationData.currentPage == paginationData.pageCount}')
      a.text(ng-if='paginationData.currentPage != paginationData.pageCount', ng-click='paginationData.currentPage = paginationData.currentPage + 1') →
      span.arrow(ng-if='paginationData.currentPage == paginationData.pageCount') →
