.alert.alert-success
  i.app-icon.app-icon-4(close='', ng-click='hideAlert = true')
  i.app-icon.app-icon-97
  |     {{'YOUR_ACC_ACTIVATED' | translate}}
.account-activated(ng-class="{'full-height': hideAlert}", ng-init='hideRatings = true; accountActivatedPage = true', ng-include="'views/app/my/_profile.html'")
script(type='text/javascript').
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=WyZL*YOHsWqgZLhOUviYSQFMf8MIF1QXw8GIJwFRCPoiJh0HUfGtLdft1lBcDwD*8qKBCIKSlzuaYTZdljnP*8lQjAayT5wTjM9hqSXuz9BNTFHMDLZE8aIsI8awrYKoP5U6ayxwqYuYh1waPaeeSDefz80i4ShnB*6S2qgf6sQ-';
