.full-height.cnt-nav-left.blacklist(ng-controller='BlacklistsIndexCtrl')
  .content-control
    h4 {{'BLACKLIST' | translate}}
    button.btn.btn-df.btn-small.btn-create(ng-click='add()') {{'ADD_RECORD' | translate}}
    i.app-icon.app-icon-24(save-dom='.table--blacklist')
    i.app-icon.app-icon-25(print-dom='.table--blacklist')
    form.pull-right(ng-submit="appRoute('/search/' + query)")
      input.form-control.input-sm.pull-right.input-xlarge(ng-model='query', type='text', placeholder="{{'SearchBlacklists' | translate}}")
  .content
    .content-item
      .paginator
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
      table.table.table--inline.table--blacklist
        tbody
          tr(ng-class="{'blacklist-new': black.isNew, 'content-item': true}", ng-repeat='black in blacklist')
            td
              .table__title
                a(metrika="'leftmenu-to-blacklist'", ui-sref='app.blacklist-room-item({roomId:black.roomUrlName,id:black.id})') {{black.title}}
              .table__metadata
                .metadata.right-bordered
                  .auth__addon
                    translate ADDED_BY
                    | :
                  .auth__user(user-name='black.user')
                .metadata {{black.dateTime | date:'medium'}}
                .metadata.metadata--stat.icons
                  span.icons-item
                    a(ng-click="appRoute('/item/' + black.id + '#comments')")
                      i.app-icon.app-icon-95
                      |  {{black.commentCount}}
                  span.icons-item.hide
                    a(ng-href='')
                      i.app-icon.app-icon-comm
      .paginator
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
