.full-height.cnt-nav-left.blacklist(ng-controller='BlacklistDetailCtrl')
  .content-control
    .btn.btn-df.btn-small(translate='GO_BACK', go-back="appRoute('')")
  .content
    .content-item
      div(addthis='', description='addThisDescription', title='addThisTitle')
      .title {{item.title}}
      .author
        .date(translate='ADDED_BY')
        .name
          .auth__user(user-name='item.user')
        .date {{item.dateTime | date:'medium'}}
      .content-text
        .text-label(translate='CONTACTS')
        span(ng-bind-html='item.htmlDetails')
      .content-text
        .text-label(translate='REASON')
        span(ng-bind-html='item.htmlReason')
      .content-text
        .text-label(translate='CLAIM_SUM')
        |  {{item.amountClaimed}}
      div(comments-adding='options', metrika="'comment-blacklist'")
