#chat.full-height.cnt-nav-left.chat(ng-class="{ 'with-contact-list': showContacts }", messenger-inputs='')
  #chatFilter.chat-filter.filter.clearfix
    form.form-inline.chat-filter__form(action='', ng-submit='showFilteredMessages(customFilterQuery, roomId)')
      input.form-control.input-sm.chat-filter__inpt(required='', type='text', placeholder="{{'SearchChat' | translate}}", ng-model='customFilterQuery')
      button.btn.btn-df.btn-primary.chat-filter__btn(type='submit', translate='SEARCH')
    ul.chat-filter__tags.chat-tags.hidden-xs.hidden-sm
      li.chat-tags__item
        a.chat-tags__lnk.lnk-dashed(metrika="'chat-recommend-links-search'", href='', ng-click='showFilteredMessages($index, roomId, {filters: filters})', ng-repeat='query in filters.predefined track by $index', ng-if="$index > 2 && $index < 7 && query != '-'")
          span(ng-bind='query')
    .chat-history(ng-class="{'chat-contact-open': showContacts}", ng-include="'views/app/chat/chat-history.html'")
  //- CHAT DIRECTIVE
  chat-body(feed-items='feedItemsCollection', file-uploads='fileUploads', message-edit='startEditing($feedItem.item.id) && replaceNewMessageText(getMessageText($feedItem.item))', message-copy='replaceNewMessageText(getMessageText($feedItem.item), {select: true})', message-quote="appendNewMessageText(getMessageText($feedItem.item, 'quote'), {lineBreak: true})", message-delete='deleteMessage($feedItem.item)', right-click-quote='makeQuote($feedItem.item, $text)', share='true', child-rooms-view='true')
  form.chat-input.chat-item(ng-show='loggedIn')
    #chatInputSize
      i.app-icon.app-icon-77.draggable(new-message-drag='')
    .chat-item__left
    .chat-item__center
      .text-input-textarea(ng-file-drop='onFileSelect($files)')
        i.dragover__ico.icon-paperclip
        ng-include(src="'views/app/chat/chat-tune.html'")
        #chatInput.text-input-text(ng-style="{ 'background-color': !!newMessage.editingMessageId && '#eeffee' }")
          textarea#chat-paste-zone(message-input-to="'room-' + roomId", ng-style="{ 'background-color': !!newMessage.editingMessageId && '#eeffee' }", ng-model='newMessage.text', ng-keyup='keyup($event)')
    .chat-item__right
      button.btn.btn-df.btn-primary.chat-input__btn(type='submit', ng-click='sendMessage(newMessage)')
        i.app-icon.app-icon-66
        |&nbsp;
        translate.responsive-hide SEND
      .add-object.dropdown.drdwn.dropdown--light.dropdown--headed
        button.btn.btn-df.btn-create.add-object__btn.dropdown-toggle(href='', data-toggle='dropdown drdwn')
          i.add-object__ico.icon-plus
          |&nbsp;
          translate ADD
          |&nbsp;
          translate.responsive-hide ADD_OBJECT
        .add-object__drdwn.dropdown-menu.dropup
          .dropdown-menu-head
            translate Chat.ChooseObjCat
          ul.lst-add-object(item-control='', metrika="'chat-add'")
            li.lst-add-object__item(ng-show='show.GoodsAndServices')
              a.lst-add-object__lnk(href='', ng-click='itemControl.addGoods()')
                i.lst-add-object__ico.icon-object.icon-tag
                translate.lst-add-object__ttl Chat.ObjectTypes.Goods
            li.lst-add-object__item(ng-show='show.GoodsAndServices')
              a.lst-add-object__lnk(href='', ng-click='itemControl.addOffer()')
                i.lst-add-object__ico.icon-object.icon-services
                translate.lst-add-object__ttl Chat.ObjectTypes.Offer
            li.lst-add-object__item(ng-show='show.GoodsAndServices')
              a.lst-add-object__lnk(href='', ng-click='itemControl.addAd()')
                i.lst-add-object__ico.icon-object.icon-megaphone
                translate.lst-add-object__ttl Chat.ObjectTypes.Ad
            li.lst-add-object__item(ng-show='show.GoodsAndServices')
              a.lst-add-object__lnk(href='', ng-click='itemControl.addPriceList()')
                i.lst-add-object__ico.icon-object.icon-prices
                translate.lst-add-object__ttl Chat.ObjectTypes.PriceList
            li.lst-add-object__item(ng-show='show.Companies')
              a.lst-add-object__lnk(href='', ng-click='itemControl.addCompany()')
                i.lst-add-object__ico.icon-object.icon-companies
                translate.lst-add-object__ttl Chat.ObjectTypes.Company
            li.lst-add-object__item(ng-show='show.Blacklist')
              a.lst-add-object__lnk(href='', ng-click='itemControl.addBlacklist()')
                i.lst-add-object__ico.icon-object.icon-block
                translate.lst-add-object__ttl Chat.ObjectTypes.Blacklist
            li.lst-add-object__item(ng-show='show.Jobs')
              a.lst-add-object__lnk(href='', ng-click='itemControl.addVacancy()')
                i.lst-add-object__ico.icon-object.icon-job
                translate.lst-add-object__ttl Chat.ObjectTypes.Vacancy
            li.lst-add-object__item
              a.lst-add-object__lnk(href='', ng-click='itemControl.addResume()')
                i.lst-add-object__ico.icon-object.icon-resume
                translate.lst-add-object__ttl Chat.ObjectTypes.Resume
            li.lst-add-object__item(ng-show='show.Video', ng-click='itemControl.addVideo()')
              a.lst-add-object__lnk(href='')
                i.lst-add-object__ico.icon-object.icon-tv
                translate.lst-add-object__ttl Chat.ObjectTypes.Video
  .chat-input(ng-cloak='true', ng-show='!loggedIn')
    .no-account-input
      button.btn.hbtn.lime.xxlg(type="button", ng-click="openModal({tpl: 'buy/fill', class: 'mdl mdl-lg'})")
        translate BuyTitle
      |    
      translate OR
      |    
      button.btn.hbtn.lime.xxlg(type="button", ng-click="openModal({tpl: 'access', class: 'mdl mdl-access'})")
        translate SellTitle
.chat-contact(ng-show='showContacts', ng-controller='ChatUsersCtrl', ng-include="'views/messenger/chat_users_list.html'")
.contact-toggler(ng-click='toggleShowContacts()', ng-class="{ 'open': !showContacts }")
  i.app-icon.app-icon-arrow-right.contact-toggler__hide(metrika="'chat-hide-contacts'", ng-show='showContacts')
  .contact-toggler__open(metrika="'chat-show-contacts'", ng-show='!showContacts')
    .contact-toggler__open-bg
      //- open-bg is IE fix
      i.contact-toggler__ico.icon-user
