.full-height.cnt-nav-left.companies.companies-only(ng-class="{'no-promo': isPortrait()}", ng-controller='CompaniesIndexCtrl')
  .content-control.filter
    h4 {{'COMPANIES_CATALOGUE' | translate}}
    button.btn.btn-df.btn-small.btn-create.pull-left(metrika="'company-add'", ng-click='addCompany()')
      | {{'ADD_COMPANY' | translate}}
    .dropdown.drdwn.search-filter.pull-left(ng-if='activities[0].Activities.length != 0 && activities[1].Activities.length != 0')
      a.btn.btn-df.dropdown-toggle(href='')
        i.btn-df__ico.btn-df__ico--single.icon-filter
      ul.dropdown-menu
        li(ng-class="{ 'active-activity': activityId == activity.Id }", ng-repeat='activity in activities[0].Activities')
          a(href='', ng-click="route('companies/' + $roomName + '/activity/' + activity.Id)", ng-bind='activity.Name')
        li(ng-class="{ 'active-activity': activityId == activity.Id }", ng-repeat='activity in activities[1].Activities')
          a(href='', ng-click="route('companies/' + $roomName + '/activity/' + activity.Id)", ng-bind='activity.Name')
    form.pull-right(ng-submit="route('companies/' + $roomName + '/search/' + query)")
      input.form-control.input-sm.input-large.pull-right(type='text', ng-model='query', placeholder="{{'SearchCompanies' | translate}}")
  .content
    .content-item
      h4 {{ roomName }}
      .paginator(metrika="'pagination-companies'")
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
      table.table.table--inline.table--companies
        tbody
          tr(ng-class="{'company-new': company.isNew}", ng-repeat='company in companies')
            td
              .companies__logo.pull-left
                .middle-thumb-container
                  img(ng-if='company.logoUrl', ng-src='{{company.logoUrl}}')
                  img(ng-if='!company.logoUrl', src='img/content/no-photo-detail.jpg', alt='')
              span
              .table__message
                .table__title
                  a(metrika="'leftmenu-to-company'", ng-click="appRoute('item/' + company.company.id, { roomId: company.company.roomUrlName })") {{company.company.fullName}}
                span(ng-bind-html='company.company.htmlShortDescription')
            td.table-actions.my-edit-controls
              button.btn.btn-df.btn-small(ng-if='userId == company.company.ownerId', ng-click="openModal({tpl: 'company-edit', class: 'mdl-app modal-company-add', scope: { edit: true, company: company, roomId: roomId }})")
                i.app-icon.app-icon-79
      .paginator(metrika="'pagination-companies'")
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
side-banners(banners='banners', slide-height='slideHeight')
