.full-height.cnt-nav-left.forum(ng-controller='ForumIndexCtrl', ng-switch='$room.quirks.forum.displayType')
  .full-height(ng-switch-when='root')
    .content-control
      h4
        translate FORUM
    .content
      ng-include(src="'views/app/forum/_roots.html'")
  .full-height(ng-switch-when='subRoot')
    .content-control
      h4
        translate FORUM
    .content
      .content-item
        .container-fluid
          include ../includes/subind-lst
  .full-height(ng-switch-when='normal')
    include ../includes/forum-content-control
    mixin forum-content-control('Main')
    .content
      .content-item
        div(ng-repeat='section in sections')
          h4(ng-bind=':: section.Title')
          table.table(ng-class="{ 'mt-zero': pagination.pageCount == 1 }")
            thead
              tr
                th
                th(translate='FORUM')
                th.forum-sponsors
                th.padding
                th.centered(translate='THEMES')
                th
                  i.app-icon.app-icon-95
                th.padding
                th(translate='LAST_MESSAGE')
            tbody
              tr(ng-repeat='section in section.Sections')
                td.forum-status
                  i.app-icon(class="app-icon-forum-{{::section.status}}")
                td.table-title
                  a(metrika="'leftmenu-to-forum'", ng-href="{{ appPath('section/' + section.Id) }}", ng-bind=':: section.Title')
                td.table-sponsor
                  div(ng-init='sponsor = section', ng-include="'views/app/forum/_sponsor-logo.html'")
                td.padding
                td.table-views(ng-bind=':: section.ThreadCount')
                td.table-comments(ng-bind=':: section.MessageCount')
                td.padding
                td.table-author(ng-include="'views/app/auth/_section.html'")
        include ../includes/forum-users
        .forum-statistic
          h4
            translate FORUM_STATS
          span.bordered
            translate THEME_COUNT
            |&nbsp;
            strong(ng-bind='stats.TotalThreadCount')
          |&nbsp;
          span
            translate MESSAGE_COUNT
            |&nbsp;
            strong(ng-bind='stats.TotalMessageCount')
