.full-height.cnt-nav-left.forum.forum-category(ng-controller='ForumTopicCtrl')
  include ../includes/forum-content-control
  mixin forum-content-control('Topic')
  #forum-topic.content
    .content-item
      ul.breadcrumb
        li
          a(ng-href="{{ appPath('') }}", ng-bind='rootSection.Title')
        li
          a(ng-href="{{ appPath('/section/' + section.Id) }}", ng-bind='section.Title')
        li
          a(ng-href="{{ appPath('/topic/' + topic.Id) }}", ng-bind='topic.Title')
      h4 {{topic.Title}}
      div(addthis='', description='addThisDescription', title='addThisTitle')
      .pgn
        ui-pagination(ng-if='totalItems > itemsPerPage', total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='{{itemsPerPage}}')
      table.table.forum-topic(ng-class="{ 'no-tm': pagination.pageCount == 1 }")
        tbody
          tr.forum-post(ng-repeat='message in messages')
            td.forum-post-author
              .middle-thumb-container
                img(ng-src='{{message.photo}}', alt='', ng-click='showUserPopup(message.user.Ratings.UserId)')
              .name
                a(href='', ng-click='showUserPopup(message.user.Ratings.UserId)', ng-bind='message.user.FullName')
              .user
                .user__rating(ng-show='message.user')
                  span.green(ng-bind='message.user.Ratings.Pro | number')
                  | /
                  span.red(ng-bind='message.user.Ratings.Contra | number')
                .user__favs(ng-show='message.user')
                  i.app-icon.app-icon-57
                  |                      {{message.user.Ratings.Thanks | number}}
                .user__trust(ng-show='message.user')
                  i.app-icon.app-icon-60
                  |                      {{ ((message.user.Ratings.TrustLevel > 0) && '+') || '' }}{{ message.user.Ratings.TrustLevel | number }}
                .user__name.text(ng-show='!message.user')
                  translate USER_PROFILE_EMPTY
              .posts-num
                translate MESSAGE_COUNT
                | {{message.counter}}
            td(ng-class="{'forum-post-text': true, 'forum-post-new': message.isNew}")
              .date
                i.app-icon.app-icon-14
                |  {{message.date|date:'medium'}}
                i.app-icon.app-icon-41.moder-topic-icon(ng-if='myProfile.IsModerator', ng-click="newWinRoute( '/admin/posts?postId=' + message.Id, { roomId: null } )")
                a(id="{{'mes' + message.Id}}", ng-href="{{appPath([ 'topic', topic.Id]) + '?pageNum=' + currentPage + '#mes' + message.Id }}") #
              forum-quote(message='message.inreply', ng-if='message.inreply')
              span(ng-bind-html='message.HtmlText')
              div(ng-if='message.attachments.length != 0')
                translate ATTACHMENTS
                | :
                div(ng-repeat='attach in message.attachments')
                  a(ng-if='!attach.picture', target='_blank', pmp-href='{{attach.DownloadLink}}', ng-bind='attach.FileName')
                  a(ng-if='attach.picture', ng-click="openModal({tpl: 'merchants/zoom-view-img', class: 'mdl-app modal-image-preview', scope: { pictures: [ { Link: attach.DownloadLink } ] }})") {{attach.FileName}}
              .quote-action(ng-if='!topic.IsLocked')
                a(href='', ng-click='answerTo(message)', translate='QUOTE')
      .pgn
        ui-pagination(ng-if='totalItems > itemsPerPage', total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='{{itemsPerPage}}')
      table.table.forum-topic
        tbody
          tr.forum-post.colored.add-post(ng-if='!topic.IsLocked')
            td.forum-post-author(ng-if='loggedIn')
              .middle-thumb-container
                img(ng-src='{{photo}}', alt='')
              .name(ng-bind='user.FullName')
              .user
                .user__rating(ng-show='user')
                  span.green(ng-bind='user.Ratings.Pro | number')
                  | /
                  span.red(ng-bind='user.Ratings.Contra | number')
                .user__favs(ng-show='user')
                  i.app-icon.app-icon-57
                  |                      {{ user.Ratings.Thanks | number }}
                .user__trust(ng-show='user')
                  i.app-icon.app-icon-60
                  |                      {{ ((user.Ratings.TrustLevel > 0) && '+') || '' }}{{ user.Ratings.TrustLevel | number }}
              .posts-num
                translate MESSAGE_COUNT
                | {{user.counter}}
            td.forum-post-text(ng-if='loggedIn')
              a(href='', ng-click='resetReply()', ng-if='replyTo', translate='REMOVE_QUOTE')
              forum-quote(message='replyTo', ng-if='replyTo')
              form(name='replyForm', file-upload='uploadOptions', ng-controller='ForumMessageAttachmentCtrl')
                fieldset(ng-show='!newMessage.IsLocked')
                  #message-text-box.text-input-textarea
                    textarea#message-text(ng-required='true', redactor='editorOptions', ng-model='newMessage.text')
                  .forum-attachments
                    .file-transfer(ng-repeat='item in queue')
                      .file-title
                        | {{$index + 1}}. {{item.name}}
                        span.file-cancel(ng-click='item.$cancel()')
                          i.app-icon.app-icon-4
                    label.file-upload(for='topicFile')
                      i.app-icon.app-icon-92
                      translate ATTACH_FILE
                      input#topicFile.ng-hide(type='file')
                  button.btn.btn-df.btn-primary.btn-small(type='submit', ng-disabled='!replyForm.$valid || replyInProgress || emptyMessage', ng-click='addMessage(newMessage)')
                    | {{ replyInProgress ? 'ADDING...' : 'ADD_MESSAGE' | translate }}
            td.forum-post-author(ng-if='!loggedIn')
              .forum-post-author__empty
            td.forum-post-text(ng-if='!loggedIn')
              translate MSG_NEED_REG_1
              a(mettika="'forum-add'", ng-click='modals.alertUnregistered()', translate='MSG_NEED_REG_2')
              translate MSG_NEED_REG_TO_REPLY
