.full-height.cnt-nav-left.forum.forum-category(ng-controller='ForumNewTopicCtrl')
  include ../includes/forum-content-control
  mixin forum-content-control('New')
  .content
    .content-item
      ul.breadcrumb
        li
          a(ng-href="{{ appPath('/') }}", translate='FORUM_LIST')
        li
          a(ng-href="{{ appPath('/section/' + section.Id) }}", ng-bind='section.Title')
      h4
        translate NEW_THEME_IN
        | «{{section.Title}}»
    .content-item.add-post
      form(action='', name='threadForm', file-upload='uploadOptions', ng-controller='ForumMessageAttachmentCtrl')
        fieldset
          label.form-inline
            translate TITLE
            input.form-control.input-sm(type='text', ng-model='topicTitle', ng-required='true')
          .text-input-textarea
            textarea#message-text(autocomplete='off', autocorrect='off', ng-required='true', redactor='editorOptions', ng-model='topicMessage')
          .forum-attachments
            .file-transfer(ng-repeat='item in queue')
              .file-title
                | {{$index + 1}}. {{item.name}}
                span.file-cancel(ng-click='item.$cancel()')
                  i.app-icon.app-icon-4
            label.file-upload(for='forumFile')
              i.app-icon.app-icon-92
              translate ATTACH_FILE
              input#forumFile.ng-hide(type='file')
          button.btn.btn-df.btn-primary.btn-small(type='submit', ng-click='addThread()', ng-disabled='!threadForm.$valid || createInProgress || emptyMessage')
            | {{ createInProgress ? 'ADDING...' : 'ADD_MESSAGE' | translate }}
