.full-height.cnt-nav-left.gost(ng-controller='GostCtrl')
  .content-control
    h4
      translate REGULATIONS
  .content
    .content-item
      .form-group
        label
          translate Gost.EnterGostNumber
        form(ng-submit="appRoute('/search/' + gostSearch)")
          input.form-control.input-sm.input-large(type='text', placeholder="{{'SearchGosts' | translate}}", ng-model='gostSearch')
