.full-height.cnt-nav-left.gost(ng-controller='GostCtrl')
  .content-control
    h4
      translate REGULATIONS
    form.pull-right(ng-submit="appRoute('/search/' + gostSearch)")
      input.form-control.input-sm.input-large(type='text', placeholder="{{'SearchGosts' | translate}}", ng-model='gostSearch')
  .content
    .content-item(ng-if='docs.length == 0')
      div
        translate NOTHING_FOUND
      div
        translate TRY_ANOTHER_QUERY
    .content-item(ng-if='docs.length != 0')
      .paginator
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
      table.table.table--inline
        tbody
          tr(ng-repeat='doc in docs')
            td
              .title
                a(href='', ng-click='showDoc(doc)') {{doc.documentName}}
              .content-text
                | {{doc.text}}
      .paginator
        ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
