.full-height.cnt-nav-left.map
  .map-types
    .map-types-title {{'SHOW_SPECS' | translate}}
    ul.lst-map-inds
      li.lst-map-inds__item(ng-repeat='room in rooms')
        .chckbx.chckbx-sm
          .chckbx__inpt.chckbx-sm__inpt
            input(type='checkbox',id='{{room.names["en"]}}', ng-model="room.checked" name='{{room.names[currentLang]}}')
            label(for='{{room.names["en"]}}')
          .chckbx__lbl.chckbx-sm__lbl(ng-bind='room.names[currentLang]')
  .map-container
    .content-control.map-search
      .lst-typeahead.lst-typeahead--rel
        input.form-control.input-sm(type='text', ng-model='company', placeholder="{{'SearchCompanies' | translate}}", typeahead-input-formatter='company.companyName', typeahead='type as type.companyName for type in users | filter:$viewValue | limitTo:20', typeahead-template-url='views/bootstrap/typeahead/typeahead-map.html')

    .map-content
      #map
