.full-height.cnt-nav-left.reviews
  .content-control
    h4 {{'REVIEWS_TITLE' | translate}}
    .btn.btn-df.btn-small.btn-create(ng-click='add()')
      | {{'ADD' | translate}}
  .content
    .content-item
      .paginator
        ui-pagination(total-items='reviewsIndex.totalItems', page='reviewsIndex.currentPage', on-select-page='reviewsIndex.changePage(page)', items-per-page='10')
      table.table.table--inline.table--reviews
        tbody
          tr(ng-class="{ 'review-new': review.isNew, 'content-item': true }", ng-repeat='review in reviewsIndex.reviews')
            td
              .table__metadata
                .user-name
                  .pull-left
                    .small-thumb-container
                      img(ng-src='{{review.photo}}', alt='')
                .metadata.right-bordered
                  .auth__user(user-name='review.user')
                .metadata {{review.date}}
              .table__title
                a(ng-href="{{ appPath('/item/' + review.Id) }}") {{review.text}}
              .icons
                span.icons-item(ng-click="appRoute('/item/' + review.Id)")
                  i.app-icon.app-icon-95
                  |  {{review.commentsCount}}
                div(vote='review.voteOptions')
      .paginator
        ui-pagination(total-items='reviewsIndex.totalItems', page='reviewsIndex.currentPage', on-select-page='reviewsIndex.changePage(page)', items-per-page='10')
