.full-height.cnt-nav-left.video(ng-controller='VideoCategoryCtrl')
  tabset.app-tabset
    li
      h4.nav-tabs__header(translate='SECTORAL_VIDEO')
    tab(heading="{{'USERS_VIDEOS' | translate}}")
      include ../includes/video-content-sub-control
      mixin video-content-sub-control('Category')
      .content
        .content-item
          h4(ng-bind='section.Name')
          .paginator
            ui-pagination(ng-if='totalItems > 10', total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
          ng-include(src="'views/app/video/_videos-list.html'")
          .paginator
            ui-pagination(ng-if='totalItems > 10', total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
