.full-height.cnt-nav-left.video(ng-controller='VideoDetailCtrl')
  tabset.app-tabset
    li
      h4.nav-tabs__header {{'SECTORAL_VIDEO' | translate}}
    tab(heading="{{'USERS_VIDEOS' | translate}}")
      include ../includes/video-content-sub-control
      mixin video-content-sub-control('Details')
      .content
        .content-item.video-item
          .owner.owner--inline.owner--block
            .avatar--small
              .small-thumb-container
                img(ng-src='{{item.photo}}')
            .metadata.right-bordered
              .auth__user(user-name='item.user')
            .metadata {{item.created | date:'medium'}}
          .content-text
            iframe(width='560', height='315', ng-src='{{videoUrl}}', frameborder='0', allowfullscreen='')
          .title {{item.name}}
          .content-text
            span(ng-bind-html='item.htmlDescription')
          .icons
            div(addthis='', description='addThisDescription', title='addThisTitle')
            div(vote='voteOptions')
            span.icons-item
              i.app-icon.app-icon-101
              |  {{item.viewCount}}
          div(comments-adding='options', metrika="'comment-video'")
