.full-height.cnt-nav-left.video(ng-controller='VideosIndexCtrl', ng-switch='$room.quirks.userVideos.displayType')
  .full-height(ng-switch-when='root')
    .content-control
      h4
        translate VIDEO
    .content
      ng-include(src="'views/app/video/_roots.html'")
  .full-height(ng-switch-when='subRoot')
    .content-control
      h4
        translate VIDEO
    .content
      .content-item
        .container-fluid
          include ../includes/subind-lst
  .full-height(ng-switch-when='normal')
    ng-include(src="'views/app/video/_sections.html'")
  .full-height(ng-switch-when='child')
    ng-include(src="'views/app/video/_sections.html'")
