html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  color: $color-text-main;
  background: white;
  /* never visible - this is used in js to check the current window width */
  &::after {
    display: none;
    content: 'desktop';
  }
}

p {
  margin: 0 0 2.4rem;
}

a {
  color: $color-link;
  background: transparent;
  text-decoration: none;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: $color-link-hover;
  }
}

ul,
ol {
  list-style:none;
  padding:0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
