html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-light;
  font-weight: 300;
  line-height: 1.125;
  color: inherit;
  margin: 0;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 4.8rem;
  margin-bottom: 8.2rem;
}

b,
strong {
  font-family: $font-stack-bold;
}
