.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'SETTINGS_MODERATOR' | translate}}
.modal-body(ng-controller='AdminCtrl')
  .modal-inner
    form.modal-form(ng-submit='save()')
      .form-body
        .form-group
          label {{'LANGUAGES' | translate}}
          .clearfix
            .modal-col(ng-repeat='locale in locales')
              label.checkbox.checkbox--styled
                input(ng-model='locale.checked', type='checkbox', styled='')
                | {{locale.title}}
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
