.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_POST' | translate}}
.modal-body(ng-controller='ChatAdminRemoveCtrl', ng-init='item = message')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='item.user')
        .metadata {{ item.created | date:'medium' }}
      .modal__metadata
        .metadata
          | {{'BRANCH' | translate}}:
          a(href='', ng-init='room = roomsHash[item.roomId]') {{ room.DisplayName }}
    ng-include(src="'views/admin/_remove-form.html'")
