.modal-header
  i.icon-close.close(ui-sref="home", ng-click="$close()")
  .row
    .col-md-5
      h2.modal-title
        translate Buy.Title
    .col-md-7
      .bg-info.bg-info--sm
        translate Buy.Hint

.modal-body
  .modal-inner
    tabset(justified="true", class="buy-tabs")
      tab(heading="Простая заявка")
        form.frm.container-fluid(name='', ng-submit='buy.purchase(buy.chatMessage, "ChatMessage")',
        role='form')
          .form-group
            label
              translate Buy.Offer
            textarea.form-control(
            tabindex='1',
            rows="3",
            placeholder='Куплю 3 тонны лосося в Москве за 1000 руб. кг'
            ng-model="buy.chatMessage.item.text")
          .form-group
            .row
              .col-xs-4
                label
                  translate Buy.ContactEmail
                input.form-control(type='email',
                tabindex='2', placeholder="anabele@yandex.ru"
                ng-model="buy.chatMessage.profile.email")
              .col-xs-4
                label
                  translate Buy.Phone
                input.form-control(type="tel", tabindex='3',
                placeholder="7XXXXXXXXXX", pattern="7[0-9]{10}"
                ng-model="buy.chatMessage.profile.phone")
              //.col-xs-4
                label
                  translate Buy.Phone
                input.form-control(type="tel", tabindex='4',
                placeholder="7XXXXXXXXXX", pattern="7[0-9]{10}")
          .form-group.form-actions
            button.btn.hbtn.blue.rounded.lg(type='submit')
              translate SEND
      tab(heading="{{'Buy.DetailedOffer' | translate}}")
        form.frm.container-fluid(name='', ng-submit='buy.purchase(buy.ad)', role='form')
          .form-group
            label
              translate TITLE
            input.form-control(type='text', tabindex='1', ng-model="buy.ad.item.title")
          .form-group
            label
              translate REGION
            input.form-control(type='text', tabindex='2'
            ng-model="buy.ad.item.region")
          .form-group
            label
              translate TAGS
              |&nbsp;
              translate COMMA
            input.form-control(type='text', tabindex='3'
            ng-model="buy.ad.item.tags")
          .form-group
            .row
              .col-xs-4
                label
                  translate Buy.ContactEmail
                input.form-control(type='email', tabindex='4',
                placeholder="anabele@yandex.ru",
                ng-model="buy.ad.profile.email")
              .col-xs-4
                label
                  translate Buy.Phone
                input.form-control(type="tel", tabindex='5',
                placeholder="7XXXXXXXXXX", pattern="7[0-9]{10}"
                ng-model="buy.ad.profile.phone")
              .col-xs-4
                label
                  translate Buy.ContactPerson
                input.form-control(type='text', tabindex='6'
                ng-model="buy.ad.profile.fullName")
          .form-group
            .row
              .col-xs-4
                label
                  translate COMPANY
                input.form-control(type='text', tabindex='7'
                ng-model="buy.ad.profile.company")
              //.col-xs-8
                label
                  translate ADDRESS
                input.form-control(type='text', tabindex='8'
                ng-model="buy.ad.profile.address")
          .form-group
            label
              translate DESCRIPTION
            textarea.form-control(tabindex='9', rows="3"
            ng-model="buy.ad.item.text")
          .form-group.form-actions
            button.btn.hbtn.blue.rounded.lg(type='submit')
              translate SEND
