.modal-header
  i.icon-close.close(ng-click='$close()')
  h2.modal-title
    translate Buy.Title
.modal-body
  .modal-inner
    h3
      translate Buy.Published
    .bg-info(ng-if="published.status == 'OK'")
      translate Buy.Advise

    .bg-danger(ng-if="published.status == 'NeedAuth'")
      translate Buy.Err
    .row
      .col-md-4.col-md-push-8
        .your-purchase
          h3.your-purchase__ttl
            translate Buy.YourPurchase
          .your-purchase__cnt
            .your-purchase__head
              a.your-purchase__lnk(ng-bind="published.item.profile.fullName") Ольга Ворошилова
              .your-purchase__row
                a(ng-bind="published.item.profile.company")
              .your-purchase__row
                a(ng-bind="published.item.profile.email")
              //.your-purchase__row г. Москва, Остаповский проезд, д.3
              .your-purchase__subindustry(ng-bind="published.item.item.region")

            .your-purchase__body
              .your-purchase__subject(ng-bind="published.item.item.title")
              .your-purchase__txt(ng-bind="published.item.item.text")
      .col-md-8.col-md-pull-4
        .buy-social(ng-controller='SocialCtrl as social', ng-include="'views/modal/auth/social.html'")
        .row
          .col-md-6
            h3
              translate Buy.Login
            form.frm.frm-auth(action='', ng-submit='doLogin()', ng-controller='SessionsCtrl', role='form')
              .form-group
                label E-mail
                input.form-control.input-lg(type='email', ng-model='loginEmail', ng-required='true', tabindex='1')
              .form-group(ng-class="{'has-error': error}")
                label {{'PASSWORD' | translate}}
                input.form-control.input-lg(type='password', ng-model='loginPassword', ng-required='true', tabindex='2')
              .form-group
                .chckbx
                  .chckbx__inpt
                    input#rememberMe(type='checkbox', ng-model='rememberMe', tabindex='3', name='rememberMe', checked='')
                    label(for='rememberMe')
                  .chckbx__lbl
                    translate REMEMBER_ME
              .form-group.form-txt
                a(href='', ng-click="$close('openPassRestore')")
                  translate FORGOT_PASSWORD
              .form-group.form-actions
                button.btn.hbtn.blue.rounded(type='submit')
                  translate Buy.LoginContinue
              .form-group.form-error.red.text-center(ng-show='error')
                | —
                translate Modal.WrongPassword
          .col-md-6(ng-controller='UserRegistrationCtrl')
            h3
              translate REGISTER
            form.frm(name='registrationForm', ng-submit='submitRegistration()', role='form')
              ng-include(src="'views/form/registration.html'")
              .form-group.form-actions
                button.btn.hbtn.blue.rounded(type='submit')
                  translate Buy.RegisterContinue
