mixin participant

  .grid-4.participant.box
    .participant__inner.box__inner
      .participant__logo
        img.participant__img(src="http://lorempixel.com/220/109/", alt="", width="220", height="109")
      h3.participant__ttl
        a.participant__lnk(href="#777") Название компании
      .participant__place Стенд А45

.container
  .row
    .grid-8
      h2 Участники выставки
      //begin participant
      .row
        +participant

        +participant

        +participant

        +participant

        +participant

        +participant

        +participant

        +participant

        +participant

        +participant

        +participant

      //end participant

    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            button.btn.btn--text-sm.btn--primary-light.sidebar__btn(type="button") Добавить виртуальный стенд
        .sidebar__item
          include ../_filter
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Место проведения
            | г. Москва
          .sidebar-block
           .sidebar-block__ttl Выставочный центр
           | Центральный выставочный павильен "Крокус ЭКСПО"
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Оганизатор
            | МВЦ «Балтик Экспо»
          .sidebar-block
            img(src="images/content/baltic_expo.jpg", alt="", width="", height="")
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Контактная информация
            | I павильон: +7 (4012) 727-262
            br
            | II павильон: +7 (4012) 727-113
            br
            | III павильон: +7 (4012) 727-252
            br
            | E-mail: ask@crocus-off.ru
      //end sidebar
