.container
  .row
    .grid-8
      h2.ttl-lg Оружие, товары для отдыха и спорта
      p.text-lg Калининградская область — самый западный регион России. Расположена в Центральной Европе. Отделена от остальной России территорией других государств, но соединена морем и является, таким образом, полуэксклавом.
      p Интерес к выставке вооружения в Украине вызывает наличие в государстве одной из самых многочисленных армий в Европе, которая требует модернизации и перевооружения, достаточно мощного обороннопромышленного комплекса, предприятия которого нуждаются в кооперации с разработчиками передовых технологий для создания производства современных образцов вооружения в интересах вооруженных сил и обеспечения экспорта.

    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            button.btn.btn--text-sm.btn--primary-light.sidebar__btn(type="button") Добавить виртуальный стенд
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Место проведения
            | г. Москва
          .sidebar-block
           .sidebar-block__ttl Выставочный центр
           | Центральный выставочный павильен "Крокус ЭКСПО"
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Оганизатор
            | МВЦ «Балтик Экспо»
          .sidebar-block
            img(src="images/content/baltic_expo.jpg", alt="", width="", height="")
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Контактная информация
            | I павильон: +7 (4012) 727-262
            br
            | II павильон: +7 (4012) 727-113
            br
            | III павильон: +7 (4012) 727-252
            br
            | E-mail: ask@crocus-off.ru
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Отрасль
            a(href="#777") Оружие
            | ,
            a(href="#777") Охота и рыбалка
            | ,
            a(href="#777") Спорт
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Рассказать о выставке
            //begin social
            ul.social.social--left
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--fb-lg
                  span.hidden Facebook
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--tw-lg
                  span.hidden Twitter
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--in-lg
                  span.hidden LinkedIn
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--vk-lg
                  span.hidden Вконтакте
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                    span.icon.lnk-social__ico.lnk-social__ico--ok-lg
                    span.hidden Одноклассники
            //end social
        .sidebar__item
          .sidebar-block
            a(href="#777")
              span.icon.icon--pdf
              | Скачать пресс-релиз (PDF)
          .sidebar-block
            a(href="#777")
              span.icon.icon--back
              | Выставка в прошлом году
      //end sidebar
