.container
  .row
    .grid-8
      h2.ttl-lg Условия участия
      p Интерес к выставке вооружения в Украине вызывает наличие в государстве одной из самых многочисленных армий в Европе, которая требует модернизации и перевооружения, достаточно мощного обороннопромышленного комплекса, предприятия которого нуждаются в кооперации с разработчиками передовых технологий для создания производства современных образцов вооружения в интересах вооруженных сил и обеспечения экспорта.
      include ../../components/list-styled
      h3 Подзаголовок
      p Не меньшее внимание уделяется и экспозиции гражданского оружия. В рамках данного раздела выставки демонстрируется самый разнообразный ассортимент (в ценовом диапазоне и по количеству всемирно известных торговых марок) охотничьего, спортивного, исторического и холодного оружия, сопутствующих товаров для охоты и активного отдыха.
    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            button.btn.btn--text-sm.btn--primary-light.sidebar__btn(type="button") Добавить виртуальный стенд
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Организатор
            | МВЦ «Балтик Экспо»
          .sidebar-block
            img(src="images/content/baltic_expo.jpg", alt="", width="", height="")
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Контактная информация
            | I павильон: +7 (4012) 727-262
            br
            | II павильон: +7 (4012) 727-113
            br
            | III павильон: +7 (4012) 727-252
            br
            | E-mail: ask@crocus-off.ru
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Отрасль
            a(href="#777") Оружие
            | ,  
            a(href="#777") Охота и рыбалка
            | ,  
            a(href="#777") Спорт
      //end sidebar
