.container
  .row
    .grid-8
      article.article-news
        .article-news__date 13.03.2015
        h2.ttl-lg.article-news__ttl Бизнес-завтрак "Непрофильная диверсификация бизнеса (кейсы).
        p
          img(src="http://lorempixel.com/780/255/", alt="", width="780", height="255")
        p Как гласит известная английская пословица, не кладите все яйца в одну корзину. Особенно точно это правило работает в отношении финансов и бизнеса. Именно поэтому в День российского предпринимательства КТПП и журнал Presston’s решили провести встречу на тему непрофильной диверсификации бизнеса и разобрать успешные и не очень стратегии и кейсы.
        p Мы приглашаем членов КТПП за чашечкой чая или кофе в формате интересного обсуждения и совместного обмена опытом поделиться историями успехов и провалов, связанными с открытием и запуском непрофильных для вас видов бизнеса.
        p Организаторы встречи – Калининградская ТПП и журнал Presston’s. Участники встречи – руководители компаний-членов КТПП и партнеров журнала Presston’s.

        p Уважаемые дамы и господа, приглашаем вас принять участие в качестве выступающих и слушателей и отметить День российского предпринимательства вместе! Обращаем ваше внимание на то, что необходима предварительная регистрация, поскольку количество участников ограничено и составит 25-30 человек. Просим не забывать с собой визитки для нетворкинга и быть готовыми к фото и публикации о вас и вашем бизнесе в журнале.
        p Будем рады видеть и ждем вас 26 мая в 11 часов в конференц-зале КТПП (ул. Ватутина, 20а)! Продолжительность встречи – 2 часа.
        p Ждем вас к началу мероприятия без опоздания. При невозможности присутствия просим заблаговременно информировать по телефону 590650 или эл. почте onopko@kaliningrad-cci.ru. Контактное лицо: начальник отдела координации работы с предпринимателями Онопко Екатерина Александровна.        
          
    .grid-4
      //begin sidebar
      .sidebar
        article.media.sidebar__item
          img.media__img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
          .media__date 13.03.2015
          h4.media__ttl
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
        article.media.sidebar__item
          img.media__img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
          .media__date 13.03.2015
          h4.media__ttl
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
        article.media.sidebar__item
          img.media__img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
          .media__date 13.03.2015
          h4.media__ttl
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
      //end sidebar
