.container
  .title-n-link
    a.title-n-link__link(href="#777") + Добавить новость
    h2.title-n-link__ttl Новости выставки
  .row
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl 
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
          .media__footer
            .media__label Участник            
    .grid-4.box
      article.media.box__inner
        .media__body
          .media__date 13.03.2015
          h4.media__ttl 
           a(href="#777") Ростелеком с длинным заголовком и без изображения
          | ОАО «Ростелеком» - национальная телекоммуникационная компания России. «Ростелеком» разрабатывает комплекс ные решения.
        .media__footer
          .media__label.media__label--extra Оператор          
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl 
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
          .media__footer
            .media__label Участник
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl 
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
          .media__footer
            .media__label Участник
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl 
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
          .media__footer
            .media__label Участник
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl 
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
          .media__footer
            .media__label Участник
    .grid-4.box
      article.media.box__inner
        .media__pic
          img(src="http://lorempixel.com/110/90/", alt="", width="110", height="90")
        .media__body
          .media__date 13.03.2015
          h4.media__ttl 
           a(href="#777") Яндекс на выставке
          | История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
          .media__footer
            .media__label Участник
