div(ng-controller='CheckCompaniesIndexCtrl')
  .content__item.bottom-bordered
    form.form-inline.check__form-search(ng-submit='search(query)')
      .form-group
        input.form-control.input-sm(ng-model='query', type='text', placeholder="{{'ENTER_COMPANY_NAME' | translate}}")
      button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SEARCH' | translate}}
  .content__item
    .content__col-full.clearfix
      .check-price.pull-left
        translate SERVICE_PRICE
        |  
        span.check-price__val {{cost.RUB.total_amount || 300}}
        |  
        translate RUB
    .content__col-left
      h4.list-ttl {{'CHECK_LIST_TITLE' | translate}}: *
      ol.list-ordered.text-sm
        li {{'CHECK_LIST_ITEM_1' | translate}}
        li {{'CHECK_LIST_ITEM_2' | translate}}
        li {{'CHECK_LIST_ITEM_3' | translate}}
        li {{'CHECK_LIST_ITEM_4' | translate}}
        li {{'CHECK_LIST_ITEM_5' | translate}}
        li {{'CHECK_LIST_ITEM_6' | translate}}
        li {{'CHECK_LIST_ITEM_7' | translate}}
        li {{'CHECK_LIST_ITEM_8' | translate}}
        li {{'CHECK_LIST_ITEM_9' | translate}}
        li {{'CHECK_LIST_ITEM_11' | translate}}
        li {{'CHECK_LIST_ITEM_12' | translate}}
        li {{'CHECK_LIST_ITEM_13' | translate}}
        li {{'CHECK_LIST_ITEM_16' | translate}}
        li {{'CHECK_LIST_ITEM_17' | translate}}
        li {{'CHECK_LIST_ITEM_19' | translate}}
        li {{'CHECK_LIST_ITEM_20' | translate}}
        li {{'CHECK_LIST_ITEM_21' | translate}}
        li {{'CHECK_LIST_ITEM_22' | translate}}
        li {{'CHECK_LIST_ITEM_23' | translate}}
    .content__col-right
      .report-model.bottom-bordered.text-sm.gray-light
        a.report-model__lnk.underlined(ng-click="openModal({ tpl: 'gost', class: 'mdl-app modal-gost', scope: modal})")
          i.app-icon.app-icon-report
          | {{'REPORT_SAMPLE' | translate}}
        |  {{'CHECK_EXAMPLE' | translate}}
      h4.list-ttl {{'IMPORTANT_THINGS_1' | translate}}:
      ul.list-unordered.text-sm
        li(translate='IMPORTANT_THINGS_2')
        li(translate='IMPORTANT_THINGS_3')
        li(translate='IMPORTANT_THINGS_4')
        li(translate='IMPORTANT_THINGS_5')
        li(translate='IMPORTANT_THINGS_6')
        li(translate='IMPORTANT_THINGS_7')
        li(style='list-style-type: none;', translate='IMPORTANT_THINGS_8')
        li(style='list-style-type: none; font-size:9px;', translate='IMPORTANT_THINGS_9')
