.content__item.bottom-bordered(ng-controller='CheckCompaniesExactCtrl')
  h4.content__ttl {{'QUERY_EXACT' | translate}}
  form.form-horizontal.check__form-query(action='', ng-submit='query(company)')
    .control-group
      label.control-label {{'QUERY_TITLE' | translate}}
      .controls
        input.form-control.input-sm(type='text', placeholder='', ng-model='company.Name', required='')
    .control-group
      label.control-label {{'OGRN' | translate}}
      .controls
        input.form-control.input-sm(type='text', placeholder='', ng-model='company.OGRN', ng-required='!company.INN && !company.OKPO')
    .control-group
      label.control-label {{'INN' | translate}}
      .controls
        input.form-control.input-sm(type='text', placeholder='', ng-model='company.INN', ng-required='!company.OGRN && !company.OKPO')
    .control-group
      label.control-label {{'OKPO' | translate}}
      .controls
        input.form-control.input-sm(type='text', placeholder='', ng-model='company.OKPO', ng-required='!company.INN && !company.OGRN')
    .control-group.control-group--actions
      .controls
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'CHECK' | translate}}
        a.check__lnk--small.underlined(href="{{ appPath('/company') }}")
          | {{'GO_BACK_SEARCH' |
          | translate}}
