div(ng-controller='CheckCompaniesSearchCtrl')
  .content__item(ng-if='!results', ng-hide='progress.active')
    h4 {{'NOTHING_FOUND' | translate}}
    |         {{'TRY_ANOTHER' | translate}} 
    a.underlined(href="{{ appPath('company?state=exact') }}")
      | {{'TRY_QUERY_EXACT'
      | | translate}}
    | .
  .content__item(ng-if='results')
    .content__col-full.clearfix
      .pull-left
        .text-sm {{'FOUND' | translate}} {{results.length}} {{'FOUND_MATCHES' | translate}}
        h4 {{'SELECT_COMPANIES' | translate}}
      .pull-left.another-query.text-sm
        translate TRY_ANOTHER_COMPANY
        |  
        a.underlined(href="{{ appPath('company?state=exact') }}")
          translate TRY_QUERY_EXACT
        | .
    table.table.table--check.table--check-companies
      thead
        tr
          th
            input(type='checkbox', ng-model='checkAll', ng-change='checkAllCheck(checkAll)')
          th {{'LEGAL_ENTITY_TITLE' | translate}}
          th {{'ADDRESS' | translate}}
          th {{'OGRN' | translate}}
          th {{'INN' | translate}}
          th {{'KPP' | translate}}
          th {{'REGISTRATION_DATE' | translate}}
      tbody
        tr(ng-repeat='result in results')
          td.table__td-checkbox
            input(ng-model='result.checked', type='checkbox')
          td.table__td-title {{result.Name}}
          td.table__td-address {{result.Address}}
          td.table__td-ogrn {{result.OGRN}}
          td.table__td-inn {{result.INN}}
          td.table__td-kpp {{results.KPP}}
          td.table__td-date {{result.RegDate}}
    button.btn.btn-df.btn-primary(ng-click='checkSelected(results)')
      translate CHECK_SELECTED