.content__item(ng-controller='CheckCompaniesPaymentCtrl')
  h3.content__ttl-large(translate='PAYMENT_SERVICES')
  a.check__lnk.underlined(ng-click="locationSearch({ state: 'exact' })", ng-show='exactCompany', translate='CHANGE_QUERY')
  a.check__lnk.underlined(ng-href="{{ appPath('company') }}", translate='GO_BACK_SEARCH')
  .content__col-full(ng-hide='exactCompany')
    .padding-bottom--small(translate='CHECK_SELECTED_COMPANIES')
    table.table.table--check.table--check-companies
      thead
        tr
          th(translate='LEGAL_ENTITY_TITLE')
          th(translate='ADDRESS')
          th(translate='OGRN')
          th(translate='INN')
          th(translate='KPP')
          th(translate='REGISTRATION_DATE')
      tbody
        tr(ng-repeat='company in companies')
          td.table__td-title {{company.Name}}
          td.table__td-address {{company.Address}}
          td.table__td-ogrn {{company.OGRN}}
          td.table__td-inn {{company.INN}}
          td.table__td-kpp {{company.KPP}}
          td.table__td-date {{company.RegDate}}
      tfoot
        tr(ng-if='loggedIn')
          td.green(colspan='7')
            .check-price
              span(translate='TOTAL_PAY')
              |  
              span.check-price__val(ng-show='!fromBalance') {{ payment.payment_params.product_price }}
              |  
              span.check-price__val(ng-show='fromBalance') {{ totalPay }}
              |  
              span(translate='RUB')
    div(ng-if='fromBalance')
      br
      button.btn.btn-df(ng-click='pay()', translate='FROM_BALANCE')
  .content__col-full(ng-show='exactCompany')
    .padding-bottom--small(translate='CHECK_SELECTED_COMPANIES_QUERY') :
    table.table.table--check.table--query
      tbody
        tr
          td(translate='QUERY_TITLE')
          td
            span(ng-if="exactCompany.Name != ''") {{ exactCompany.Name }}
            span.text-sm.middle-gray(ng-if="exactCompany.Name == ''", translate='NOT_SPECIFIED')
        tr
          td(translate='OGRN')
          td
            span(ng-if="exactCompany.Name != ''") {{ exactCompany.OGRN }}
            span.text-sm.middle-gray(ng-if="exactCompany.Name == ''", translate='NOT_SPECIFIED')
        tr
          td(translate='INN')
          td
            span(ng-if="exactCompany.Name != ''") {{ exactCompany.INN }}
            span.text-sm.middle-gray(ng-if="exactCompany.Name == ''", translate='NOT_SPECIFIED')
        tr
          td(translate='OKPO')
          td
            span(ng-if="exactCompany.Name != ''") {{ exactCompany.OKPO }}
            span.text-sm.middle-gray(ng-if="exactCompany.Name == ''", translate='NOT_SPECIFIED')
      tfoot
        tr(ng-if='loggedIn')
          td.green(colspan='7')
            .check-price
              span(translate='TOTAL_PAY')
              | :
              span.check-price__val(ng-show='!fromBalance') {{ payment.payment_params.product_price }}
              span.check-price__val(ng-show='fromBalance') {{ totalPay }}
              span(translate='RUB')
    div(ng-if='fromBalance')
      br
      button.btn.btn-df(ng-click='pay()', translate='FROM_BALANCE')
  .content__col-full(ng-if='!fromBalance && payment || !loggedIn')
    h4.content__ttl
      span(translate='SELECT_PAYMENT_METHOD')
      | :
    p(style='color:#f6950c;', translate='ON_ERROR_SELECT_ANOTHER_PAYMENT_METHOD')
    form#paymentForm(name='paymentForm', target='_blank', action='https://www.promarket.pro/post-redirect.html', method='get')
      input(type='submit', style='display: none')
      input(type='hidden', name='cs1', value='{{payment.payment_params.cs1}}')
      input(type='hidden', name='wallet_id', value='{{ payment.payment_params.wallet_id }}')
      input(type='hidden', name='product_price', value='{{ payment.payment_params.product_price }}')
      input(type='hidden', name='product_currency', value='{{ payment.payment_params.product_currency }}')
      input(type='hidden', name='order_id', value='{{ payment.payment_params.order_id }}')
      input(type='hidden', name='payment_type_group_id', value='{{ payment.payment_params.payment_type_group_id }}')
      input(type='hidden', name='sign', value='{{ payment.payment_params.sign }}')
      .payment(ng-click='send()')
        .payment__item
          .payment__title(translate='E_WALLET')
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--0
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--1
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--2
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--3
        .payment__item
          .payment__title(translate='TERMINAL')
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--3
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--4
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--5
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--6
        .payment__item
          .payment__title(translate='B_CARD')
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--7
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--8
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--9
        .payment__item
          .payment__title(translate='MOBILE')
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--10
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--11
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--12
        .payment__item
          .payment__title(translate='OTHER_METHODS')
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--13
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--14
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--15
