div(ng-controller='CheckFaceSearchCtrl')
  .content__item
    h4 {{'NOTHING_FOUND' | translate}}
    |         {{'TRY_ANOTHER' | translate}} 
    a.underlined(href='#') {{'TRY_QUERY_EXACT' | translate}}
    | .
  .content__item
    .content__col-full
      .text-sm {{'FOUND' | translate}} 4 {{'FOUND_MATCHES' | translate}}
      h4 {{'SELECT_PERSONS' | translate}}
    table.table.table--check.table--faces
      thead
        tr
          th
            input(type='checkbox')
          th {{'FULL_NAME' | translate}}
          th {{'INN' | translate}}
          th {{'OGRNIP' | translate}}
      tbody
        tr(ng-repeat='face in faces')
          td.table__td-checkbox
            input(type='checkbox')
          td.table__td-name {{face.name}}
          td.table__td-inn {{face.inn}}
          td.table__td-ogrnip {{face.ogrnip}}
      tfoot
        tr
          td(colspan='7')
            button.btn.btn-df.btn-primary.btn-small.pull-left(ng-click='')
              | {{'CHECK_SELECTED' | translate}}
            .tfoot-message.pull-left
              | {{'TRY_ANOTHER_PERSON' | translate}} 
              a.underlined(href='#')
                | {{'TRY_QUERY_EXACT'
                | | translate}}
              | .
