.content__item(ng-controller='CheckFacePaymentCtrl')
  h3.content__ttl-large {{'PAYMENT_SERVICES' | translate}}
  a.check__lnk.underlined(ng-click='locationSearch({ state: null })') {{'CHANGE_QUERY' | translate}}
  .content__col-full
    .padding-bottom--small {{'CHECK_SELECTED_PERSON_QUERY' | translate}}:
    table.table.table--check.table--query
      tbody
        tr
          td {{'SURNAME' | translate}}
          td {{ face.lastname }}
        tr
          td {{'NAME' | translate}}
          td {{ face.firstname }}
        tr
          td {{'MIDDLE_NAME' | translate}}
          td {{ face.patronymic }}
        tr
          td {{'INN' | translate}}
          td {{ face.innfl }}
        tr
          td {{'OGRNIP' | translate}}
          td {{ face.ogrnip }}
      tfoot
        //
          <tr>
          <td colspan="7">
          <div class="table__result pull-left">
          <div class="table__val"><span>{{ payment.item.amount + payment.missing_amount }}</span> {{payment.currency_code | translate}}</div>
          <div class="table__val"><span>-{{ payment.item.amount }}</span> {{payment.currency_code | translate}}</div>
          </div>
          <div class="table__result pull-left">
          <div class="middle-gray"></div>
          <div class="middle-gray">{{'SUBSTRACT' | translate}}</div>
          </div>
          </td>
          </tr>
        tr(ng-if='loggedIn')
          td.green(colspan='7')
            .check-price
              translate TOTAL_PAY
              |  
              span.check-price__val {{ payment.missing_amount }} {{ cost }}
              |  
              translate RUB
  .content__col-full
    h4.content__ttl {{'SELECT_PAYMENT_METHOD' | translate}}:
    p(style='color:#f6950c;', translate='ON_ERROR_SELECT_ANOTHER_PAYMENT_METHOD')
    form#paymentForm(target='_blank', name='paymentForm', ng-if='payment || !loggedIn', action='https://www.promarket.pro/post-redirect.html', method='get')
      input(type='submit', style='display: none')
      input(type='hidden', name='cs1', value='{{payment.payment_params.cs1}}')
      input(type='hidden', name='wallet_id', value='{{ payment.payment_params.wallet_id }}')
      input(type='hidden', name='product_price', value='{{ payment.payment_params.product_price }}')
      input(type='hidden', name='product_currency', value='{{ payment.payment_params.product_currency }}')
      input(type='hidden', name='order_id', value='{{ payment.payment_params.order_id }}')
      input(type='hidden', name='payment_type_group_id', value='{{ payment.payment_params.payment_type_group_id }}')
      input(type='hidden', name='sign', value='{{ payment.payment_params.sign }}')
      .payment(ng-click='send()')
        .payment__item
          .payment__title {{'E_WALLET' | translate}}
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--0
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--1
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--2
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--3
        .payment__item
          .payment__title {{'TERMINAL' | translate}}
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--3
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--4
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--5
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--6
        .payment__item
          .payment__title {{'B_CARD' | translate}}
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--7
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--8
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--9
        .payment__item
          .payment__title {{'MOBILE' | translate}}
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--10
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--11
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--12
        .payment__item
          .payment__title {{'OTHER_METHODS' | translate}}
          ul.payment-list
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--13
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--14
            li
              a.payment-list__lnk
                i.payment-icon.payment-icon--15
