div(ng-controller='CheckFaceIndexCtrl')
  .content__item.bottom-bordered
    h4.content__ttl {{'QUERY_EXACT' | translate}} 
    h5(style='color:#f57c20', translate='QUERY_EXACT_ATTENTION')
    form.form-horizontal.check__form-query(action='', ng-submit='search(face)')
      .control-group
        label.control-label {{'SURNAME' | translate}}
        .controls
          input.form-control.input-sm(ng-required='!face.innfl && !face.ogrnip', type='text', placeholder='', ng-model='face.lastname')
      .control-group
        label.control-label {{'NAME' | translate}}
        .controls
          input.form-control.input-sm(ng-required='!face.innfl && !face.ogrnip', type='text', placeholder='', ng-model='face.firstname')
      .control-group
        label.control-label {{'MIDDLE_NAME' | translate}}
        .controls
          input.form-control.input-sm(ng-required='!face.innfl && !face.ogrnip', type='text', placeholder='', ng-model='face.patronymic')
      .control-group
        label.control-label {{'INN' | translate}}
        .controls
          input.form-control.input-sm(ng-required='!face.lastname && !face.firstname && !face.patronymic && !face.ogrnip', type='text', placeholder='', ng-model='face.innfl')
      .control-group
        label.control-label {{'OGRNIP' | translate}}
        .controls
          input.form-control.input-sm(ng-required='!face.lastname && !face.firstname && !face.patronymic && !face.innfl', type='text', placeholder='', ng-model='face.ogrnip')
      .control-group.control-group--actions
        .controls
          button.btn.btn-df.btn-primary.btn-small(ng-if='!fromBalance', type='submit', translate='CHECK')
          button.btn.btn-df.btn-primary.btn-small(ng-if='fromBalance', type='submit', translate='FROM_BALANCE')
  .content__item
    .content__col-full.clearfix
      .check-price.pull-left
        translate SERVICE_PRICE
        |  
        span.check-price__val {{cost.RUB.total_amount || 300}}
        |  
        translate RUB
    .content__col-left
      h4.list-ttl {{'CHECK_PHIS_TITLE' | translate}}: *
      ol.list-ordered.text-sm
        li(translate='CHECK_PHIS_ITEM_1')
        li(translate='CHECK_PHIS_ITEM_2')
        li(translate='CHECK_PHIS_ITEM_4')
        li(translate='CHECK_PHIS_ITEM_5')
        li(translate='CHECK_PHIS_ITEM_6')
        li(translate='CHECK_PHIS_ITEM_7')
        li(translate='CHECK_PHIS_ITEM_8')
        li(translate='CHECK_PHIS_ITEM_9')
        li(translate='CHECK_PHIS_ITEM_10')
        li(translate='CHECK_PHIS_ITEM_11')
        li(translate='CHECK_PHIS_ITEM_12')
        li(translate='CHECK_PHIS_ITEM_14')
        li(translate='CHECK_PHIS_ITEM_15')
    .content__col-right
      .report-model.bottom-bordered.text-sm.gray-light
        a.report-model__lnk.underlined(ng-click="openModal({ tpl: 'gost', class: 'mdl-app modal-gost', scope: modal })")
          i.app-icon.app-icon-report
          | {{'REPORT_SAMPLE' | translate}}
        |  {{'CHECK_EXAMPLE' | translate}}
      h4.list-ttl {{'IMPORTANT_THINGS_1' | translate}}:
      ul.list-unordered.text-sm
        li(translate='IMPORTANT_THINGS_2')
        li(translate='IMPORTANT_THINGS_3')
        li(translate='IMPORTANT_THINGS_4')
        li(translate='IMPORTANT_THINGS_5')
        li(translate='IMPORTANT_THINGS_6')
        li(translate='IMPORTANT_THINGS_7')
        li(style='list-style-type: none;', translate='IMPORTANT_THINGS_8')
        li(style='list-style-type: none; font-size:9px;', translate='IMPORTANT_THINGS_9')
