.full-height.cnt-nav-left.check(ng-controller='CheckCtrl')
  .check__headline
    h4.content-layout__title.pull-left {{'CHECK_TITLE' | translate}}
    button.btn.btn-df.btn-small.pull-left(ng-click="appRoute('/')")
      i.app-icon.app-icon-home
    .check__balance.pull-right(ng-if='loggedIn')
      u {{'ACC_BALANCE' | translate}}
      | :
      span {{balance[0]}}
      | {{'RUB' | translate}}
  tabset.app-tabset
    tab(ng-repeat='tab in tabs', heading='{{ tab.heading | translate }}', active='tab.active', select='selectTab(tab.name)', ng-show='$index != 0', disabled='!loggedIn')
      ng-include(src='tab.template', ng-if='tab.active')
