span(ng-controller='CheckMyCtrl')
  .content
    .content__item
      h4.content__ttl {{'COMPANIES_LIST' | translate}}
      p(style='color:#f6950c;', translate='CHECK_DELAY_NOTICE')
      table.table.table--check.table--my-companies
        thead
          tr
            th.th-size__s {{ 'REQUEST_DATE' | translate }}
            th.th-size__s {{'STATUS' | translate}}
            th.th-size__l {{'LEGAL_ENTITY_TITLE' | translate}}
            th.th-size__l {{'ADDRESS' | translate}}
            th.th-size__m {{'OGRN' | translate}}
            th.th-size__s {{'INN' | translate}}
            th.th-size__s {{'KPP' | translate}}
            th.th-size__m {{'REGISTRATION_DATE' | translate}}
            th.th-size__s  
        tbody
          tr(ng-repeat="person in companyRequests | orderBy:'created':true")
            td.table__td-created
              | {{ person.created | date:'medium' }}
            td.table__td-status
              div(ng-class="{statusGray: person.status=='IN_PROCESS' || person.status == 'WAITING', statusGreen: person.status=='CHECKED', statusRed: person.status=='NOT_FOUND' || person.status=='ERROR'}")
                i.status-icon.app-icon(ng-class="{appIconProcess: person.status=='IN_PROCESS' || person.status == 'WAITING', appIcon97: person.status=='CHECKED', appIcon98: person.status=='NOT_FOUND', appIcon96: person.status=='ERROR'}")
                .status-ttl {{person.status | translate}}
            td.table__td-title {{person.detail.Name}}
            td.table__td-address {{person.detail.Address}}
            td.table__td-ogrnip {{person.detail.OGRN}}
            td.table__td-inn {{person.detail.INN}}
            td.table__td-kpp {{person.detail.KPP}}
            td.table__td-date {{person.detail.RegDate}}
            td.table__td-report
              a(target='_blank', href='{{person.reportLink}}', ng-show='person.reportLink') {{'DOWNLOAD_REPORT' | translate}}
    .content__item
      h4.content__ttl {{'PERSONS_LIST' | translate}}
      table.table.table--check.table--my-faces
        thead
          tr
            th.th-size__s {{ 'REQUEST_DATE' | translate }}
            th.th-size__s {{'STATUS' | translate}}
            th.th-size__l {{'FULL_NAME' | translate}}
            th.th-size__l {{'INN' | translate}}
            th.th-size__m {{'OGRNIP' | translate}}
            th.th-size__s  
            th.th-size__s  
            th.th-size__m  
            th.th-size__s  
        tbody
          tr(ng-repeat="person in personRequests | orderBy:'created':true")
            td.table__td-created
              | {{ person.created | date:shortDate }}
            td.table__td-status
              div(ng-class="{statusGray: person.status=='IN_PROCESS' || person.status == 'WAITING', statusGreen: person.status=='CHECKED', statusRed: person.status=='NOT_FOUND' || person.status=='ERROR'}")
                i.status-icon.app-icon(ng-class="{appIconProcess: person.status=='IN_PROCESS' || person.status == 'WAITING', appIcon97: person.status=='CHECKED', appIcon98: person.status=='NOT_FOUND', appIcon96: person.status=='ERROR'}")
                .status-ttl {{person.status | translate}}
            td.table__td-name
              | {{person.detail.lastname}} {{person.detail.firstname}} {{person.detail.patronymic}}
            td.table__td-inn {{person.detail.inn}}
            td.table__td-ogrnip {{person.detail.ogrnip}}
            td  
            td  
            td  
            td.table__td-report
              a(href='{{person.reportLink}}', target='_blank', ng-show='person.reportLink') {{'DOWNLOAD_REPORT' | translate}}
