span(ng-controller='CheckPassportCtrl')
  .content
    .content__item.content__item--small.bottom-bordered
      form.check__form-passport.passport-check-form(action='', ng-submit='check(request)')
        .form-body
          .clearfix
            .form-group.pass-ser
              label {{'SERIES' | translate}}
              input.form-control.input-sm(type='text', placeholder='4782', ng-model='request.series', required='')
            .form-group.pass-num
              label {{'NUMBER' | translate}}
              input.form-control.input-sm(type='text', placeholder='322856', ng-model='request.number', required='')
          .clearfix
            .capcha
              img(ng-src='{{captcha.src}}', alt='')
            .form-group.capcha-input
              label {{'NUMBERS_FROM_PIC' | translate}}
              input.form-control.input-sm(type='text', ng-model='request.captcha', required='')
        .form-actions
          button.btn.btn-df.btn-primary.btn-small(type='submit') {{'CHECK' | translate}}
    .content__item.content__item--small.text-sm
      | {{result}}
