span(ng-controller='CheckIndexCtrl')
  .content
    .content__item
      ul.nav.nav--check
        li.nav--check__item
          a.nav--check__lnk(ng-click="appRoute('/company')")
            i.start-icon.start-icon--comp
            |          {{'CHECK_COMPANIES' | translate}}
          .text-sm.gray-light {{'PAID_SERV' | translate}}
        li.nav--check__item
          a.nav--check__lnk(ng-click="appRoute('/individuals')")
            i.start-icon.start-icon--indiv
            | {{'CHECK_INDIVIDUALS' | translate}}
          .text-sm.gray-light {{'PAID_SERV' | translate}}
        //
          <li class="nav--check__item">
          <a ng-click="appRoute('/passport')" class="nav--check__lnk"><i
          class="start-icon start-icon--pass"></i>{{'CHECK_PASSPORTS' | translate}}</a>
          <div class="text-sm gray-light">{{'FREE_SERV' | translate}}</div>
          </li>
    .content__item
      .infoblock
        .infoblock__item
          i.infoblock-icon.infoblock-icon-4
          .infoblock__txt
            h2.infoblock__ttl {{'Infoblock4.TTL' | translate}}
            |          {{'Infoblock4.TXT' | translate}}
        .infoblock__item
          i.infoblock-icon.infoblock-icon-2
          .infoblock__txt
            h2.infoblock__ttl {{'Infoblock2.TTL' | translate}}
            |          {{'Infoblock2.TXT' | translate}}
        .infoblock__item
          i.infoblock-icon.infoblock-icon-3
          .infoblock__txt
            h2.infoblock__ttl {{'Infoblock3.TTL' | translate}}
            |          {{'Infoblock3.TXT' | translate}}
            br
            |          {{'Infoblock3.TXT2' | translate}}
        .infoblock__item
          i.infoblock-icon.infoblock-icon-5
          .infoblock__txt
            h2.infoblock__ttl {{'Infoblock5.TTL' | translate}}
            |          {{'Infoblock5.TXT' | translate}}
        .infoblock__item
          i.infoblock-icon.infoblock-icon-0
          .infoblock__txt
            h2.infoblock__ttl {{'Infoblock0.TTL' | translate}}
            |          {{'Infoblock0.TXT' | translate}}
        .infoblock__item
          i.infoblock-icon.infoblock-icon-1
          .infoblock__txt
            h2.infoblock__ttl {{'Infoblock1.TTL' | translate}}
            |          {{'Infoblock1.TXT' | translate}}
        .infoblock__item
          i.infoblock-icon.infoblock-icon-6
          .infoblock__txt
            h2.infoblock__ttl {{'Infoblock6.TTL' | translate}}
            |          {{'Infoblock6.TXT' | translate}}
            br
            |          {{'Infoblock6.TXT2' | translate}}
