.container
  .row
    .grid.grid--xs
      .phiz
        img.phiz__img(src="images/partner_1.jpg", alt="", width="220", height="109")
        .phiz__views
          | Просмотров участника:
          br
          | 39 994
    .grid
      .block
        //begin block1
        .block__item
          .title-n-link
            a.title-n-link__link(href="#777")
              span.icon.icon--edit-dark
              | Редактировать
            h2.title-n-link__ttl О компании
          p Ювелирная компания "Балтийские узоры" производит оригинальные изделия с использованием янтаря, бернита и бирюзы. Для производства украшений используется отборный балтийский янтарь. Природа создала янтарь совершенным, и мы в своих изделиях стараемся сохранить и подчеркнуть естественную красоту камня. Все этапы создания ювелирного изделия проходят на нашем предприятии, что даёт возможность постоянно контролировать его качество.
          p Многолетний  опыт обработки янтаря применяется и в работе с  бирюзой, а также с относительно новым материалом на рынке ювелирных изделий – бернитом.
        //end block1
        //begin block2
        .block__item
          .bl-collapse
            a.lnk-dashed.bl-collapse__lnk.collapsed(data-toggle="collapse" href="#j-collapse-products" aria-expanded="false" aria-controls="j-collapse-products")
              span.lnk-dashed__text Продукция
            #j-collapse-products.bl-collapse__aria.collapse
              include ../../components/list-styled
        //end block2
        //begin block3
        .block__item
          .bl-collapse
            a.lnk-dashed.bl-collapse__lnk.collapsed(data-toggle="collapse" href="#j-collapse-serv" aria-expanded="false" aria-controls="j-collapse-serv")
              span.lnk-dashed__text Услуги компании
            #j-collapse-serv.bl-collapse__aria.collapse
              include ../../components/list-styled
        //begin block4
        .block__item
          img(src="images/content/stand_1.jpg", alt="", width="560", height="340")
        //end block4
      .title-n-link
        a.title-n-link__link.title-n-link__link--h3md(href="#777") + Добавить новость
        h3.ttl-md.title-n-link__ttl Новости компании
      //begin media
      article.media.media--stack
        .media__pic
          img(src="images/partner_1.jpg", alt="", width="110", height="90")
        .media__body
          h4.media__ttl
           a(href="#777") ООО «Балтийские узоры»
          | Ювелирная компания "Балтийские узоры" производит оригинальные изделия с использованием янтаря, бернита и бирюзы.
      article.media.media--stack
        .media__body
          h4.media__ttl
           a(href="#777") ООО «Балтийские узоры»
          | Ювелирная компания "Балтийские узоры" производит оригинальные изделия с использованием янтаря, бернита и бирюзы.
      //end media

    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            a(href="#777")
              span.icon.icon--edit-dark
              | Профиль компании
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Контактная информация
            | Россия, г. Калининград, ул. Театральная,
            br
            | д. 34, офис 118
            br
            br
            | Звоните в Калининграде:
            br
            | +7 (4012) 50-77-58
            br
            br
            | Если вы из Москвы, можете связаться
            br
            | с нашим представителем в Москве:
            br
            | +7 (499) 709-73-87
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Связаться с компанией
            form.sidebar__form
              .form-group
                input.form-control(type='text', placeholder='Имя')
              .form-group
                input.form-control(type='email', placeholder='E-mail')
              .form-group
                select.select(data-placeholder="Тема запроса")
                  option(value="")
                  option(value="0") Option1
                  option(value="1") Option2
                  option(value="2") Option3
              .form-group
                textarea.form-control(rows="5")
              button.btn.btn--light(type="submit") Отправить
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Отрасль
            a(href="#777") Оружие
            | ,
            a(href="#777") Охота и рыбалка
            | ,
            a(href="#777") Спорт
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Регион представления
            | СЗО, Москва и МО, Калининградская область, Уфа, Челябинск, Новосибирск
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Рассказать о компании
            //begin social
            ul.social.social--left
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--fb-lg
                  span.hidden Facebook
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--tw-lg
                  span.hidden Twitter
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--in-lg
                  span.hidden LinkedIn
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--vk-lg
                  span.hidden Вконтакте
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                    span.icon.lnk-social__ico.lnk-social__ico--ok-lg
                    span.hidden Одноклассники
            //end social
      //end sidebar
