.container
  .row
    .grid-8
      .block
        //begin block1
        .block__item
          h2 Продукция компании
          //begin media
          article.media.media--product
            .media__pic
              img(src="images/content/stand_3.jpg", alt="", width="240", height="153")
            .media__body
              h4.media__ttl Янтарь
              | Syntha-6 – протеиновая смесь содержит протеины с быстрым, средним и медленным периодом высвобождения питательных веществ, что гарантирует постоянной приток аминокислот в мышцы в течение долгого времени.
              .media__lnks.media-lnks
                a.media-lnks__item(href="#777")
                  span.icon.icon--doc
                  | Каталог продукции 2015
                a.media-lnks__item(href="#777")
                  span.icon.icon--xls
                  | Маркетинг-кит 2105
          article.media.media--product
            .media__pic
              img(src="images/content/stand_3.jpg", alt="", width="240", height="153")
            .media__body
              h4.media__ttl Бернит
              | Syntha-6 – протеиновая смесь содержит протеины с быстрым, средним и медленным периодом высвобождения питательных веществ, что гарантирует постоянной приток аминокислот в мышцы в течение долгого времени.
              .media__lnks.media-lnks
                a.media-lnks__item(href="#777")
                  span.icon.icon--pdf
                  | Каталог продукции 2015
                a.media-lnks__item(href="#777")
                  span.icon.icon--jpg
                  | Маркетинг-кит 2105
          article.media.media--product
            .media__pic
              img(src="images/content/stand_3.jpg", alt="", width="240", height="153")
            .media__body
              h4.media__ttl Бирюза
              | Syntha-6 – протеиновая смесь содержит протеины с быстрым, средним и медленным периодом высвобождения питательных веществ, что гарантирует постоянной приток аминокислот в мышцы в течение долгого времени.
              .media__lnks.media-lnks
                a.media-lnks__item(href="#777")
                  span.icon.icon--zip
                  | Каталог продукции 2015
          //end media
        //end block1
        //begin block2
        .block__item
          h2 Услуги
          p Интерес к выставке вооружения в Украине вызывает наличие в государстве одной из самых многочисленных армий в Европе, которая требует модернизации и перевооружения, достаточно мощного обороннопромышленного комплекса, предприятия которого нуждаются в кооперации с разработчиками передовых технологий для создания производства современных образцов вооружения в интересах вооруженных сил и обеспечения экспорта.
          include ../../components/list-styled
        //end block2

    .grid-4
      //begin sidebar
      .sidebar
        .sidebar__item
          .sidebar-block
            .sidebar-block__ttl Рассказать о компании
            //begin social
            ul.social.social--left
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--fb-lg
                  span.hidden Facebook
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--tw-lg
                  span.hidden Twitter
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--in-lg
                  span.hidden LinkedIn
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--vk-lg
                  span.hidden Вконтакте
              li.social__item
                a.social__lnk.lnk-social(href="#777")
                    span.icon.lnk-social__ico.lnk-social__ico--ok-lg
                    span.hidden Одноклассники
            //end social
      //end sidebar
