form.modal-form(action='', ng-submit='remove(item, reason, note)')
  .form-body
    .form-group
      label {{'REASON' | translate}}
      .container-textarea
        textarea(ng-model='reason')
    .form-group
      label {{'NOTE_MODERATOR' | translate}}
      .container-textarea
        textarea.small(ng-model='note')
  .form-actions
    button.btn.btn-df.btn-primary.btn-small(ng-disabled='progress', type='submit') {{'DELETE' | translate}}
    button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')") {{'CANCEL' | translate}}
