div(ng-controller='AdminLocalesCtrl')
  hr
  span(ng-if='false', xmsg='msg')
  hr
  span(chat-message='msg')
  div(ng-repeat='(localeName, locale) in missing')
    table(border='1')
      tr
        th {{ localeName }}
        th(colspan='2')
          button(ng-click='showLocale(locale)') Gotcha
      tr
        th Ключ
        th Значение
        th Значение в другой локали
      tr(ng-repeat='row in locale')
        td {{ row.key }}
        td
          input(ng-model='row.value')
        td
          input(value='{{ row.anotherValue }}')
