.centered {
  text-align: center;
}

.lst-styled {
  padding-bottom: 25px;

  &:last-child {
    padding-bottom: 0;
  }

  &__item {
    padding-left: 40px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 20px;
      width: .6rem;
      height: .6rem;
      background-color: $blue;
      margin-right: 1rem;
      border-radius: 50%;
    }
  }
  &__ttl {
    font-size: 18px;
    line-height: 1.125;
    color: $gray-middle;
    padding-bottom: 5px;
  }
}

.date {
  position: absolute;
  top: 0;
  left: 0;
  font-family: $font-family-light;
  color: white;
  background: $primary-color;
  padding: 5px 10px 4px;
}

.underlined {
  text-decoration: none;
  border-bottom: 1px dashed $color-link;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-link-hover;
    border-bottom-color: $color-link-hover;
  }
}

.lnk-dashed {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: none;
  }

  &__text {
    border-bottom: 1px dashed $color-link;
  }

  &:hover &__text,
  &:focus &__text {
    border-color: $color-link-hover;
  }
}

.lnk-delete {
  &:hover &__ico,
  &:focus &__ico {
    background: $color-extra;
  }

  &:hover &__text,
  &:focus &__text {
    color: $color-extra;
    border-bottom: 1px dashed $color-extra;
  }
}

.text-lg {
  font-size: 18px;
}

.lnk-flex {
  display: flex!important;

  &__centered {
    margin: auto;
  }
}

.title-n-link {

  &__link {
    float: right;
    position: relative;
    top: 10px;

    &--h3md {
      top: 40px;
    }
    &--h4 {
      top: 0;
    }
  }
}

.box {

  &__inner {
    flex: 1 1 auto;
    margin-bottom: 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid $color-border-light;
  }
}

.stand-name {
  font-size: 30px;
  color: $light-color;
  line-height: 1.4;

  &--right {
    float: right;
  }
  &--sm {
    font-size: $font-size-base;
  }
}

.lbl {
  display: inline-block;
  background: $light-color;
  color: white;
  font-size: 12px;
  padding: 4px 10px 2px;

  &--extra {
    background: $extra-color;
  }
}

.addition {
  color: $color-text-light;
  font-style: italic;
}

.close {
  height: 16px;
  width: 16px;
  background: $blue-gray-lighter;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

  &__ico {
    @include sprite($close-sm);
    position: relative;
    top: 4px;
    margin: auto;
  }
}
