.content-item
  ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
  table.table.table--admin.table--admin-chat(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !message.isApproved }", ng-repeat='message in messages')
        td
          .table__metadata
            .metadata.right-bordered
              span {{ message.claimedFullName }}
            .metadata
              | {{'REGION' | translate}}:
              a(ng-bind='message.item.region')
          .table__message
            span(ng-bind='message.item.text', ng-show='!message.isDeleted')
        td.table-actions.my-edit-controls
          button.btn.btn-df.btn-primary(
          ng-click="openModal({tpl: 'admin/premoderated/move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { message: message }})",
          )
            i.app-icon.app-icon-124
          button.btn.btn-df(
          ng-click="openModal({tpl: 'admin/premoderated/move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { message: message, delete: true }})",
          )
            i.app-icon.app-icon-99
  ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
