.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_USER' | translate}}
.modal-body
  .modal-inner
    .modal-heading
      a.modal-heading__txt(ng-href='')
    form.modal-form(action='')
      .form-body
        .form-group
          .container-textarea
            textarea
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click='$close()') {{'CANCEL' | translate}}
