.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'LOCK_USER' | translate}}
.modal-body(ng-controller='UsersLockCtrl as usersLock')
  .modal-inner
    .modal-heading
      .auth__user(user-name='user')
    form.modal-form(action='', ng-submit='usersLock.lock(user)')
      .form-body
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea(ng-model='usersLock.user.reason')
        .form-group
          label {{'NOTE_MODERATOR' | translate}}
          .container-textarea
            textarea.small(ng-model='usersLock.user.note')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'LOCK' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
