.content-item
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
  table.table.table--admin.table--admin-board(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !ad.isApproved }", ng-repeat='ad in ads')
        td.table-title
          .table__metadata
            .metadata
              | {{'BRANCH' | translate}}:
              room-info(room-id='ad.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          .type(ng-class="{green: ad.kind=='Buy', gray: ad.kind=='Sell'}")
            | {{ad.kind.toUpperCase() | translate}}
          a(ng-click="newWinRoute([ad.roomUrlName, 'board', 'offer', ad.id])") {{ad.title}}
          i.app-icon.app-icon-phone(ng-show='ad.icon')
        td.table-info
          .activity
            span.icons-item
              i.app-icon.app-icon-14
              |  {{ad.created | date:'medium'}}
            span.icons-item
              i.app-icon.app-icon-101
              |  {{ad.viewCount}}
            span.icons-item
              i.app-icon.app-icon-95
              |  {{ad.commentsCount.Count}}
        td.padding(ng-class="{'ipad': isPortrait()}")
        td.table-author(ng-include="'views/app/auth/_ad.html'")
        td.table-actions.my-edit-controls
          div(ng-hide='ad.isDeleted')
            button.btn.btn-df.btn-primary(ng-click='approve(ad)', ng-hide='ad.isApproved')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'merchants/board-add', class: 'mdl-app mdl-merchants', scope: { roomId: roomId, editAds: ad }, cb: reload})")
              i.app-icon.app-icon-79
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/merchants/board-move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { ad: ad }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/merchants/board-delete', class: 'mdl-app modal-admin', cb: reload, scope: { ad: ad }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-click='restore(ad)', ng-show='ad.isDeleted')
            i.app-icon.app-icon-deleted
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
