.content-item
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
  table.table.table--admin.table--admin-offers(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !offer.isApproved }", ng-repeat='offer in offers')
        td.table-image
          .bordered
            img.thumb__object(ng-if='offer.pictures.length > 0', ng-src='{{offer.pictures[0].thumbnailLink}}')
            img.thumb__object(ng-if='offer.pictures.length == 0', src='img/content/no-photo.jpg')
        td.table-title
          .table__metadata
            .metadata
              | {{'BRANCH' | translate}}:
              room-info(room-id='offer.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          a.thumb__heading(ng-click="newWinRoute([offer.roomUrlName, activeTabName, 'offer', offer.id])", ng-bind='offer.title')
          .table__price
            .price(ng-hide="offer.price.amount==''")
              span {{offer.priceValue}}
              | {{currencyCodes[offer.currencyCode]}}/{{ priceUnits[offer.priceUnit] }}
            .price(ng-show="offer.price.amount==''", translate='NO_PRICE')
            .status(ng-show="offer.kind == 'Merchandise' && offer.isAvailable", translate='IN_STOCK')
            .status.gray(ng-show="offer.kind == 'Merchandise' && !offer.isAvailable", translate='UNDER_ORDER')
        td.table-info
          .activity
            span.icons-item
              i.app-icon.app-icon-14
              |  {{offer.created | date:shordivate}}
            span.icons-item
              i.app-icon.app-icon-101
              |  {{offer.viewCount}}
            span.icons-item
              i.app-icon.app-icon-95
              |  {{offer.commentsCount.Count}}
        td.padding(ng-class="{'ipad': isPortrait()}")
        td.table-author(ng-include="'views/app/auth/_offer.html'")
        td.table-actions.my-edit-controls
          div(ng-hide='offer.isDeleted')
            button.btn.btn-df.btn-primary(ng-hide='offer.isApproved', ng-click='approve(offer)')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'merchants/goods-add', class: 'mdl-app mdl-merchants', scope: {offer: offer}, cb: reload})")
              i.app-icon.app-icon-79
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle(ng-click='remove(offer)')
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/merchants/offers-move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { offer: offer }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/merchants/offers-delete', class: 'mdl-app modal-admin', cb: reload, scope: { offer: offer }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-show='offer.isDeleted', ng-click='restore(offer)')
            i.app-icon.app-icon-deleted
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
