.content-item(ng-controller='MerchantsAdminPricesIndexCtrl')
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
  table.table.table--admin.table--admin-prices
    tbody
      tr(ng-class="{ 'table__tr--active': !price.IsApproved }", ng-repeat='price in prices')
        td.table-title
          .table__metadata
            .metadata
              | {{'BRANCH' | translate}}:
              room-info(room-id='price.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          .lnk-download
            i.app-icon.app-icon-download
            .lnk-download__body
              a(ng-href='{{price.link}}') {{price.description}}
              span (.{{price.format}})
        td.table-info
          .activity
            span.icons-item
              i.app-icon.app-icon-14
              |  {{price.created | date:'medium'}}
            span.icons-item
              i.app-icon.app-icon-101
              |  {{price.downloadCount}}
        td.padding(ng-class="{'ipad': isPortrait()}")
        td.table-author(ng-include="'views/app/auth/_price.html'")
        td.table-actions.my-edit-controls
          div(ng-hide='price.isDeleted')
            button.btn.btn-df.btn-primary(ng-click='approve(price)', ng-hide='price.isApproved')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'merchants/price-add', class: 'mdl-app modal-admin', scope: {editPrice: price}, cb: reload})")
              i.app-icon.app-icon-79
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/merchants/prices-move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { price: price }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/merchants/prices-delete', class: 'mdl-app modal-admin', cb: reload, scope: { price: price }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-click='restore(price)', ng-show='price.isDeleted')
            i.app-icon.app-icon-deleted
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
