.pull-right
  form.form-inline.pull-right(action='', ng-submit='search(query)')
    input.form-control.input-sm.input-large(ng-model='query', type='text', placeholder="{{'SEARCHING' | translate}}")
    button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SEARCH' | translate}}
.btn-toolbar
  .btn-group(ng-show='subjectType')
    button.btn.btn-df(type='button', ng-model='indexType', ui-sref="app.merchants-admin-tab-type({ tabName: activeTabName, type: 'list' })", btn-radio="'list'")
      i.app-icon.app-icon-posts.btn-toolbar__icon
    button.btn.btn-df(type='button', ng-model='indexType', ui-sref="app.merchants-admin-tab-type({ tabName: activeTabName, type: 'comments' })", btn-radio="'comments'")
      i.app-icon.app-icon-comment.btn-toolbar__icon
  .btn-group
    button.btn.btn-df.btn-small(type='button', ui-sref="app.merchants-admin-tab-type-filter({ tabName: activeTabName, type: indexType, filter: 'notapproved' })", ng-model='type', btn-radio="'notapproved'")
      | {{'UNCHECKED' | translate}}
    button.btn.btn-df.btn-small(type='button', ui-sref="app.merchants-admin-tab-type-filter({ tabName: activeTabName, type: indexType, filter: 'active' })", ng-model='type', btn-radio="'active'")
      | {{'ACTIVE' | translate}}
    button.btn.btn-df.btn-small(type='button', ui-sref="app.merchants-admin-tab-type-filter({ tabName: activeTabName, type: indexType, filter: 'deleted' })", ng-model='type', btn-radio="'deleted'")
      | {{'DELETED' | translate}}
