span(ng-controller='MerchantsAdminBoardIndexCtrl')
  .content-sub-control
    ng-include(src="'views/admin/merchants/_tabs.html'")
  .content
    ng-include(src="'views/admin/merchants/_board-list.html'")
