.full-height.cnt-nav-left.offers.admin
  tabset.app-tabset
    li
      h4.nav-tabs__header
        translate PRODUCTS_SERVICES
    tab(ng-repeat='tab in tabs', heading='{{ tab.heading | translate }}', active='tab.active',
    ui-sref="app.merchants-admin-tab({tabName: tab.name})")
      ng-include(src='template', ng-if='tab.active')
