span(ng-controller='MerchantsAdminOffersIndexCtrl')
  .content-sub-control
    ng-include(src="'views/admin/merchants/_tabs.html'")
  .content
    ng-include(src="'views/admin/merchants/_offers-list.html'")
