form.form-inline(ng-submit='search()')
  input.form-control.input-sm.input-large(ng-model='query.text', type='text', placeholder="{{'SEARCH_TITLE' | translate}}", name='q')
  button.btn.btn-df.btn-primary(type='submit') {{'SEARCH' | translate}}
