ul.nav-top(du-spy-context='', du-scroll-container='scroll-container', ng-if='!search.singleSearch', metrika="'search-menu'")
  li.nav-top__item(ng-if='search.childRooms.length')
    a.nav-top__lnk(href='#subind', du-smooth-scroll='', du-scrollspy='')
      translate BRANCHES
  li.nav-top__item(ng-if='loggedIn && search.feedItems.length')
    a.nav-top__lnk(href='#catalog-chat', du-smooth-scroll='', du-scrollspy='')
      translate CHATS
      |  ({{search.counts.chat}})
  li.nav-top__item
    a.nav-top__lnk(href='#prices', du-smooth-scroll='', du-scrollspy='')
      translate PRICES
      |  ({{search.counts.prices}})
  li.nav-top__item
    a.nav-top__lnk(href='#goods', du-smooth-scroll='', du-scrollspy='')
      translate GOODS
      |  ({{search.counts.goods}})
  li.nav-top__item
    a.nav-top__lnk(href='#ads', du-smooth-scroll='', du-scrollspy='')
      translate ADVS
      |  ({{search.counts.ads}})
  li.nav-top__item
    a.nav-top__lnk(href='#services', du-smooth-scroll='', du-scrollspy='')
      translate SERVICES
      |  ({{search.counts.services}})
  li.nav-top__item(ng-if='!loggedIn && search.feedItems.length')
    a.nav-top__lnk(href='#catalog-chat', du-smooth-scroll='', du-scrollspy='')
      translate CHATS
      |  ({{search.counts.chat}})
  li.nav-top__item
    a.nav-top__lnk(href='#companies', du-smooth-scroll='', du-scrollspy='')
      translate COMPANIES_LIST
      |  ({{search.counts.companies}})
  li.nav-top__item(ng-if='loggedIn')
    a.nav-top__lnk(href='#topics', du-smooth-scroll='', du-scrollspy='')
      translate FORUM
      |  ({{search.counts.forum}})
  li.nav-top__item(ng-if='loggedIn')
    a.nav-top__lnk(href='#jobs', du-smooth-scroll='', du-scrollspy='')
      translate VACANCIES
      |  ({{search.counts.jobs}})
  li.nav-top__item(ng-if='loggedIn')
    a.nav-top__lnk(href='#jobs', du-smooth-scroll='', du-scrollspy='')
      translate CV
      |  ({{search.counts.resumes}})
  li.nav-top__item(ng-if='search.counts.users != 0')
    a.nav-top__lnk(href='#users', du-smooth-scroll='', du-scrollspy='')
      translate USERS_TITLE
      |  ({{search.counts.users}})
  li.nav-top__item
    a.nav-top__lnk(href='#blacklists', du-smooth-scroll='', du-scrollspy='')
      translate BLACKLIST
      |  ({{search.counts.blacklists}})
  li.nav-top__item(ng-if='loggedIn')
    a.nav-top__lnk(href='#videos', du-smooth-scroll='', du-scrollspy='')
      translate VIDEO
      |  ({{search.counts.videos}})
ul.nav-top(ng-if='search.singleSearch', metrika="'search-menu'")
  li.nav-top__item
    a.nav-top__lnk(ui-sref="app.search-query({q: query})")
      translate ALL
  li.nav-top__item(ng-if='loggedIn && search.feedItems.length')
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'chat' })")
      translate CHATS
      |  ({{search.counts.chat}})
  li.nav-top__item
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'prices' })")
      translate PRICES
      |  ({{search.counts.prices}})
  li.nav-top__item
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'goods' })")
      translate GOODS
      |  ({{search.counts.goods}})
  li.nav-top__item
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'services' })")
      translate SERVICES
      |  ({{search.counts.services}})
  li.nav-top__item
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'ads' })")
      translate ADVS
      |  ({{search.counts.ads}})
  li.nav-top__item
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'companies' })")
      translate COMPANIES_LIST
      |  ({{search.counts.companies}})
  li.nav-top__item(ng-if='loggedIn')
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'forum' })")
      translate FORUM
      |  ({{search.counts.forum}})
  li.nav-top__item(ng-if='loggedIn')
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'jobs' })")
      translate VACANCIES
      |  ({{search.counts.jobs}})
  li.nav-top__item(ng-if='loggedIn')
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'resumes' })")
      translate CV
      |  ({{search.counts.resumes}})
  li.nav-top__item(ng-if='search.counts.users != 0')
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'users' })")
      translate USERS_TITLE
      |  ({{search.counts.users}})
  li.nav-top__item
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'blacklists' })")
      translate BLACKLIST
      |  ({{search.counts.blacklists}})
  li.nav-top__item(ng-if='loggedIn')
    a.nav-top__lnk(ui-sref="app.search-query-page({ query: query, pageId: 'videos' })")
      translate VIDEO
      |  ({{search.counts.videos}})
