.catalog__block-in.catalog-blank.text-center
  i.catalog-blank__ico.icon-companies.icon-xlg
  .catalog-blank__txt
    h3.catalog__hd3
      translate Search.NothingFound
  a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-company'", ng-click='search.addCompany()', href)
    translate ADD_COMPANY
