.catalog__block-in.catalog-blank.text-center
  i.catalog-blank__ico.icon-job.icon-xlg
  .catalog-blank__txt
    h3.catalog__hd3
      translate Search.NothingFound
  a.btn.btn-df.btn-create.btn-df--sm(metrika="'search-add-vacancy'", ng-click="openModal({tpl: 'vacancy-add', class: 'mdl-app modal-job-add'})", href)
    translate ADD_VACANCY
