.catalog__block-in.catalog-blank.text-center
  i.catalog-blank__ico.icon-services.icon-xlg
  .catalog-blank__txt
    h3.catalog__hd3
      translate Search.NothingFound
  a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-service'", ng-click='search.addService()')
    translate ADD_SERVICE
