ul.subind-lst
  li.subind-lst__item(ng-repeat='room in search.childRooms')
    a.subind-lst__lnk(metrika="'catalog-room'", ng-click="appRoute('', { roomId: room.urlName })", ng-bind='room.names[currentLang]')
