//- mixins
include ../../includes/merchants-table-view
include ../../includes/blacklists
include ../../includes/vacancies
include ../../includes/videos
include ../../includes/catalog-users
include ../../includes/catalog-prices
include ../../includes/catalog-cv
include ../../includes/catalog-ads
include ../../includes/catalog-companies
include ../../includes/catalog-topics
//- end mixins

.catalog.full-height.c-view.cnt-nav-left.search(ng-class="{'search-single': search.singleSearch}", ng-controller='SearchCtrl as search')
  include _navCanopy
  include _navTop
  #scroll-container.c-cnt
    #subind.container-fluid.catalog__item(ng-show='search.childRooms.length')
      .row
        .col-lg-12
          h2.catalog__hd
            translate BRANCHES
          .catalog__block
            .catalog__block-in
              include _sub-industries
    #catalog-chat.container-fluid.catalog__item.catalog__item--chats(ng-show='search.feedItems.length', ng-if='search.feedItems != null && loggedIn')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-chat'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/chat' }}")
                translate Search.AllMessages
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastWithWord
              span.highlight(ng-bind='query')
          .catalog__block
            chat-body(feed-items='search.feedItems', template='views/directives/chat/chat-body-catalog.html')
    #prices.container-fluid.catalog__item.catalog__item--prices(ng-if='search.prices != undefined')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-show='search.prices.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-prices'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/prices' }}")
                translate AllPrices
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-price'", ng-click='search.addPrice()', href='')
                translate AddPrices
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastPricesWithWord
              span.highlight(ng-bind='query')
          .catalog__block(ng-show='search.prices.length')
            +catalog-prices('search.prices')
          .catalog__block(ng-hide='search.prices.length')
            include _no-prices
    #goods.container-fluid.catalog__item.catalog__item--goods(ng-if='search.goods !== undefined')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-show='search.goods.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-merchants'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/goods' }}")
                translate AllGoods
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-good'", ng-click='search.addGood()')
                translate ADD_GOODS
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastGoodsWithWord
              span.highlight(ng-bind='query')
          .catalog__block
            .catalog__block-in(ng-show='search.goods.length')
              +merchants-table-view('Merchants', 'search.goods', 'search.currencyCodes[offer.currencyCode]', 'search.merchandiseUnits[offer.priceUnit]')
            .catalog__block(ng-hide='search.goods.length')
              include _no-goods
    #ads.container-fluid.catalog__item.catalog__item--ads(ng-if='search.ads !== undefined')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-show='search.ads.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-ads'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/ads' }}")
                translate AllAds
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-ad'", ng-click='search.addBoard()', href)
                translate ADD_AD
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastAdsWithWord
              span.highlight(ng-bind='query')
          .catalog__block(ng-show='search.ads.length')
            +catalog-ads('search.ads')
          .catalog__block(ng-hide='search.ads.length')
              include _no-ads
    #services.container-fluid.catalog__item.catalog__item--services(ng-if='search.services !== undefined')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-show='search.services.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-services'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/services' }}")
                translate AllServices
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-service'", ng-click='search.addService()')
                translate ADD_SERVICE
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastServicesWithWord
              span.highlight(ng-bind='query')
          .catalog__block(ng-show='search.services.length')
            .catalog__block-in
              +merchants-table-view('Merchants', 'search.services', 'search.currencyCodes[offer.currencyCode]', 'search.serviceUnits[offer.priceUnit]')
          .catalog__block(ng-hide='search.services.length')
              include _no-services
    #catalog-chat.container-fluid.catalog__item.catalog__item--chats(ng-show='search.feedItems.length', ng-if='search.feedItems != null && !loggedIn')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-chat'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/chat' }}")
                translate Search.AllMessages
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastWithWord
              span.highlight(ng-bind='query')
          .catalog__block
            chat-body(feed-items='search.feedItems', template='views/directives/chat/chat-body-catalog.html')
    #companies.container-fluid.catalog__item.catalog__item--companies(ng-if='search.companies !== undefined')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-show='search.companies.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-companies'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/companies' }}")
                translate AllCompanies
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-company'", ng-click='search.addCompany()', href)
                translate ADD_COMPANY
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastCompaniesWithWord
              span.highlight(ng-bind='query')
          div(ng-show='search.companies.length')
            +catalog-companies('search.companies')
          .catalog__block(ng-hide='search.companies.length')
              include _no-companies
    #topics.container-fluid.catalog__item.catalog__item--topics(ng-if='loggedIn && search.topics !== undefined')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-forums'", ng-if='search.topics.length && !search.singleSearch', ng-href="{{ '/search/' + query + '/forum' }}")
                translate AllTopics
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastTopicsWithWord
              span.highlight(ng-bind='query')
          .catalog__block(ng-show='search.topics.length')
            +catalog-topics('search.topics')
          .catalog__block(ng-hide='search.topics.length')
            include _no-topics
    #jobs.container-fluid.catalog__item.catalog__item--jobs(ng-if='loggedIn && search.jobs !== undefined')
      .row
        div(ng-class="{'col-xs-6': !search.singleSearch, 'col-lg-12': search.singleSearch }")
          .catalog-head
            .catalog-head__actns(ng-show='search.jobs.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-vacancies'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/jobs' }}")
                translate AllVacancies
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-vacancy'", ng-click="openModal({tpl: 'vacancy-add', class: 'mdl-app modal-job-add'})", href)
                translate ADD_VACANCY
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastVacanciesWithWord
              span.highlight(ng-bind='query')
          .catalog__block(ng-show='search.jobs.length')
            +catalog-tbl-vacancies('job in search.jobs')
          .catalog__block(ng-hide='search.jobs.length')
            include _no-vacancies 
        div(ng-class="{'col-xs-6': !search.singleSearch, 'col-lg-12': search.singleSearch }", ng-if='search.resumes != null')
          .catalog-head
            .catalog-head__actns(ng-show='search.resumes.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-cv'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/resumes' }}")
                translate AllResumes
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-cv'", ng-click="openModal({tpl: 'resume-add', class: 'mdl-app modal-job-add'})", href='')
                translate ADD_CV
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularResumes
          .catalog__block(ng-show='search.resumes.length')
            +catalog-cv('search.resumes')
          .catalog__block(ng-hide='search.resumes.length')
            include _no-cv
    #users.container-fluid.catalog__item.catalog__item--users(ng-if='loggedIn && search.users.length')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/users' }}")
                translate AllUsers
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastUsersWithWord
              span.highlight(ng-bind='query')
          .catalog__block
            +catalog-users('search.users')
    #blacklists.container-fluid.catalog__item.catalog__item--blacklists(ng-if='search.blacklists != null')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-show='search.blacklists.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-blacklists'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/blacklists' }}")
                translate AllInBlacklist
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-blacklist'", ng-click="openModal({tpl: 'blacklist-add', class: 'mdl-app modal-blacklist-add'})", href)
                translate AddToBlacklist
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastInBlacklistWithWord
              span.highlight(ng-bind='query')
          div(ng-show='search.blacklists.length')
            +catalog-obj-blacklists('black in search.blacklists')
          .catalog__block(ng-hide='search.blacklists.length')
            include _no-blacklists
    #videos.container-fluid.catalog__item.catalog__item--videos(ng-if='loggedIn && search.videos != null')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-if='search.videos.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'search-to-video'", ng-if='!search.singleSearch', ng-href="{{ '/search/' + query + '/videos' }}")
                translate AllVideos
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'search-add-video'", ng-click="openModal({tpl: 'video-add', class: 'mdl-app modal-video' })", href='')
                translate ADD_VIDEO
            h2.catalog__hd.catalog-head__ttl
              translate Search.LastVideosWithWord
              span.highlight(ng-bind='query')
          .catalog__block(ng-show='search.videos.length')
            +catalog-tbl-videos('video in search.videos')
          .catalog__block(ng-if='!search.videos.length')
            include _no-videos
    .container-fluid(ng-if='search.singleSearch && search.totalItems > 12')
      .row
        .col-lg-12
          .pgn.pgn--lg.pgn--bottom(metrika="'pagination-search'")
            ui-pagination(total-items='search.totalItems', page='search.page', on-select-page='search.changePage(page)')
                