.content-item
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
  table.table.table--admin.table--admin-companies(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !company.company.isApproved }", ng-repeat='company in companies')
        td
          .table__metadata
            .metadata.right-bordered
              .auth__user(user-name='company.user')
            .metadata.right-bordered {{company.company.created | date:'medium'}}
            .metadata
              | {{'BRANCH' | translate}}:
              room-info(room-id='company.company.roomId')
                a(ng-click="newWinRoute('', {roomId: room.urlName})", ng-bind='room.title')
          .table__message
            .companies__logo.pull-left
              .middle-thumb-container
                img(ng-if='company.logoUrl', ng-src='{{company.logoUrl}}')
                img(ng-if='!company.logoUrl', src='img/content/no-photo-detail.jpg', alt='')
            .table__title
              a.ng-binding(target='_blank', ui-sref='app.companies-room-item({ roomId: company.company.roomUrlName, companyId: company.company.id })', ng-bind='::company.company.fullName')
            span {{company.company.shortDescription}}
        td.table-actions.my-edit-controls
          div(ng-hide='company.company.isDeleted')
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'company-edit', class: 'mdl-app modal-company-add', scope: { edit: true, company: company, roomId: roomId }, cb: reload})")
              i.app-icon.app-icon-79
            button.btn.btn-df.btn-primary(ng-hide='company.company.isApproved', ng-click='approve(company)')
              i.app-icon.app-icon-124
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="openModal({tpl: 'admin/companies/move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { company: company }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/companies/delete', class: 'mdl-app modal-admin', cb: reload, scope: { company: company }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-click='restore(company.company)', ng-show='company.company.isDeleted')
            i.app-icon.app-icon-deleted
  .paginator
    ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
