.full-height.cnt-nav-left.companies.admin
  .content-control
    h4 {{'COMPANIES_LIST' | translate}}
  .content-sub-control
    .pull-right
      form.form-inline.pull-right(action='', ng-submit="search(query)")
        input.form-control.input-sm.input-large(ng-model='query', type='text', placeholder="{{'SearchCompanies' | translate}}")
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'SEARCH' | translate}}
    .btn-group.pull-left
      button.btn.btn-df.btn-small(type='button', ng-click="goTo('notapproved')", ng-model='searchParams.state', btn-radio="'notapproved'")
        | {{'UNCHECKED' | translate}}
      button.btn.btn-df.btn-small(type='button', ng-click="goTo('active')", ng-model='searchParams.state', btn-radio="'active'")
        | {{'ACTIVE' | translate}}
      button.btn.btn-df.btn-small(type='button', ng-click="goTo('deleted')", ng-model='searchParams.state', btn-radio="'deleted'")
        | {{'DELETED' | translate}}
  .content.content--under-sub
    ng-include(src="'views/admin/companies/_list.html'")
