.footer {
  background: $color-bg-dark;
  color: white;
  height: 11.8rem;

  &__item {
    float : left;
    width: 33.33%;

    &:first-child {
      margin-top: 3.7rem;
    }

    &:nth-child(2){
      text-align: center;
      margin-top: 4.7rem;
    }

    &:last-child {
      margin-top: 5rem;
      font-size: 1.6rem;
    }
  }

  &__copy {
    text-align: right;
  }
}

.moveup {

  &__icon {
    transform: rotate(180deg);
  }
}
