.header {
  background: $color-bg-dark;
  color: #fff;
  height: 10.2rem;
  border-bottom: 1px solid #5d6167;

  &__logo {
    float: left;
    padding-top: 2.5rem;
  }

  &__content {
    float: right;
  }

  &__tel {
    display: inline-block;
    vertical-align: top;
    margin-top: 3.4rem;
    margin-right: 2.7rem;
  }

  &__action {
     display: inline-block;
     vertical-align: top;
    margin-top: 2.7rem;
  }
}

.logo {

  &__link {
    display: block;
   }

  &__img {
    width: 13.6rem;
  }
}

@keyframes ringing {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(40px, 0px);
    transform: rotateZ(10deg);
  }
  20% {
    transform: translate(-40px, 0px);
    transform: rotateZ(-10deg);
  }
  30% {
    transform: translate(20px, 0px);
    transform: rotateZ(5deg);
  }
  40% {
    transform: translate(-20px, 0px);
    transform: rotateZ(-5deg);
  }
  50% {
    transform: translate(10px, 0px);
    transform: rotateZ(5deg);
  }
  60% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.header-tel {

  &__icon {
     display: table-cell;
     vertical-align: middle;
     padding-right: 1.8rem;
     animation: ringing 700ms infinite;
      animation-fill-mode: forward;
      animation-direction: normal;
      animation-timing-function: linear;
  }

  &__content {
     display: table-cell;
     vertical-align: middle;
  }

  &__text {
     color: #ccc;
     font-size: 1rem;
     font-family: $font-stack-bold;
     text-transform: uppercase;
     margin-top: -0.6rem;
  }

  &__number {
     font-size: 2.6rem;
    line-height: 1;
   }
}

.make-call {
  margin-top: 2rem;

  &__link {
    display: table-cell;
    vertical-align: middle;
    background: white;
    height: 6rem;
    width: 6rem;
    text-align: center;
    border-radius: 50%;
  }

  &__icon {
    line-height: 6rem;
  }
}
