.container {
  max-width: $max-width;
  min-width: $min-width;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  &--relative {
    position: relative;
  }
}

.sect {
  padding-top: 7.4rem;
  padding-bottom: 7.4rem;

  &--darker {
    background: #f7f7f7;
  }

  &--colored {
    background: $color-primary;
    color: white;
  }

  &--spacy {
    padding-top: 13rem;
    padding-bottom: 13rem;
  }
}

.features {

  &__item {
    float: left;
    width: 32%;
    text-align: center;
    margin-left: 2%;
    &:first-child { margin-left : 0;}
  }

  &__title {
    font-size: 3.6rem;
    margin-bottom : 2.2rem;
  }

  &__icon {
    margin-bottom : 2.5rem;
    height: 65px;
  }

  &__content {
    height: 270px;
  }

  &__text {
    color: #737373;
  }
}

.howwework {
  &__title {
    text-align: center;
  }
}

.price {

  &__content {
    float: left;
  }
  &__action {
    float: right;
    margin-top: 1.2rem;
    &--sale {
      margin-top: 3rem;
    }
  }
  &__number {
    display: inline-block;
    vertical-align: middle;
    font-family: $font-stack-light;
    font-size: 7.2rem;
    line-height: 1;
    margin-right: 5rem;
  }
  &__old {
    font-family: $font-stack;
    font-size: 3rem;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
  }
  &__title {
    line-height: 1;
    margin-bottom: 0.4rem;
  }

  &__countdown {
    display: inline-block;
  }
}

.package {
  padding-bottom: 4rem;

  &__docs {
    border-bottom: 0.1rem solid #e7e7e7;
    padding-bottom: 5.5rem;
    margin-bottom: 3.2rem;
  }
}

.package-info {

  &__content {
    float: left;
    width: 66.2rem;
    max-width: 60%;
    margin-right: 3rem;
  }

  &__action {
    float: left;
  }

  &__icon {
    float: left;
    margin-right: 2.2rem;
    margin-top: 0.3rem;
  }

  &__text {
    font-size: 1.6rem;
  }
}

.countdown {

  &__text {
    display: inline-block;
    vertical-align: middle;
    width: 16rem;
    font-size: 1.6rem;
    font-family: $font-family-bold;
  }
  &__content {
    display: inline-block;
    vertical-align: middle;
  }

  &__hint {
    font-size: 1.6rem;
  }
}

.countdown-hint {
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    width: 50%;
    text-align: center;
  }
}

.sect-reviews {
  padding: 0;
}

.reviews {
  padding-top: 8rem;
  padding-bottom: 15rem;
}

.review {
  text-align: center;

  &__quotation {
    font-family: $font-family-italic;
    font-size: 2.4rem;
    color: #555;
    display: block;
    margin-bottom: 3.7rem;
  }

  &__photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
  }

  &__author {
    font-family: $font-stack-light;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  &__company {
    font-size: 1.6rem;
    color: #555;
  }
}

.request {

  &__form {
    float: left;
    width: 40%;
  }

  &__info {
    float: right;
    width: 50%;
  }
}

.summary {
  font-family: $font-stack-light;
  font-size: 3.6rem;

  &__item {
    margin-bottom: 3.3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    display: table-cell;
    vertical-align: middle;
    width: 3.3rem;
    text-align: center;
  }

  &__content {
    display: table-cell;
    padding-left: 2rem;
  }

  &__addon {
    color: #777;
    font-family: $font-stack-bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
  }

  &__sale {
    color: #777;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

.about {
  &__item {
    float: left;
    width: 60rem;
    max-width: 50%;

    &:last-child {
      float: right;
    }
  }
}

.advantages {

  &__title {
    margin-bottom: 4.2rem;
  }
}

.list-advantages {
  margin-bottom: 5.5rem;

  &__item {
    color: #555;
  }
}

.employees {
  width: 40rem;
  background: white;
  padding: 5.5rem 6rem;
  text-align: center;

  &__title {
    font-family: $font-stack-light;
    font-size: 3.6rem;
    margin-bottom: 3.3rem;
  }
}

.employee {

  &__photo {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  &__name {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  &__position {
    color: #555;
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }
}

.package {

  &__title {
    margin-bottom: 3.3rem;
  }
}

.list-package {
  font-size: 0;
  text-align: center;
  counter-reset: b;
  padding: 0 4rem 0;

  &__item {
    font-size: 1.6rem;
    position: relative;
  }

  &__link {
    display: block;
    color: $color-text-main;
    padding: 2.5rem 2rem;

    &:before {
      content: '+';
      position: absolute;
      top: 13.5rem;
      left: calc(50% - 2.2rem);
      display: block;
      height: 4.4rem;
      width: 4.4rem;
      background: $color-primary;
      border-radius: 50%;
      font-family: $font-stack-bold;
      font-size: 2.2rem;
      line-height: 2;
      color: white;
      transition: transform 0.5s, opacity 0.5s;
      opacity: 0;
      transform: translateY(50px);
    }

    &:hover,
    &:focus {
      background: #f7f7f7;
      color: inherit;

      &:before {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__preview {
    height: 26rem;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
  }

  &__image {
    box-shadow: 1.5px 2.6px 2.8px 0.2px rgba(61, 60, 60, 0.39);
    max-width: 18.4rem;
    margin: auto;
    /*max-height: 260px;*/
  }

  &__text {
    &:before {
      counter-increment: b;
      content: counter(b);
      color: #31363e;
      font-size: 1.8rem;
      display: block;
      margin: auto;
      width: 4.4rem;
      border-bottom: 0.2rem solid #31363e;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .slick-next,
  .slick-prev {
    top: 140px;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-dots {
    position: relative;
    bottom: 0;
    margin-top: 4rem;
  }

}

.partners {
  padding-top: 0;
  padding-bottom: 0;

  &__list {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.list-partners {

  &__item {
    text-align: center;
  }

  &__container {
    height: 100px;
  }

  &__logo {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.scans {
  min-height: 200px;
  background: red;
  
  &__item {
    padding: 6rem;
  }
}
