@font-face {
  .font-face('ColgateReady', '../fonts/colgateready-light-webfont', 300);
}
@font-face {
  .font-face('ColgateReady', '../fonts/colgateready-regular-webfont');
}
@font-face {
  .font-face('ColgateReady', '../fonts/colgateready-bold-webfont', 700);
}

@font-face {
  .font-face('Coop', '../fonts/cooprg-webfont');
}
@font-face {
  .font-face('Coop', '../fonts/coopbd-webfont', 700);
}

@font-face {
  .font-face('CoopCond', '../fonts/coopcond-webfont', 400);
}
@font-face {
  .font-face('CoopCond', '../fonts/coopcondbd-webfont', 700);
}

@font-stack: 'ColgateReady', Helvetica, Arial, sans-serif;
@font-stack-coop: 'Coop', Helvetica, Arial, sans-serif;
@font-stack-coop-cond: 'CoopCond', Helvetica, Arial, sans-serif;
