@font-size-base: 2rem;
@line-height-base: 1.6;
@color-main: #4c4c4c;
@color-extra: #d31c04;
@color-second: #325fc5;
@width: 1280px;
@width-inner: 940px;

html {
  height: 100%;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: @font-stack;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: 400;
  color: @color-main;
  min-width: @width;

  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  height: 100%;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  color: @color-main;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}
