h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-stack;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 4.2rem;
  font-weight: 300;
  line-height: 1.06;
  color: @color-extra;
  text-transform: uppercase;
  padding-bottom: 2.4rem;
}

h2 {
  color: #c42313;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;

  b,
  strong {
    font-style: normal;
    color: @color-second;
  }
}

h3 {
  color: #d31c04;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
}

b,
strong {
  font-weight: 700;
}

.h1Small {
  text-transform: none;
  font-size: 2.8rem;
  line-height: 1.3;
}

.link {
  a {
    color: @color-extra;
    text-decoration: underline;
    font-weight: 700;
  }
}
