.catalog__block-in
  .catalog-tbl
    .catalog-tbl__item.part2(ng-repeat='feedItem in feedItems track by feedItem.id')
      .catalog-chat
        .catalog-chat__meta
          .created
            .created__col.created__col--top.created__col1
              .auth
                .auth__img
                  img.img-circle(ng-src='{{feedItem.userAvatar}}')
                .auth__cnt
                  a.auth__user(href='')
                    span.lnclmp-1.lnclmp-1--xs(ng-bind='feedItem.contact.name')
                  .auth__org.lnclmp-1.lnclmp-1--xs(ng-bind='feedItem.contact.company')
            .created__col.created__col--top.created__col2 {{ feedItem.stamp | date:'H:mm, d.MM.yyyy' }}
        .catalog-chat__msg.lnclmp-2.lnclmp-2--sm(xmsg='feedItem.item.xmlBody')
