#chatMessages.chat-messages(ng-class="{'no-account': !loggedIn}", scroll-glue='', humble-scroll='true', humble-scroll-on-down='room-messages-read')
  div(ng-repeat='feedItem in feedItems track by feedItem.id')
    .chat-messages__item.chat-item(ng-if='dateStamps[$index]')
      .chat-item__left
      .chat-item__center
        .chat-date
          i.chat-date__ico.icon-clock
          |  {{ dateStamps[$index].toDate() | date:'d MMMM yyyy' }}
      .chat-item__right
    .chat-messages__item.chat-item(ng-class="{ 'subindustry-item': $roomId && childRoomsView && feedItem.item.roomId != $roomId }")
      .chat-item__left
        .subindustry-item__ttl(ng-if='$roomId && childRoomsView && feedItem.item.roomId != $roomId')
          translate Subindustry
        .chat-author.user-details
          .chat-author__name
            .dropdown.drdwn.dropdown--light.chat-rating(popup-adjust='bottom', ng-if='feedItem.contact.isProfileFilled')
              i.chat-rating__ico.icon-rating.dropdown-toggle
              .dropdown-menu
                div
                  translate TRUST
                  | : 
                  span.green(ng-bind='feedItem.contact.rating.Pro')
                  span.divider-light  | 
                  translate NOT_TRUST
                  | : 
                  span.red(ng-bind='feedItem.contact.rating.Contra')
                div
                  translate THANKED_WITH_COLON
                  span.orange(ng-bind='feedItem.contact.rating.Thanks')
                div
                  translate TRUST_RATE
                  span.green(ng-if='feedItem.contact.rating.TrustLevel>0', ng-bind="'+'+feedItem.contact.rating.TrustLevel")
                  span.red(ng-if='feedItem.contact.rating.TrustLevel<=0', ng-bind='feedItem.contact.rating.TrustLevel')
                  span (max 10)
            a(href='', click-action='showUserPopup(feedItem.contact)', click-otherwise="openModal({tpl: loggedIn ? 'alert-profile' : 'alert-auth', class: 'mdl-app modal-alert'})", click-condition='loggedIn && myProfile.IsFilled', ng-bind='feedItem.contact.name')
          .chat-author__company
            profile-position(profile='feedItem.contact.profile')
          div(ng-if='feedItem.contact.profileDataRequested')
            span.profile-not-filled(ng-if='!feedItem.contact.isProfileFilled', translate='USER_PROFILE_EMPTY')
      .chat-item__center
        room-info(room-id='feedItem.item.roomId', ng-if='$roomId && childRoomsView && feedItem.item.roomId != $roomId')
          a.subindustry-item__type(ui-sref='app.chat-room({roomId: feedItem.item.roomUrlName})', ng-bind='room.names[currentLang]')
        div(ng-if="feedItem.type != 'ChatMessage'", feed-item='feedItem')
        div(ng-if="feedItem.type == 'ChatMessage'", right-click-menu="rightClickQuote ? [{label: 'QUOTE', action: 'rightClickQuote(feedItem, $text)', class: 'quotable-action', icon: 52}] : false", feed-item='feedItem')
      .chat-item__right
        .chat-timestamp
          .chat-actions(ng-if='showActions', ng-include="'views/app/chat/chat-actions.html'")
          |  {{ feedItem.formattedStamp }}
          i.app-icon.app-icon-68.chat-timestamp__edited(ng-show='feedItem.item.edited')
  div(ng-repeat='fileUpload in fileUploads')
    .chat-messages__item.chat-item(ng-if='fileUpload.progress != 100')
      .chat-item__left
        .chat-author.user-details
          .chat-author__name(ng-bind='::myProfile.FullName')
          .chat-author__company(ng-bind='myContact.company')
      .chat-item__center
        .file-transfer.file-loading(ng-cloak='')
          .file-pic
          .file-title(ng-bind='::fileUpload.name')
          .file-sub
            .load-line
              .load-complete(ng-style="{width: fileUpload.progress + '%'}")
            |  {{ fileUpload.progress }}%
            span.file-size
              | ({{ fileUpload.loaded / 1024 | number:0 }}Kb/{{ fileUpload.total / 1024 | number:0}}Kb)
            span.file-cancel(ng-click='fileUpload.abort()')
              i.app-icon.app-icon-130
              |  {{'CANCEL_DOWNLOAD' | translate}}
      .chat-item__right
