.catalog__block-in.catalog-blank
  i.sprite-first.catalog-blank__img
  .catalog-blank__cnt
    .catalog-blank__txt
      h3.catalog__hd3
        translate Catalog.ThereIsNthgInRoom_Title
      translate Catalog.ThereIsNthgInRoom
    .highlight
      b 
        translate Catalog.PlaceProfitable
        | :
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.goods.length == 0', href='', ng-click='catalog.addGood()')
      translate ADD_GOODS
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.services.length == 0', ng-click='catalog.addService()')
      translate ADD_SERVICE
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.jobs.length == 0', metrika="'catalog-add-empty'", ng-click="openModal({tpl: 'vacancy-add', class: 'mdl-app modal-job-add'})", href='')
      translate ADD_VACANCY
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.resumes.length == 0', metrika="'catalog-add-empty'", ng-click="openModal({tpl: 'resume-add', class: 'mdl-app modal-job-add'})", href='')
      translate ADD_CV
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.lastPrices.length == 0', ng-click='catalog.addPrice()', href='')
      translate AddPrices
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.ads.length == 0', ng-click='catalog.addBoard()')
      translate ADD_AD
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.companies.length == 0', ng-click='catalog.addCompany()')
      translate ADD_COMPANY
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.blacklists.length == 0', metrika="'catalog-add-blacklist'", ng-click="openModal({tpl: 'blacklist-add', class: 'mdl-app modal-blacklist-add'})", href='')
      translate AddBlacklist
    a.btn.btn-df.btn-create.btn-df--sm.catalog-blank__btn(ng-if='catalog.videos.length == 0', metrika="'catalog-add-empty'", ng-click="openModal({tpl: 'video-add', class: 'mdl-app modal-video' })", href='')
      translate ADD_VIDEO
