.canopy
  //-
    div class="canopy__bg">
    <div class="canopy__bg-inner">
    <img class="canopy__img" src="http://lorempixel.com/1500/500/" alt="{{catalog.roomInfo.names[currentLang]}}">
    </div>
    </div
  .canopy__cnt
    a.btn.btn-df.btn-green.pull-right(href='', ng-click='catalog.subscribe()', ng-if='loggedIn && !catalog.star')
      translate Subscribe
    .canopy__block
      i.canopy__block-ico.sprite-catalog.pull-left
      .canopy__block-txt
        h1.canopy__ttl(ng-if='loggedIn')
          translate Catalog.RoomsAllRecords
          |  
          span.highlight(ng-bind='catalog.roomInfo.names[currentLang]')
        h1.canopy__ttl(ng-if='!loggedIn')
          translate Catalog.SalesInRoom
          |  
          span.highlight(ng-bind='catalog.roomInfo.names[currentLang]')
          |  
          translate Catalog.Wholesale
        //-
          This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.
