ul.nav-top(du-scroll-container='scroll-container', metrika="'catalog-menu'")
  li.nav-top__item(ng-if='catalog.childRooms.length')
    a.nav-top__lnk(href='#subind', du-smooth-scroll='', du-scrollspy='')
      translate Catalog.ChildRooms
  li.nav-top__item(ng-if='loggedIn && catalog.feedItems.length')
    a.nav-top__lnk(href='#catalog-chat', du-smooth-scroll='', du-scrollspy='')
      translate CHATS
  li.nav-top__item(ng-if='catalog.lastPrices.length')
    a.nav-top__lnk(href='#prices', du-smooth-scroll='', du-scrollspy='')
      translate PRICES
  li.nav-top__item(ng-if='catalog.goods.length')
    a.nav-top__lnk(href='#goods', du-smooth-scroll='', du-scrollspy='')
      translate GOODS
  li.nav-top__item(ng-if='catalog.ads.length')
    a.nav-top__lnk(href='#ads', du-smooth-scroll='', du-scrollspy='')
      translate ADVS
  li.nav-top__item(ng-if='catalog.services.length')
    a.nav-top__lnk(href='#services', du-smooth-scroll='', du-scrollspy='')
      translate SERVICES
  li.nav-top__item(ng-if='!loggedIn')
    a.nav-top__lnk(href='#catalog-chat', du-smooth-scroll='', du-scrollspy='')
      translate CHATS
  li.nav-top__item(ng-if='catalog.companies.length')
    a.nav-top__lnk(href='#companies', du-smooth-scroll='', du-scrollspy='')
      translate COMPANIES_LIST
  li.nav-top__item(ng-if='loggedIn && catalog.blacklists.length')
    a.nav-top__lnk(href='#blacklists', du-smooth-scroll='', du-scrollspy='')
      translate BLACKLIST
  li.nav-top__item(ng-if='loggedIn && catalog.users.length')
    a.nav-top__lnk(href='#users', du-smooth-scroll='', du-scrollspy='')
      translate USERS_TITLE
  li.nav-top__item(ng-if='loggedIn && catalog.topics.length')
    a.nav-top__lnk(href='#topics', du-smooth-scroll='', du-scrollspy='')
      translate FORUM
  li.nav-top__item(ng-if='loggedIn && catalog.jobs.length && catalog.resumes.length')
    a.nav-top__lnk(href='#jobs', du-smooth-scroll='', du-scrollspy='')
      translate Catalog.VacanciesNResumes
  li.nav-top__item(ng-if='loggedIn && catalog.videos.length')
    a.nav-top__lnk(href='#videos', du-smooth-scroll='', du-scrollspy='')
      translate VIDEO
