.catalog__block-in.catalog-blank.text-center
  i.catalog-blank__ico.icon-resume.icon-xlg
  .catalog-blank__txt
    h3.catalog__hd3
      translate Catalog.ThereIsNoResumes
  a.btn.btn-df.btn-create.btn-df--sm(metrika="'catalog-add-cv'", ng-click="openModal({tpl: 'resume-add', class: 'mdl-app modal-job-add'})", href='')
    translate ADD_CV
