.catalog__block-in.catalog-blank.text-center
  i.catalog-blank__ico.icon-tv.icon-xlg
  .catalog-blank__txt
    h3.catalog__hd3
      translate Catalog.ThereIsNoVideos
  a.btn.btn-df.btn-create.btn-df--sm(metrika="'catalog-add-video'", ng-click="openModal({tpl: 'video-add', class: 'mdl-app modal-video' })", href='')
    translate ADD_VIDEO
