ul.subind-lst
  li.subind-lst__item(ng-repeat='room in catalog.childRooms')
    .dropdown.subind-lst__drdwn
      a.subind-lst__lnk.dropdown-toggle(metrika="'catalog-room'", ng-click="appRoute('', { roomId: room.urlName })", ng-bind='room.names[currentLang]')
      .dropdown-menu.subind-drpdwn(ng-if='room.auxInfo.searchWords.length || room.children.length')
        h4.subind-drpdwn__ttl
          translate(ng-if='room.auxInfo.searchWords.length') Catalog.Recommended
          translate(ng-if='room.children.length') Catalog.ChildRooms
        ul.si-list
          li.si-list__item(ng-repeat='keyword in ::room.auxInfo.searchWords')
            a.si-list__lnk(ng-href="{{ appPath(keyword, { moduleName: 'search', roomId: null }) }}")
              span.si-list__in(ng-bind='keyword')
              span.si-list__arrow
                i.icon-arrow-right
          li.si-list__item(ng-repeat='room in ::room.children')
            a.si-list__lnk(ng-href="{{ appPath('', { roomId: room.urlName }) }}")
              span.si-list__in(ng-bind='room.names[currentLang]')
              span.si-list__arrow
                i.icon-arrow-right
