//- mixins
include ../../includes/thumbnails
include ../../includes/blacklists
include ../../includes/vacancies
include ../../includes/videos
include ../../includes/slider-goods
include ../../includes/slider-ads
include ../../includes/slider-prices
include ../../includes/catalog-users
include ../../includes/catalog-prices
include ../../includes/catalog-cv
include ../../includes/catalog-ads
include ../../includes/catalog-companies
include ../../includes/catalog-topics
//- end mixins

.catalog.full-height.c-view.cnt-nav-left(ng-controller='CatalogIndexCtrl as catalog')
  include _navCanopy
  include _navTop
  #scroll-container.c-cnt(ng-show="::catalog.alreadyLoaded")
    #subind.container-fluid.catalog__item(ng-show='catalog.childRooms.length')
      .row
        .col-lg-12
          h2.catalog__hd
            translate Catalog.ChildRooms
          .catalog__block
            .catalog__block-in
              include _sub-industries
    #catalog-chat.container-fluid.catalog__item.catalog__item--chats(ng-if='loggedIn', messenger-inputs='')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-chat'", ng-click='catalog.goToChat(newMessage)')
                translate GoToChat
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RecentActivityInChat
          .catalog__block
            chat-body(feed-items='catalog.feedItems', template='views/directives/chat/chat-body-catalog.html', ng-show='catalog.feedItems.length')
            .catalog__block-in.catalog-blank.text-center(ng-hide='catalog.feedItems.length')
              include _no-chat
    #prices.container-fluid.catalog__item.catalog__item--prices(ng-if='catalog.lastPrices !== undefined && ((catalog.empty <= 2 && catalog.lastPrices.length == 0) || catalog.lastPrices.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-prices'", ng-href="{{ appPath('/prices/', { moduleName: 'merchants' }) }}")
                translate AllPrices
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-price'", ng-click='catalog.addPrice()', href='')
                translate AddPrices
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularPrices
          +slider-prices('catalog.promotedPrices')
          .catalog__block
            +catalog-prices('catalog.lastPrices')
    #goods.container-fluid.catalog__item.catalog__item--goods(ng-if='catalog.goods !== undefined && ((catalog.empty <= 2 && catalog.goods.length == 0) || catalog.goods.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-merchants'", ng-href="{{ appPath('/merchandise/', { moduleName: 'merchants' }) }}")
                translate AllGoods
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-good'", href='', ng-click='catalog.addGood()')
                translate ADD_GOODS
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularGoods
          +slider-goods('catalog.promotedGoods', 'catalog.currencyCodes', 'catalog.merchandiseUnits')
          ul.catalog-thumb.thumbnails
            li.catalog__block.catalog-thumb__item(ng-repeat='offer in catalog.goods')
              +thumbnails('Catalog', 'catalog.currencyCodes[offer.currencyCode]', 'catalog.merchandiseUnits[offer.priceUnit]', 'catalog.')
    #ads.container-fluid.catalog__item.catalog__item--ads(ng-if='catalog.ads !== undefined && ((catalog.empty <= 2 && catalog.ads.length == 0) || catalog.ads.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-ads'", ng-href="{{ appPath('/board/', { moduleName: 'merchants' }) }}")
                translate AllAds
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-ad'", ng-click='catalog.addBoard()')
                translate ADD_AD
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularAds
          +slider-ads('catalog.promotedAds')
          .catalog__block
            +catalog-ads('catalog.ads')
    #services.container-fluid.catalog__item.catalog__item--services(ng-if='catalog.services !== undefined && ((catalog.empty <= 2 && catalog.services.length == 0) || catalog.services.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-services'", ng-href="{{ appPath('/service/', { moduleName: 'merchants' }) }}")
                translate AllServices
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-service'", ng-click='catalog.addService()')
                translate ADD_SERVICE
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularServices
          +slider-goods('catalog.promotedServices', 'catalog.currencyCodes', 'catalog.merchandiseUnits')

          ul.catalog-thumb.thumbnails.grid
            li.catalog__block.catalog-thumb__item(ng-repeat='offer in catalog.services')
              +thumbnails('Catalog', 'catalog.currencyCodes[offer.currencyCode]', 'catalog.serviceUnits[offer.priceUnit]', '')
    #catalog-chat.container-fluid.catalog__item.catalog__item--chats(ng-if='!loggedIn && catalog.feedItems !== undefined && ((catalog.empty <= 2 && catalog.feedItems.length == 0) || catalog.feedItems.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-chat'", ng-click='catalog.goToChat(newMessage)')
                translate GoToChat
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RecentActivityInChat
          .catalog__block
            chat-body(feed-items='catalog.feedItems', template='views/directives/chat/chat-body-catalog.html', ng-if='catalog.feedItems.length')
            .catalog__block-in.catalog-blank.text-center(ng-include="'views/catalog/_no-chat.html'", ng-hide='catalog.feedItems.length')
    #companies.container-fluid.catalog__item.catalog__item--companies(ng-if='catalog.companies !== undefined && ((catalog.empty <= 2 && catalog.companies.length == 0) || catalog.companies.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-companies'", ng-href="{{ appPath('', { moduleName: 'companies' }) }}")
                translate AllCompanies
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-company'", ng-click='catalog.addCompany()')
                translate ADD_COMPANY
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularCompanies
          +catalog-companies('catalog.companies')
    #blacklists.container-fluid.catalog__item.catalog__item--blacklists(ng-if='loggedIn && catalog.blacklists !== undefined && ((catalog.empty <= 2 && catalog.blacklists.length == 0) || catalog.blacklists.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-blacklists'", ng-href="{{ appPath('', { moduleName: 'blacklist' }) }}", href='')
                translate AllInBlacklist
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-blacklist'", ng-click="openModal({tpl: 'blacklist-add', class: 'mdl-app modal-blacklist-add'})", href='')
                translate AddToBlacklist
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsBlacklist
          +catalog-obj-blacklists('black in catalog.blacklists')
    hr.catalog__hr(ng-show='catalog.empty > 2')
    .container-fluid.catalog__item(ng-if='catalog.empty > 2')
      .row
        .col-lg-12
          .catalog__block
            include _empty
    hr.catalog__hr(ng-show='catalog.empty > 2')
    #users.container-fluid.catalog__item.catalog__item--users(ng-if='loggedIn && catalog.users !== undefined')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(ng-href="{{ appPath('', { moduleName: 'users' }) }}", href='')
                translate Catalog.AllMembers
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsNewMembers
          .catalog__block(ng-show='catalog.users.length')
            +catalog-users('catalog.users')
          .catalog__block.catalog-blank.text-center(ng-hide='catalog.users.length')
            include _no-users
    #topics.container-fluid.catalog__item.catalog__item--topics(ng-if='loggedIn && catalog.topics !== undefined && ((catalog.empty <= 2 && catalog.topics.length == 0) || catalog.topics.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-forum'", ng-href="{{ appPath('', { moduleName: 'forum' }) }}")
                translate AllTopics
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularTopics
          .catalog__block(ng-show='catalog.topics.length')
            +catalog-topics('catalog.topics')
          .catalog__block(ng-hide='catalog.topics.length')
            include _no-topics
    #jobs.container-fluid.catalog__item.catalog__item--jobs(ng-if='loggedIn && catalog.empty <= 2 && catalog.jobs !== undefined')
      .row
        .col-xs-6
          .catalog-head
            .catalog-head__actns(ng-show='catalog.jobs.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-vacancies'", ng-href="{{ appPath('jobs', { moduleName: 'jobs' }) }}")
                translate AllVacancies
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-vacancy'", ng-click="openModal({tpl: 'vacancy-add', class: 'mdl-app modal-job-add'})", href='')
                translate ADD_VACANCY
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularVacancies
          .catalog__block(ng-show='catalog.jobs.length')
            +catalog-tbl-vacancies('job in catalog.jobs')
          .catalog__block(ng-hide='catalog.jobs.length')
            include _no-vacancies
        .col-xs-6
          .catalog-head
            .catalog-head__actns(ng-show='catalog.resumes.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-cv'", ng-href="{{ appPath('resumes', { moduleName: 'jobs' }) }}")
                translate AllResumes
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-cv'", ng-click="openModal({tpl: 'resume-add', class: 'mdl-app modal-job-add'})", href='')
                translate ADD_CV
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsPopularResumes
          .catalog__block(ng-show='catalog.resumes.length')
            +catalog-cv('catalog.resumes')
          .catalog__block(ng-hide='catalog.resumes.length')
            include _no-cv
    #videos.container-fluid.catalog__item.catalog__item--videos(ng-if='loggedIn && catalog.videos !== undefined && ((catalog.empty <= 2 && catalog.videos.length == 0) || catalog.videos.length)')
      .row
        .col-lg-12
          .catalog-head
            .catalog-head__actns(ng-if='catalog.videos.length')
              a.btn.btn-df.btn-primary.btn-df--sm.catalog-head__btn(metrika="'catalog-video'", ng-href="{{ appPath('', { moduleName: 'video' }) }}")
                translate AllVideos
              a.btn.btn-df.btn-create.btn-df--sm.catalog-head__btn(metrika="'catalog-add-video'", ng-click="openModal({tpl: 'video-add', class: 'mdl-app modal-video' })", href='')
                translate ADD_VIDEO
            h2.catalog__hd.catalog-head__ttl
              translate Catalog.RoomsNewVideos
          .catalog__block(ng-show='catalog.videos.length')
            +catalog-tbl-videos('video in catalog.videos')
          .catalog__block(ng-if='!catalog.videos.length')
            include _no-videos
