.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'DELETE_REVIEW' | translate}}
.modal-body(ng-controller='ReviewsAdminRemoveCtrl as reviewsAdminRemove')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='review.user')
        .metadata {{review.created | date:'medium'}}
    form.modal-form(action='', ng-submit='reviewsAdminRemove.remove(review)')
      .form-body
        .form-group
          .container-textarea
            textarea.small {{review.text}}
        .form-group
          label {{'REASON' | translate}}
          .container-textarea
            textarea.small(ng-model='review.reason')
        .form-group
          label {{'NOTE_MODERATOR' | translate}}
          .container-textarea
            textarea.small(ng-model='review.note')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(type='submit') {{'DELETE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
