.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title {{'EDIT_REVIEW' | translate}}
.modal-body(ng-controller='ReviewsAdminEditCtrl as reviewsAdminEdit')
  .modal-inner
    .modal-metablock
      .modal__metadata
        .metadata.right-bordered
          .auth__user(user-name='review.user')
        .metadata {{review.created | date:'medium'}}
    form.modal-form(ng-submit='reviewsAdminEdit.save(review)')
      .form-body
        .form-group
          .container-textarea
            textarea(ng-model='review.text')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-disabled='loading', type='submit')
          | {{'SAVE' | translate}}
        button.btn.btn-df.btn-small(type='button', ng-click="$close('cancel')")
          | {{'CANCEL' | translate}}
