tabset.app-tabset
  li
    h4.nav-tabs__header(translate='SECTORAL_VIDEO')
  tab(heading="{{'USERS_VIDEOS' | translate}}")
    include ../../includes/video-content-sub-control
    mixin video-content-sub-control('Sections')
    .content
      .content-item
        h4(translate='DIVISIONS')
        div(paginator='pagination')
        table.table.table--inline.table--video(ng-class='')
          tbody
            tr(ng-repeat='section in sections')
              td.table-image
                .table__video
                  a(metrika="'leftmenu-to-video'", ng-href="{{ appPath('/item/' + section.lastVideos[0].id) }}")
                    img(ng-cloak='true', ng-src="{{ section.lastVideos[0].thumb || '/img/content/no-photo-small.jpg' }}", alt='')
              td
                .table__title
                  a(ng-href="{{ appPath('/cat/' + section.Id) }}", ng-bind='section.Name')
                .icons
                  span.icons-item
                    i.app-icon.app-icon-87
                    |  {{section.VideoCount}}
                  span.icons-item
                    i.app-icon.app-icon-95
                    |  {{section.CommentCount}}
                  span.icons-item
                    i.app-icon.app-icon-101
                    |  {{section.ViewCount}}
                ul.latest-videos
                  li.latest-videos__item.latest-videos__ttl(translate='LATEST_VIDEOS')
                  li.latest-videos__item(ng-repeat='lastVideo in section.lastVideos')
                    a(ng-href="{{ appPath('/item/' + lastVideo.id) }}", ng-bind='lastVideo.name')
        div(paginator='pagination')
