table.table.table--inline.table--video(ng-class='')
  tbody
    tr(ng-repeat='video in videos')
      td.table-image
        .table__video
          img(ng-src='{{video.thumb}}', alt='')
      td
        .table__metadata
          .metadata.right-bordered
            .auth__addon
              translate ADDED_BY
              | :
            .auth__user(user-name='video.user')
          .metadata {{video.created | date:'medium'}}
        .table__message
          .table__title
            a(ng-href="{{ appPath('/item/'+video.id) }}") {{video.name}}
          span(ng-bind-html='video.htmlDescription')
        .icons
          div(vote='video.voteOptions')
          span.icons-item
            a(ng-href="{{ appPath('/item/'+video.id) }}")
              i.app-icon.app-icon-95
              |              {{video.commentCount}}
          span.icons-item
            i.app-icon.app-icon-101
            |  {{video.viewCount}}
