.full-height.cnt-nav-left.video(ng-controller='VideoSearchCtrl')
  tabset.app-tabset
    li
      h4.nav-tabs__header {{'SECTORAL_VIDEO' | translate}}
    tab(heading="{{'USERS_VIDEOS' | translate}}")
      include ../../includes/video-content-sub-control
      mixin video-content-sub-control('Search')
      .content
        .content-item
          h4 {{section.Name}}
          .paginator
            ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
          ng-include(src="'views/app/video/_videos-list.html'")
          .paginator
            ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
