.content-item
  ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
  table.table.table--admin.table--admin-chat(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !message.isApproved }", ng-repeat='message in messages')
        td
          .table__metadata
            .metadata.right-bordered
              div(ng-if='message.userId', user-name='message.user')
              span(ng-if='!message.userId') {{ message.userName }}
            .metadata.right-bordered {{ message.created | date:'medium' }}
            .metadata
              | {{'BRANCH' | translate}}:
              room-info(room-id='message.roomId')
                a(ng-click="newWinRoute('', {roomId: message.roomUrlName})", ng-bind='room.title')
          .table__message
            span(xmsg='message.htmlText', ng-show='!message.isDeleted')
            span(xmsg='message.deletedText', ng-show='message.isDeleted')
        td.table-actions.my-edit-controls
          div(ng-hide='message.isDeleted')
            button.btn.btn-df.btn-primary(ng-click='approve(message)', ng-hide='message.isApproved')
              i.app-icon.app-icon-124
            button.btn.btn-df.btn-small(ng-click="openModal({tpl: 'admin/chat/edit', class: 'mdl-app modal-admin', cb: reload, scope: {message: message}})")
              i.app-icon.app-icon-79
            .dropdown.drdwn.dropdown-moderate(popup-adjust='bottom')
              button.btn.btn-df.btn-moderate.dropdown-toggle(ng-click='remove(offer)')
                i.app-icon.app-icon-moderate
              ul.dropdown-menu.dropdown-moderate__menu
                li
                  a(href='', ng-click="answer(message)")
                    i.app-icon
                    translate ANSWER
                li
                  a(href='', ng-click="openModal({tpl: 'admin/chat/move', class: 'mdl-app modal-admin mdl-move', cb: reload, scope: { message: message }})")
                    i.app-icon.app-icon-move
                    translate MOVE
                li
                  a(href='', ng-click="openModal({tpl: 'admin/chat/delete', class: 'mdl-app modal-admin', cb: reload, scope: { message: message }})")
                    i.app-icon.app-icon-99
                    translate DELETE
          button.btn.btn-df(ng-show='message.isDeleted', ng-click='restore(message)')
            i.app-icon.app-icon-deleted
  ui-pagination(total-items='totalItems', page='currentPage', on-select-page='changePage(page)', items-per-page='10')
