.past-events {

  &__cnt {
    column-count: 2;
  }
  &__link {
    display: inline-block;
    margin-bottom: 8px;
  }
}

.company-info {

  &__ttl {
    font-family: $font-family-bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: $gray-middle;
  }
}
