.exhibitions {
  &__ttl {
    padding-top: 0;
  }
  &__item {
    padding-bottom: 50px;
  }
  &__archive {
    float: right;
    line-height: 41px;
  }
  &__more {
    text-align: center;
  }
}

.exhibitions-descr {
  &__text {
    padding: 15px 0;
    border-bottom: 1px solid $color-border-light;
  }
  &__dl {
    font-size: 12px;
    padding-top: 15px;
  }
}

.exhibition-item {
  position: relative;
  height: 300px;
  overflow: hidden;

  .grid-2  & {
    width: 580px;
    height: 308px;
  }

  .grid-4  & {
    width: 379px;
    height: 253px;
  }

  &__desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($gray-darker, 0.8);
    color: white;
  }
  &__desc-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($gray-darker, 0.8);
    color: white;
    padding: 15px 20px 20px;
  }
  &__label {
    position: absolute;
    bottom: 100%;
    left: 0;
  }
  &__ttl {
    font-family: $font-family;
    padding-top: 0;
    padding-bottom: 10px;
  }
  &__lnk {
    text-decoration: none;
    color: $blue-light-2;
    &:hover {
      text-decoration: none;
      color: darken($blue-light-2, 8);
    }
  }
}

.ex-actions {
  text-align: right;
  position: relative;
  height: 400px;

  &__edit {
    padding-top: 40px;
  }
  &__main {
    position: absolute;
    bottom: 40px;
    right: 0;
  }
  &__guide {
    padding-top: 7px;
  }
}

.companies {
  padding-bottom: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-border-light;

  &__item {
    & + & {
      margin-top: 40px;
    }
  }
}

.company {

  &__logo {
    max-width: 220px;
  }
  &__footer {
    margin-top: 10px;
  }
}

.scheme {
  max-width: 331px;

  &__ttl {
    font-family: $font-family-bold;
    font-size: 18px;
    padding-bottom: 10px;
  }
  &__action {
    padding-top: 10px;
  }
}

.stand {
  padding-right: 60px;

  &__btn {
    margin-top: 60px;
    min-width: 330px;
  }
}

.participant {
  &__ttl {
    padding-top: 15px;
  }
  &__info {
    & + & {
      margin-top: 10px;
    }
  }
}

.article-news {

  &__date {
    font-size: 12px;
    color: #999;
    margin-bottom: 2px;
  }
}
