$module-width: 1020px;
$module-head-width: 320px;

.module {
  width: $module-width;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  &__head {
    width: $module-head-width;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom right, $primary-color, $primary-light-color);
  }
  &__body {
    width: $module-width - $module-head-width;
    padding: 50px 60px;
    background: #f0f0f0;
  }
  .form-control {
    border-color: white;
    box-shadow: none;
    height: 40px;
    font-family: $font-family-light;
    font-size: 18px;
  }
}

.module-head {
  position: relative;

  &__ttl {
    color: white;
  }
  &__actions {
    position: absolute;
    bottom: 50px;
  }
  &__lnk {
    font-family: $font-family-light;
    font-size: 18px;
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
