.region {
  margin-bottom: 30px;

  .select2-selection--single {
    height: 60px;
  }
  .select2-selection--single .select2-selection__rendered {
    font-family: $font-family-light;
    font-size: 24px;
    line-height: 60px;
  }
  .select2-selection--single .select2-selection__arrow {
    height: 60px;
  }
}
