.services-options {

  &__item {
    padding: 25px 0;
    border-bottom: 1px solid $blue-gray-lighter-2;
  }
  &__lnk {
    font-family: $font-family-light;
    vertical-align: middle;

    &[aria-expanded="true"] {
      color: $gray-middle-2;
      border-color: $gray-middle-2;
    }
  }
}

.send-request {
  padding-top: 60px;
}

.services-collapse {
  &__inner {
    padding-top: 20px;
    padding-left: $checkbox-size + $checkbox-padding;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
