.phiz {

  &__lnk {
    display: block;
    margin-top: 15px;
  }
  &__views {
    font-size: 12px;
    color: $color-text-light;
    margin-top: 15px;
  }
}

.bl-collapse {

  &__lnk {
    font-size: 18px;
  }
  &__aria {
    padding-top: 15px;
  }
}

.stand-scheme {

  &__item {
    position: relative;
  }
  &__del {
    position: absolute;
    top: 5px;
    left: calc(100% + 20px);
  }
}
