extends layouts/_default

block content
    
  include modules/_header
    
  main.content
    
    section
      .container.headline.headline--bordered
        h2.ttl-lg.headline__title Личный кабинет
        
            
    .container.content__item
      .row
        .grid-8
          .title-n-link
            a.title-n-link__link(href="#777")
              span.icon.icon--edit-dark
              | Изменить личные данные
            h2.title-n-link__ttl Данные пользователя
          .media.media--account
            .media__pic
              img(src="http://lorempixel.com/220/259/", alt="", width="220", height="259")
              .media__pic-del
                a.lnk-dashed(href="#777")
                  span.lnk-dashed__text Удалить фотографию
            .media__body
              .block
                .block__item.block__item--pt
                  dl.dl
                    dt.dl__dt Имя
                    dd.dl__dd Ярослав

                    dt.dl__dt Фамилия
                    dd.dl__dd Иванов
                .block__item
                  .row
                    .grid-7
                      form
                        label.form-label Сменить пароль
                        .form-group
                          input.form-control(type="password", placeholder="Ваш текущий пароль")
                        .form-group
                          input.form-control(type="password", placeholder="Новый пароль")
                        .form-group
                          input.form-control(type="password", placeholder="Подтверждение нового пароля")
                        .form-actions
                          button.btn.btn--100.btn--light(type="submit") Сохранить изменения
                
        .grid-4
          //begin sidebar
          .sidebar
            h2 Мои компании
            .media.sidebar__item
              .media__pic.media__pic--sm
                img(src="images/partner_1.jpg", alt="", width="110", height="55")
              .media__body
                h4.media__ttl
                  a(href="#777") Ёлки и палки LTD
                .media__label Участник
            .media.sidebar__item
              .media__pic.media__pic--sm
                img(src="images/partner_2.jpg", alt="", width="110", height="55")
              .media__body
                h4.media__ttl
                  a(href="#777") Imidj Vinil Graphics
                .media__label Участник
            .media.sidebar__item
              .media__pic.media__pic--sm
                img(src="images/partner_3.jpg", alt="", width="110", height="55")
              .media__body
                h4.media__ttl
                  a(href="#777") Агентство территориального развития ДВ
                .media__label.media__label--extra Оператор
            button.btn.btn--lg.btn--100.btn--primary-light(type="submit") Создать компанию
          //end sidebar
          
