extends layouts/_default

block content
    
  include modules/_header  
  
  main.content  
    .content__item.container
      .row
        .grid-6.grid-offset-3
          h2 Создание галереи
          form
            .form-group
              input.form-control(type='text', placeholder="Заголовок")
            .form-group
              label.form-label Описание
              textarea.form-control(rows="10")
            .form-group
              label.form-label Добавить изображение
              .upload
                img.upload__img(src="images/gallery/g_1.jpg", alt="Загруженное изображение", width="220", height="110")
                button.btn.btn--default.lnk-dashed.lnk-delete(type="button")
                  span.close.lnk-delete__ico
                    span.icon.close__ico
                  span.lnk-dashed__text.lnk-delete__text Удалить
            .form-group
              .upload
                img.upload__img(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
                .upload__lnk
                  .file-upload
                    .file-upload__btn
                      span.icon.icon--photo
                      | Загрузить изображение                
                    input.file-upload__input(type="file")
                .addition.upload__addition
                  | Поддерживются форматы: jpg, png, gif, bmp
                  br
                  | Объем файла не более: 1 мб
            .form-actions
              button.btn.btn--lg.btn--wide.btn--primary-light.form-actions__btn(type="submit") Создать
              button.btn.btn--lg.btn--extra.form-actions__btn(type="button") Отмена

    
