extends layouts/_default

block content
    
  include modules/_header  
  
  main.content  
    .content__item.container
      .row
        .grid-6.grid-offset-3
          h2 Создание компании
          form
            .form-group
              input.form-control(type='text', placeholder="Новые технологии")
            .form-group
              label.form-label Описание компании
              textarea.form-control(rows="10")
            .form-group
              label.form-label Контактные данные
              .row
                .grid-4
                  input.form-control(type='text', placeholder="Индекс")
            .form-group
              select.select(data-placeholder="– Регион  –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group
              select.select(data-placeholder="– Город  –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group
              .row
                .grid-6
                  input.form-control(type='text', placeholder="Улица")
                .grid-3
                  input.form-control(type='text', placeholder="Дом")
                .grid-3
                  input.form-control(type='text', placeholder="Офис")
            .form-group
              .row
                .grid-6
                  input.form-control(type='text', placeholder="Телефон: +7 800 123-45-67")
            .form-group
              .row
                .grid-6
                  input.form-control(type='email', placeholder="E-mail")
            .form-group.form-group--bordered
              label.form-label Логотип
              .upload
                img.upload__img(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
                .upload__lnk
                  .file-upload
                    .file-upload__btn
                      span.icon.icon--photo
                      | Загрузить изображение                
                    input.file-upload__input(type="file")
                .addition.upload__addition
                  | Поддерживются форматы: jpg, png, gif, bmp
                  br
                  | Объем файла не более: 1 мб
            .form-group.form-group--bordered
              label.form-label Статус компании
              .rbtns
                label.radiobtn.radiobtn--inline(for='Status0')
                  input#Status0(type='radio', value='Status0', name='Status', checked)
                  span Оператор
                label.radiobtn.radiobtn--inline(for='Status1')
                  input#Status1(type='radio', value='Status1', name='Status')
                  span Участник             
            .form-group
              label.form-label Отрасль
              select.select(data-placeholder="– Отрасли  –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group
              select.select(data-placeholder="– Подотрасли  –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group.form-group--bordered
              ul.lst-tags
                li.lst-tags__item
                  span.lst-tags__text Оружие
                  button.lst-tags__close(type='button')
                    span.icon.lst-tags__close-ico
                li.lst-tags__item
                  span.lst-tags__text Косметика и здоровье
                  button.lst-tags__close(type='button')
                    span.icon.lst-tags__close-ico
                li.lst-tags__item
                  span.lst-tags__text Природопользование
                  button.lst-tags__close(type='button')
                    span.icon.lst-tags__close-ico
            .form-group
              label.form-label Регион присутствия
              select.select(data-placeholder="– Регион –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group.form-group--bordered
              ul.lst-tags
                li.lst-tags__item
                  span.lst-tags__text Оружие
                  button.lst-tags__close(type='button')
                    span.icon.lst-tags__close-ico
                li.lst-tags__item
                  span.lst-tags__text Косметика и здоровье
                  button.lst-tags__close(type='button')
                    span.icon.lst-tags__close-ico
                li.lst-tags__item
                  span.lst-tags__text Природопользование
                  button.lst-tags__close(type='button')
                    span.icon.lst-tags__close-ico
            .form-group.form-group--bordered
              label.form-label Сотрудники
              .form-group__item
                input.form-control(type='email', placeholder='Укажите e-mail сотрудника')
              .form-group__item
                input.form-control(type='email', placeholder='Укажите e-mail сотрудника')
              button.btn.btn--default.lnk-dashed(type="button") 
                span + 
                span.lnk-dashed__text Добавить сотрудника
            .form-group
              input.form-control(type='text', placeholder='Сайт компании')
            .form-group
              input.form-control(type='text', placeholder='Полное ФИО руководителя')
            .form-group
              input.form-control(type='text', placeholder='ИНН')
            .form-group
              textarea.form-control(rows="5", placeholder='Банковские реквизиты (не обязательно)')
            .form-actions
              button.btn.btn--lg.btn--wide.btn--primary-light.form-actions__btn(type="submit") Создать

    
