extends layouts/_default

block content
    
  include modules/_header  
  
  main.content  
    .content__item.container
      .row
        .grid-6.grid-offset-3
          h2 Создание выставки
          form
            .form-group
              input.form-control(type='text', placeholder="Новые технологии")
            .form-group
              label.form-label Анонс
              textarea.form-control(rows="4")
            .form-group
              label.form-label Описание
              textarea.form-control(rows="10")
            .form-group.form-group--bordered
              label.form-label Логотип
              .upload
                img.upload__img(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
                .upload__lnk
                  .file-upload
                    .file-upload__btn
                      span.icon.icon--photo
                      | Загрузить изображение                
                    input.file-upload__input(type="file")
                .addition.upload__addition
                  | Поддерживются форматы: jpg, png, gif, bmp
                  br
                  | Объем файла не более: 1 мб
            .form-group.form-group--bordered
              label.form-label Фоновое изображение (обложка)
              .upload
                img.upload__img(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
                .upload__lnk
                  .file-upload
                    .file-upload__btn
                      span.icon.icon--photo
                      | Загрузить изображение                
                    input.file-upload__input(type="file")
                .addition.upload__addition
                  | Поддерживются форматы: jpg, png, gif, bmp
                  br
                  | Объем файла не более: 1 мб
            .form-group.form-group--bordered
              label.form-label Тип выставки
              .rbtns
                label.radiobtn.radiobtn--inline(for='TypeEx0')
                  input#TypeEx0(type='radio', value='TypeEx0', name='TypeExs', checked)
                  span Реальная
                label.radiobtn.radiobtn--inline(for='TypeEx1')
                  input#TypeEx1(type='radio', value='TypeEx1', name='TypeExs')
                  span Виртуальная
            .form-group.form-group--bordered
              label.form-label Время проведения
              #datepicker-range.input-daterange
                .datepicker-input.datepicker-input--range
                  input.form-control(type="text", placeholder="Укажите дату", name="start")
                span.input-daterange__separator &mdash;
                .datepicker-input.datepicker-input--range
                  input.form-control(type="text", placeholder="Укажите дату", name="end")                
            .form-group
              label.form-label Отрасль
              select.select(data-placeholder="– Отрасли  –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group
              select.select(data-placeholder="– Подотрасли  –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3            
            .form-group
              label.form-label Место проведения
              select.select(data-placeholder="– Калининградская область  –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group
              select.select(data-placeholder="– Калилинград  –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group.form-group--bordered
              select.select(data-placeholder="– Крокус Сити Экспо Калининград  –", data-minimum-results-for-search)
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group.form-group--bordered
              label.form-label Схема стендов
              .stand-scheme
                .row.stand-scheme__item.form-group__item
                  .grid-4                    
                    input.form-control(type='text', placeholder="Название стенда")
                  .grid-4                    
                    input.form-control(type='text', placeholder="Стоимость (₽)")
                  .grid-4                    
                    input.form-control(type='text', placeholder="Площадь (м2)")
                  button.btn.btn--default.lnk-dashed.lnk-delete.stand-scheme__del(type="button")
                    span.close.lnk-delete__ico
                      span.icon.close__ico
                    span.lnk-dashed__text.lnk-delete__text Удалить
                .row.stand-scheme__item.form-group__item
                  .grid-4                    
                    input.form-control(type='text', placeholder="Название стенда")
                  .grid-4                    
                    input.form-control(type='text', placeholder="Стоимость (₽)")
                  .grid-4                    
                    input.form-control(type='text', placeholder="Площадь (м2)")
                  button.btn.btn--default.lnk-dashed.lnk-delete.stand-scheme__del(type="button")
                    span.close.lnk-delete__ico
                      span.icon.close__ico
                    span.lnk-dashed__text.lnk-delete__text Удалить
              button.btn.btn--default.lnk-dashed(type="button") 
                span + 
                span.lnk-dashed__text Добавить стенд
            .form-group.form-group--bordered
              label.form-label Карта выставки
              .upload
                img.upload__img(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
                .upload__lnk
                  .file-upload
                    .file-upload__btn
                      span.icon.icon--photo
                      | Загрузить изображение                
                    input.file-upload__input(type="file")
                .addition.upload__addition
                  | Поддерживаются форматы: jpg, png, gif, bmp
                  br
                  | Объем файла не более: 1 мб
            .form-group.form-group--bordered
              label.form-label Прошедшие выставки
              select.select(data-placeholder="– Все для дома и ремонта Экспо 2013 –")
                option(value="")
                option(value="0") Option1
                option(value="1") Option2
                option(value="2") Option3
            .form-group.form-group--bordered
              label.form-label Документы для скачивания
              .files
                .files__list
                  .files__item                  
                    a.files__lnk(href="#777")
                      span.icon.icon--doc
                      | Каталог продукции 2015
                    button.btn.btn--default.lnk-dashed.lnk-delete.files__del(type="button")
                      span.close.lnk-delete__ico
                        span.icon.close__ico
                      span.lnk-dashed__text.lnk-delete__text Удалить
                  .files__item
                    a.files__lnk(href="#777")
                      span.icon.icon--xls
                      | Маркетинг-кит 2105                    
                    button.btn.btn--default.lnk-dashed.lnk-delete.files__del(type="button")
                      span.close.lnk-delete__ico
                        span.icon.close__ico
                      span.lnk-dashed__text.lnk-delete__text Удалить
                .files__upload
                  .file-upload
                    button.btn.btn--default.lnk-dashed.file-upload__btn(type="button")
                      span + 
                      span.lnk-dashed__text Добавить файлы               
                    input.file-upload__input(type="file")
                .files__addition.addition
                  | Поддерживаемые форматы: pdf, doc, xls, jpg, rar/zip
                  br
                  | Размер одного файла не более 10мб
            .form-group
              label.form-label Официальные партнеры
            .form-group
              .upload-files
                .upload.upload-files__left
                  img.upload__pic(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
                  .upload__lnk
                    .file-upload
                      .file-upload__btn
                        span.icon.icon--photo
                        | Загрузить изображение                
                      input.file-upload__input(type="file")
                  .addition.upload__addition
                    | Поддерживаются форматы: jpg, png, gif, bmp
                    br
                    | Объем файла не более: 1 мб
                .upload-files__right
                  .form-group
                    input.form-control(type='text', placeholder="Название партнера")
                  .form-group
                    textarea.form-control(rows="5", placeholder="Описание")
                  .form-group
                    input.form-control(type='text', placeholder="Сайт")
            .form-group.form-group--bordered
              button.btn.btn--sm.btn--primary-light.btn-back(type="button")
                span.icon.btn-back__icon.btn-back__icon--plus
                span.btn-back__text Добавить партнера
            .form-actions
              button.btn.btn--lg.btn--wide.btn--primary-light.form-actions__btn(type="submit") Создать

    
