extends layouts/_default

block content
    
  include modules/_header  
  
  main.content  
    .content__item.container
      .row
        .grid-6.grid-offset-3
          h2 Создание новости
          form
            .form-group
              input.form-control(type='text', placeholder="Заголовок новости")
            .form-group
              label.form-label Краткий анонс
              textarea.form-control(rows="5")
            .form-group
              label.form-label Текст новости
              textarea.form-control(rows="10")            
            .form-group.form-group--bordered
              label.form-label Добавить изображение
              .upload
                img.upload__img(src="images/content/no-photo.jpg", alt="Загруженное изображение", width="220", height="110")
                .upload__lnk
                  .file-upload
                    .file-upload__btn
                      span.icon.icon--photo
                      | Загрузить изображение                
                    input.file-upload__input(type="file")
                .addition.upload__addition
                  | Поддерживются форматы: jpg, png, gif, bmp
                  br
                  | Объем файла не более: 1 мб
            .form-group
              label.form-label Место публикации
              label.chckbx(for='PlaceOption0')
                input#PlaceOption0(type='checkbox', value='PlaceOption0', name='PlaceOptions', checked)
                span Карточка компании
              label.chckbx(for='PlaceOption1')
                input#PlaceOption1(type='checkbox', value='PlaceOption1', name='PlaceOptions')
                span Выставка
              label.chckbx(for='PlaceOption2')
                input#PlaceOption2(type='checkbox', value='PlaceOption2', name='PlaceOptions')
                span Главная страница
            .form-actions
              button.btn.btn--lg.btn--wide.btn--primary-light.form-actions__btn(type="submit") Создать
              button.btn.btn--lg.btn--extra.form-actions__btn(type="button") Отмена

    
