mixin participant

  .grid-4.participant.box
    .participant__inner.box__inner
      .participant__logo
        img.participant__img(src="http://lorempixel.com/220/109/", alt="", width="220", height="109")
      h3.participant__ttl
        a.participant__lnk(href="#777") Название компании
      .participant__info
        b Отрасль
        br
        | Архитектура и строительство
      .participant__info
        b Регион представления
        br
        | Россия

extends layouts/_default

block content

  include modules/_header-companies

  include modules/cover-exhibitions

  main.content
    //begin exhibitions
    section.content__item.catalog-companies
      .container.companies__inner
        h2.ttl-md Каталог компаний
        .row
          .grid-8
            .row
              //begin participant
              .grid-4.participant.box
                .participant__inner.box__inner
                  .participant__logo
                    img.participant__img(src="images/partner_1.jpg", alt="", width="220", height="109")
                  h3.participant__ttl
                    a.participant__lnk(href="/company.html") ООО "БАЛТИЙСКИЕ УЗОРЫ"
                  .participant__info
                    b Отрасль
                    br
                    | Архитектура и строительство
                  .participant__info
                    b Регион представления
                    br
                    | Россия, Калининград


              .grid-4.participant.box
                .participant__inner.box__inner
                  .participant__logo
                    img.participant__img(src="images/partner_2.jpg", alt="", width="220", height="109")
                  h3.participant__ttl
                    a.participant__lnk(href="#777") ООО «ЯНТАРНАЯ ВОЛНА»
                  .participant__info
                    b Отрасль
                    br
                    | Архитектура и строительство
                  .participant__info
                    b Регион представления
                    br
                    | Россия, Калининград


              .grid-4.participant.box
                .participant__inner.box__inner
                  .participant__logo
                    img.participant__img(src="images/partner_3.jpg", alt="", width="220", height="109")
                  h3.participant__ttl
                    a.participant__lnk(href="#777") ИП ДАРВИН ОЛЕГ СЕРГЕЕВИЧ
                  .participant__info
                    b Отрасль
                    br
                    | Архитектура и строительство
                  .participant__info
                    b Регион представления
                    br
                    | Россия, Калининград


              .grid-4.participant.box
                .participant__inner.box__inner
                  .participant__logo
                    img.participant__img(src="images/partner_4.jpg", alt="", width="220", height="109")
                  h3.participant__ttl
                    a.participant__lnk(href="#777") ООО "Торговый Дом Строитель"
                  .participant__info
                    b Отрасль
                    br
                    | Архитектура и строительство
                  .participant__info
                    b Регион представления
                    br
                    | Россия, Калининград



              .grid-4.participant.box
                .participant__inner.box__inner
                  .participant__logo
                    img.participant__img(src="images/partner_5.jpg", alt="", width="220", height="109")
                  h3.participant__ttl
                    a.participant__lnk(href="#777") ООО "КСИЛ"
                  .participant__info
                    b Отрасль
                    br
                    | Архитектура и строительство
                  .participant__info
                    b Регион представления
                    br
                    | Россия, Калининград



              .grid-4.participant.box
                .participant__inner.box__inner
                  .participant__logo
                    img.participant__img(src="images/partner_6.jpg", alt="", width="220", height="109")
                  h3.participant__ttl
                    a.participant__lnk(href="#777") ООО "Капля"
                  .participant__info
                    b Отрасль
                    br
                    | Архитектура и строительство
                  .participant__info
                    b Регион представления
                    br
                    | Россия, Калининград

            //end participant
          .grid-4
            //begin sidebar
            .sidebar
              .sidebar__item
                include modules/_filter
            //end sidebar

    //end exhibitions
