extends layouts/_default

block content

  include modules/_header

  main.content

    section.headline
      .container.headline__inner
        .row
          .grid.grid--xs
            .phiz
              img.phiz__img(src="images/partner_1.jpg", alt="", width="220", height="109")
          .grid
            h2.ttl-lg.headline__title ООО «Балтийские узоры»
            .headline__lbl
              .lbl.lbl--extra Оператор
          .grid-4.headline__back.headline-back
            .headline-back__btn
              button.btn.btn--sm.btn--primary-light.btn-back(type="button")
                span.icon.btn-back__icon
                span.btn-back__text Вернуться в каталог компаний
    section.content__item.tabpanel(role='tabpanel')
      .tabpanel__nav
        .container
          //begin tabs
          ul.nav.nav-tabs.tabs(role='tablist')
            li.tabs__item.active(role='presentation')
              a.tabs__lnk(href='#profile', aria-controls='profile', role='tab', data-toggle='tab')
                span Профиль компании
            li.tabs__item(role='presentation')
              a.tabs__lnk(href='#products', aria-controls='products', role='tab', data-toggle='tab')
                span Товары/Услуги
            li.tabs__item(role='presentation')
              a.tabs__lnk(href='#exhibitions', aria-controls='exhibitions', role='tab', data-toggle='tab')
                span Выставки
            li.tabs__item(role='presentation')
              a.tabs__lnk(href='#news', aria-controls='news', role='tab', data-toggle='tab')
                span Новости
          //end tabs
      .tabpanel__content
          .tab-content
            #profile.tab-pane.fade.in.active(role='tabpanel')
              include modules/company-op-tabs/tab-1
            #products.tab-pane.fade(role='tabpanel')
              include modules/company-op-tabs/tab-2
            #exhibitions.tab-pane.fade(role='tabpanel')
              include modules/company-op-tabs/tab-3
            #news.tab-pane.fade(role='tabpanel')
              include modules/company-op-tabs/tab-4
  //begin modal
  include modules/modals/company-add-prod-serv
  //end modal
