extends layouts/_default

block content

  include modules/_header
  include modules/cover-contacts


  mixin services-collapse(id)
    //begin services-collapse
    .collapse.services-collapse(id=id)
      .services-collapse__inner
        p Уважаемые Гости и Участники выставки!Компания Райзебюро ВЕЛЬТ — туроператор по въездному туризму в Россию (реестровый номер туроператора МВТ-000070, сертифицированная система качества — ISO 9001), официальный партнер выставки «МИР КЛИМАТА» — предлагает Вам забронировать все необходимые туристические услуги: размещение в гостинице ПО СПЕЦИАЛЬНЫМ ЦЕНАМ, транспорт и экскурсии в период участия в мероприятиях, бесплатная визовая поддержка при бронировании гостиницы.
        include components/list-styled
    //end services-collapse


  main.content
    .block
      .container.block__item
        //begin curators
        section.curators
          h2.ttl-sm Кураторы проекта
          .row
            .grid-4
              //begin media
              .media.media--stack
                .media__pic
                  img(src="images/content/employee-0.jpg", alt="", width="110", height="130")
                .media__body
                  b
                    | Сердюков
                    br
                    | Леонид Валерьевич
                  br
                  | Менеджер по организации конгресс-мероприятий
                  .media__footer
                    | +7 (4012) 590-672, 590-650
                    br
                    a(href="mailto:congress@kaliningrad-cci.ru") congress@kaliningrad-cci.ru
              //end media
            .grid-4
              //begin media
              .media.media--stack
                .media__pic
                  img(src="images/content/employee-1.jpg", alt="", width="110", height="130")
                .media__body
                  b
                    | Сердюкова
                    br
                    | Марина Николаевна
                  br
                  | Вице-президент, Руководитель правового департамента
                  .media__footer
                    | +7 (4012) 590-672, 590-650
                    br
                    a(href="mailto:congress@kaliningrad-cci.ru") congress@kaliningrad-cci.ru
              //end media
            .grid-4
              //begin media
              .media.media--stack
                .media__pic
                  img(src="images/content/employee-1.jpg", alt="", width="110", height="130")
                .media__body
                  b
                    | Сердюкова
                    br
                    | Марина Николаевна
                  br
                  | Вице-президент, Руководитель правового департамента
                  .media__footer
                    | +7 (4012) 590-672, 590-650
                    br
                    a(href="mailto:congress@kaliningrad-cci.ru") congress@kaliningrad-cci.ru
              //end media
        //end curators
      .container.block__item
        //begin contacts
        section.contacts
          h2.ttl-sm Калининградская Торгово-Промышленная Палата
          .row
            .grid-6
              dl.dl
                dt.dl__dt Адрес:
                dd.dl__dd 236010 Россия, г. Калининград, ул. Ватутина, 20

                dt.dl__dt Телефон:
                dd.dl__dd +7 (4012) 590-650, 590-660

                dt.dl__dt Факс:
                dd.dl__dd +7 (4012) 95-47-88
            .grid-6
              dl.dl
                dt.dl__dt E-mail:
                dd.dl__dd
                  a(href="mailto:info@balticfair.com ") info@balticfair.com
                dt.dl__dt Сайт:
                dd.dl__dd
                  a(href="#777") www.balticfair.com
                dt.dl__dt Режим работы:
                dd.dl__dd
                  | пн-пт с 9.00 до 18.00
                  br
                  | (перерыв с 13.00 до 14.00)
        //end contacts
