extends layouts/_default

block content
    
  include modules/_header
  include modules/cover-exhibition-virtual
  
  
  main.content  
    
    section.content__item.tabpanel(role='tabpanel')
      .tabpanel__nav
        .container
          //begin tabs
          ul.nav.nav-tabs.tabs(role='tablist')
            li.tabs__item(role='presentation')
              a.tabs__lnk.tabs__lnk--7.lnk-flex(href='#exhibition', aria-controls='exhibition', role='tab', data-toggle='tab')
                span.lnk-flex__centered Выставка
            li.tabs__item(role='presentation')
              a.tabs__lnk.tabs__lnk--7.lnk-flex(href='#participation', aria-controls='participation', role='tab', data-toggle='tab')
                span.lnk-flex__centered Участие и регистрация
            li.tabs__item(role='presentation')
              a.tabs__lnk.tabs__lnk--7.lnk-flex(href='#sponsors', aria-controls='sponsors', role='tab', data-toggle='tab')
                span.lnk-flex__centered Спонсорам
            li.tabs__item(role='presentation')
              a.tabs__lnk.tabs__lnk--7.lnk-flex(href='#companies', aria-controls='companies', role='tab', data-toggle='tab')
                span.lnk-flex__centered Компании участники
            li.tabs__item.active(role='presentation')
              a.tabs__lnk.tabs__lnk--7.lnk-flex(href='#news', aria-controls='news', role='tab', data-toggle='tab')
                span.lnk-flex__centered Новости выставки
            li.tabs__item(role='presentation')
              a.tabs__lnk.tabs__lnk--7.lnk-flex(href='#contacts', aria-controls='contacts', role='tab', data-toggle='tab')
                span.lnk-flex__centered Контактная информация
            li.tabs__item(role='presentation')
              a#gallery-link.tabs__lnk.tabs__lnk--7.lnk-flex(href='#gallery', aria-controls='gallery', role='tab', data-toggle='tab')
                span.lnk-flex__centered Галерея        
          //end tabs          
      .tabpanel__content
          .tab-content
            #exhibition.tab-pane.fade(role='tabpanel')
              include modules/ex-virtual-tabs/tab-1
            #participation.tab-pane.fade(role='tabpanel')
              include modules/ex-virtual-tabs/tab-2
            #sponsors.tab-pane.fade(role='tabpanel')
              include modules/ex-virtual-tabs/tab-3
            #companies.tab-pane.fade(role='tabpanel')
              include modules/ex-virtual-tabs/tab-4
            #news.tab-pane.fade.in.active(role='tabpanel')
              include modules/ex-virtual-tabs/tab-news
            #contacts.tab-pane.fade(role='tabpanel')
              include modules/ex-virtual-tabs/tab-6
            #gallery.tab-pane.fade(role='tabpanel')
              include modules/ex-virtual-tabs/tab-7
