extends layouts/_default

block content
    
  include modules/_header-exhibitions
  
  include modules/cover-exhibitions
  
  main.content
    //begin exhibitions    
    section.content__item.exhibitions
      .container.exhibitions__inner
        .title-n-link
          a.title-n-link__link(href="#777") Архив мероприятий
          h2.ttl-md.title-n-link__ttl Выставки
        .row
          include modules/exhibitions-4
        .exhibitions__more
          button.btn.btn--lg.btn--primary-light(type="button") Показать еще выставки          
    //end exhibitions
