extends layouts/_default

block content

  include modules/_header

  main.content

    section.headline
      .container.headline__inner
        .row
          .grid-8
            h2.ttl-lg.headline__title Мой гид
          .grid-4.headline__back.headline-back
            .headline-back__btn
              button.btn.btn--sm.btn--primary-light.btn-back(type="button")
                span.icon.btn-back__icon
                span.btn-back__text Вернуться к выставке

    section.guide
      .container.content__item
        h2.ttl-sm Балтийская выставка электронно-вычислительных комплексов
        //begin media
        article.media.media--ex
          .media__pic
            img(src="images/b_1.png", alt="", width="220", height="109")
          .media__body
            .title-n-link
              button.btn.btn--default.lnk-dashed.lnk-delete.title-n-link__link.title-n-link__link--h4(type="button")
                span.close.lnk-delete__ico
                  span.icon.close__ico
                span.lnk-dashed__text.lnk-delete__text Удалить
              h4.media__ttl.title-n-link__ttl.title-n-link__link--h4
                a(href="#777") Томас Мюллер
            | Ранее в понедельник правительство снизило субсидируемую государством ставку по ипотеке до 12% с 13%. На прошлой неделе о начале выдачи ипотеки с господдержкой под 11,5% заявил Газпромбанк. ВТБ 24 предполагает выдавать кредиты на жилье по программе под 12%.
            .media__footer
              b Отрасли:
              |  Медицина и косметика, Спорт и отдых, Охота и рыбалка
              br
              b Тип:
              |  виртуальный участник
        //end media
        //begin media
        article.media.media--ex
          .media__pic
            img(src="images/content/no-photo.jpg", alt="", width="220", height="109")
          .media__body
            .title-n-link
              button.btn.btn--default.lnk-dashed.lnk-delete.title-n-link__link.title-n-link__link--h4(type="button")
                span.close.lnk-delete__ico
                  span.icon.close__ico
                span.lnk-dashed__text.lnk-delete__text Удалить
              h4.media__ttl.title-n-link__ttl.title-n-link__link--h4
                a(href="#777") Первая промышленная Госкорпарация
            | Ранее в понедельник правительство снизило субсидируемую государством ставку по ипотеке до 12% с 13%. На прошлой неделе о начале выдачи ипотеки с господдержкой под 11,5% заявил Газпромбанк. ВТБ 24 предполагает выдавать кредиты на жилье по программе под 12%.
            .media__footer
              b Отрасли:
              |  Медицина и косметика, Спорт и отдых, Охота и рыбалка
              br
              .stand-name.stand-name--sm Стенд: А4
        //end media
        //begin media
        article.media.media--ex
          .media__pic
            img(src="images/b_2.png", alt="", width="220", height="109")
          .media__body
            .title-n-link
              button.btn.btn--default.lnk-dashed.lnk-delete.title-n-link__link.title-n-link__link--h4(type="button")
                span.close.lnk-delete__ico
                  span.icon.close__ico
                span.lnk-dashed__text.lnk-delete__text Удалить
              h4.media__ttl.title-n-link__ttl.title-n-link__link--h4
                a(href="#777") Аристея
            | Ранее в понедельник правительство снизило субсидируемую государством ставку по ипотеке до 12% с 13%. На прошлой неделе о начале выдачи ипотеки с господдержкой под 11,5% заявил Газпромбанк. ВТБ 24 предполагает выдавать кредиты на жилье по программе под 12%.
            .media__footer
              b Отрасли:
              |  Медицина и косметика, Спорт и отдых, Охота и рыбалка
              br
              .stand-name.stand-name--sm Стенд: А4
        //end media
        //begin media
        article.media.media--ex
          .media__pic
            img(src="images/b_3.png", alt="", width="220", height="109")
          .media__body
            .title-n-link
              button.btn.btn--default.lnk-dashed.lnk-delete.title-n-link__link.title-n-link__link--h4(type="button")
                span.close.lnk-delete__ico
                  span.icon.close__ico
                span.lnk-dashed__text.lnk-delete__text Удалить
              h4.media__ttl.title-n-link__ttl.title-n-link__link--h4
                a(href="#777") Blaze
            | Ранее в понедельник правительство снизило субсидируемую государством ставку по ипотеке до 12% с 13%. На прошлой неделе о начале выдачи ипотеки с господдержкой под 11,5% заявил Газпромбанк. ВТБ 24 предполагает выдавать кредиты на жилье по программе под 12%.
            .media__footer
              b Отрасли:
              |  Медицина и косметика, Спорт и отдых, Охота и рыбалка
              br
              b Тип:
              |  виртуальный участник
        //end media
        .actions
          button.btn.btn--lg.btn--primary-light.actions__btn(type="button") Сохранить как PDF
          button.btn.btn--md.btn--default.actions__btn.lnk-dashed(type="button")
            span.lnk-dashed__text Отправить на почту
