extends layouts/_default

block content

  include modules/_header

  main.content

    section.headline
      .container
        h2.ttl-center.headline__title Как это работает

    section.how-it-works
      .container.content__item
        p После прохождения регистрации пользователь получает доступ в личный кабинет на портале, через который можно управлять профилем. Самостоятельно заполняя свой профиль, операторы и участники выставки размещают актуальную и оперативную информацию о своей деятельности и именно за ней на портал приходят посетители.

        p.centered
          img(src="images/how_it_works.jpg", alt="", width="800", height="")

        p EXPO.pro – это площадка, на которой встречаются выставочные операторы и участники выставок, партнеры по бизнесу и потенциальные покупатели. Для разных категорий пользователей портал предлагает разные возможности для организации своей выставочной деятельности.

        p Оцените возможности продвижения своего бизнеса и поиска партнеров

        a.btn.btn--primary-light(href="/opportunities.html#for-companies") Узнать больше
