extends layouts/_default

block content
    
  include modules/_header-without-search
  
  include modules/cover-home
  
  main.content    
    include modules/exhibitions
    include modules/thumbnails
    include modules/partners
    
  include modules/_categories
    
