doctype html
html.no-js
  head
    meta(charset="utf-8")
    title Expo Pro
    meta(name="description", content="")
    meta(name='viewport', content='width=1320')
    link(rel="shortcut icon", href="/favicon.ico")

  body
    ol
      li 
        a(href="index.html") Главная
      li 
        a(href="auth.html") Авторизованный пользователь
      li 
        a(href="services.html") Услуги
      li 
        a(href="exhibitions.html") Выставки
      li 
        a(href="exhibition.html") Страница выставки (реальная)
      li
        a(href="exhibition-virtual.html") Страница выставки (виртуальная)
      li
        a(href="exhibition-virtual-news.html") Детальная cтраница новостей          
      li 
        a(href="stand.html") Страница компании участника выставки (стенд)
      li 
        a(href="stand-virtual.html") Страница участников виртуальной выставки     
      li
        a(href="opportunities.html") Возможности портала EXPO.pro
      li
        a(href="how-it-works.html") Как это работает
      li
        a(href="catalog-companies.html") Каталог компаний
      li
        a(href="company.html") Профиль компании
      li
        a(href="company-operator.html") Профиль компании оператора
      li
        a(href="about.html") О проекте
      li
        a(href="contacts.html") Контакты
      li
        a(href="guide.html") Мой гид
      li
        a(href="add-exhibition.html") Создание выставки
      li
        a(href="add-company.html") Создание компании
      li
        a(href="add-news.html") Создание новости
      li
        a(href="search-result.html") Результаты поиска
      li
        a(href="regions.html") Регионы
      li
        a(href="account.html") Личный кабинет
      li
        a(href="registration.html") Регистрация
      li
        a(href="login.html") Вход в личный кабинет
      li
        a(href="password-recover.html") Восстановление пароля
      li
        a(href="order-stand.html") Заказать стенд
      li
        a(href="system-popup.html") Системный попап
      li
        a(href="add-gallery.html") Создание галереи
        
