extends layouts/_default

block content
    
  include modules/_header
    
  main.content
    
    section.content__item.module
      .module__head.module-head
        h2.module-head__ttl 
          | Вход
          br
          | в личный кабинет
        .module-head__actions
          a.module-head__lnk(href="#777") Я уже зарегистрирован
          br
          a.module-head__lnk(href="#777") Восстановить пароль
      .module__body
        form
          .form-set.form-set--bordered
            .form-group
              input.form-control(type='email', placeholder="E-mail")
            .form-group
              input.form-control(type='password', placeholder="Введите пароль")
          .form-set
            .form-group
              label.chckbx(for='RegOption0')
                input#RegOption0(type='checkbox', value='RegOption0', name='RegOptions', checked)
                span.text-lg Запомнить меня
          .form-set.form-set--bordered
            .form-group
              button.btn.btn--lg.btn--wide.btn--primary-light(type="submit") Войти
          p.text-lg Авторизироваться через социальные сети
          //begin social
          ul.social.social--left
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--fb-lg
                span.hidden Facebook
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--tw-lg
                span.hidden Twitter
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--in-lg
                span.hidden LinkedIn
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--vk-lg
                span.hidden Вконтакте
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--ok-lg
                  span.hidden Одноклассники
          //end social
