extends layouts/_default

block content
    
  include modules/_header
    
  main.content
    
    section.headline
      .container
        h2.ttl-lg.headline__title Возможности портала EXPO.pro
        
            
    section#for-operators
      .container.content__item
        h2 EXPO.pro для выставочных операторов        
        h3 Создавайте новые выставки

        p Предоставьте своим потенциальным клиентам информацию о выставках. Ваша аудитория ищет актуальные данные о наличии и стоимости аренды площадей. Желающие посетить мероприятие хотят познакомиться с участниками и спланировать свое нахождение на нем. Все кто не смог прийти на выставку ищут информацию об участниках и их предложениях.

        h3 Получайте заявки на участие

        p Заполняйте данные о наличии свободных мест и их стоимости. Потенциальные участники свяжутся вами через удобную форму заявки на аренду стенда.

        h3 Размещайте анонсы и новости выставки

        p Мы собрали постоянную аудиторию заинтересованных в последних новостях выставочного сервиса пользователей. Анонсы, новости, фото- и видеоотчеты – самая актуальная информация о выставках и экспонентах доступна в новостных лентах и в базе рассылки портала.

        h3 Предоставьте своим клиентам дополнительный сервис

        p Участники выставки размещают свой стенд на портале и их потенциальные клиенты или партнеры находят их еще быстрее. А возможность «Заочного участия» - для тех организаций, которые не будут участвовать в реальной выставке, но желают разместить свой стенд в рамках выставки на портале.

        h3 Увеличивайте охват выставки

        p По окончанию выставки ее страница и стенды участников останутся доступными для всех посетителей портала. Аудитория сайта не ограничивается регионом или временем. Пользователи EXPO.pro - это и посетители реальной выставки, которые пришли за дополнительными сведениями и те кто не смог прийти на выставку, но активно ей интересуется.
        p.text-lg На страницах стендов и выставок предусмотрена скрытая статистика посещений – вы сможете самостоятельно оценить популярность своей страницы на портале.
    section#for-companies
      .container.content__item
        h2 EXPO.pro для компаний-участников
        
        h3 Получайте оперативную информацию о выставках и экспонентах

        p Теперь не нужно тратить время на поиски по всей сети – мы собрали все на одном портале! Актуальная база выставок и экспонентов, архив прошедших мероприятий, новостная лента, удобный поиск по сайту, почтовые рассылки и другие сервисы для вашего удобства. Получайте свежую информацию сразу на почту и будьте в курсе последних событий.

        h3 Расскажите о возможностях своей компании

        p Каталог компаний-участников собирает историю активности компаний на портале. Актуальная информация о деятельности организации позволяет презентовать ее как активного участника рынка и надежного партнера.

        h3 Отслеживайте ситуацию на рынке, выбирайте партнеров

        p Вы можете выбрать партнера или оценить уровень конкурента в каталоге участников без посещения реальной выставки. В архиве портала сохраняется информация об участниках, новости и отчеты выставок.

        h3 Увеличивайте посещаемость стенда на выставке

        p Размещайте свой виртуальный стенд на портале и потенциальные партнеры могут заранее ознакомиться с информацией и спланировать свое посещение выставки. Страница выставки и все стенды остаются доступными на сайте и после окончания выставки, что обеспечит дополнительный охват аудитории.

        h3 Не можете приехать на выставку? Посетите ее заочно

        p Те организации, которые не могут участвовать в реальной выставке могут отправить заявку на заочное участие. В этом случае виртуальный стенд будет доступен на портале в рамках проходящей выставки на ряду с реальными участниками.

        h3 Участвуйте в виртуальных выставках

        p Специальные проекты виртуальных тематических выставок на портале EXPO.pro – это выставки, которые проводятся только в рамках портала. Компания участник виртуальной выставки создает стенд, который доступен на портале все время проведения виртуальной выставки.      

        h3 Используйте рекламные возможности портала 

        p Настраивать показы рекламных баннеров можно строго под выбранную аудиторию. Выбирайте целевых посетителей и экономьте на рекламе!

        h3 Обеспечивайте свое пребывание на выставке используя дополнительные услуги 

        p Наши партнеры - это только проверенные организации. Заказывая услуги на портале EXPO.pro вы можете быть уверены в качестве выполняемых работ. Подробнее со списком услуг можно ознакомиться по ссылке (переход в раздел услуги).
    section#for-customers
      .container.content__item
        h2 EXPO.pro для посетителей
        
        h3 Получайте оперативную и достоверную информацию о новых выставках 

        p Актуальная база выставок и экспонентов, удобный поиск, последние новости от операторов и участников, подписки на электронную рассылку - EXPO.pro сервис быстрого доступа к информации. 

        h3 Покупайте билеты онлайн

        p Купите билет на портале заранее, если не хотите стоять в очереди на выставку. 

        h3 Сервис «Мой гид» поможет спланировать посещение выставки
        p На  странице выставки вы можете познакомиться с участниками, оценить их предложения и составить свой план посещения. Получите максимум эффекта от мероприятия - добавляйте понравившиеся компании в «Мой гид», распечатайте план с собой и вам не придется тратить время на обход всех стендов.  

        h3 Сравнивайте предложения и выбирайте лучшие в каталоге компаний EXPO.pro

        p В нашем каталоге собрана база наиболее успешных и активных компаний по отраслям, каждая из которых презентует свои товары и услуги для вас. Знакомьтесь с предложениями компании в каталоге, с ее презентациями на выставке, сравнивайте с конкурентами – выбирайте лучшее для себя! 

        h3 Для тех, кто не смог прийти на выставку или что-то забыл

        p Теперь вы можете в любое время посетить выставку на портале EXPO.pro. Читайте отчеты, заходите на стенды компаний участников,  знакомьтесь с их предложениями и с «Заочными участниками», которых не было на выставке. Вы сможете найти всю информацию о компании на выставке, а если нет, то всегда можно обратиться к представителям напрямую.

        h3 Обратная связь с участниками через портал

        p Если вы не успели познакомиться со всеми нужными компаниями или потеряли нужный контакт или вовсе не смогли попасть на выставку – воспользуйтесь формой обратной связи и ваше сообщение придет напрямую к контактному лицу в организации. 


        h3 Воспользуйтесь дополнительными услугами для комфортного посещения выставки

        p На портале вы можете подобрать отель или трансфер, заказать услуги переводчика или представителя. С полным списком услуг вы можете ознакомиться по ссылке (переход в раздел Услуги).
