extends layouts/_default

block content
    
  include modules/_header  
  
  main.content  
    .content__item.container
      .row
        .grid-6.grid-offset-3
          h2 Заказать стенд
          p На портале Expo.pro вы можете оставить заявку на аренду площади на выставке. Заполните форму и представитель выставочного оператора свяжется с вами в ближайшее время. 
          form
            .form-group
              input.form-control(type='text', placeholder="Название выставки")
            .form-group
              input.form-control(type='text', placeholder="Название компании")
            .form-group.required
              input.form-control(type='text', placeholder="Контактное лицо", required)
            .form-group.required
              input.form-control(type='email', placeholder="E-mail", required)
            .form-group.form-group--bordered.required
              input.form-control(type='tel', placeholder="Телефон", required)
            .form-group
              label.form-label Если вы уже выбрали стенд, укажите его номер:
              input.form-control(type='text', placeholder="Стенд")
            .form-group.form-group--bordered
              button.btn.btn--sm.btn--primary-light(type="button")
                span.btn-back__text Посмотреть стенды
            .form-group
              label.form-label Если еще не выбрали, то укажите желаемую площадь и мы предложим подходящие варианты:
              input.form-control(type='text', placeholder="Открытая м. кв")
            .form-group.form-group--bordered
              input.form-control(type='text', placeholder="Закрытая м. кв")
            .form-group.form-group--bordered
              label.form-label Полный бланк заявки на участие
              br
              a(href="", target="_blank") Файл для скачивания
            .form-group.form-group--bordered
              label.form-label Требуется ли оборудование на стенде 
              .rbtns
                label.radiobtn.radiobtn--inline(for='Equipment0')
                  input#Equipment0(type='radio', value='Equipment0', name='Equipments', checked)
                  span Да
                label.radiobtn.radiobtn--inline(for='Equipment1')
                  input#Equipment1(type='radio', value='Equipment1', name='Equipments')
                  span Нет
            .form-group
              label.form-label Выберите дополнительные услуги, которые вам потребуются:
              label.chckbx(for='PlaceOption0')
                input#Serv0(type='checkbox', value='Serv0', name='Servs', checked)
                span Дизайн и застройка стенда
              textarea.form-control(rows="3")
            .form-group
              label.chckbx(for='Serv1')
                input#Serv1(type='checkbox', value='Serv1', name='Servs')
                span Представительство на выставке
              textarea.form-control(rows="3")
            .form-group
              label.chckbx(for='Serv2')
                input#Serv2(type='checkbox', value='Serv2', name='Servs')
                span Бронирование гостиницы
              textarea.form-control(rows="3")
            .form-group
              label.chckbx(for='Serv3')
                input#Serv3(type='checkbox', value='Serv3', name='Servs')
                span Трансфер
              textarea.form-control(rows="3")
            .form-group
              label.chckbx(for='Serv4')
                input#Serv4(type='checkbox', value='Serv4', name='Servs')
                span Переводчик
              textarea.form-control(rows="3")
            .form-actions
              button.btn.btn--lg.btn--wide.btn--primary-light.form-actions__btn(type="submit") Заказать
              button.btn.btn--lg.btn--extra.form-actions__btn(type="button") Отмена

    
