extends layouts/_default

block content
    
  include modules/_header
    
  main.content
    
    section.content__item.module
      .module__head.module-head
        h2.module-head__ttl Восстановление пароля
        .module-head__actions
          a.module-head__lnk(href="#777") Авторизироваться еще раз
          br
          a.module-head__lnk(href="#777") Я новый пользователь
      .module__body
        form
          .form-set.form-set--bordered
            .form-group.required
              input.form-control(type='email', placeholder="E-mail", required)
              .form-info На указанный вами арес электронной почты будет выслано сообщение с ссылкой на восстановление пароля.
          .form-set
            .form-group
              button.btn.btn--lg.btn--primary-light(type="submit") Восстановить
