extends layouts/_default

block content
    
  include modules/_header
    
  main.content
    
    section.headline
      .container
        h2.ttl-lg.headline__title Регионы
        
            
    section
      .container.content__item
        .row
          .grid-7
            .region
              select#j-region
                option(value="0") Калининградская область
                option(value="1") Московская область
                option(value="2") Калининградская область
                option(value="3") Калининградская область
        .row
          .grid-9
            h2 Калининградская область
            p.text-lg Калининградская область — самый западный регион России. Расположена в Центральной Европе. Отделена от остальной России территорией других государств, но соединена морем и является, таким образом, полуэксклавом.
            p.text-lg Максимальная протяжённость области с запада на восток — 205 км, с севера на юг — 108 км. Протяжённость границ области, являющихся одновременно и государственной границей Российской Федерации, составляет 540 км. Из них 410 км приходится на сухопутные — примерно поровну на границу с Польшей и Литвой и 140-километровая морская граница по побережью Балтийского моря.
            p В настоящее время годовая добыча янтаря достигает нескольких сотен тонн, однако лишь небольшая её часть используется в ювелирном производстве самой Калининградской области. Добыча и вывоз янтаря из Калининградской области зачастую сопровождается правонарушениями, такими как незаконная добыча и контрабанда янтаря в страны Западной Европы. 
            p В 2004 году была запущена морская ледостойкая стационарная платформа, осуществляющая эксплуатационное бурение на Кравцовском месторождении. Лицензия на право разработки месторождения принадлежит «Лукойл-Калининградморнефть» — дочернему предприятию Лукойла, находящемуся в городе Светлом. Однако данная отрасль производства Калининградской области вызывает неоднозначные оценки аналитиков и общественности Калининградской области, а также соседних стран (Литва, Польша). Платформа Д-6, находящаяся в Балтийском море в 22 км от уникального природного заповедника Куршская коса, занесённого в список всемирного наследия ЮНЕСКО, является предметом постоянного спора между организациями, стоящими на стороне экологической защиты и безопасности региона, с одной стороны, и промышленниками и чиновниками, с другой стороны. В 2008 году было добыто 842 тыс. тонн нефти на месторождении Д-6 и 583,2 тыс. тонн нефти на суше.
            p Добываемая соль покрывает потребности региона, и даже экспортируется в другие страны. Торф используется преимущественно для нужд сельского хозяйства в качестве органического удобрения. Также в регионе ведётся добыча бурого угля.
    section
      .container.content__item
        h2 События региона
        .row
          .grid-3
            article.thumbnail
              .thumbnail__pic
                img.thumbnail__img(src="../images/n_1.jpg", alt="", width="310", height="210")
                .date.thumbnail__date с 28 мая 2015г
                
              .thumbnail__desc
                h3.thumbnail__ttl
                  a.thumbnail__lnk(href="#777") Форум «Передовые Технологии Автоматизации. ПТА - Санкт-Петербург 2015»
                | 28 мая 2015 года на VIII компания «Ракурс» представит отечественные разработки в рамках секции «Импортозамещение в сфере автоматизации: продукты и решения».


          .grid-3
            article.thumbnail
              .thumbnail__pic
                img.thumbnail__img(src="../images/n_2.png", alt="", width="310", height="210")
                .date.thumbnail__date с 23 мая по 14 апреля
                .thumbnail__label.lbl Виртуальная выставка
              .thumbnail__desc
                h3.thumbnail__ttl
                  a.thumbnail__lnk(href="#777") Выставка WorldFood Moscow – эффективный инструмент поиска новых клиентов и увеличения объемов продаж
                | Осенью в Москве, в ЦВК «Экспоцентр» в 24-й раз пройдет международная выставка продуктов питания WorldFood Moscow 2015.


          .grid-3
            article.thumbnail
              .thumbnail__pic
                img.thumbnail__img(src="../images/n_3.jpg", alt="", width="310", height="210")
                .date.thumbnail__date с 23 мая по 14 апреля
              .thumbnail__desc
                h3.thumbnail__ttl
                  a.thumbnail__lnk(href="#777") Выставка Сhina E-Brand Expo 2015 успешно завершилась
                | 15-го мая 2015 года в ЦВК «ЭКСПОЦЕНТР» была официально завершена 4-дневная выставка электроники и электроприборов русско-китайских брендов 2015 года.


          .grid-3
            article.thumbnail
              .thumbnail__pic
                img.thumbnail__img(src="../images/n_4.jpg", alt="", width="310", height="210")
                .date.thumbnail__date с 23 мая по 14 апреля
              .thumbnail__desc
                h3.thumbnail__ttl
                  a.thumbnail__lnk(href="#777") Smile-Expo открывает рынок антитабачных ингаляторов в России
                | 19-20 июня в Москве состоится уникальное для Восточной Европы событие: Первая конференция и выставка электронных антитабачных ингаляторов, электронных сигарет, VAPEXPO-2015


          .grid-3
            article.thumbnail
              .thumbnail__pic
                img.thumbnail__img(src="../images/n_5.jpg", alt="", width="310", height="210")
                .date.thumbnail__date с 28 мая 2015г
              .thumbnail__desc
                h3.thumbnail__ttl
                  a.thumbnail__lnk(href="#777") Конференция «Предприятия плитной промышленности: оптимизация и управление затратами» на Woodex Moscow 2015
                | 25 ноября 2015 года в Москве в рамках международной выставки Woodex Moscow состоится традиционная Конференция по древесным плитам.


          .grid-3
            article.thumbnail
              .thumbnail__pic
                img.thumbnail__img(src="../images/n_6.jpg", alt="", width="310", height="210")
                .date.thumbnail__date с 23 мая по 14 апреля
              .thumbnail__desc
                h3.thumbnail__ttl
                  a.thumbnail__lnk(href="#777") В Минэнерго России состоялось заседание межведомственного координационного совета по вопросам энергосбережения
                | 15 мая 2015 года в Минэнерго России состоялось заседание межведомственного координационного совета по вопросам энергосбережения и повышения энергоэффективности.


          .grid-3
            article.thumbnail
              .thumbnail__pic
                img.thumbnail__img(src="../images/n_7.jpg", alt="", width="310", height="210")
                .date.thumbnail__date с 23 мая по 14 апреля
                .thumbnail__label.lbl Виртуальная выставка
              .thumbnail__desc
                h3.thumbnail__ttl
                  a.thumbnail__lnk(href="#777") Конференция «Топливные гранулы, брикеты и щепа: производство, сбыт, потребление» 24 ноября 2015 года на выставке Woodex Moscow
                | ИАА «ИНФОБИО» и журнал «Международная Биоэнергетика» приглашают профессионалов и начинающих бизнесменов встретиться и обсудить насущные проблемы утилизации древесных отходов


          .grid-3
            article.thumbnail
              .thumbnail__pic
                img.thumbnail__img(src="../images/n_8.png", alt="", width="310", height="210")
                .date.thumbnail__date с 23 мая по 14 апреля
              .thumbnail__desc
                h3.thumbnail__ttl
                  a.thumbnail__lnk(href="#777") «Связь-Экспокомм-2015» и первый Большой Медиа- Коммуникационный Форум – главное весеннее событие отрасли связи и телекоммуникаций
                | 12 мая в Экспоцентре на Красной Пресне состоялось открытие 27-й международной выставки телекоммуникационного оборудования, систем управления, информационных технологий и услуг связи «Связь- Экспокомм-2015»
