extends layouts/_default

block content
    
  include modules/_header
    
  main.content
    
    section.content__item.module
      .module__head.module-head
        h2.module-head__ttl Регистрация
        .module-head__actions
          a.module-head__lnk(href="#777") Я уже зарегистрирован
          br
          a.module-head__lnk(href="#777") Восстановить пароль
      .module__body
        form
          .form-set
            .form-group.required
              input.form-control(type='text', placeholder="Имя", required)
            .form-group.required.err
              input.form-control(type='text', placeholder="Фамилия", required)
            .form-group
              input.form-control(type='text', placeholder="Отчество", required)
          .form-set.form-set--bordered
            .form-group.required
              input.form-control(type='email', placeholder="E-mail", required)
              .form-info Адрес вашей почты будет являться логином для входа в личный кабинет.
          .form-set
            .form-group.required
              input.form-control(type='password', placeholder="Создайте ваш пароль", required)
            .form-group.required
              input.form-control(type='password', placeholder="Подтвердите пароль", required)
              .form-info Мы рекомендумаем использовать в пароле хотя бы одну заглавную букву и одну цифру.
          .form-set
            .form-group
              label.chckbx(for='RegOption0')
                input#RegOption0(type='checkbox', value='RegOption0', name='RegOptions', checked)
                span.text-lg Запомнить меня
              label.chckbx(for='RegOption1')
                input#RegOption1(type='checkbox', value='RegOption1', name='RegOptions')
                span.text-lg Согласен на обработку персональных данных
          .form-set.form-set--bordered
            .form-group
              button.btn.btn--lg.btn--primary-light(type="submit") Зарегистрироваться
          p.text-lg Зарегистрироваться через свой аккаунт в социальной сети
          //begin social
          ul.social.social--left
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--fb-lg
                span.hidden Facebook
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--tw-lg
                span.hidden Twitter
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--in-lg
                span.hidden LinkedIn
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                span.icon.lnk-social__ico.lnk-social__ico--vk-lg
                span.hidden Вконтакте
            li.social__item
              a.social__lnk.lnk-social(href="#777")
                  span.icon.lnk-social__ico.lnk-social__ico--ok-lg
                  span.hidden Одноклассники
          //end social
