extends layouts/_default

block content
  include modules/_header-without-search
  include modules/cover-exhibitions

  main.content
    section.content__item
      .container.companies__inner
        h2.ttl-md Результаты поиска «Subaru»
        //begin media
        article.media.media--ex
          .media__body
            h4.media__ttl
              a(href="#777") Выставка в Нью-Йорке 2015
            | Уважаемые Гости и Участники выставки!Компания Райзебюро ВЕЛЬТ — туроператор по въездному туризму в Россию (реестровый номер туроператора МВТ-000070, сертифицированная система качества — ISO 9001), 
            span.highlight Subaru
            |  официальный партнер выставки «МИР КЛИМАТА» — предлагает Вам забронировать все необходимые туристические услуги...
        //end media
        //begin media
        article.media.media--ex
          .media__pic
            img(src="images/b_3.png", alt="", width="220", height="109")
          .media__body
            h4.media__ttl
              a(href="#777")
                span.highlight Subaru
                | завалила выставку тюнинга в Токио новыми концептами
            span.highlight Subaru
            | и компания Prova представили на шоу тюнинга в Токио концепт
            span.highlight Subaru
            | WRX S4 Prova. Автомобиль получил уникальный обвес, подвеску от Ohlins, мощные тормоза, шины Michelin Pilot Super Sport, спортивную выхлопную систему. Известно, что WRX S4 Prova Concept оснащается двухлитровой "четвёркой".
        //end media
        //begin media
        article.media.media--ex
          .media__body
            h4.media__ttl
              a(href="#777") 
                | Россия предлагает самостоятельно собрать спортивный авто из компонентов
                span.highlight Subaru
                | WRX
            | Российские креативщики сняли оригинальную рекламу кроссовера
            span.highlight Subaru
            |. Видео, выложенное на YouTube накануне, уже по достоинству оценили и российские, и иностранные пользователи.
        //end media
        //begin media
        article.media.media--ex
          .media__body
            h4.media__ttl
              a(href="#777") Выставка в Нью-Йорке 2015
            | Уважаемые Гости и Участники выставки!Компания Райзебюро ВЕЛЬТ — туроператор по въездному туризму в Россию (реестровый номер туроператора МВТ-000070, сертифицированная система качества — ISO 9001),
            span.highlight Subaru
            | официальный партнер выставки «МИР КЛИМАТА» — предлагает Вам забронировать все необходимые туристические услуги...
        //end media
        //begin media
        article.media.media--ex
          .media__pic
            img(src="images/b_3.png", alt="", width="220", height="109")
          .media__body
            h4.media__ttl
              a(href="#777")
                span.highlight Subaru
                | завалила выставку тюнинга в Токио новыми концептами
            span.highlight Subaru
            | и компания Prova представили на шоу тюнинга в Токио концепт
            span.highlight Subaru
            | WRX S4 Prova. Автомобиль получил уникальный обвес, подвеску от Ohlins, мощные тормоза, шины Michelin Pilot Super Sport, спортивную выхлопную систему. Известно, что WRX S4 Prova Concept оснащается двухлитровой "четвёркой".
        //end media
        
        nav
          ul.pagination
              li.pagination__item
                a(href='#', aria-label='Previous').btn.pagination__lnk.pagination__btn
                  span(aria-hidden='true') <
              |     
              li.pagination__item.active
                a(href='#').btn.pagination__lnk.pagination__num 1
              |     
              li.pagination__item
                a(href='#').btn.pagination__lnk.pagination__num 2
              |     
              li.pagination__item
                a(href='#').btn.pagination__lnk.pagination__num 3
              |     
              li.pagination__item
                a(href='#').btn.pagination__lnk.pagination__num 4
              |     
              li.pagination__item
                a(href='#').btn.pagination__lnk.pagination__num 5
              |     
              li.pagination__item
                a(href='#', aria-label='Next').btn.pagination__lnk.pagination__btn
                  span(aria-hidden='true') >
