extends layouts/_default

block content

  include modules/_header-services
  include modules/cover-services


  mixin services-collapse(id)
    //begin services-collapse
    .collapse.services-collapse(id=id)
      .services-collapse__inner
        p Уважаемые Гости и Участники выставки!Компания Райзебюро ВЕЛЬТ — туроператор по въездному туризму в Россию (реестровый номер туроператора МВТ-000070, сертифицированная система качества — ISO 9001), официальный партнер выставки «МИР КЛИМАТА» — предлагает Вам забронировать все необходимые туристические услуги: размещение в гостинице ПО СПЕЦИАЛЬНЫМ ЦЕНАМ, транспорт и экскурсии в период участия в мероприятиях, бесплатная визовая поддержка при бронировании гостиницы.
        include components/list-styled
    //end services-collapse


  main.content

    section.content__item.tabpanel(role='tabpanel')
      .tabpanel__nav
        .container
          //begin tabs
          ul.nav.nav-tabs.tabs(role='tablist')
            li.tabs__item.active(role='presentation')
              a.tabs__lnk(href='#participants', aria-controls='participants', role='tab', data-toggle='tab') Участникам
            li.tabs__item(role='presentation')
              a.tabs__lnk(href='#visitors', aria-controls='visitors', role='tab', data-toggle='tab') Посетителям
            li.tabs__item(role='presentation')
              a.tabs__lnk(href='#operators', aria-controls='operators', role='tab', data-toggle='tab') Выставочные операторы
            li.tabs__item(role='presentation')
              a.tabs__lnk(href='#partners', aria-controls='partners', role='tab', data-toggle='tab') Партнерам
          //end tabs
      .tabpanel__content
        .container
          .row
            .grid-10.tab-content
              #participants.tab-pane.fade.in.active(role='tabpanel')
                h2 Участникам выставки
                p.text-lg Калининградская область — самый западный регион России. Расположена в Центральной Европе. Отделена от остальной России территорией других государств, но соединена морем и является, таким образом, полуэксклавом.
                p.text-lg Максимальная протяжённость области с запада на восток — 205 км, с севера на юг — 108 км. Протяжённость границ области, являющихся одновременно и государственной границей Российской Федерации, составляет 540 км. Из них 410 км приходится на сухопутные — примерно поровну на границу с Польшей и Литвой и 140-километровая морская граница по побережью Балтийского моря.
                //begin frm-services
                form.frm-services
                  .frm-services__options.services-options
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption0')
                        input#ServiceOption0(type='checkbox', value='ServiceOption0', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service0") Дизайн и застройка стенда
                      .collapse.services-collapse(id="j-service0")
                        .services-collapse__inner
                          p Планируете участие в выставке и не знаете где заказать застройку стенда? Отправьте нам свои пожелания, мы соберем для вас предложения от проверенных застройщиков – вам останется только выбрать подходящий вариант.
                    //end services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption1')
                        input#ServiceOption1(type='checkbox', value='ServiceOption1', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service1") Колл-центр
                      .collapse.services-collapse(id="j-service1")
                        .services-collapse__inner
                          p Профессиональный колл-центр для ваших бизнес-задач. Квалифицированные сотрудники проходят обучение и имеют большой опыт работы в разных сферах.
                    //end services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx.chckbx--inline(for='ServiceOption2')
                        input#ServiceOption2(type='checkbox', value='ServiceOption2', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service2") Деловые миссии
                    //begin services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption3')
                        input#ServiceOption3(type='checkbox', value='ServiceOption3', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service3") Заказать переводчика
                    //begin services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption4')
                        input#ServiceOption4(type='checkbox', value='ServiceOption4', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service4") Кейтеринг
                    //begin services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption5')
                        input#ServiceOption5(type='checkbox', value='ServiceOption5', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service5") Бронирование отеля
                    //end services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption6')
                        input#ServiceOption6(type='checkbox', value='ServiceOption6', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service6") Экскурсионное обслуживание
                    //end services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption7')
                        input#ServiceOption7(type='checkbox', value='ServiceOption7', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service7") Таможенное оформление
                    //end services-options__item
                    //begin send-request
                    .send-request
                      #j-form-request.collapse
                        .row
                          p Оставьте свои контактные данные и наш менеджер свяжется с вами с уже готовым предложением:
                          .grid-7
                            .form-group
                              input.form-control(type='text', placeholder='Имя')
                            .form-group
                              input.form-control(type='email', placeholder='E-mail')
                            .form-group
                              input.form-control(type='text', placeholder='Телефон')
                            .form-group
                              input.form-control(type='text', placeholder='Название компании')
                            .form-group
                              textarea.form-control(rows="5", placeholder='Дополнительная информация')
                            .form-actions
                              button.btn.btn--lg.btn--primary-light.form-actions__btn(type="submit") Отправить заявку
                              button#j-btn-request-cancel.btn.btn--lg.btn--extra.form-actions__btn(type="button", data-toggle="collapse" data-target="#j-form-request") Отмена
                      button#j-btn-request.btn.btn--primary-light.btn--lg(type="button", data-toggle="collapse" data-target="#j-form-request") Заказать
                    //end send-request
                //end frm-services

              #visitors.tab-pane.fade(role='tabpanel')
                h2 Посетителям выставки
                p Калининградская область — самый западный регион России. Расположена в Центральной Европе. Отделена от остальной России территорией других государств, но соединена морем и является, таким образом, полуэксклавом.
                p Максимальная протяжённость области с запада на восток — 205 км, с севера на юг — 108 км. Протяжённость границ области, являющихся одновременно и государственной границей Российской Федерации, составляет 540 км. Из них 410 км приходится на сухопутные — примерно поровну на границу с Польшей и Литвой и 140-километровая морская граница по побережью Балтийского моря.
                //begin frm-services
                form.frm-services
                  .frm-services__options.services-options
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption8')
                        input#ServiceOption8(type='checkbox', value='ServiceOption8', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service8") Бронирование отеля
                    //end services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption9')
                        input#ServiceOption9(type='checkbox', value='ServiceOption1', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service9") Трансфер
                    //end services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx.chckbx--inline(for='ServiceOption10')
                        input#ServiceOption10(type='checkbox', value='ServiceOption10', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service10") Деловые миссии
                    //begin services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption11')
                        input#ServiceOption11(type='checkbox', value='ServiceOption11', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service11") Заказать переводчика
                    //begin services-options__item
                    //begin send-request
                    .send-request
                      #j-form-request2.collapse
                        .row
                          p Оставьте свои контактные данные и наш менеджер свяжется с вами с уже готовым предложением:
                          .grid-7
                            .form-group
                              input.form-control(type='text', placeholder='Имя')
                            .form-group
                              input.form-control(type='email', placeholder='E-mail')
                            .form-group
                              input.form-control(type='text', placeholder='Телефон')
                            .form-group
                              input.form-control(type='text', placeholder='Название компании')
                            .form-group
                              textarea.form-control(rows="5", placeholder='Дополнительная информация')
                            .form-actions
                              button.btn.btn--lg.btn--primary-light.form-actions__btn(type="submit") Отправить заявку
                              button#j-btn-request-cancel2.btn.btn--lg.btn--extra.form-actions__btn(type="button", data-toggle="collapse" data-target="#j-form-request2") Отмена
                      button#j-btn-request2.btn.btn--primary-light.btn--lg(type="button", data-toggle="collapse" data-target="#j-form-request2") Заказать
                    //end send-request
                //end frm-services


              #operators.tab-pane.fade(role='tabpanel')
                h2 Выставочные операторы
                p Калининградская область — самый западный регион России. Расположена в Центральной Европе. Отделена от остальной России территорией других государств, но соединена морем и является, таким образом, полуэксклавом.
                p Максимальная протяжённость области с запада на восток — 205 км, с севера на юг — 108 км. Протяжённость границ области, являющихся одновременно и государственной границей Российской Федерации, составляет 540 км. Из них 410 км приходится на сухопутные — примерно поровну на границу с Польшей и Литвой и 140-километровая морская граница по побережью Балтийского моря.
                //begin frm-services
                form.frm-services
                  .frm-services__options.services-options
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption12')
                        input#ServiceOption12(type='checkbox', value='ServiceOption12', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service12") Реклама на сайте Экспо.про
                      .collapse.services-collapse(id="j-service12")
                        .services-collapse__inner
                          ul.lst-styled
                            li.lst-styled__item Баннерная реклама
                            li.lst-styled__item Закрепление новостей
                    //end services-options__item
                    //begin services-options__item
                    .services-options__item
                      label.chckbx.chckbx--inline(for='ServiceOption13')
                        input#ServiceOption13(type='checkbox', value='ServiceOption13', name='ServiceOptions')
                        span
                      a.services-options__lnk.underlined.text-lg(data-toggle="collapse", href="#j-service13") Колл-центр
                      .collapse.services-collapse(id="j-service13")
                        .services-collapse__inner
                          p Профессиональный колл-центр для ваших бизнес-задач. Квалифицированные сотрудники проходят обучение и имеют большой опыт работы в разных сферах.
                          p Оставьте свои контактные данные и наш менеджер свяжется с вами с уже готовым предложением.
                    //end services-options__item
                    //begin send-request
                    .send-request
                      #j-form-request3.collapse
                        .row
                          p Оставьте свои контактные данные и наш менеджер свяжется с вами с уже готовым предложением:
                          .grid-7
                            .form-group
                              input.form-control(type='text', placeholder='Имя')
                            .form-group
                              input.form-control(type='email', placeholder='E-mail')
                            .form-group
                              input.form-control(type='text', placeholder='Телефон')
                            .form-group
                              input.form-control(type='text', placeholder='Название компании')
                            .form-group
                              textarea.form-control(rows="5", placeholder='Дополнительная информация')
                            .form-actions
                              button.btn.btn--lg.btn--primary-light.form-actions__btn(type="submit") Отправить заявку
                              button#j-btn-request-cancel3.btn.btn--lg.btn--extra.form-actions__btn(type="button", data-toggle="collapse" data-target="#j-form-request3") Отмена
                      button#j-btn-request3.btn.btn--primary-light.btn--lg(type="button", data-toggle="collapse" data-target="#j-form-request3") Заказать
                    //end send-request
                //end frm-services


              #partners.tab-pane.fade(role='tabpanel')
                h2 Партнерам выставки
                p Калининградская область — самый западный регион России. Расположена в Центральной Европе. Отделена от остальной России территорией других государств, но соединена морем и является, таким образом, полуэксклавом.
                p Максимальная протяжённость области с запада на восток — 205 км, с севера на юг — 108 км. Протяжённость границ области, являющихся одновременно и государственной границей Российской Федерации, составляет 540 км. Из них 410 км приходится на сухопутные — примерно поровну на границу с Польшей и Литвой и 140-километровая морская граница по побережью Балтийского моря.
