extends layouts/_default

block content

  include modules/_header

  main.content

    section.headline
      .container.headline__inner
        .row
          .grid-8
            h2.ttl-lg.headline__title ООО «Балтийские узоры»
          .grid-4.headline__back.headline-back
            .headline-back__btn
              button.btn.btn--sm.btn--primary-light.btn-back(type="button")
                span.icon.btn-back__icon
                span.btn-back__text Вернуться в каталог компаний
    section.content__item.tabpanel(role='tabpanel')
      .tabpanel__nav
        .container
          .stand-name.stand-name--right Стенд: А4
          //begin tabs
          ul.nav.nav-tabs.tabs(role='tablist')
            li.tabs__item.active(role='presentation')
              a.tabs__lnk(href='#stand', aria-controls='stand', role='tab', data-toggle='tab')
                span Стенд
            li.tabs__item(role='presentation')
              a.tabs__lnk(href='#catalog', aria-controls='catalog', role='tab', data-toggle='tab')
                span Каталог
          //end tabs
      .tabpanel__content
          .tab-content
            #stand.tab-pane.fade.in.active(role='tabpanel')
              include modules/cm-tabs/tab-1-v
            #catalog.tab-pane.fade(role='tabpanel')
              include modules/cm-tabs/tab-2
