extends layouts/_default

block content
    
  include modules/_header  
  
  main.content  
    .content__item.container
      .row
        .grid-6.grid-offset-3
          a(data-toggle="modal", href="#message") Сообщение
          #message.modal.fade
            .modal-dialog
              .modal-content
                  .modal-header
                    button.btn.btn--default.modal-close.lnk-dashed(type='button', data-dismiss='modal', aria-label='Close')
                      span.lnk-dashed__text Закрыть         
                    h2.modal-title Заголовок попапа      
                  .modal-body
                    p ОАО «Ростелеком» — национальная телекоммуникационная компания России. «Ростелеком» разрабатывает комплекс ные решения.
                    p История Яндекса началась задолго до образования компании — еще в начале 1990-х годов.
