form.modal-form(file-upload='uploadOptions', name='uploadForm', ng-submit='save(ads, uploadForm)', ng-controller='OffersAddCtrl')
  .modal-header
    i.app-icon.app-icon-7.close(ng-click='$close()')
    h4.modal-title(ng-if='!editing')
      translate NEW_AD
    h4.modal-title(ng-if='editing', translate='AD_EDIT')
  .modal-body
    .modal-inner
      .form-body
        .form-group
          label
            translate AD_TYPE
          .form-group
            label.radio.radio--styled.radio-inline
              input(ng-model='ads.kind', value='Sell', type='radio', name='kind', styled='')
              translate SELL
            label.radio.radio--styled.radio-inline
              input(ng-model='ads.kind', value='Buy', type='radio', name='kind', styled='')
              translate BUY
            label.radio.radio--styled.radio-inline
              input(ng-model='ads.kind', value='Other', type='radio', name='kind', styled='')
              translate OTHER
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate REGION
          tags-input(ng-model="ads.regions" required)
            auto-complete(source="getRegions($query)" min-length="1")
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate BRANCH
            translate Fill branch
          room-select(room='roomId')
        .form-group
          label
            translate TITLE
          input(required='', type='text', ng-model='ads.title')
        .form-group
          label
            translate TAGS
            translate COMMA
          input(ng-model='ads.tags', ui-select2="{ simple_tags: true, tags: [], multiple: true, tokenSeparators: [','] }")
        .form-group
          label
            translate AD_TEXT
          .container-textarea
            textarea(required='', ng-model='ads.text')
        .form-group
          label
            translate PHOTOS
            span.grey
              | (.jpeg, .gif, .png)
              translate PHOTO_LOAD_LIMIT
          .slider(slider-step='103', slides-num='10', ng-show='queue.length > 0 || ads.pictures.length > 0')
            .slide
              ul
                li(ng-repeat='img in ads.pictures')
                  img(ng-src='{{img.ThumbnailLink}}')
                  button.btn-delete(type='button', ng-click='removePicture(img.id, $index)')
                    i.app-icon.app-icon-deleteuploads
                li(ng-repeat='file in queue')
                  .img-loading
                    .img-preview(data-file-upload-preview='file')
                    .img-progress(ng-show='addInProgress')
                      img(src='img/loading-small.gif', alt='')
                      span
                        | {{ file.$progress().loaded / file.$progress().total * 100 | number: 0 }}%
                  button.btn-delete(ng-if='!addInProgress', type='button', ng-click='file.$cancel()')
                    i.app-icon.app-icon-deleteuploads
            .slider-control.left(ng-show='queue.length > 4 && slider.index > 1')
            .slider-control.right(ng-show='queue.length > 4 && slider.index < queue.length - 3')
          label.file-upload(for='file')
            i.app-icon.app-icon-92
            span(ng-show='queue.length > 0')
              translate UPLOAD_MORE_PHOTOS
            span(ng-hide='queue.length > 0')
              translate UPLOAD_PHOTOS
            input#file(type='file')
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-show='!editing', ng-disabled='addInProgress || !uploadForm.$valid', type='submit')
          translate PUBLISH
        button.btn.btn-df.btn-primary.btn-small(ng-show='editing', ng-disabled='addInProgress || !uploadForm.$valid', type='submit')
          translate SAVE
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate CANCEL
