form.modal-form(action='', ng-submit='save(goods)', name='createGoodsForm', file-upload='uploadOptions', ng-controller='MerchantsOffersAddCtrl')
  .modal-header
    i.app-icon.app-icon-7.close(ng-click='$close()')
    h4.modal-title {{ kind == 'merchandise' ? 'NEW_GOODS' : 'NEW_SERVICE' | translate }}
  .modal-body
    .modal-inner
      .form-body
        .form-group.clearfix
          .modal-col-left(style='width: 100%')
            a.btn.btn-df.btn-import.text-left.orange(metrika="'import-click'", ng-if="kind == 'merchandise'", ng-click='openImport()')
              i.sprite-xls.btn-import__img
              translate File
              |  .XLS
          //
            <div class="modal-col-right">
            <a href class="btn btn-df btn-import text-left">
            <i class="sprite-1c btn-import__img"></i>
            <translate>File</translate>&nbsp;.1C
            </a>
            </div>
        .form-group.lst-typeahead.lst-typeahead--rel
          label(translate='REGIONS')
          input.show-validation(ui-validate="'$value.length > 0'", ui-validate-watch="'regionArray'", ng-class="{ 'ng-invalid': regionArray.length == 0 }", tags='', tags-typeahead='getRegions', ng-model='regionArray', ng-required='true')
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate BRANCH
            translate Fill branch
          room-select(room='goods.roomId')
        .form-group
          label
            translate TITLE
          input.form-control(type='text', ng-model='goods.title', ng-required='true')
        .form-group
          label {{:: 'TAGS' | translate}} {{:: 'COMMA' | translate}}
          input(ng-required='true', ng-model='tagsArray', ui-select2="{ simple_tags: true, tags: [], multiple: true, tokenSeparators: [','] }")
        .form-group
          label {{ kind == 'merchandise' ? 'GOODS_DESCR' : 'SERVICE_DESCR' | translate }}
          .container-textarea
            textarea.large(ng-model='goods.text', ng-required='true')
        .form-group.clearfix
          .pull-left.b-price
            label(translate='PRICE')
            .input-group
              input.form-control.input-group-addon-field.no-appearance(type='number', step='any', ng-model='_PriceValue', ng-required='true')
              .sel-styled
                select(required='', ng-model='goods.currencyCode', ng-options='code.Code as code.Name for code in currencyCodes')
          #price-unit-select(ng-class="{'show-validation': false, 'ng-invalid': !goods.priceUnit, 'form-group pull-right b-price-for bright-validation': true}")
            label(translate='PRICE_FOR')
            .sel-styled
              select(ng-class="{'show-validation': true, 'ng-invalid': !goods.priceUnit}", required='', ng-model='goods.priceUnit')
                option(ng-repeat='unit in priceUnits', value='{{ unit.Code }}', ng-selected='unit.Code == goods.priceUnit', ng-bind='unit.Name')
        .form-group.form-group--norel.clearfix(ng-if="(kind == 'merchandise' && !goods.id) || imported")
          .pull-left
            label(translate='STOCK')
            br
            label.radio.radio--styled.radio-inline
              input(type='radio', name='IsAvailable', ng-model='goods.isAvailable', ng-value='true', styled='')
              | {{:: 'IN_STOCK' | translate }}
            label.radio.radio--styled.radio-inline
              input(type='radio', name='IsAvailable', ng-model='goods.isAvailable', ng-value='false', styled='')
              | {{:: 'UNDER_ORDER' | translate }}
          .pull-right.sell-online.ppvr-styled
            .chckbx.chckbx-sm.sell-online__chckbx(metrika="'is-auction'")
              .chckbx__inpt.chckbx-sm__inpt
                input#SellOnline(type='checkbox', ng-model='goods.isAuction', name='SellOnline', checked='')
                label(for='SellOnline')
              .chckbx__lbl.chckbx-sm__lbl.sell-online__chckbx-lbl
                translate SellOnline
            i.icon-hint.icon-help(popover="{{'SellOnlineHint' | translate}}", popover-trigger='mouseenter')
            div(ng-if='goods.isAuction')
              .form-group
                input.form-control.sell-online__input(required, ng-model='goods.auctionTotalAmount', type='text', placeholder="{{'Quantity' | translate}}")
                |  
                span.sell-online__unit(ng-bind='priceUnitsHash[goods.priceUnit]' required)
              .form-group
                label
                  translate AuctionDeadline
                .input-group.dropdown.drdwn(popup-adjust='bottom')
                  input.form-control(date-disabled='disabled(date, mode)', datepicker-options='dateOptions', show-weeks='false', show-button-bar='false', min='minDate', datepicker-popup='', ng-model='goods.auctionExpireDate', is-open='dateOptions.opened')
                  span.input-group-btn
                    button.btn.btn-df(type='button', ng-click='openPicker($event)')
                      i.btn-df__ico.btn-df__ico--single.icon-calendar
        .form-group(ng-show="!imported")
          label
            | {{:: 'PHOTOS' | translate}}
            span.grey (.jpeg, .gif, .png) {{:: 'PHOTO_LOAD_LIMIT' | translate}}
          .slider(slider-step='103', slides-num='4', ng-show='queue.length > 0 || goods.pictures.length > 0')
            .slide
              ul
                li(ng-repeat='picture in goods.pictures')
                  img(ng-src='{{picture.thumbnailLink}}')
                  button.btn-delete(type='button', ng-click='removePicture(picture.id, $index)')
                    i.app-icon.app-icon-deleteuploads
                li(ng-repeat='picture in queue')
                  .img-loading
                    .img-preview(file-upload-preview='picture')
                    .img-progress(ng-show='saveInProgress')
                      img(src='img/loading-small.gif', alt='')
                      span
                        | {{ picture.$progress().loaded / picture.$progress().total * 100 | number: 0 }}%
                  button.btn-delete(ng-show='!saveInProgress', type='button', ng-click='picture.$cancel()')
                    i.app-icon.app-icon-deleteuploads
            .slider-control.left(ng-show='(queue.length + goods.pictures.length > 4) && slider.index > 1')
            .slider-control.right(ng-show='(queue.length + goods.pictures.length > 4) && slider.index < (queue.length + goods.pictures.length) - 3')
          label.file-upload(for='file')
            i.app-icon.app-icon-92
            span(ng-show='queue.length > 0', translate='UPLOAD_MORE_PHOTOS')
            span(ng-hide='queue.length > 0', translate='UPLOAD_PHOTOS')
            input#file(type='file', name="files[]")
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-show="mode == 'new'", ng-disabled='saveInProgress', type='submit', translate='PUBLISH')
        button.btn.btn-df.btn-primary.btn-small(ng-show="mode == 'edit'", ng-disabled='saveInProgress', type='submit', ng-click='save(goods)', translate='SAVE')
        button.btn.btn-df.btn-small(type='button', ng-click='$close()', translate='CANCEL')
