.modal-header.text-center
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title
    translate ImportProgressTitle
.modal-body.text-center
  .modal-inner
    p
      translate ImportProgressText1
    .progress
      .progress-bar.progress-bar-success.progress-bar-striped.active(role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', ng-style="{ width: progress + '%' }")
        span.sr-only {{progress}}% Complete (success)
    p
      translate ImportProgressText2
.modal-footer.text-center
  button.btn.btn-df.btn-primary.btn-small(type='button', ng-click="goImport(); $close()")
    translate GoTo
    |         "
    translate MY_GOODS
    | "
