.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h2.modal-title
    translate ImportFromXLS
.modal-body(ng-controller='MerchantsImportCtrl as import')
  .modal-inner
    .clearfix
      .modal-col-left
        form.modal-form.import-form(name='', action='', ng-submit='import.upload()')
          .form-body
            .form-group
              .input-group
                input.form-control(ng-model='import.file.name', type='text', placeholder="{{'CHOOSE_FILE' | translate}}")
                input#file-upload(type='file', ng-hide='true', ng-file-select='import.onFileSelect($files)')
                span.input-group-btn
                  label.btn.btn-df(for='file-upload', type='button')
                    translate BROWSE
              span.text-xs.grey
                translate ImportXLSFileTypes
            //
              <div class="form-group">
              <h3>
              <translate>ImportTableField</translate>
              </h3>
              <ul class="lst-chckbxs">
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="Regions" name="Regions" />
              <label for="Regions"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>REGIONS</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="Title" name="Title" />
              <label for="Title"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>TITLE</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="Tags" name="Tags" />
              <label for="Tags"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>TAGS</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="Unit" name="Unit" />
              <label for="Unit"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>Unit</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="Description" name="Description" />
              <label for="Description"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>GOODS_DESCR</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="Value" name="Value" />
              <label for="Value"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>Quantity</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="Price" name="Price" />
              <label for="Price"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>PRICE</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="InStock" name="InStock" />
              <label for="InStock"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>IN_STOCK</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="Currency" name="Currency" />
              <label for="Currency"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>Currency</translate>
              </div>
              </div>
              </li>
              <li class="lst-chckbxs__item">
              <div class="chckbx chckbx-sm">
              <div class="chckbx__inpt chckbx-sm__inpt">
              <input type="checkbox" id="ImageLink" name="ImageLink" />
              <label for="ImageLink"></label>
              </div>
              <div class="chckbx__lbl chckbx-sm__lbl">
              <translate>ImageLink</translate>
              </div>
              </div>
              </li>
              </ul>
              </div>
            .form-group.lst-typeahead.lst-typeahead--rel
              label(translate='REGIONS')
              input.show-validation(ui-validate="'$value.length > 0'", ui-validate-watch="'regionArray'", ng-class="{ 'ng-invalid': regionArray.length == 0 }", tags='', tags-typeahead='getRegions', ng-model='regionArray', ng-required='true')
            .form-group.clearfix
              label(translate='PRICE')
              .sel-styled
                select(required='', ng-model='currencyCode', ng-options='code.Code as code.Name for code in currencyCodes')                
            .form-group
              h3
                translate BranchInPrice
              room-select(room='offer.RoomId')
          .form-actions.text-center
            button.btn.btn-df.btn-primary(type='submit')
              translate Import
      .modal-col-right
        h3
          translate ImportExcelTitle
        p
          translate ImportExcelText_1
        p
          translate ImportExcelText_2
        h3
          translate ImportExcelTitle2
        ol.list-ordered.lst-imprul
          li.lst-imprul__item
            translate ImportExcelInstruction_1
          li.lst-imprul__item
            translate ImportExcelInstruction_2
          li.lst-imprul__item
            translate ImportExcelInstruction_3
        .clearfix
          .modal-col-left
            a.btn.btn-df.btn-import(href='img/import/example.png', target='_blank')
              .btn-import__ico
                i.icon-table.icon-green
              translate ImportTableExample
          .modal-col-right
            a.btn.btn-df.btn-import(href='img/import/template.xls', target='_blank')
              .btn-import__ico
                i.icon-dwnload.icon-table.icon-green
              translate ImportDownloadTemplate
