.modal-header
  i.app-icon.app-icon-7.close(ng-click='$close()')
  h4.modal-title
    translate LOAD_PRICE
.modal-body(ng-controller='PricesCtrl')
  .modal-inner
    form.modal-form(action='', ng-controller='PricesAddCtrl', file-upload='uploadOptions', name='uploadForm')
      .form-body
        .form-group.lst-typeahead.lst-typeahead--rel
          label
            translate BRANCH
            translate Fill branch
          room-select(room='price.room')
        .form-group
          label
            translate TITLE
          input.form-control(type='text', ng-model='price.title', required='')
        .form-group
          label
            translate TAGS
            translate COMMA
          input(ng-required='true', ng-model='price.tags', ui-select2="{ simple_tags: true, tags: [], multiple: true, tokenSeparators: [','] }")
        .form-group.b-file-upload
          label
            translate PRICE_LIST
            span.grey (.doc, .docx, .xls, .xlsx, .pdf)
          .file-transfer.file-loading(ng-repeat='file in queue')
            .file-title
              | {{file.name}}
              span
                | {{ file.$progress().loaded / file.$progress().total * 100 | number: 0 }}%
              span.file-cancel(ng-click='file.$cancel()')
                i.app-icon.app-icon-4
                translate CANCEL_DOWNLOAD_SHORT
          |  
          label.file-upload(for='file')
            i.app-icon.app-icon-92
            span(ng-if='queue.length == 0')
              translate UPLOAD_FILE
            span(ng-if='queue.length != 0')
              translate UPLOAD_ANOTHER_FILE
            input#file(type='file')
        .form-group
          label.radio.radio--styled
            input(type='radio', name='d', ng-model='price.access', styled='', checked='', value='Everyone')
            translate AVAILABLE_ALL
          label.radio.radio--styled
            input(type='radio', name='d', ng-model='price.access', styled='', value='Partners')
            translate AVAILABLE_PARTNERS
          label.radio.radio--styled
            input(type='radio', name='d', ng-model='price.access', styled='', value='Nobody')
            translate AVAILABLE_ME
      .form-actions
        button.btn.btn-df.btn-primary.btn-small(ng-show='editing', ng-disabled='addInProgress', type='submit', ng-click='editPrice(price)')
          translate SAVE
        button.btn.btn-df.btn-primary.btn-small(ng-hide='editing', ng-disabled='addInProgress || !uploadForm.$valid || queue.length == 0', type='submit', ng-click='addPrice(price)')
          translate SAVE
        button.btn.btn-df.btn-small(type='button', ng-click='$close()')
          translate CANCEL
