.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  a(target='download-frame', ng-href='{{ pictures[0].Link || pictures[0].link}}')
    i.app-icon.app-icon-24
  i.app-icon.app-icon-25(print-dom='#image-preview')
.modal-body
  #image-preview.modal-inner
    img(ng-src='{{ pictures[0].Link || pictures[0].link}}', resizemodal='', image-on-load='')
