.modal-header.modal-header--blue
  .close(ng-click='$close()')
    i.app-icon.app-icon-7
  a(target='download-frame', ng-href='{{ pictures[0].Link || pictures[0].link}}')
    i.app-icon.app-icon-24
  i.app-icon.app-icon-25(print-dom='#image-preview')
.modal-body
  #image-preview.modal-inner
    .slider.detail-image-container(slider-step='500', slides-num='pictures.length', current-slide='current')
      .slide
        ul
          li(ng-repeat='picture in pictures')
            .middle-image-container
              img(ng-src='{{picture.Link || picture.link}}', alt='', image-on-load='')
      .slider-navigation
        .slider-control.left
        div(clas='slider-counter') {{slider.index}} / {{slider.slidesNum}}
        .slider-control.right
