.content-item
  .paginator
    ui-pagination(total-items='usersIndex.totalItems', page='usersIndex.currentPage', on-select-page='usersIndex.changePage(page)', items-per-page='10')
  table.table.table--inline.table--users(ng-class='')
    tbody
      tr(ng-class="{ 'table__tr--active': !user.isApproved }", ng-repeat='user in usersIndex.users')
        td.table-image
          .table__avatar
            img(ng-src='{{user.avatar}}')
        td
          .table__metadata
            .metadata
              | {{'REGISTRATION_DATE' | translate}}:
              span.text-xs.gray-dark {{user.registrationDate | date:'medium'}}
          .table__message
            .table__title(metrika="'leftmenu-to-profile'")
              .auth__user(user-name='user')
              a.lnk-icon(href='', pm-restricted, ui-sref="app.user-private-chat({ id: user.userId })")
                i.lnk-icon__ico.icon-messages
          .text-sm.gray-light
            span
              | {{'COMPANY' | translate}}:
              span.gray-dark {{user.company}}
            span.red.hide(ng-if='!user.isFilled') {{'USER_PROFILE_EMPTY' | translate}}
  .paginator
    ui-pagination(total-items='usersIndex.totalItems', page='usersIndex.currentPage', on-select-page='usersIndex.changePage(page)', items-per-page='10')
