.full-height.cnt-nav-left.users(ng-controller='UsersCtrl')
  .content-control
    h4 {{'USERS_TITLE' | translate}} - {{$room.names[currentLang]}}
    form.pull-right(ng-submit='search(query)')
      input.form-control.input-sm.input-large(type='text', placeholder="{{'SearchUsers' | translate}}", ng-model='query')
  .content(ng-controller='UsersIndexCtrl as usersIndex')
    ng-include(src="'views/app/users/_list.html'")
